{% extends 'index.html' %}

{%block title%} Advance-tax {% endblock %}

{%block body %}
     <section class="top-bn1 bn-styles" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <p><b>Advance payment of income tax</b></p>
            <p><b>Simple Process and Transparent Fee</b></p>
            <p><b>All India Incorporation Service</b></p>

            <h2><b>Advance payment of  <span class="text-white">income tax </span></b></h2>
            <p class="pt-4"> <b>The tax due for tax on income is mandatory to be paid on an estimated basis in the fiscal year itself. The lawful provisions for tax on income the tax payment in advance are obligatory when the tax to be paid 10,000 rupees. 10,000/- during an accounting year.
            </b></p>
            <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            
            </ul>
          </div>

          <div class="content content-2s bg-light">
            <div id="overview">
               <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-12 heading pt-5">
                      <div class="table-responsive-sm">
                      <table class="table border table-info">
                        <thead>
                          <tr>
                           <th scope="col"> S. NO.  </th>
                           <th scope="col"> DUE DATE  </th>
                           <th scope="col"> ADVANCE Tax Payment </th>
                           <th scope="col"> PRESUMPTIVE TTAX</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td> 1 </td>
                            <td> Before or on the 15th of June </td>
                            <td> 15% </td>
                            <td> Average Rate</td>
                          </tr>
                          <tr>
                            <td> 2 </td>
                            <td> By or before the 15th September </td>
                            <td> 45% </td>
                            <td> -</td>
                          </tr>
                          <tr>
                            <td> 3</td>
                             <td> By or before the 15th December  </td>
                             <td> 75% </td>
                             <td> -</td>
                          </tr>

                          <tr>
                            <td> 4 </td>
                            <td> On or before March 15th.  </td>
                            <td> 100%  </td>
                            <td> -</td>
                          </tr>

                          <tr>
                            <td> 5 </td>
                            <td> On March 31, 2019.  </td>
                            <td> - </td>
                            <td> 100%</td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                      
                    </div>

                  </div>
                </div>
              </section>

            </div>

             <div id="process">

              <section class="btm_grd_banner py-4">
                  <div class="container">
                    <div class="row text-center">
                      <div class="col-md-12 col-12">
                        <div class="py-2 text-white heading2">
                        <h2 class="py-2">Important Points of Advance Tax</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

              <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Step 1. What is the meaning behind advance tax</h5>
                            <br>
                            <p class="card-text">In the general taxation scheme, an individual taxpayer must pay income tax following the end of the fiscal year. But if the total amount of Tax due exceeds 10,000/- for a financial year, then Tax must be paid in advance according to the due date.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-12 mt-4">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Step 2. Who is exempt from advance Tax?</h5>
                            <br>
                            <p class="card-text">A person, HUF or company whose income is taxed on a presumed basis of income tax is not obliged to pay Tax in advance. This option is generally for small-sized businesses that pay Tax by a percentage of turnovers and not based on the actual profit.</p>
                          </div>
                        </div>
                    </div>

                  </div>



                  <div class="row pt-4">

                    <div class="col-md-4 col-12">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Step 3. The interest rate on late payment</h5>
                            <br>
                            <p class="card-text">The Tax on advance payments is due on the due date. The dates are given below to make it easy. If you fail to pay, the advanced taxpayer is subject to an interest rate of 1 percent per month or a portion thereof.</p>
                          </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-12 mt-4">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Step 4. Who Should Pay for Advance Tax</h5>
                            <br>
                            <p class="card-text">Any taxpayer, regardless of whether they are a salaried worker or freelancer, or having business income from a sole firm, proprietorship, OPC, LLP or an organization, is obliged to pay Tax on income in advance if the Tax is higher than 10k in the fiscal year.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 mt-5">
                      <div class="mt-5"></div>
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Step 5. What is presumed taxation?</h5>
                            <br>
                            <p class="card-text">Under presumptive taxes, the taxpayer must be taxed at 8% of turnover. Only HUF, individual and partnership companies are eligible for taxation presumptive. For trading, the maximum turnover limit is two crores, while professional firms are limited to 50 lacs.</p>
                          </div>
                        </div>
                    </div>


                    <div class="col-md-8 col-12 mt-5 mx-auto">
                      <div class="mt-5"></div>
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Step 6. Interest in deferment of advance Tax</h5>
                            <br>
                            <p class="card-text">Income tax is to be paid on an estimated basis in the fiscal year. The laws governing paying the Tax in advance are mandatory if the Tax due exceeds the number of Rs. 10,000/- within the financial year.</p>
                          </div>
                        </div>
                    </div>

                  </div>

                </div>
              </section>

            </div>

            
          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizIndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}