{% extends 'index.html' %}

{%block title%} Income-tax-return-filing {% endblock %}

{%block body %}
{% load static %}
{% include 'common_pages/banner.html'%}
<section class="py-4 bg-light1">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-9 col-12 affix-top bg-light" data-spy="affix" data-offset-top="597">
        <!-- Nav pills -->
        <ul class="nav nav-pills" role="tablist">
          {% if meaning %}
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="pill" href="#meaning">Meaning</a>
          </li>
          {% endif %}
          {% if minimum %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#requirement">Minimum requirement</a>
          </li>
          {% endif %}
          {% if benefit %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#benefit">Benefit</a>
          </li>
          {% endif %}
          {% if document %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#required">Document required</a>
          </li>
          {% endif %}
          {% if incorporation %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#process">Incorporation Process</a>
          </li>
          {% endif %}
          {% if compliance %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#compliance">Compliance</a>
          </li>
          {% endif %}
          {% if closure %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#closure">Closure </a>
          </li>
          {% endif %}
          {% if faq %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#faq">FAQ</a>
          </li>
          {% endif %}
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div id="meaning" class="container tab-pane content active"><br>
            <p><b>{{meaning.heading_text}} </b></p>
            <p><b>{{meaning.heading_text2}} </b></p>
            <p><b>{{meaning.heading_text3}} </b></p>

            <h2>{{meaning.heading_text4}}</h2>
            <p> <b>{{meaning.text}}</b></p>
            <div class="text-center py-4"><img src="/media/{{ meaning.img }}" alt="logo-img" class="img-fluid"></div>
          </div>

          <div id="requirement" class="container tab-pane fade"><br>
            <div class="row">
              <div class="col-md-12 col-12">
                <h2>Requirement</h2>

              </div>

            </div>



          </div>

          <div id="benefit" class="container tab-pane fade"><br>
            <h2>Benefits</h2>

          </div>

          <div id="required" class="container tab-pane fade"><br>
            <div class="row">

              <div class="col-md-12 col-12 heading">
                <h2>Documents.</h2>
              </div>

            </div>

          </div>

          <div id="process" class="container tab-pane fade"><br>

            <h2>Proccess</h2>
          </div>

          <div id="compliance" class="container tab-pane fade"><br>
            <h2>Compliance</h2>
          </div>

          <div id="closure" class="container tab-pane fade"><br>
            <h2> closure </h2>
          </div>

          <div id="faq" class="container tab-pane fade"><br>
            <h2 class="fs-4">FAQ</h2>

          </div>

        </div>
      </div>

      {% include 'common_pages/pricing_sum_below.html' %}

    </div>
  </div>
</section>

{% include 'common_pages/product.html'%}

<section class="text-white py-5 bg-dark v-banner aos-init aos-animate" data-aos="fade-down">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-12 heading">
        <h2 class="fs-4 pt-4">{{minimum.heading_text}}</h2>
        <p>{{minimum.text}}</p>
      </div>

      <div class="col-md-6 col-12">
        <div class="embed-responsive embed-responsive-16by9 border">
          <iframe src="{{minimum.text2}}" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen=""></iframe>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="py-5 tax-filling">
  <div class="container">
    <div class="row heading2">
      <h2 class="text-center">{{closure.heading_text}}</h2>
      <p class="text-center">{{closure.heading_text2}}</p>
      <div class="pt-4"></div>
      <div class="col-md-3 col-6">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-3 bg-primary text-white text-center">
              <i class="fa fa-handshake-o" aria-hidden="true"></i>
            </div>
            <div class="col-md-9">
              <p class="card-text">{{closure.text}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-6">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-3 bg-primary text-white text-center">
              <i class="fa fa-inr" aria-hidden="true"></i>
            </div>
            <div class="col-md-9">
              <p class="card-text"> {{closure.text2}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-6">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-3 bg-primary text-white text-center">
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
            </div>
            <div class="col-md-9">
              <p class="card-text">{{closure.text3}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-6">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-3 bg-primary text-white text-center">
              <i class="fa fa-user" aria-hidden="true"></i>
            </div>
            <div class="col-md-9">
              <p class="card-text">{{closure.text4}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-12">
        <div>
          <h4><b> {{benefit.heading_text}} </b></h4>
          <p>{{benefit.heading_text2}}</p>
        </div>
      </div>

      <div class="col-md-3 col-12">
        <div class="plan-bg1 p-2">
          <p class="border-start p-1 border-primary text-primary">{{benefit.list1}}</p>
          <h5><b>{{benefit.list2}}</b></h5>
          <h4 class="text-primary"><b> {{benefit.list3}} </b></h4>
          <p class="bg-grad1 text-white p-2"> {{benefit.list4}} </p>
          <div class="plantext-b">
            <p> <b> <i class="fa fa-chevron-right" aria-hidden="true"></i> </b> {{benefit.list5}}</p>
            <p> <b> <i class="fa fa-chevron-right" aria-hidden="true"></i> </b> {{benefit.list6}}</p>
            <p> <b> <i class="fa fa-chevron-right" aria-hidden="true"></i> </b> {{benefit.list7}}</p>
            <p> <b> <i class="fa fa-chevron-right" aria-hidden="true"></i> </b> {{benefit.list8}}</p>
          </div>

          <div class="d-grid gap-2 pt-4">
            <button class="btn btn-outline-primary" type="button"> <a href="{% url 'order' %}" class="text-dark"> Order now </a>
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-12">
        <div class="plan-bg2 p-2">
          <p class="border-start p-1 border-danger text-danger">{{benefit.list1}}</p>
          <h5><b> {{benefit.list2}} </b></h5>
          <h4 class="text-danger"><b> {{benefit.list3}} </b></h4>
          <p class="bg-grad2 text-white p-2">  {{benefit.list4}} </p>
          <div class="plantext-b">
            <p> <b> <i class="fa fa-chevron-right" aria-hidden="true"></i> </b>{{benefit.list5}}</p>
            <p> <b> <i class="fa fa-chevron-right" aria-hidden="true"></i> </b> {{benefit.list6}}</p>
            <p> <b> <i class="fa fa-chevron-right" aria-hidden="true"></i> </b> {{benefit.list7}}</p>
            <p> <b> <i class="fa fa-chevron-right" aria-hidden="true"></i> </b> {{benefit.list8}}</p>
          </div>

          <div class="d-grid gap-2 pt-4">
            <button class="btn btn-outline-danger" type="button"> <a href="{% url 'order' %}" class="text-dark"> Order now </a>
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-12">
        <div class="plan-bg3 p-2">
          <p class="border-start p-1 border-success text-success">{{benefit.list1}}</p>
          <h5><b> {{benefit.list2}} </b></h5>
          <h4 class="text-success"><b> {{benefit.list3}} </b></h4>
          <p class="bg-grad3 text-white p-2">  {{benefit.list4}}  </p>
          <div class="plantext-b">
            <p> <b> <i class="fa fa-chevron-right" aria-hidden="true"></i> </b> {{benefit.list5}}</p>
            <p> <b> <i class="fa fa-chevron-right" aria-hidden="true"></i> </b> {{benefit.list6}}</p>
            <p> <b> <i class="fa fa-chevron-right" aria-hidden="true"></i> </b> {{benefit.list7}}</p>
            <p> <b> <i class="fa fa-chevron-right" aria-hidden="true"></i> </b> {{benefit.list8}}</p>
          </div>

          <div class="d-grid gap-2 pt-4">
            <button class="btn btn-outline-success" type="button"> <a href="{% url 'order' %}" class="text-dark"> Order now </a>
            </button>
          </div>
        </div>
      </div>

    </div>

    <br>
    <div class="row pt-5">
      <div class="col-md-3 col-12">
        <div>
          <h4><b> {{benefit.heading_text}} </b></h4>
          <p>{{benefit.heading_text2}}</p>
        </div>
      </div>

      <div class="col-md-3 col-12">
        <div class="plan-bg1 p-2">
          <p class="border-start p-1 border-primary text-primary">{{benefit.list1}}</p>
          <h5><b>{{benefit.list2}}</b></h5>
          <h4 class="text-primary"><b> {{benefit.list3}} </b></h4>
          <p class="bg-grad1 text-white p-2"> {{benefit.list4}} </p>
          <div class="plantext-b">
            <p> <b> <i class="fa fa-chevron-right" aria-hidden="true"></i> </b> {{benefit.list5}}</p>
            <p> <b> <i class="fa fa-chevron-right" aria-hidden="true"></i> </b> {{benefit.list6}}</p>
            <p> <b> <i class="fa fa-chevron-right" aria-hidden="true"></i> </b> {{benefit.list7}}</p>
            <p> <b> <i class="fa fa-chevron-right" aria-hidden="true"></i> </b> {{benefit.list8}}</p>
          </div>

          <div class="d-grid gap-2 pt-4">
            <button class="btn btn-outline-primary" type="button"> <a href="{% url 'order' %}" class="text-dark"> Order now </a>
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-12">
        <div class="plan-bg2 p-2">
          <p class="border-start p-1 border-danger text-danger">{{benefit.list1}}</p>
          <h5><b> {{benefit.list2}} </b></h5>
          <h4 class="text-danger"><b> {{benefit.list3}} </b></h4>
          <p class="bg-grad2 text-white p-2">  {{benefit.list4}} </p>
          <div class="plantext-b">
            <p> <b> <i class="fa fa-chevron-right" aria-hidden="true"></i> </b>{{benefit.list5}}</p>
            <p> <b> <i class="fa fa-chevron-right" aria-hidden="true"></i> </b> {{benefit.list6}}</p>
            <p> <b> <i class="fa fa-chevron-right" aria-hidden="true"></i> </b> {{benefit.list7}}</p>
            <p> <b> <i class="fa fa-chevron-right" aria-hidden="true"></i> </b> {{benefit.list8}}</p>
          </div>

          <div class="d-grid gap-2 pt-4">
            <button class="btn btn-outline-danger" type="button"> <a href="{% url 'order' %}" class="text-dark"> Order now </a>
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-12">
        <div class="plan-bg3 p-2">
          <p class="border-start p-1 border-success text-success">{{benefit.list1}}</p>
          <h5><b> {{benefit.list2}} </b></h5>
          <h4 class="text-success"><b> {{benefit.list3}} </b></h4>
          <p class="bg-grad3 text-white p-2">  {{benefit.list4}}  </p>
          <div class="plantext-b">
            <p> <b> <i class="fa fa-chevron-right" aria-hidden="true"></i> </b> {{benefit.list5}}</p>
            <p> <b> <i class="fa fa-chevron-right" aria-hidden="true"></i> </b> {{benefit.list6}}</p>
            <p> <b> <i class="fa fa-chevron-right" aria-hidden="true"></i> </b> {{benefit.list7}}</p>
            <p> <b> <i class="fa fa-chevron-right" aria-hidden="true"></i> </b> {{benefit.list8}}</p>
          </div>

          <div class="d-grid gap-2 pt-4">
            <button class="btn btn-outline-success" type="button"> <a href="{% url 'order' %}" class="text-dark"> Order now </a>
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<section class="py-5 tax-return">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12">
        <h2 class="text-primary py-2">{{compliance.heading_text}}</h2>
        <img src="/media/{{ compliance.img }}" class="img-fluid" alt="tex-img">
      </div>

      <div class="col-md-8 col-12">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-2 p2 text-center">
              <i class="fa fa-handshake-o" aria-hidden="true"></i>
            </div>
            <div class="col-md-10">
              <h4 class="tex-spc-text card-text"><b>{{compliance.heading_text2}}</b></h4>
              <p class="tex-spc-text">{{compliance.text}}</p>
            </div>
          </div>
        </div>

        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-2 p2 text-center">
              <i class="fa fa-handshake-o" aria-hidden="true"></i>
            </div>
            <div class="col-md-10">
              <h4 class="tex-spc-text card-text"><b>{{compliance.heading_text2}}</b></h4>
              <p class="tex-spc-text">{{compliance.text}}</p>
            </div>
          </div>
        </div>

        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-2 p2 text-center">
              <i class="fa fa-handshake-o" aria-hidden="true"></i>
            </div>
            <div class="col-md-10">
              <h4 class="tex-spc-text card-text"><b>{{compliance.heading_text2}}</b></h4>
              <p class="tex-spc-text">{{compliance.text}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-9 mx-auto col-12 heading2">
        <h2 class="text-center"><b>{{document.heading_text}}</b></h2>
        <div class="table-responsive pt-4">
          <table class="table table-bordered border-primary">
            <thead>
              <tr class="bg-primary text-white">
                <th scope="col">{{document.list1}}</th>
                <th scope="col">{{document.list2}}</th>
                <th scope="col">{{document.list3}}</th>
                <th scope="col">{{document.list4}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{document.list5}}</th>
                <td>{{document.list6}}</td>
                <td>{{document.list7}}</td>
                <td>{{document.list7}}</td>
              </tr>
              <tr>
                <th scope="row">{{document.list8}}</th>
                <td>{{document.list6}}</td>
                <td>{{document.list7}}</td>
                <td>{{document.list7}}</td>
              </tr>
              <tr>
                <th scope="row">{{document.list9}}</th>
                <td>{{document.list6}}</td>
                <td>{{document.list7}}</td>
                <td>{{document.list7}}</td>
              </tr>
              <tr>
                <th scope="row">{{document.list10}}</th>
                <td>{{document.list6}}</td>
                <td>{{document.list7}}</td>
                <td>{{document.list7}}</td>
              </tr>
              <tr>
                <th scope="row">{{document.list11}}</th>
                <td>{{document.list6}}</td>
                <td>{{document.list7}}</td>
                <td>{{document.list7}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5 video-i-tax aos-init aos-animate" data-aos="fade-down">
  <div class="container">
    <div class="row heading2">
      <h2 class="text-center py-4">{{incorporation.heading_text}}</h2>

      <div class="col-md-6 col-12">
        <div class="embed-responsive embed-responsive-16by9 border">
          <iframe src="{{incorporation.text2}}" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen=""></iframe>
        </div>
      </div>

      <div class="col-md-6 col-12">
        <p>{{incorporation.text}}</p>
        <div class="plantext-b">
          <p> <i class="fa fa-check-square text-primary" aria-hidden="true"></i> &nbsp;
            {{incorporation.heading_text2}}</p>
          <p> <i class="fa fa-check-square text-primary" aria-hidden="true"></i> &nbsp;
            {{incorporation.heading_text3}}</p>
          <p> <i class="fa fa-check-square text-primary" aria-hidden="true"></i> &nbsp;
            {{incorporation.heading_text4}}</p>
        </div>
        <button type="button" class="btn btn-danger py-2">Well, do you have questions? <br>
          Income Tax Return FilingLet us know, we shall revert back with a solution. </button>
      </div>

    </div>
  </div>
</section>

<section class="py-5 bg-secondary logoimage">
  <div class="container text-center heading2">
    <h2 class="text-white py-4"><b>Leading Brands Rely On Our Expertise</b></h2>
    <div class="row">

      <div class="col-md-2 col-6">
        <div class="bg-light shadow rounded p-1">
          <img src="{% static 'images/1.png' %}" class="img-fluid" alt="logo-img">
        </div>
      </div>

      <div class="col-md-2 col-6">
        <div class="bg-light shadow rounded p-1">
          <img src="{% static 'images/1.png' %}" class="img-fluid" alt="logo-img">
        </div>
      </div>

      <div class="col-md-2 col-6">
        <div class="bg-light shadow rounded p-1">
          <img src="{% static 'images/1.png' %}" class="img-fluid" alt="logo-img">
        </div>
      </div>
      <div class="col-md-2 col-6">
        <div class="bg-light shadow rounded p-1">
          <img src="{% static 'images/1.png' %}" class="img-fluid" alt="logo-img">
        </div>
      </div>

      <div class="col-md-2 col-6">
        <div class="bg-light shadow rounded p-1">
          <img src="{% static 'images/1.png' %}" class="img-fluid" alt="logo-img">
        </div>
      </div>

      <div class="col-md-2 col-6">
        <div class="bg-light shadow rounded p-1">
          <img src="{% static 'images/1.png' %}" class="img-fluid" alt="logo-img">
        </div>
      </div>

    </div>

    <div class="row pt-4">

      <div class="col-md-2 col-6">
        <div class="bg-light shadow rounded p-1">
          <img src="{% static 'images/1.png' %}" class="img-fluid" alt="logo-img">
        </div>
      </div>

      <div class="col-md-2 col-6">
        <div class="bg-light shadow rounded p-1">
          <img src="{% static 'images/1.png' %}" class="img-fluid" alt="logo-img">
        </div>
      </div>

      <div class="col-md-2 col-6">
        <div class="bg-light shadow rounded p-1">
          <img src="{% static 'images/1.png' %}" class="img-fluid" alt="logo-img">
        </div>
      </div>

      <div class="col-md-2 col-6">
        <div class="bg-light shadow rounded p-1">
          <img src="{% static 'images/1.png' %}" class="img-fluid" alt="logo-img">
        </div>
      </div>

      <div class="col-md-2 col-6">
        <div class="bg-light shadow rounded p-1">
          <img src="{% static 'images/1.png' %}" class="img-fluid" alt="logo-img">
        </div>
      </div>

      <div class="col-md-2 col-6">
        <div class="bg-light shadow rounded p-1">
          <img src="{% static 'images/1.png' %}" class="img-fluid" alt="logo-img">
        </div>
      </div>

    </div>
  </div>
</section>
{% include 'common_pages/reviews.html' %}
{% endblock %}