{% extends 'index.html' %}

{%block title%} Professional Tax Registration {% endblock %}

{%block body %}
    <section class="top-bn4 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
           <p><b> Professional Tax Registration  </b></p>
           <p><b> All India Online Service  </b></p>
           <p><b> All India Incorporation Service </b></p>

            <h2><b>Professional   <span class="text-white">Tax Registration </span></b></h2>
            <p class="pt-4"> <b>Professional Tax (PTA) is an income tax levied by certain states in India for those earning salaries or practicing professionals like accountants, Chartered Accountants, Company Secretaries, Doctors, Lawyers etc., and from companies, LLPs, Directors and Designated Partners.  
            </b></p>
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            <li> <a class="sidelink" href="#document">
            <span class="icon-s"> <i class="fa fa-file-text" aria-hidden="true"></i> </span>  List of Documents</a> </li>
            <li> <a class="sidelink" href="#faq">
            <span class="icon-s"> <i class="fa fa-question-circle" aria-hidden="true"></i> </span>  FAQ</a> </li>
            
            </ul>
          </div>

          <div class="content content-3s bg-light">
            <div id="overview">
              <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-12 heading pt-5">
                      <h2 class="fs-4">Professional Tax  <span class="text-primary">Registration</span>Services in India </h2>
                      <p class="fs-6">Every professional such as the Directors of the Company, Designated Partners of the LLP or any other employer (which may be the Company as well as LLP) is obliged to register as stated above and ensure that professional tax deductions are included in the pay of employees. </p>
                      <p class="b-style text-style">The professional tax deducted from the employees should be paid to the appropriate office that the government of your state designates, and a return of the professional tax must be submitted indicating the tax payment for professional employees. </p>
                    </div>

                  </div>
                </div>
              </section>

              <section class="py-4 s-img s-img1">
                <div class="container py-2">
                  <div class="row py-5">
                    <div class="col-md-3 col-12">
                    </div>
                  <div class="col-md-9 col-12">
                    <p class="fst-italic">Every employer must deduct and pay taxes to employees on their behalf. For this reason, the employer must be able to get the registration document from the department of professional tax within 30 days of the date on which he is liable. </p>
                  </div>
                  </div>
                </div>
              </section>

            </div>

             <div id="process">

              <section class="py-4">
                  <div class="container">
                    <div class="row">
                      <h1 class="text-center">Application of Professional Tax Registration </h1>
                      <div class="col-md-6 col-12">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">Step 1.Firm / Company / LLP </h5>
                              <br>
                              <p class="card-text">The individuals like HUF or companies, Limited Liability Partnerships (LLP), Companies, Corporations and other corporate bodies, clubs, societies or associations are considered tax-paying individuals under the Professional Tax Act. Or every branch of these people is considered a distinct person for registration in The Professional Tax Department and Tax payment. </p>
                            </div>
                          </div>
                      </div>

                      <div class="col-md-6 col-12 mt-4">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">Step 2. Individual Professionals</h5>
                              <br>
                              <p class="card-text">Legal Practitioners, including Solicitors and Notaries; Medical Representatives, including medical Consultants and Dentists; Doctors and chartered accountants; Company Secretaries, Managers Consultants; Architectures, Engineers and Tax Consultants; Insurance Agents and Surveyors; all kinds of Contractors and others.</p>
                            </div>
                          </div>
                      </div>

                    </div>



                    <div class="row pt-4">

                      <div class="col-md-6 col-12">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">Step 3. Directors &amp; Partners</h5>
                              <br>
                              <p class="card-text">The Directors of companies or the Partner of a company or designated Partner, as well as Partners of LLP, are also considered professionals. To meet the Professional Tax law requirements, the Directors and Partners must register under the PT Act within 30 days of the day they are appointed. </p>
                            </div>
                          </div>
                      </div>


                      <div class="col-md-6 col-12 mt-4">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">Step 4. As an Employer</h5>
                              <br>
                              <p class="card-text">The tax for professionals who are salaried employees in the state of their employment is collected by the employer following the proper deduction from the employees' wages and then deposited with the professional's tax department. The employer must apply for approval from the professional tax department 30 days from the date of application.</p>
                            </div>
                          </div>
                      </div>

                    </div>

                  </div>
                </section>

            </div>


            <div id="document">
              <section class="py-4 ab-banner text-white">
                  <div class="container">
                    <div class="row">
                    <div class="col-md-12 col-12 heading">
                      <h2>Documents Required For Registration in PT For LLP/Company</h2>
                    </div>
                    </div>


                    <div class="row table-responsive-sm">
                        <div class="col-md-12 col-12 p-2">
                        <table class="table">
                          <tbody>
                            <tr class="table-dark">
                              <td><b>S.No </b>  List Of Documents</td>
                            </tr>     
                            <tr class="table-primary">
                              <td> <b>1 </b> Certificate of Incorporation MOA &amp; AOA / LLP Agreement.</td>
                            </tr>

                            <tr class="table-info">
                              <td> <b>2. </b> Card PAN of Company/LLP that has been attested by the directors of the company</td>
                            </tr>
                            <tr class="table-warning">
                              <td> <b>3. </b> Proof of the Company's premises as well as an NOC from the proprietor of the premises</td>
                            </tr>
                            
                            <tr class="table-light">
                              <td> <b>4. </b> Bank Account of the Company Checks cancelled and bank statement.</td>
                            </tr>

                            <tr class="table-warning">
                              <td> <b>5. </b> Director's List and passport size photos for all directors, ID and proof of address.</td>
                            </tr>
                            
                            <tr class="table-light">
                              <td> <b>6. </b> Board Resolution or Consent statement of partners</td>
                            </tr>

                            <tr class="table-warning">
                              <td> <b>7. </b> Attendance Register and Salary Register</td>
                            </tr>

                          </tbody>
                        </table>
                      </div>

                    </div>
                  </div>
                </section>
            </div>


            <div id="faq">
             <section class="py-4">
              <div class="container">
                <div class="row">
                  <div class="col-md-11 col-12 mx-auto heading2">
                    <h2 class="text-center">State-specific applicability of professional Tax</h2>
                    <div class="table-responsive-sm pt-4">
                    <table class="table border table-info">
                      <thead>
                        <tr>
                          <td>State </td>
                          <td>PT  </td>
                          <td>State </td>
                          <td>PT</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Andhra Pradesh  </td>
                          <td>Yes </td>
                          <td>Maharashtra </td>
                          <td>Yes</td>
                        </tr>
                        <tr>
                          <td>Assam </td>
                          <td>Yes </td>
                          <td>Manipur </td>
                          <td>Yes</td>
                        </tr>
                        <tr>
                          <td>Bihar </td>
                          <td>Yes </td>
                          <td>Meghalaya </td>
                          <td>Yes</td>
                        </tr>
                        <tr>
                          <td>Chhattisgarh </td> 
                          <td>Yes </td>
                          <td>Mizoram </td>
                          <td>Yes</td>
                        </tr>

                        <tr>
                          <td>Gujarat </td>
                          <td>Yes </td>
                          <td>Orissa  </td>
                          <td>Yes</td>
                        </tr>

                        <tr>
                          <td>Jharkhand </td>
                          <td>Yes </td>
                          <td>Pondicherry </td>
                          <td>Yes</td>
                        </tr>
                        <tr>
                          <td>Karnataka </td>
                          <td>Yes </td>
                          <td>Tamil Nadu </td>
                          <td>Yes</td>
                        </tr>

                        <tr>
                          <td>Kerala  </td>
                          <td>Yes </td>
                          <td>Tripura </td>
                          <td>Yes</td>
                        </tr>

                        <tr>
                          <td>Madhya Pradesh</td>  
                          <td>Yes West </td>
                          <td>Bengal </td>
                          <td>Yes</td>
                        </tr>

                        <tr>
                          <td>Telangana </td>
                          <td>Yes </td>
                          <td>Punjab  </td>
                          <td>Yes</td>
                        </tr>

                        <tr>
                          <td>State </td>
                          <td>PT  </td>
                          <td>State </td>
                          <td>PT</td>
                        </tr>

                        <tr>
                          <td>Arunachal Pradesh </td>
                          <td>No  </td>
                          <td>Andaman &amp; Nicobar </td>
                          <td>No</td>
                        </tr>

                        <tr>
                          <td>Haryana</td> 
                          <td>No </td> 
                          <td>Chandigarh </td> 
                          <td>No</td>
                        </tr>
                        <tr>
                          <td>Himachal Pradesh  </td>
                          <td>No  </td>
                          <td>Dadar &amp; Nagar Haveli  </td>
                          <td>No</td>
                        </tr>
                        <tr>
                          <td>Jammu &amp; Kashmir </td>
                          <td>No  </td>
                          <td>Daman &amp; Diu </td>
                          <td>No</td>
                        </tr>
                        <tr>
                          <td>Uttar Pradesh </td>
                          <td>No  </td>
                          <td>Delhi </td>
                          <td>No</td>
                        </tr>
                        <tr>
                          <td>Rajasthan </td>
                          <td>No</td>  
                          <td>Lakshadweep </td>
                          <td>No</td>
                        </tr>
                        <tr>
                          <td>Nagaland  </td>
                          <td>No </td> 
                          <td>Puducherry </td> 
                          <td>No</td>
                        </tr>
                        <tr>
                          <td>Uttaranchal </td>
                          <td>No</td>
                            <td></td>
                            <td></td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizIndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}