{% extends 'index.html' %}

{%block title%} tax-deducted-source {% endblock %}

{%block body %}
{% include 'common_pages/banner.html'%}

<section class="py-5 bg-light1">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-9 col-12affix-top bg-light" data-spy="affix" data-offset-top="597">
        <!-- Nav pills -->
        <ul class="nav nav-pills" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="pill" href="#meaning">Meaning</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#requirement">Minimum requirement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#benefit">Benefit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#required">Document required</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#process">Incorporation Process</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#compliance">Compliance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#closure">Closure </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#faq">FAQ</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div id="meaning" class="container tab-pane content active"><br>
            <p><b>{{meaning.heading_text}}</b></p>
            <p><b>{{meaning.heading_text2}}</b></p>
            <p><b>{{meaning.heading_text3}}</b></p>

            <h2>{{meaning.heading_text}}</h2>
            <p> <b>{{meaning.text}}</b></p>
            <h2>{{meaning.heading_text}}</h2>
            <p>{{meaning.text2}}</p>
            <div class="text-center py-4"><img src="/media/{{ meaning.img }}" alt="logo-img" class="img-fluid"></div>
          </div>

          <div id="requirement" class="container tab-pane fade"><br>
            <div class="row">
              <div class="col-md-12 col-12">
                <h2>Requirement</h2>

              </div>

            </div>



          </div>

          <div id="benefit" class="container tab-pane fade"><br>
            <h2>Benefits</h2>

          </div>

          <div id="required" class="container tab-pane fade"><br>
            <div class="row">

              <div class="col-md-12 col-12 heading">
                <h2>Documents.</h2>
              </div>

            </div>
          </div>

          <div id="process" class="container tab-pane fade"><br>

            <h2>Proccess</h2>
          </div>

          <div id="compliance" class="container tab-pane fade"><br>
            <h2>Compliance</h2>
          </div>

          <div id="closure" class="container tab-pane fade"><br>
            <h2> closure </h2>
          </div>

          <div id="faq" class="container tab-pane fade"><br>
            <h2 class="fs-4">FAQ</h2>

          </div>

        </div>
      </div>
      {% include 'common_pages/pricing_sum_below.html' %}

    </div>
  </div>
</section>


{% include 'common_pages/fssai.html'%}

<section class="checklist py-5">
  <div class="container">
    <div class="row py-4">
      <p>{{step.text}}</p>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary"> {{step.step1}} </h5>
          <p>{{step.answer1}}</p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary"> {{step.step2}} </h5>
          <p>{{step.answer2}}</p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary"> {{step.step3}} </h5>
          <p>{{step.answer3}}</p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary"> {{step.step4}} </h5>
          <p>{{step.answer4}}</p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary"> {{step.step5}} </h5>
          <p>{{step.answer5}}</p>
        </div>
      </div>


      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary"> {{step.step6}} </h5>
          <p>{{step.answer6}}</p>
        </div>
      </div>

      <h2 class="py-4">{{faq.heading_text}}</h2>
      <div class="table-responsive-sm">
        <table class="table border shadow table-warning">
          <thead>
            <tr>
              <th scope="col">{{faq.list1}} </th>
              <th scope="col">{{faq.list2}} </th>
              <th scope="col">{{faq.list3}} </th>
              <th scope="col">{{faq.list4}} </th>
              <th scope="col">{{faq.list5}}</th>
              <th scope="col">{{faq.list6}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{faq.list7}} </td>
              <td>{{faq.list8}} </td>
              <td>{{faq.list9}} </td>
              <td>{{faq.list9}} </td>
              <td>{{faq.list10}} </td>
              <td>{{faq.list11}}</td>
            </tr>
            <tr>
              <td>{{faq.list12}} </td>
              <td> {{faq.list13}} </td>
              <td>{{faq.list14}} </td>
              <td>{{faq.list15}} </td>
              <td>{{faq.list10}} </td>
              <td>{{faq.list16}}</td>
            </tr>

            <tr>
              <td>{{faq.list17}} </td>
              <td>{{faq.list18}} </td>
              <td>{{faq.list19}} </td>
              <td>{{faq.list15}} </td>
              <td>{{faq.list15}}</td>
              <td>{{faq.list16}}</td>
            </tr>

            <tr>
              <td>{{faq.list20}} </td>
              <td>{{faq.list21}}</td>
              <td>{{faq.list22}} </td>
              <td>{{faq.list15}} </td>
              <td>{{faq.list15}} </td>
              <td>{{faq.list16}}</td>
            </tr>

            <tr>
              <td>{{faq.list23}} </td>
              <td>{{faq.list24}} </td>
              <td>{{faq.list25}} </td>
              <td>{{faq.list15}} </td>
              <td>{{faq.list15}} </td>
              <td>{{faq.list16}}</td>
            </tr>

            <tr>
              <td>{{faq.list23}} </td>
              <td>{{faq.list26}} </td>
              <td>{{faq.list27}} </td>
              <td>{{faq.list15}} </td>
              <td>{{faq.list15}} </td>
              <td>{{faq.list16}}</td>
            </tr>

            <tr>
              <td>{{faq.list28}} </td>
              <td>{{faq.list29}}</td>
              <td>{{faq.list19}}</td>
              <td>{{faq.list30}} </td>
              <td>{{faq.list30}} </td>
              <td>{{faq.list30}}</td>
            </tr>

            <tr>
              <td>{{faq.list28}} </td>
              <td>{{faq.list31}}</td>
              <td>{{faq.list19}} </td>
              <td>{{faq.list30}} </td>
              <td>{{faq.list30}}</td>
              <td>{{faq.list30}}</td>
            </tr>

            <tr>
              <td>{{faq.list32}} </td>
              <td>{{faq.list33}} </td>
              <td>{{faq.list34}} </td>
              <td>{{faq.list35}} </td>
              <td>{{faq.list16}}</td>
            </tr>

            <tr>
              <td>{{faq.list32}} </td>
              <td>{{faq.list36}} </td>
              <td>- </td>
              <td>{{faq.list37}} </td>
              <td>{{faq.list37}} </td>
              <td>{{faq.list16}}</td>
            </tr>

            <tr>
              <td>{{faq.list32}} </td>
              <td>{{faq.list38}}</td>
              <td>{{faq.list39}}</td>
              <td>{{faq.list34}} </td>
              <td>{{faq.list35}} </td>
              <td>{{faq.list16}}</td>
            </tr>

            <tr>
              <td>{{faq.list40}} </td>
              <td>{{faq.list41}} </td>
              <td>{{faq.list42}} </td>
              <td>{{faq.list43}} </td>
              <td>{{faq.list15}} </td>
              <td>{{faq.list16}}</td>
            </tr>

            <tr>
              <td>{{faq.list44}} </td>
              <td>{{faq.list45}}</td>
              <td> {{faq.list46}}</td>
              <td>{{faq.list34}} </td>
              <td>{{faq.list34}} </td>
              <td>{{faq.list16}}</td>
            </tr>

            <tr>
              <td>{{faq.list47}} </td>
              <td>{{faq.list48}} </td>
              <td>- </td>
              <td>{{faq.list16}} </td>
              <td>{{faq.list16}} </td>
              <td>{{faq.list16}}</td>
            </tr>

            <tr>
              <td>{{faq.list49}} </td>
              <td>{{faq.list50}} </td>
              <td>{{faq.list22}}</td>
              <td>{{faq.list15}} </td>
              <td>{{faq.list15}} </td>
              <td>{{faq.list16}}</td>
            </tr>

            <tr>
              <td> {{faq.list51}} </td>
              <td>{{faq.list52}}</td>
              <td>- </td>
              <td>{{faq.list16}} </td>
              <td>{{faq.list16}} </td>
              <td>{{faq.list16}}</td>
            </tr>

            <tr>
              <td>{{faq.list53}} </td>
              <td>{{faq.list54}} </td>
              <td>{{faq.list42}} </td>
              <td>{{faq.list43}} </td>
              <td>{{faq.list43}} </td>
              <td>{{faq.list16}}</td>
            </tr>

            <tr>
              <td>{{faq.list55}} </td>
              <td>{{faq.list56}} </td>
              <td>{{faq.list42}} </td>
              <td>{{faq.list43}} </td>
              <td>{{faq.list43}} </td>
              <td>{{faq.list16}}</td>
            </tr>

            <tr>
              <td>{{faq.list57}} </td>
              <td>{{faq.list58}} </td>
              <td>{{faq.list59}}</td>
              <td>{{faq.list15}} </td>
              <td>{{faq.list15}} </td>
              <td>{{faq.list16}}</td>
            </tr>

            <tr>
              <td>{{faq.list57}} </td>
              <td>{{faq.list60}} </td>
              <td>{{faq.list59}}</td>
              <td>{{faq.list35}} </td>
              <td>{{faq.list35}} </td>
              <td>{{faq.list16}}</td>
            </tr>

            <tr>
              <td>{{faq.question1}} </td>
              <td>{{faq.aswer1}}</td>
              <td>{{faq.heading_text2}} </td>
              <td>{{faq.list34}} </td>
              <td>{{faq.list34}} </td>
              <td>{{faq.list35}}</td>
            </tr>

            <tr>
              <td>{{faq.question2}} </td>
              <td>{{faq.answer2}} </td>
              <td>{{faq.question3}} </td>
              <td>{{faq.list43}} </td>
              <td>{{faq.list43}} </td>
              <td>{{faq.list16}}</td>
            </tr>

            <tr>
              <td>{{faq.question4}} </td>
              <td>{{faq.answer4}} </td>
              <td>{{faq.question5}}</td>
              <td>{{faq.list15}} </td>
              <td>{{faq.list15}} </td>
              <td>{{faq.list16}}</td>
            </tr>

            <tr>
              <td>{{faq.question4}}</td>
              <td>{{faq.answer5}}</td>
              <td>{{faq.list35}} </td>
              <td>{{faq.list35}} </td>
              <td>{{faq.list16}}</td>
              <td>- </td>
            </tr>

            <tr>
              <td>{{faq.question6}}</td>
              <td>{{faq.answer6}}</td>
              <td>{{faq.question7}} </td>
              <td>{{faq.list15}}</td>
              <td>{{faq.list15}}</td>
              <td>{{faq.list16}}</td>
            </tr>

            <tr>
              <td>{{document.list1}}</td>
              <td>{{document.list2}} </td>
              <td>{{document.list3}}</td>
            </tr>

            <tr>
              <td>{{document.list4}}</td>
              <td>{{document.list5}}</td>
              <td>{{document.list6}}</td>
            </tr>

            <tr>
              <td>{{document.list4}} </td>
              <td>{{document.list7}}</td>
              <td>{{document.list8}}</td>
            </tr>

            <tr>
              <td>{{document.list4}} </td>
              <td>{{document.list9}} </td>
              <td>{{document.list10}}</td>
            </tr>

            <tr>
              <td>{{document.list4}} </td>
              <td>{{document.list11}}</td>
              <td>{{document.list10}}</td>
            </tr>

            <tr>
              <td>{{document.list4}} </td>
              <td>{{document.list12}}</td>
              <td>{{document.list6}}</td>
            </tr>

            <tr>
              <td>{{document.list4}}</td>
              <td>{{document.list13}}</td>
              <td>{{document.list14}}</td>
            </tr>

            <tr>
              <td>{{document.list4}} </td>
              <td>{{document.list15}}</td>
              <td>{{document.list6}}</td>
            </tr>

            <tr>
              <td> {{document.list4}}</td>
              <td> {{document.text}}</td>
              <td>{{document.list6}}</td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>
  </div>
</section>
{% endblock %}