{% extends 'index.html' %}

{%block title%} tax-audit by ca {% endblock %}

{%block body %}


     <section class="top-bn3 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <h2><b>Tax Audits for Tax Compliance <span class="text-white">by the Income Tax Act  </span></b></h2>
            <p><b>Simple Process and Transparent Fee </b></p>
            <p><b>All India Incorporation Service </b></p>
             <h2>Tax Audits by the Income Tax Act </h2>
            <p class="pt-4"> <b>If the revenue for the taxpayer (irrespective of its classification) is greater than or equal to the sum of Rs. 1 Crore for the company or Rs. 50 Lac of income earned from the profession. Under the Income Tax Act 1961, an audit, also known as Tax Audit conducted by a chartered accountant, must be carried out under section 44AB.
            </b></p>
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            <li> <a class="sidelink" href="#document">
            <span class="icon-s"> <i class="fa fa-file-text" aria-hidden="true"></i> </span>  List of Documents</a> </li>
            
            </ul>
          </div>

          <div class="content content-3s bg-light">
            <div id="overview">
              <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-12 heading pt-2">
                      <h2 class="fs-2">Tax Audits by section 44AB of the  <span class="text-primary">Income Tax </span>Act, 1961</h2>
                      <p class="fs-6">A tax Audit is an independent audit conducted by an accountant who is chartered and practicing full-time on questions about taxation only. It is a report that confirms that there has been no hiding of income by the taxpayer, that there has been no tax obligation not paid, and that the due dates have been paid it. </p>
                      <p class="b-style text-style">Tax audits are required by law for the taxpayer. It is required in all cases when the turnover or gross revenue during the previous year exceeds the maximum amount permitted under section 44AB applicable to the assessment year.</p>
                      <p class="fst-italic">The due date to file your tax audit reports is on the 30th of September of the year the audit was conducted. If the audit report has not been completed by the deadline, the taxpayer has to settle a fine equal to 1.5 percent of the gross turnover or receipts, but the penalty is subject to a maximum fine of 1.5 lac. </p>
                    </div>

                  </div>
                </div>
              </section>

              <section class="py-4 s-img s-img1">
                  <div class="container py-2">
                    <div class="row">
                      <div class="col-md-2 col-12">
                      </div>
                    <div class="col-md-10 col-12">
                      <h2>Audit Report Forms for Tax Audit Report Formulas </h2>
                      <p>The tax auditor might also be the individual who handles the business's statutory audit or could be an independently practicing CA. The company's members at the annual general assembly can nominate them. If approved by the board, the director's board or managing director may nominate an auditor for tax purposes. In the case of LLP or partnership companies, the firm's partners can choose the tax auditor. When the taxpayer is assessed as an individual, the taxpayer is the sole one to nominate the tax auditor. The tax auditor is required to complete and submit their tax audit reports directly through the site of the department of taxation, but the taxpayer must approve them. Tax audit reports are made in three forms, depending on the nature of the conducted tax audit.</p>
                      
                    </div>
                    </div>
                  </div>
                </section>

            </div>

             <div id="process">

              <section class="py-4">
              <div class="container">
                <div class="row">
                  <div class="col-md-4 col-12">
                    <div class="card border-none">
                        <div class="card-body shadow border-round">
                          <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                          <h5 class="card-title card-header">Step 1. Formulary No. 3CA </h5>
                          <br>
                          <p class="card-text">A tax audit report has to be completed according to the prescribed form 3CA when the assessed also has to have their books and accounts audited as per any law. In the case of a company, each business is required to have the books audited by the Companies Act of 2013.</p>
                        </div>
                      </div>
                  </div>

                  <div class="col-md-4 col-12 mt-4">
                    <div class="card border-none">
                        <div class="card-body shadow border-round">
                          <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                          <h5 class="card-title card-header">Step 2. Formula No. 3CB </h5>
                          <br>
                          <p class="card-text">If the taxpayer or assessed does not have to get its books of accounts audited as per any law, then a taxation audit must be completed by the form prescribed by the IRS 3CB. For instance, salaried individuals or a company, if their income is more significant than the amount of Rs. 1 crore. </p>
                        </div>
                      </div>
                  </div>


                  <div class="col-md-4 col-12 mt-5">
                    <div class="card border-none">
                        <div class="card-body shadow border-round">
                          <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                          <h5 class="card-title card-header">Step 3. Form No. 3CD </h5>
                          <br>
                          <p class="card-text">Form 3CD can be used as an annex to form 3CA, or 3CB, depending on the situation. Tax auditors must enter the specifics of the taxpayer to whom the tax audits were completed. The 3CD form 3CD is a form of an information memo and is part of the audit report 44AB. </p>
                        </div>
                      </div>
                  </div>

                </div>

              </div>
            </section>

            <section class="btm_grd_banner py-4">
                <div class="container">
                  <div class="row text-center">
                    <div class="col-md-12 col-12">
                      <div class="py-2 text-white heading2">
                      <h2 class="py-2 fs-2">Differential ties between Tax Audit and Other Audit Forms</h2>
                      <p class="fs-6 pt-2">There are various types of audits required in India according to different laws. The audit required under the Income Tax Act is specific to the observance of the requirements of the Income Tax Act. The audits we discuss in this article are required to be performed by a certified chartered accountant in practice. Taxpayers can have all their certificates issued by a single CA, or many auditors or auditing firms can be enlisted to perform the audit. Below are the three different types of audits, and a thorough knowledge of them is crucial to comprehend the difference between tax and statutory audits.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>


              <section class="py-4">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-4 col-12">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">Step 1. Audit under the Company Act</h5>
                              <br>
                              <p class="card-text">Each company that is which is registered in India as per the Companies Act of 2013 is required to have the books of account audited regardless of the amount it earns. This audit thoroughly examines the books of accounts, vouchers, and other documents to ensure that the auditor can provide their opinions by the law. </p>
                            </div>
                          </div>
                      </div>

                      <div class="col-md-4 col-12 mt-4">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">Step 2. Audit under the LLP Act</h5>
                              <br>
                              <p class="card-text">The LLP act of 2008, only the LLP are required to have their books audited if the capital or contribution to the LLP is at or above 25 lacs or when it is reported that the revenue of the LLP has crossed or exceeded the threshold of Rs. 40 lac. The scope of the audit is the same as corporate audits, also known as the legal audit of LLP. </p>
                            </div>
                          </div>
                      </div>


                      <div class="col-md-4 col-12 mt-5">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">Step 3. Audits under GST </h5>
                              <br>
                              <p class="card-text">The new law, passed in the GST Act, mandates an audit for every person registered under the GST act if the amount of turnover for the taxpayer exceeds one crore. The audit is a thorough reconciliation report prepared with the help of a qualified chartered accountant of the GST Act. Are you having trouble? We have a specialist to assist Start</p>
                            </div>
                          </div>
                      </div>

                    </div>

                  </div>
                </section>

            </div>


            <div id="document">
              <section class="py-4 bg-light">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 col-12 heading pt-5">
                        <h2 class="fs-2">What is the difference? Audit under the Income  <span class="text-primary">Tax Act is Different from Statutory Audit </span></h2>
                        <p class="fs-6">But, the Statutory audit, as required by the Companies Act 2013. The Limited Liability Partnership Act, 2008, is generally and thorough. Its scope of the statutory audit entails a detailed examination of the books of accounts maintained by the company or LLP.</p>
                        <p class="b-style text-style">The auditor statutory is legally required to give a written report that the accounts and other records maintained by the business or LLP provide a complete or fair account of the operations of the company or LLP, or not. While the tax audit mandated by the Income tax act has an entirely different purpose, and the tax auditor must provide a thorough report that follows a specific format, for example. 3CAor 3CB and 3CD detailing the compliance with the various requirements of the Income Tax Act. This means that the tax audit is limited in scope compared to the statutory audit.</p>
                      
                      </div>

                    </div>
                  </div>
                </section>
            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizIndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}