{% extends 'index.html' %}

{%block title%} Tax Assessment & Scrutiny {% endblock %}

{%block body %}

     <section class="top-bn2 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <p><b>Assessment and Representation</b></p>
            <p><b>Simple Process and Transparent Fee</b></p>
            <p><b>All India Incorporation Service</b></p>

            <h2><b>Assessment and  <span class="text-white">Representation </span></b></h2>
            <p class="pt-4"> <b>We can take on representation in tax offices all over India for matters relating to taxation under the Income Tax Act and related issues. Dobizindia business solution private limited  have a dedicated research team who works closely with our clients in preparing the response to the questionnaire that the Assessing Officer will use and other representations. Our experts, CA, and tax attorneys are ready to assist you.
            </b></p>
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            
            </ul>
          </div>

          <div class="content content-2s bg-light">
            <div id="overview">
              <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-12 heading">
                      <h2 class="fs-4">Tax Assessment &amp;  <span class="text-primary">Representation</span></h2>
                      <p class="fs-6">In general, the income tax return submitted by the assessed is acknowledged by the department since it has been submitted. Once matched with the tax credit, the system will automatically process the tax return for income, and the assessment is processed without a problem. Suppose your case is considered suspicious or chosen for the department's income tax assessment. In that case, the department must verify all expenditures and income included on the income tax return. The process of assessing is a skill that requires a lot of experience to ensure that the assessment is completed successfully and in favor of the person being assessed.</p>
                      <h2>Scrutiny Assessment</h2>
                      <div class="about-text-style b-style text-style">
                          <ul>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> The GST officer reviews the returns to confirm their accuracy. A proper office reviews the returns by section 61 CGST Act.</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Any discrepancy that is found shall be notified to all registered persons. The person must reply within 15 working days.</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> The registered person may accept or deny the discrepancy, pay the taxes and interest due and inform the appropriate officer.</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> If the correct office determines that the information is acceptable, the appropriate offices will inform the registered individual accordingly.</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> If the discrepancy does not agree with the person, he must explain it to the appropriate official.</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> It is not mandatory as this is not a legal and judicial proceeding. If discrepancies are noted, the officer responsible for the same may request clarifications. After being given explanations, the officer may take the following actions:</li>

                          </ul>
                        </div>
                    </div>

                  </div>
                </div>
              </section>

              <section class="py-5 my-2 s-img s-img1">
                <div class="container py-2">
                  <div class="row">
                    <div class="col-md-2 col-12">
                    </div>
                  <div class="col-md-10 col-12">
                    <p><b>If the Explanation is satisfactory- </b> The officer will inform the taxpayer, and no further actions in this regard will be taken.</p>
                    <p><b>If Explanation is Not Satisfactory- </b> A taxpayer has not explained in 30 days or has not rectified any discrepancies the officer may make.</p>

                    <div class="about-text-style">
                          <ul>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Perform a tax audit according to section 65.</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Check and search the taxpayer's business.</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Start a special auditor under section 66</li>
                          </ul>

                          <ul>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Initiate recovery and demand</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Send notices of great demand or shortfall if there isn't a willful intent of fraud under the section.</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Send notices to notify of great demand or shortfall in cases with willful intent of fraud under Section 74.</li>
                          </ul>
                      </div>
                    <h2 class="py-4 text-center">How does Scrutiny assess cases?</h2>
                    <div class="about-text-style">
                          <ul>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> There are two types: one is the scrutiny assessment.</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Manual Scrutiny</li>
                          </ul>

                          <ul>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Compulsory surveillance cases</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> They are listed below.</li>
                          </ul>
                        </div>
                  </div>
                  </div>
                </div>
              </section>

            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizIndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}