{% extends 'index.html' %}

{%block title%} tax-deducted-source {% endblock %}

{%block body %}
{% include 'common_pages/banner.html'%}

<section class="py-5 bg-light1">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-9 col-12affix-top bg-light" data-spy="affix" data-offset-top="597">
      <!-- Nav pills -->
      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="pill" href="#meaning">Meaning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#requirement">Minimum requirement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#benefit">Benefit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#required">Document required</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#process">Incorporation Process</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#compliance">Compliance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#closure">Closure </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#faq">FAQ</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <div id="meaning" class="container tab-pane content active"><br>
         <p><b>Tax deducted at source (TDS)</b></p>
        <p><b>Easy Process and Transparent Fee</b></p>
        <p><b>All India Incorporation Service</b></p>

        <h2>Tax Deducted At the Source (TDS)</h2>
        <p> <b>It is an abbreviated version of Tax Deducted at Source that must be taken out when making a payment towards parties according to a specific rate. The income tax departments have specific expenses or payments that have set an exact deduction rate and a threshold amount based on which it must be taken out.
        </b></p>
        <h2>The Tax Deducted At Source (TDS)</h2>
        <p>Any business, no matter if it's an established or a new business, is bound to have some costs or pay its partners regardless of its size or size. This is why TDS regulations apply to all types and sizes of companies. They apply in the same way as the proprietor or firm LLP or a corporation registered under the Companies Act. 2013. The expense paid by a person constitutes income to the person who received it. Therefore, the person making the payment is legally bound to deduct Tax according to the applicable rate when making a payment to the recipient. For smaller payments, it is the case that TDS is not applicable until the payment reaches the threshold limit set by law.</p>
         <div class="text-center py-4"><img src="images/inner-page.jpg" alt="logo-img" class="img-fluid"></div>
        </div>

        <div id="requirement" class="container tab-pane fade"><br>
          <div class="row">
            <div class="col-md-12 col-12">
             <h2>Requirement</h2>
             
            </div>

            </div>

            

        </div>

        <div id="benefit" class="container tab-pane fade"><br>
          <h2>Benefits</h2>

        </div>

        <div id="required" class="container tab-pane fade"><br>
          <div class="row">

              <div class="col-md-12 col-12 heading">
                <h2>Documents.</h2>
              </div>

            </div>
        </div>

        <div id="process" class="container tab-pane fade"><br>
          
            <h2>Proccess</h2>
        </div>

        <div id="compliance" class="container tab-pane fade"><br>
          <h2>Compliance</h2>
        </div>

        <div id="closure" class="container tab-pane fade"><br>
          <h2> closure </h2>
        </div>

        <div id="faq" class="container tab-pane fade"><br>
          <h2 class="fs-4">FAQ</h2>
          
        </div>

      </div>
    </div>
    {% include 'common_pages/pricing_sum_below.html' %}

  </div>
</div>
</section>


{% include 'common_pages/fssai.html'%}

<section class="checklist py-5">
<div class="container">
<div class="row py-4">
  <p>It is important to note that TDS applies only to the payment specified and not until it crosses that threshold. The most recurring expenses to which TDS can be applied are listed below. The Key Aspects of TDS Deduction and Key Points of TDS Deduction and</p>

                <div class="col-md-12 col-12">
                  <div class="shadow p-4">
                    <h5 class="text-primary"> STEP 1- The payment of TDS Deducted </h5>
                    <p>The Tax deducted at the source (TDS) when paying parties for eligible expenses should be paid before the 7th of the month. For instance, the TDS taken in November 2017 must be paid on or before the 7th of December 2017. The Chilean code for TDS payment is 281. When making TDS payments, care must be taken while choosing the correct section or nature of the payment.</p>
                  </div>
                </div>

                <div class="col-md-12 col-12">
                  <div class="shadow p-4">
                    <h5 class="text-primary"> STEP 2 - The Impact of Non-Compliance</h5>
                    <p> Failure to comply with TDS regulations is a serious offense and is punishable by section 271 (C) of the Income Tax Act 1961, which provides a minimum penalty of 10,000 and can be up to. 1, 00,000/-. Section 276B also applies to all cases with a willful default. In any of those situations, the penalty is 3 years of strict imprisonment that can last up to seven years.</p>
                  </div>
                </div>

                <div class="col-md-12 col-12">
                  <div class="shadow p-4">
                    <h5 class="text-primary"> STEP 3 -  Interest in the Non-Payment of TDS</h5>
                    <p> The TDS taken by a person is due to be deposited within 7 days of the following month. Failure or delay in making TDS is punishable under Section 271 C and Section 276 B. The defaulter will also be accountable for interest due for late payments of 1.5 percent per month or a portion thereof. No law allows the interest to be waived, so the assessor should be cautious. </p>
                  </div>
                </div>

                <div class="col-md-12 col-12">
                  <div class="shadow p-4">
                    <h5 class="text-primary"> STEP 4 –  The filing of the TDS Return</h5>
                    <p>Following the payment of TDS to the Tax on income, the taxpayer is then required to file a quarterly report that includes the TDS paid mapped to the PAN of the individual for whom TDS was taken. TDS Returns are filed when the TDS Return is filed within the 30th of the month that follows the quarter. For example, the initial quarter is over on the 30th of June. Therefore, the TDS Return has to be filed before the 30th of July.</p>
                  </div>
                </div>

                <div class="col-md-12 col-12">
                  <div class="shadow p-4">
                    <h5 class="text-primary"> STEP 5 –  Interest in Non-Deduction TDS</h5>
                    <p>If a person making payments for which he is required to deduct TDS is not able to deduct TDS or deducts that is less than the minimum amount. In any case, the deduct or will be liable to pay interest at 1 percent per month or a portion of the month until TDS is removed. Therefore, business owners must be cautious when paying third parties and ensure that TDS is removed.</p>
                  </div>
                </div>


                <div class="col-md-12 col-12">
                  <div class="shadow p-4">
                    <h5 class="text-primary"> STEP 6 –  Other Consequences of default on TDS</h5>
                    <p>The expenses for which TDS was necessary to deduct must be deducted as an expense in section 40(a) in computing the total tax-deductible income. To help you understand this concept, let's consider an instance of a company where the revenue is 10 lacs, and the cost is 10 lac. Then there is no income tax. If there is no TDS is not taken into account, the Tax will be 3 lacs (30 percent of the 10 lac)</p>
                  </div>
                </div>

                <h2 class="py-4">Table of TDS rates for the FY-2019-2020 (AY 2020-21)</h2>
                <div class="table-responsive-sm">
                    <table class="table border shadow table-warning">
                      <thead>
                        <tr>
                          <th scope="col">Section </th>
                          <th scope="col">The nature of the payment </th>
                          <th scope="col">The Basic cut-off (Rs.) Per Annum </th>
                          <th scope="col">Individuals and HUF </th>
                          <th scope="col">Other than HUF/individual</th> 
                          <th scope="col">PAN isn't being submitted</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>192 </td>
                          <td>The payment of salaries by employers  </td>
                          <td>Slab rate </td>
                          <td>Slab rate </td>
                          <td>Non-applicable  </td>
                          <td>30%</td>
                        </tr>
                        <tr>
                          <td>192A  </td>
                         <td> Payments that are made before the due date made by PF Organization from EPF A/c (i.e. before 5 years). </td>
                          <td>50,000  </td>
                          <td>10% </td>
                          <td>Non-applicable  </td>
                          <td>20%</td>
                        </tr>

                        <tr>
                          <td>193 </td>
                          <td>The payment of interest on securities by the company </td> 
                          <td>10,000  </td>
                          <td>10% </td>
                          <td>10% </td>
                          <td>20%</td>
                        </tr>

                        <tr>
                          <td>194 </td>
                          <td>Distribution of Dividend that is not a dividends as defined in Section 115O of the company (i.e. Dividends that is not subject to Dividend Distribution Tax has not been taxed) </td>
                          <td>2,500 </td>
                          <td>10% </td>
                          <td>10% </td>
                          <td>20%</td>
                        </tr>

                        <tr>
                          <td>194A  </td>
                          <td>The payment of interest through a bank  40,000 (Non Sr. Citizen) </td>
                          <td>50,000 (Sr. Citizen) </td>
                          <td>10% </td>
                          <td>10% </td>
                          <td>20%</td>
                        </tr>

                        <tr>
                          <td>194A  </td>
                          <td>In the event of interest payments by others, they must be paid. </td>
                          <td>5,000 </td>
                          <td>10% </td>
                          <td>10% </td>
                          <td>20%</td>
                        </tr>

                        <tr>
                          <td>194B  </td>
                          <td>Prizes are paid out from winning from Lotteries by anyone.</td>  
                          <td>10,000</td>  
                          <td>30% </td>
                          <td>30% </td>
                          <td>30%</td>
                        </tr>

                        <tr>
                          <td>194B  </td>
                          <td>The payment of prizes from winning at Horse Race by any person. </td>
                          <td>10,000.00 </td>
                          <td>30% </td>
                          <td>30% </td>
                          <td>30%</td>
                        </tr>

                        <tr>
                          <td>194C  </td>
                          <td>Any person. 30000 (Single bill) or 1 Lakh total bills in the course of. </td>
                          <td>1%  </td>
                          <td>2%  </td>
                          <td>20%</td>
                        </tr>

                        <tr>
                          <td>194C  </td>
                          <td>Pay to the Transporter covered under. 44E. Submit the declaration in the prescribed format. (i.e. possessing less than 10 good carriages) </td>
                          <td>- </td>
                          <td>0 </td>
                          <td>0 </td>
                          <td>20%</td>
                        </tr>

                        <tr>
                          <td>194C  </td>
                          <td>Payment to Transporter is not covered by. 44E (i.e. having more than 10 goods carriages)</td>  
                          <td>30000 (Single invoice) or 75,000.00 cumulative bills throughout the entire year.</td>  
                          <td>1%  </td>
                          <td>2% </td> 
                          <td>20%</td>
                        </tr>

                        <tr>
                          <td>194D  </td>
                          <td>The payment from Insurance Commission to agents by Insurance Company. </td>
                          <td>15,000 </td> 
                          <td>5% </td> 
                          <td>10% </td>
                          <td>20%</td>
                        </tr>

                        <tr>
                          <td>194DA </td>
                          <td>The payment is made in respect of the maturation of Life Insurance Policy by Life Insurance Company. </td> 
                         <td> 1 Lakh </td> 
                          <td>1% </td> 
                          <td>1% </td> 
                          <td>20%</td>
                        </tr>

                        <tr>
                          <td>194DE </td>
                          <td>The payment to NRI association or sportsman by any individual or group  </td>
                          <td>- </td>
                          <td>20% </td>
                          <td>20% </td>
                          <td>20%</td>
                        </tr>

                        <tr>
                          <td>194EE </td>
                          <td>The deposit is paid out in accordance with the National Saving Scheme (NSS) </td>
                          <td>2,500</td> 
                          <td>10% </td>
                          <td>10% </td>
                          <td>20%</td>
                        </tr>

                        <tr>
                          <td>194F  </td>
                          <td>Repurchases and payments for the purchase in units from Mutual Fund Companies.</td>  
                          <td>- </td>
                          <td>20% </td>
                          <td>20% </td>
                          <td>20%</td>
                        </tr>

                        <tr>
                          <td>194G  </td>
                          <td>Settlement of Lottery Commission  </td>
                          <td>15,000  </td>
                          <td>5% </td> 
                          <td>5%  </td>
                          <td>20%</td>
                        </tr>

                        <tr>
                          <td>194H </td> 
                          <td>Brokerage commissions or payment of commissions.  </td>
                          <td>15,000 </td> 
                          <td>5% </td> 
                          <td>5% </td> 
                          <td>20%</td>
                        </tr>

                        <tr>
                          <td>194I  </td>
                          <td>Rent payment on the land, the building furnishings and fixtures.  </td>
                          <td>240,000</td> 
                          <td>10% </td>
                          <td>10% </td>
                          <td>20%</td>
                        </tr>

                        <tr>
                          <td>194I  </td>
                          <td>Rent payment on equipment, plant or machinery. </td> 
                          <td>240,000</td> 
                          <td>2% </td> 
                          <td>2%  </td>
                          <td>20%</td>
                        </tr>

                        <tr>
                          <td>194IB </td>
                          <td>Settlement made as a result of the transfer of property that is immovable other than agricultural land. </td>
                          <td>50 Lakh </td>
                          <td>1% </td> 
                          <td>1%  </td>
                          <td>20%</td>
                        </tr>

                        <tr>
                          <td>194IA </td>
                          <td>Rent paid by an individual is not covered under. 194I for building, land furniture and fittings </td>
                          <td>50,000 PM </td>
                          <td>5% </td> 
                          <td>5% </td> 
                          <td>20%</td>
                        </tr>

                        <tr>
                          <td>194J </td> 
                          <td>Payment of Professional Fees , other than call center </td>
                          <td>30,000 </td> 
                          <td>10% </td>
                          <td>10% </td>
                          <td>20%</td>
                        </tr>

                        <tr>
                          <td>194J</td>  
                          <td>The payment of professional fees at call centers.</td>
                          <td>2%  </td>
                          <td>2%  </td>
                          <td>20%</td>
                          <td>- </td>
                        </tr>

                        <tr>
                          <td>194LA</td> 
                          <td>Compensation for the transfer of certain immovable properties other that is greater than Agriculture Land</td> 
                          <td>250,000 </td>
                          <td>10%</td> 
                          <td>10%</td> 
                          <td>20%</td>
                        </tr>

                        <tr>
                          <td>Section</td> 
                          <td>The nature of the payment </td>
                          <td>TCS Rate ( percent)</td>
                        </tr>

                        <tr>
                          <td>206C</td>  
                          <td>Scrap</td> 
                          <td>1</td>
                        </tr>

                        <tr>
                          <td>206C  </td>
                          <td>Tendu Leaves  </td>
                          <td>5</td>
                        </tr>

                        <tr>
                          <td>206C </td>
                          <td>Timber obtained as part of an agreement with a forester or in another way </td>
                          <td>2.5</td>
                        </tr>

                        <tr>
                          <td>206C  </td>
                          <td>Other forest products that are that are not a timber or a tendu.</td> 
                          <td>2.5</td>
                        </tr>

                        <tr>
                          <td>206C </td> 
                          <td>The alcohol-based liquor is intended for consumption by humans.</td> 
                          <td>1</td>
                        </tr>

                        <tr>
                          <td>206C</td>  
                          <td>Parking Lot Toll Plaza Mining and Quarrying</td> 
                          <td>2</td>
                        </tr>

                        <tr>
                          <td>206C  </td>
                          <td>Minerals include coal, iron ore, lignite (applicable starting July 1st 2012)</td>  
                          <td>1</td>
                        </tr>

                        <tr>
                         <td> 206C</td>  
                         <td> Motor vehicle sales of that are worth more than the amount of. 10,500 (wef 01.06.2016) Vehicle clauses not applicable to Central Government, a State Government or an embassy, or a High Commission, Legation, Commission Consulate, Commerce Representation of a foreign State; Local Authority; a Public Sector Company which is involved in the business of transporting the passengers (wef 01.04.2017) </td>
                         <td>1</td>
                        </tr>
                        
                      </tbody>
                    </table>
                    </div>

              </div>
            </div>
          </section>
{% endblock %}