{% extends 'index.html' %}

{%block title%} LLP To Private Limited  {% endblock %}

{%block body %}
    <section class="top-bn2 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <p>LLP into a Private Limited Company </p>
            <p><b>Online Processing By Filing URC-1 to Register ROC</b></p> 
            <p><b>All India Tax Registration &amp; Returns</b> </p>

            <h2><b>LLP into a Private <span class="text-white">Limited Company </span></b></h2>
            <p class="pt-4"> <b>If your business is growing, switching to a Private Limited Type of business from the LLP might be necessary. We will assist you in the transition process, help with tax planning and legal procedures, and provide end-to-end support to your growing business when you convert as a Private Limited Company.  
            </b></p>
            <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            
            </ul>
          </div>

          <div class="content content-2s bg-light">
            <div id="overview">
              <section class="py-4">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 col-12 heading pt-2">
                        <h2 class="fs-4">Conversion of LLP to <span class="text-primary">Private Limited </span>Company </h2>
                        <p class="fs-6">An LLP is the simplest Incorporated Business form in India. It's easy to start and requires less compliance than a company. There are no clear rules about whether a business can be launched as LLP. An LLP is a more straightforward form of Incorporated Business in India. According to the Law, there are no restrictions on the business type you may run. The LLP business can be used by lawyers, doctors, engineers, CAs, CSS and architects.</p>
                        <p class="b-style text-style">An LLP is the simplest Incorporated Business form in India. It's easy to start and requires less compliance than a company. There are no clear rules about whether a business can be launched as LLP. An LLP is a more straightforward form of Incorporated Business in India. According to the Law, there are no restrictions on the business type you may run. The LLP business can be used by lawyers, doctors, engineers, CAs, CSS and architects.</p>
                      </div>

                    </div>
                  </div>
                </section>

              <section class="btm_grd_banner py-4">
                <div class="container">
                  <div class="row">

                    <div class="col-md-12 col-12 mx-auto heading2">
                      <h2 class="text-center fs-2">Conversion of LLP to a  <span class="text-primary">Private Limited Company: </span>The Benefits </h2>
                      <div class="accordion pt-2" id="accordionExample">
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Keep the Brands and grow them. 
                            </button>
                          </h4>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                              The new private limited corporation was created by converting from the LLP. It preserves the legacy of LLP and does not lose its reputation. The LLP's IPR Rights will be transferred to the private company without capital gain. 
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Keep the accumulated losses and Depreciation in your pocket. 
                            </button>
                          </h4>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              The Income Tax Act makes it possible for the unabsorbed losses, or Depreciation, of an LLP to be transferred to a new private limited. This is one benefit of LLP Conversion. 
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Easy Fund Raising 
                            </button>
                          </h4>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                             Investors prefer a Private Limited Company because it allows for more accessible allotment, valuation, and private placement. Further, the details are available at MCA. 
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                             Employees- ESOP
                            </button>
                          </h4>
                          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             It is becoming increasingly popular for companies to offer employee stock options to keep their employees. Only Company-form organizations can offer ESOP. This is because specific laws require the ESOP Plan to be registered with the registrar.  
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            No Capital Gains Tax
                            </button>
                          </h4>
                          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             <strong>The assets from the LLP will be transferred to the new private limited company. No capital gain tax will be levied as a result. It is important to note that the LLP's existing successor is a Company. Thus, there is no capital gain. </strong>
                                <ul>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Conversion of LLP to Company Requirements </li>

                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> An LLP must have at minimum two partners to convert it into a Private Limited Company. </li>

                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> All Partners must agree to the Company-LLP conversion. </li>

                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> The LLP must file all statutory returns and LLP agreements. </li>

                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> The exact name shall be retained, and "LLP" shall be replaced with "Private Limited." No changes are allowed.</li>
                                </ul>
                                The Contribution to LLP shall become Capital for the Company, and all LLP Partners will become shareholders of the company.
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                             Legal Provision
                            </button>
                          </h4>
                          <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             <div class="table-responsive-sm">
                                <table class="table border table-info">
                                  <thead>
                                    <tr>
                                      <th>Law or Form </th>
                                      <th>Particulars</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Law</td> 
                                      <td>Section 366 (Companies Act), 2013</td>
                                    </tr>
                                    <tr>
                                      <td>Form URC-2</td>  
                                      <td>Format for newspaper publication</td>
                                    </tr>
                                    <tr>
                                      <td>RUN </td>
                                      <td>Name Reservation Application</td>
                                    </tr>

                                    <tr>
                                      <td>Form URC-1 </td> 
                                      <td>Application for Conversion from LLP into Company</td>
                                    </tr>

                                    <tr>
                                      <td>Spice+ Form</td> 
                                      <td>For a company certificate of incorporation</td>
                                    </tr>

                                    <tr>
                                      <td>DIR-2</td> 
                                      <td>Consent of Directors</td>
                                    </tr>
                                  </tbody>
                                </table>
                                </div>
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                             List of Documents Required for Conversion from LLP into Company
                            </button>
                          </h4>
                          <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             <div class="table-responsive-sm">
                                <table class="table border table-info">
                                  <thead>
                                    <tr>
                                      <th>A. List of documents required for conversion of LLP to Company</th>
                                      <th>B. List of attachments for E-form Spice+</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>A list of Partners, with all their details</td>
                                      <td>DIR-2 Declaration from all directors</td>
                                    </tr>
                                    <tr>
                                      <td>Declaration of directors confirms all details of partners</td>
                                      <td>Identity and address proof of directors</td>
                                    </tr>
                                    <tr>
                                      <td>For dissolution of an entity, all partners must sign an affidavit</td>
                                      <td>Proof of Registered Office</td>
                                    </tr>

                                    <tr>
                                      <td>Newspaper advertisement</td>
                                      <td>NOC from property owner</td>
                                    </tr>

                                    <tr>
                                      <td>Certificate of registration to the LLP</td>
                                      <td></td>
                                    </tr>

                                    <tr>
                                      <td>LLP Agreement</td>
                                      <td></td>
                                    </tr>

                                    <tr>
                                      <td>CA Certificates Statement of Assets and Liability</td>
                                      <td></td>
                                    </tr>

                                    <tr>
                                      <td>Income Tax Return Copy - LLP</td>
                                      <td></td>
                                    </tr>

                                    <tr>
                                      <td>Newspaper Advertisement (URC-2)</td>
                                      <td></td>
                                    </tr>

                                    <tr>
                                      <td>NOC from the Creditors</td>
                                      <td></td>
                                    </tr>

                                    <tr>
                                      <td>NOC From the ROC, where the LLP was registered</td>
                                      <td></td>
                                    </tr>


                                  </tbody>
                                </table>
                                </div>  
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </section>

            </div>

             <div id="process">

               <section class="py-4">
                  <div class="container heading2">
                    <h2 class="text-center">Step-Wise Process to Convert an LLP into a Corporation</h2>
                    <div class="row pt-4">
                      <div class="col-md-6 col-12">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">Consent of all Partners of the LLP</h5>
                              <br>
                              <p class="card-text">The process begins with a meeting between Partners. This is to get approval from all Partners for the proposed transformation of LLP into a Private Limited Company under section 366, Companies Act 2013. The partner's meeting is where two partners will be authorized to sign all papers necessary to transform LLP into a corporation.</p>
                            </div>
                          </div>
                      </div>

                      <div class="col-md-6 col-12 mt-4">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">Newspaper Publication</h5>
                              <br>
                              <p class="card-text">The intention to convert from an LLP to a corporation must be published in two local newspapers, one in vernacular languages and the other in English daily. The newspaper must publish the public announcement within 21 days of filing the URC-1.</p>
                            </div>
                          </div>
                      </div>

                    </div>



                    <div class="row pt-4">

                      <div class="col-md-6 col-12">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">NOC from the ROC Creditors</h5>
                              <br>
                              <p class="card-text">The NOC of the ROC is required for the LLP Registration. In addition, the Creditors must agree to the LLP's conversion. If there is no Liability within the LLP, then a signed statement by the partners stating that such liability is not required?</p>
                            </div>
                          </div>
                      </div>


                      <div class="col-md-6 col-12 mt-4">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">Register for Name Reservations of Company in Run</h5>
                              <br>
                              <p class="card-text">RUN is an electronic form that permits you to apply for name reservations. It is impossible to change the LLP's name at this stage.</p>
                            </div>
                          </div>
                      </div>

                      <div class="col-md-8 col-12 mt-4 mx-auto">
                        <div class="mt-5"></div>
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">Efile URC-1 forms and Spice Plus, MOA/AOA, DIR-2 forms and Spice Plus</h5>
                              <br>
                              <p class="card-text">Finally, within 30 days after the name reservation of LLP, the application for conversion to LLP shall be filed with the Spice plus Form, Samoa, EOA, and other documents in URC-1. After approval of these forms, ROC issues a certificate of incorporation under the company's new name.</p>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </section>
            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

     {% endblock %}