{% extends 'index.html' %}
{%block title%} BlogHome{% endblock %}

{%block body %}

{% include 'common_pages/banner.html'%}


<section class="py-4 bg-light">
    <div class="container">
        <div class="row py-4">
            {% for i in post %}
            <div class="col-md-3 col-12">
                <img src="images/common_img.png" alt="" class="img-fluid">
                <h2 class="pt-4"><a href="{% url 'dobizblog:blogpost' i.sno %}" class="text-decoration-none">{{i.title}} </a></h2>
                <h4><b>By. {{i.author}} </b></h4>
                <p><b>Date :  {{ i.timestap }}</b></p>
                <p>{{ i.content|slice:100 }}..</p>
            </div>
            {% endfor %}
        </div>
        
    </div>
</section>


{% endblock %}