{% extends 'index.html' %}

{%block title%} 2022 Director KYC [DIR-3-KYC] {% endblock %}

{%block body %}
     <section class="top-bn1 bn-styles" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <p><b>Director KYC Filing  </b></p>
            <p><b>Save 40% - Get It Now </b></p>
            <p><b>The last date is 30 September 2022 </b></p>

            <h2><b>Annual Filing for  <span class="text-white">Director KYC 2022  </span></b></h2>
            <p class="pt-4"> <b>Annual compliance by the Director and designated partners is required for Director KYC filings to ROC. Anyone who was assigned a DIN No. Before 31 March 2022 is required to file KYC documents/Updated Mobile and Email to the ROC. We offer a 40% discount to Covid-19 affected Startups & Small businesses. 
            </b></p>
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
           
            <li> <a class="sidelink" href="#faq">
            <span class="icon-s"> <i class="fa fa-question-circle" aria-hidden="true"></i> </span>  FAQ</a> </li>
            
            </ul>
          </div>

          <div class="content content-2s bg-light">
            <div id="overview">
               <section class="py-5">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 col-12 heading pt-2">
                        <h2 class="fs-1">Filing Director KYC 2022 <span class="text-primary">(DIN-3 KYC), </span>with ROC</h2>
                        <p class="fs-6">Director's KYC Filing, an annual task, applies to any person who was allocated a DIN (Director Identity Number) before 31 March 2022. DIR-3 KYC forms must be filed to the ROC to maintain the correct Address, phone number and email address for directors/designated associates. It is a mandatory file, and if submitted within the <b>deadline of September 2022, </b> there is no government charge. Failure to file KYC within the due date will result in the deactivation of DIN Numbers. This can be done by filing DIR-3 KYC and late filing fees (Rs. 5000 for each defaulting Director or designated partner. </p>
                        <p class="b-style text-style"><b>Fill in the Director KYC Form for the FY 2020-22 Now. </b> Beginning 1 April 2022, DIN KYC filings have been made for 2021-22. A company/LLP must ensure that the DIR-3KYC is completed with the ROC and filed for each person given a DIN number. We offer discounts of up 40% to COVID-19-affected business owners.</p>
                        <h2 class="fs-4">Procedure of First-Time Filing Director KYC Filling 2022 </h2>
                        <p class="fst-italic">If the Director is filing DIN KYC in the first instance, they need to attach a filled copy of MCA Prescribed DIR-3. A mandatory attachment to the form is the copy address proof. The form DIR-3 is signed by the applicant director using a digital signature. After that, an attestation by CS, CS, or CMA who are in full-time practices, the attestation is made. The DIR-3 KYC filing process is as follows. </p>
                      </div>

                    </div>
                  </div>
                </section>

              <section class="py-4 s-img s-img1">
                  <div class="container py-2">
                    <div class="row">
                      <div class="col-md-2 col-12">
                      </div>
                    <div class="col-md-10 col-12">
                      <h2 class="fs-4">MCA: Check out DIN Status </h2>
             
                      <p>First, verify the status for DIN at MCA. We can provide you with the DIN Status with no more charges by calling our customer care number or via chat on WhatsApp. The status should read Active. If it is not, then there may be a problem with din. We will help you to resolve this issue. </p>
                      <h2 class="fs-4">Photocopy of Address </h2>
                      <p>Attach the attached form DIR-3 KYC with a self-attested scanned copy of the address proof. An acceptable document to prove the Address is a telephone bill / mobile bill/electricity bill/water bill or bank statement /bank passbook containing the latest transactions. The address proof should not exceed two months. 
                      Prepare the DIR-3 Formula and Verify Mobile/email </p>
                       
                      <p>KYC filings for the first time are done via the submission of an form. Every person should have unique mobile and email numbers. OTP Verification for web-based KYC Filing is the same process. </p>
                      <h2 class="fs-4">Filing DIR-3 KYC form at ROC </h2>
                       
                      <p>The Director must sign the form electronically, and the certificate must be certified by a practicing CS, CS, or CMA. A NIL fee is required if the DIR-3(KYC) form is not filed by the due date. An additional fee Rs. Each person who has a DIN is required to pay Rs. 5000 </p>
                    </div>
                    </div>
                  </div>
                </section>

                  <section class="py-5 bg-light">
                    <div class="container">
                      <div class="row">

                        <div class="col-md-12 col-12 heading">
                          <h2>Web-based Online DIN KYC</h2>
               
                          <p>If the DIN KYC has been filed in the past year by a person, and his details (such as a house address, mobile phone number, and email) have not changed since then, the Director KYC can be filed in a web-based portal with OTP-based authentication. The Ministry of Corporate Affairs has made it possible to file the Director KYC using a web-based service by inserting a clause in Rule 12A of 2018, Companies (Appointment of Qualification of Directors) Regulations, 2018. The web-based filing doesn't require you to upload or submit any document. But, the Director must ensure the correctness of the Director's details and no changes to the details. </p>
                           
                          <p class="fst-italic"><b>Note: </b> Let's say there was a change to the Director's home address. This is when the Director should file a DIR-6 along with the required documents. The ROC will update the records for the DIN Holder.</p> 
                           
                          <p class="fst-italic">The web-based facility for the director KYC's first-time filer is impossible. After being certified as a practitioner, these individuals must file the DIN KYC and upload the DIR-3 KYC form. </p>
                        </div>

                      </div>
                    </div>
                  </section>

                   <section class="py-4 ab-banner text-white">
                      <div class="container">
                        <div class="row">
                        <div class="col-md-12 col-12 heading">
                          <h2 class="py-4">List of Documents Needed for Director KYC Filing</h2>
                        </div>
                        </div>


                        <div class="row table-responsive-sm">

                            <div class="col-md-6 col-12 p-2">
                            <table class="table">
                              <tbody>
                                <tr class="table-dark">
                                  <td>Photograph</td>
                                </tr>     
                                <tr class="table-primary">
                                  <td>Front-facing color passport size photograph of the Director, Partner or LLP in JPEG Format.</td>
                                </tr>

                                <tr class="table-dark">
                                  <td>Pan Card</td>
                                </tr>
                                <tr class="table-warning">
                                  <td>Indian Citizens need to obtain a photocopy of their pan card. Verify that the details are current</td>
                                </tr>
                                
                                <tr class="table-dark">
                                  <td>Passport</td>
                                </tr>

                                <tr class="table-warning">
                                  <td>Foreign Citizens need to obtain a passport.</td>
                                </tr>

                              </tbody>
                            </table>
                          </div>

                          <div class="col-md-6 col-12 p-2">
                            <table class="table">
                              <tbody>
                                <tr class="table-primary">
                                  <td>Passports, Voter Cards, Driving Licenses, Electricity Bills, Telephone Bills or Aadhaar (Not More Than 2 Months)</td>
                                </tr>     
                                <tr class="table-dark">
                                  <td>Mobile Number for OTP</td>
                                </tr>
                                
                                <tr class="table-info">
                                  <td>OTP verification will require a mobile number. Foreign citizens are required to give their overseas mobile Number.</td>
                                </tr>
                                <tr class="table-dark">
                                  <td>Email ID - OTP</td>
                                </tr>
                                
                                <tr class="table-light">
                                  <td>Give your email id to the government so they can verify you and send communication. <br /> <br /> </td>
                                </tr>

                              </tbody>
                            </table>
                          </div>

                        </div>
                      </div>
                    </section>

            </div>


            <div id="faq">
             <section class="bg-light py-4">
                  <div class="container">
                    <div class="row">

                      <div class="col-md-11 col-12 mx-auto heading2">
                        <h2 class="text-center">Frequently Asked  <span class="text-primary">Questions</span></h2>
                        <div class="accordion pt-2" id="accordionExample">
                          <div class="accordion-item">
                            <h4 class="accordion-header" id="headingOne">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What is Directors KYC? 
                              </button>
                            </h4>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                              <div class="accordion-body list-style">
                                Director KYC, an annual process to update directors' contact information with the Registrar for companies in the DIR-3 KYC form, is called. There is no fee to file DIN KYC. But, if the DIN KYC has not been filed within the deadline, it will be canceled, and a fee of Rs. 5000/- will be required to activate the Director Identification Num (DIN). <br />
             
                                All persons, directors or designated partners of an LLP who have been allocated DIN before March 31 of a fiscal year must submit form DIR-3KYC to the Registrar of Companies.

                              </div>
                            </div>
                          </div>
                          <div class="accordion-item">
                            <h4 class="accordion-header" id="headingTwo">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                When does DIR-3 KYC have to be completed? 
                              </button>
                            </h4>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                Director KYC filing in DIR-3 (KYC) started on April 1, 2022. The last date for filing is September 30, 2022. A more fee or fine would apply for each partner who fails to file within the deadline.
                              </div>
                            </div>
                          </div>
                          <div class="accordion-item">
                            <h4 class="accordion-header" id="headingThree">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              What date is the last director KYC?
                              </button>
                            </h4>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                               Director KYC filing can begin on April 1. The late filing fee for director KYC is Rs5000/-. Thus, for all practical purposes, the last date is September 30, 2022.
                              </div>
                            </div>
                          </div>

                          <div class="accordion-item">
                            <h4 class="accordion-header" id="headingFour">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                               Did the director extend his KYC date?
                              </button>
                            </h4>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                              <div class="accordion-body list-style">
                               The Director KYC filing has begun. Effective from April 20, 2022, the FY 2021-22 fiscal years. Last date to comply: is September 30, 2018. There is no extension of the DIN KYC. 
                              </div>
                            </div>
                          </div>


                        </div>
                      </div>
                    </div>
                  </div>
                </section>
            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizIndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}