{% extends 'index.html' %}

{%block title%} Director Identification Number (DIN) {% endblock %}

{%block body %}
{% include 'common_pages/banner.html' %}

<section class="py-5 bg-light1">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-9 col-12affix-top bg-light" data-spy="affix" data-offset-top="597">
        <!-- Nav pills -->
        <ul class="nav nav-pills" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="pill" href="#meaning">Meaning</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#requirement">Minimum requirement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#benefit">Benefit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#required">Document required</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#process">Incorporation Process</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#compliance">Compliance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#closure">Closure </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#faq">FAQ</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div id="meaning" class="container tab-pane content active"><br>
            <p>Director KYC Filing</p>
            <p>Save 40% - Get It Now!</p>
            <h2>Annual Filing for Director KYC 2022</h2>
            <p><b>Annual compliance by the Director and designated partners is required for Director KYC filings to ROC.
                Anyone who was assigned a DIN No. Before 31 March 2022 is required to file KYC documents/Updated Mobile
                and Email to the ROC. We offer 40% off for Covid-19-affected Startups or Small Businesses.
              </b></p>

            <h2>Filing Director KYC 2022 (DIN-3 KYC), with ROC</h2>
            <p>Director's KYC Filing, an annual task, applies to any person who was allocated a DIN (Director Identity
              Number) before 31 March 2022. DIR-3 KYC forms must be filed to the ROC to maintain the records of the ROC
              with the correct Address, phone number and email address of directors/designated associates. It is
              mandatory to file the form within the deadline of October 2022. If filed before that date, there is no
              charge from the government. Failure to file KYC within the due date will result in the deactivation of DIN
              numbers. This can be done by filing DIR-3 KYC and late filing fees at Rs. 5000 for each defaulting
              Director or designated partner.</p>
            <h2>Fill in the Director KYC Form for the FY 2021-22 Now.</h2>
            <p class="b-style text-style">Beginning 1 April 20, 22, DIN KYC filings have been made for the financial
              year 2021-22. A company/LLP must ensure that the DIR-3KYC is completed with the ROC and filed for each
              person given a DIN number. We offer discounts of up 40% to COVID-19-affected business owners.</p>
            <h2>The procedure of First-Time Filing Director KYC Filling 2022</h2>
            <p class="fst-italic">If the Director is filing DIN KYC in the first instance, they need to attach a filled
              copy of MCA Prescribed DIR-3. A mandatory attachment to the form is the copy address proof. The form DIR-3
              is signed with a digital signature by the applicant director. This is followed by attesting a CA/CS or CMA
              in full-time practice. The DIR-3 KYC filing process is as follows. </p>
          </div>

          <div id="requirement" class="container tab-pane fade"><br>
            <div class="row">
              <div class="col-md-12 col-12">
                <h2>MCA: Check out DIN Status</h2>
                <p>First, verify the status for DIN at MCA. We can provide you with the DIN Status with no more charges
                  by calling our customer support or chatting on WhatsApp. If it isn't, then there may be a problem with
                  din. Please get in touch with us to resolve this.</p>

                <h2>Photocopy of Address</h2>
                <p class="fst-italic">Attached is the form DIRC-3 KYC. An acceptable document to prove the Address is a
                  telephone bill / mobile bill/electricity bill/water bill or bank statement /bank passbook containing
                  the latest transactions. The address proof should not exceed two months.</p>
                <h2>Verify mobile/email with DIR-3 Formula</h2>
                <p>KYC filings for the first time are done via submission of an e-form. Every person should have unique
                  mobile and email numbers. OTP Verification for web-based KYC Filing is the same process.</p>
              </div>

            </div>



          </div>

          <div id="benefit" class="container tab-pane fade"><br>
            <h2>Benefits</h2>

          </div>

          <div id="required" class="container tab-pane fade"><br>
            <div class="row">

              <div class="col-md-12 col-12 heading">
                <h2>List with Documents for Director KYC Filing</h2>
                <div class="table-responsive-sm">
                  <table class="table border table-info">
                    <thead>
                      <tr>
                        <th><b>Photograph</b> Front-facing color passport-size photo of the Director of Partner at LLP.
                          JPEG Format. </th>
                        <th>Passports, Voter Cards, Driving Licenses, Voter Cards, Driving Licenses, Electricity Bills,
                          Telephone Bills or Aadhaar <b>(Not More Than 2 Months) </b></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><b>Pan Card</b><br>
                          Indian Citizens need to obtain a photocopy of their pan card. Verify that the details are
                          current</td>
                        <td> <b>Mobile Number for OTP</b><br>
                          OTP verification will require a mobile number. For OTP verification, foreign nationals must
                          provide their overseas mobile No.</td>
                      </tr>
                      <tr>
                        <td><b>Passport</b><br>
                          Foreign Citizens need to obtain a passport. </td>
                        <td><b>Email ID - OTP</b><br>
                          Give your email id to the government so they can send verification messages and OTP.</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>

            </div>



          </div>

          <div id="process" class="container tab-pane fade"><br>

            <h2>Proccess</h2>
          </div>

          <div id="compliance" class="container tab-pane fade"><br>
            <h2>Compliance</h2>
          </div>

          <div id="closure" class="container tab-pane fade"><br>
            <h2> closure </h2>
          </div>

          <div id="faq" class="container tab-pane fade"><br>
            <h2 class="fs-4">FAQ</h2>

          </div>

        </div>
      </div>

      {% include 'common_pages/pricing_sum_below.html' %}


    </div>
  </div>
</section>

{% include 'common_pages/fssai.html' %}

<section class="checklist py-5">
  <div class="container">
    <div class="row py-4">
      <h2>Filing the DIR-3 KYC form to ROC</h2>
      <p class="b-style text-style">The Director must sign the form electronically, and the certificate must be
        certified by a practicing CS, CS, or CMA. A NIL fee is required if the DIR-3 form (KYC) is not filed by the
        deadline. An extra fee of Rs. is required if the due dates have passed. For each person who has a DIN, an extra
        Rs. 5000 will be charged. </p>
      <h2>Web-based Online DIN KYC</h2>
      <p class="fst-italic">If the DIN KYC has been filed in the past year by a person, and his details (such as a
        mobile number, residential address and email) have not changed in any way, the Director KYC can be filed in a
        web-based portal with OTP-based authentication. The Ministry of Corporate Affairs has made it possible to file
        the Director KYC using a web-based service by inserting a clause in Rule 12A of 2018, Companies (Appointment of
        Qualification of Directors) Regulations, 2018. The web-based filing doesn't require you to upload or submit any
        document. The Director must ensure that the Director's information is accurate and not changed.</p>
      <p><b>Note: </b> Let's say there was a change to the Director's home address. This is when the Director should
        file a DIR-6 with all relevant documents. The ROC will update the records for the DIN Holder. </p>
      <p>The director KYC's web-based facility is unavailable for the first-time filer. After certification by a
        qualified professional, these individuals must file the DIN KYC and upload the DIR-3 KYC form.</p>

    </div>

    <div class="row">

      <div class="col-md-12 col-12">
        <h2>Frequently Asked Questions About Company Registration</h2>
        <div class="accordion pt-2" id="accordionExample">
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                What is Directors KYC?
              </button>
            </h4>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body list-style">
                Director KYC, an annual process to update directors' contact information with the Registrar in the DIR-3
                KYC Formula, is required. There is no fee to file DIN KYC. But, if the DIN KYC has not been filed within
                the deadline, it will be canceled, and an extra fee of Rs. 5000/- will be required to activate the
                Director Identification Num (DIN). <br>

                All persons, directors or designated partners of an LLP who have been allocated DIN before March 31 of a
                fiscal year must submit a form DIR-3KYC to the Registrar of Companies.

              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                What's the due date for DIR-3 KYC?
              </button>
            </h4>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Director KYC in DIR-3 (KYC) filed on April 1, 2022. The last date for filing is September 30, 2022. A
                more fee or fine would apply for each partner who fails to file within the deadline.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                How do I complete director KYC
              </button>
            </h4>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                For those whose directors' identification was allotted during FY 2021-22, the Director KYC must be
                submitted by uploading an eformDIR-3(KYC) following certification by a CMA (CA, CS) or CMA. The web KYC
                service will be available at MCA Portal for subsequent filings.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h4 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                How many years must Dir 3 KYC be filed?
              </button>
            </h4>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
              data-bs-parent="#accordionExample">
              <div class="accordion-body list-style">
                Yes, Director KYC filings to the ROC are an annually required activity.
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
</section>

{% endblock %}