{% extends 'index.html' %}

{%block title%} File INC 20-A (Business Commencement) {% endblock %}

{%block body %}

{% include 'common_pages/banner.html' %}

<section class="py-5 bg-light1">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-9 col-12affix-top bg-light" data-spy="affix" data-offset-top="597">
        <!-- Nav pills -->
        <ul class="nav nav-pills" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="pill" href="#meaning">Meaning</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#requirement">Minimum requirement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#benefit">Benefit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#required">Document required</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#process">Incorporation Process</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#compliance">Compliance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#closure">Closure </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#faq">FAQ</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div id="meaning" class="container tab-pane content active"><br>
            <h2>Declaration for Business Commencement</h2>
            <p><b>Dobizindia business solution private limited assists startups in completing all legal compliances
                before, during, or after incorporation. INC-20A is the Declaration of Business Commencement. It is also
                one of many compliance requirements for companies. Our administrations are accessible at genuinely
                sensible costs.
              </b></p>

            <h2>Filing Form INC-20A</h2>
            <p><b>Companies that have started business must file the Declaration of Commencement of business. This
                applies to both private limited companies and single-person businesses. The Declaration must be filed in
                Form INC-20A at the RoC following incorporation. Dobizindia Business Solution Private Limited provides
                help for companies filing their Declaration for Business Commencement. This is done straightforwardly.
                Once you've signed up, we will stay with you throughout the process. </b></p>
            <h2>For INC-20A, you will need to fill out the Legal Provisions.</h2>
            <p class="b-style text-style">INC-20A is a mandatory post-incorporation ROC file. It's called the
              Commencement of Business. Private Limited Person Companies must make the Declaration immediately after
              they have started their business activities. Once they have started their business activities, this allows
              the company to file a declaration. The Declaration is required for a Private Limited Company, Person
              Company, or any other type of business.</p>
            <h2>Register of Companies.</h2>
            <p class="fs-6 fst-italic">ROC.INC-20A is not required until November 2018. But, the ROC requires that you
              notify the MCA Decree No. 2/11/2018 made this Declaration mandatory for Private Limited companies OPCs be
              used as a declaration of the Commencement or continuation of their business operations. The Declaration
              must be completed and signed by a director authorized by the company. It must be filed within 180 days of
              issuing the Certificate of Incorporation.</p>
          </div>

          <div id="requirement" class="container tab-pane fade"><br>
            <div class="row">
              <div class="col-md-12 col-12">
                <h2>Prerequisites for Filing Commencement of Business Declare or INC-20A</h2>
                <p class="b-style text-style">Two main compliances must first be achieved before filing the Commencement
                  form Declaration Form (INC-20A). First, the company must ensure that it has filed details about its
                  registered office within 30 calendar days after its incorporation. Secondly, the company has deposited
                  the entirety of its subscribed capital into its bank account within 60 days of its incorporation, as
                  specified in the Memorandum of Association. After being aware of this compliance, let's look at all
                  the requirements for the Declaration of business commencement.</p>

                <h2>Prerequisites to file Commencement of Business Declaration</h2>
                <div class="about-text-style">
                  <ul>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> The registered business address was
                      intimidated by ROC.</li>

                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> A bank account was opened in the
                      organization's name.</li>

                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> The shareholders have deceased the entire
                      subscribed capital.</li>

                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> The company hasn't yet begun business
                      activities. </li>

                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Except for transactions related to the
                      capital, the company's bank statements do not contain any transactions.</li>
                  </ul>
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-md-6 col-12 heading pt-2">
                <div class="table-responsive-sm">
                  <table class="table border table-info">
                    <thead>
                      <tr>
                        <th>Subscribed capital </th>
                        <th>Fees applicable</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>As high as 15,000</td>
                        <td>200</td>
                      </tr>
                      <tr>
                        <td>1 lakh - 5 lakhs</td>
                        <td>300</td>
                      </tr>
                      <tr>
                        <td>5 lakhs to 250k</td>
                        <td>400</td>
                      </tr>

                      <tr>
                        <td>25 lakhs up to 1 crore</td>
                        <td>500</td>
                      </tr>

                      <tr>
                        <td>More than 1,000,000 </td>
                        <td>600</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
                <p><b>INC-20A is still possible to file after the deadline with the late filing fees. Below is the late
                    fee.</b></p>
              </div>

              <div class="col-md-6 col-12">
                <p><b>Maximum delay between the due date and the actual event Late filing fee</b></p>
                <div class="table-responsive-sm">
                  <table class="table border table-info">
                    <thead>
                      <tr>
                        <th>It can take up to 30 business days</th>
                        <th>2 times the regular fees</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>30 to 60 days</td>
                        <td>The normal fees are three times higher</td>
                      </tr>
                      <tr>
                        <td>60 to 90 days</td>
                        <td>Four times the normal fees</td>
                      </tr>
                      <tr>
                        <td>90 to 180 days</td>
                        <td>5 times the regular fees</td>
                      </tr>

                      <tr>
                        <td>More than 180 days</td>
                        <td>6 times the normal fee</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>

            </div>

          </div>

          <div id="benefit" class="container tab-pane fade"><br>
            <h2>Benefits</h2>

          </div>

          <div id="required" class="container tab-pane fade"><br>
            <div class="row">

              <div class="col-md-12 col-12 heading">
                <h2>Documents for the filing of Declaration for Business Commencement</h2>
                <p>The Declaration of commencement of business activity is provided in form INC-20A. It can be filed
                  online at the Ministry of Corporate Affairs. The digital format allows you to upload any supporting
                  documents required for the form. Below is a list of all documents required with INC-20A or the
                  Declaration of business commencement?</p>
                <div class="table-responsive-sm">
                  <table class="table border table-info">
                    <thead>
                      <tr>
                        <th>No.</th>
                        <th>Documents needed to fill out INC-20A</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>1. </td>
                        <td>Subscribers should show proof that shares were paid.</td>
                      </tr>
                      <tr>
                        <td>2. </td>
                        <td>Certificate of Incorporation</td>
                      </tr>
                      <tr>
                        <td>3. </td>
                        <td>DSC of applicant Director</td>
                      </tr>

                      <tr>
                        <td>4. </td>
                        <td>Director's DIN</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>

          <div id="process" class="container tab-pane fade"><br>

            <h2>Proccess</h2>
          </div>

          <div id="compliance" class="container tab-pane fade"><br>
            <h2>Compliance</h2>
          </div>

          <div id="closure" class="container tab-pane fade"><br>
            <h2> closure </h2>
          </div>

          <div id="faq" class="container tab-pane fade"><br>
            <h2 class="fs-4">FAQ</h2>

          </div>

        </div>
      </div>

      {% include 'common_pages/pricing_sum_below.html' %}

    </div>
  </div>
</section>

{% include 'common_pages/fssai.html' %}

<section class="checklist py-5">
  <div class="container">
    <div class="row py-4">
      <h2>How do you file a declaration to start a business?</h2>
      <p>On the official website of the Ministry of Corporate Affairs, you can find the INC-20A declaration of business
        beginning form. The form can be filled out online and sent to the RoC with the required documents and filing
        fees. This article outlines the detailed steps required for filing INC-20A.</p>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary"> STEP 1- Documentation </h5>
          <p>Per the Companies Act 2013, form INC-20A must be filled out along with a list of supporting documents. To
            avoid delays or hassle, these documents must be organized before filing the Declaration. It also reduces the
            possibility of rejection due to inadequate or incorrect documentation.</p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary"> STEP 2 - Filling out the INC-20A form</h5>
          <p>After all the documents are arranged, the applicant directors can begin filing INC-20A. The Ministry of
            Corporate Affairs has the form available online. The applicant can complete the entire form online and sign
            it using his Digital Signature Certificate. More certification must be provided by a CMA, CS, and CA.</p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary"> STEP 3 - Attach the required documents</h5>
          <p>After signing the online Declaration, the applicant must upload the required documents in digital format.
            We have provided a comprehensive and detailed list of all relevant documents in the following section.</p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary"> STEP 4 – Submit form INC-20A</h5>
          <p>After filling in the forms and attaching all required documents, upload them to the MCA website. The form
            can then be submitted after payment.</p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary"> STEP 5 – Issuance and acknowledgment receipt</h5>
          <p>Once form INC-20A has been submitted via the MCA portal to the ROC, an acknowledgment receipt should be
            generated as a conclusive record of the filing. The applicant director of the company should keep a
            duplicate of INC-20A, any attached documents, and an acknowledgment receipt.</p>
        </div>
      </div>
      <h2>RoC approves form INC-20A</h2>
      <p>The INC-20A certification form must be filed by independently practicing professionals such as Cost Accountants
        or Chartered Accountants. Accordingly, such professionals are responsible for verifying that the forms and
        documents are authentic and correct. The INC-20A form must be filed with the required fee. The ROC will then
        automatically approve it according to the Straight to Process procedure.</p>
      <h2>What will happen if INC-20A is not filed?</h2>
      <p>The declaration that commences business (or INC-20A) is a mandatory legal rule. Because of this, there are
        three potential penalties for filing INC-20A incorrectly.</p>
      <p>A penalty of Rs 500.000 (Fifty Thousand) is payable to the company that defaults in compliance with the
        regulations.</p>
      <p>An Rs 1000 penalty would be paid on each day of default by every officer of the firm, which generally includes
        its secretary, CFO, and Manager. For non-compliance, the maximum penalty is Rs 1 00,000.</p>
      <p>The INC-20A may be filed 180 days after the date of incorporation. Failure to file this declaration will result
        in the company being struck off under section148.</p>

    </div>

    <div class="row">

      <div class="col-md-12 col-12">
        <h2>Frequently Asked Questions About Company Registration</h2>
        <div class="accordion pt-2" id="accordionExample">
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Who are you submitting form INC-20A?
              </button>
            </h4>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body list-style">
                For the Ministry of Corporate Affairs, Form 20 A must be filed with the Registrar of Companies.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Must the company provide the CIN to file INC-20A?
              </button>
            </h4>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Yes. The INC-20A form will need you to fill out your company's CIN (Corporate Identity Number).
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                When does RBI issue Certificates of Incorporation
              </button>
            </h4>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                The RBI issues Certificate of incorporation to only non-banking financial businesses. <br>

                Before filing INC-20A, the subscribers must pay all their subscribed capital. You can attach the INC-20A
                Form with a bank statement for proof of payment.

              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h4 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Should shareholders of a company face penalties for failing to file INC-20A reports?
              </button>
            </h4>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
              data-bs-parent="#accordionExample">
              <div class="accordion-body list-style">
                The shareholders of a company, who are not the authority in charge of INC-20A filings, are not
                penalized. Non-filing of INC-20A or late filing is only for the director.
              </div>
            </div>
          </div>


          <div class="accordion-item">
            <h4 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                What is the resolution for the start of business in a company?
              </button>
            </h4>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
              data-bs-parent="#accordionExample">
              <div class="accordion-body list-style">
                The Company's Board of Directors will pass the resolution to begin a business, as required by section 10
                of the Companies Act. The resolution must also be filed with the form to declare the commencement.
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
</section>
{% endblock %}