{% extends 'index.html' %}

{%block title%} Post Incorporation Compliance {% endblock %}

{%block body %}
     <section class="top-bn1 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <p>Authorized Capital Increasing</p>
            <p>Easy Process and Transparent Fee, All India Incorporation Service</p>

            <h2><b>Authorized  <span class="text-white">Capital </span></b></h2>
            <p class="pt-4"> <b>The company's maximum authorized Capital is the amount it can issue shares. The process to increase the authorized Capital can be done online. It involves approval by shareholders in EGM and payment of a fee for the ROC/Stamp duty.  
            </b></p>
            <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            
            </ul>
          </div>

          <div class="content content-2s bg-light">
            <div id="overview">
              <section class="py-5">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-12 heading pt-2">
                      <h2 class="fs-2">India Increases <span class="text-primary">Authorized Capital </span></h2>
                      <p class="fs-6">It is vital to ensure that the company's Authorized Capital meets the requirements for increasing its paid-up Capital. Dobizindia business solution private limited makes the process of increasing Authorized Capital easy, quick, and completely digital. We offer our services for increasing Authorized Capital at Rs. 5999/- for small and startup companies with Capital up to 50 Lakh. 5999/-. The actual government fee and taxes.</p>
                      <h2 class="fs-4">Some Important Points about the Increase of Authorized Capital </h2>
                      <div class="about-text-style">
                          <ul>
                             <li> <i class="fa fa-check-circle" aria-hidden="true"></i> This will need amendments to MOA. </li>
                             <li> <i class="fa fa-check-circle" aria-hidden="true"></i> AOA may also be required to be amended   </li>                 
                            <p>Check the ROC Fee on MCA Portal</p>
                             <li> <i class="fa fa-check-circle" aria-hidden="true"></i> EGM and Board Meetings Required</li>
                             <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Procedure to Increase the Company's Authorized Capital </li>
                          </ul>
                        </div>
                        <h2 class="fs-4">For an Increase in Capital, get approval from the Board of Directors. </h2>
                      <p class="b-style text-style">Directors must meet at a legally convened board conference to discuss the proposed limit of the authorized Capital or the alteration of the capital clause of MOA. Directors must receive notices that include the agenda for the meeting. We suggest including the proposed resolution to make sure they are prepared. We strongly recommend adhering to the ICSI SS-1 board meeting guidelines.</p>
                      
                    </div>

                  </div>
                </div>
              </section>

              <section class="py-4 s-img s-img1">
                    <div class="container py-2">
                      <div class="row">
                        <div class="col-md-2 col-12">
                        </div>
                      <div class="col-md-10 col-12">
                        <h2 class="fs-4">Convene an Extraordinary General Meeting (EGM) of Shareholders</h2>
                        <p>Next is to ask for approval from shareholders. A valid extraordinary general meeting is the only way to make shareholders' decisions. The directors must send a notice to shareholders 21 days before the EGM date to call for an EGM. The schedule and draft of any special resolution must be included in the notice of EGM.</p>
               
                          <h2 class="fs-4">Filing of Special Resolve to Roc in form -MGT-14</h2>
                           
                          <p>A special resolution is any decision made by more than 75% of voters. Once adopted in the EGM, the special resolution must be filed before the ROC to get their approval. Within 30 days after the resolution's passing, the certified copy is filed on Form-MGT-14. Attach to the form the amended MOA and the copied minutes of the EGM meeting where the special resolution was adopted.</p> 
                          <h2 class="fs-4">Filing of an Application for an Increase in Authorized Capital in Sh-7</h2>
                           
                          <p>Once the shareholders approve passing the particular decision in the EGM, the authorized Director must file a Form SH-7 with the concerned ROC. The attachments include a copy of the modified MOA &amp; OOA, Special resolution etc. The SH-7 approval will allow the company to increase its authorized Capital.</p>
                      </div>
                      </div>
                    </div>
                  </section>

            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizIndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}