{% extends 'index.html' %}

{%block title%} Post Incorporation Compliance {% endblock %}

{%block body %}
{% include 'common_pages/banner.html' %}

<section class="py-5 bg-light1">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-9 col-12affix-top bg-light" data-spy="affix" data-offset-top="597">
        <!-- Nav pills -->
        <ul class="nav nav-pills" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="pill" href="#meaning">Meaning</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#requirement">Minimum requirement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#benefit">Benefit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#required">Document required</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#process">Incorporation Process</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#compliance">Compliance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#closure">Closure </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#faq">FAQ</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div id="meaning" class="container tab-pane content active"><br>
            <p>{{meaning.heading_text}}</p>
            <p>{{meaning.heading_text2}}</p>
            <h2>{{meaning.heading_text3}}</h2>
            <p><b>{{meaning.text}}</b></p>

            <h2>{{meaning.heading_text4}}</h2>
            <p>{{meaning.text2}}</p>
            <h2>{{meaning.heading_text5}}</h2>
            <div class="about-text-style">
              <ul>
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{meaning.list1}} </li>
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i>{{meaning.list2}} </li>
                <p>{{meaning.list5}}</p>
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{meaning.list3}}</li>
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{meaning.list4}}</li>
              </ul>
            </div>
            <h2>{{meaning.heading_text6}}</h2>
            <p class="b-style text-style">{{meaning.text3}}</p>

          </div>

          <div id="requirement" class="container tab-pane fade"><br>
            <div class="row">
              <div class="col-md-12 col-12">
                <h2>{{minimum.heading_text}}</h2>
                <p class="b-style text-style">{{minimum.text}}</p>

                <h2>{{minimum.heading_text2}}</h2>
                <p>{{minimum.text2}}</p>
                <h2>{{minimum.heading_text3}}</h2>
                <p>{{minimum.text3}}</p>
              </div>

            </div>



          </div>

          <div id="benefit" class="container tab-pane fade"><br>
            <h2>Benefits</h2>

          </div>

          <div id="required" class="container tab-pane fade"><br>
            <div class="row">

              <div class="col-md-12 col-12 heading">
                <h2>Documents.</h2>
              </div>

            </div>


          </div>

          <div id="process" class="container tab-pane fade"><br>

            <h2>Proccess</h2>
          </div>

          <div id="compliance" class="container tab-pane fade"><br>
            <h2>Compliance</h2>
          </div>

          <div id="closure" class="container tab-pane fade"><br>
            <h2> closure </h2>
          </div>

          <div id="faq" class="container tab-pane fade"><br>
            <h2 class="fs-4">FAQ</h2>

          </div>

        </div>
      </div>

      {% include 'common_pages/pricing_sum_below.html' %}

    </div>
  </div>
</section>

{% include 'common_pages/fssai.html' %}
{% endblock %}