{% extends 'index.html' %}

{%block title%} Post Incorporation Compliance {% endblock %}

{%block body %}
{% include 'common_pages/banner.html' %}

<section class="py-5 bg-light1">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-9 col-12affix-top bg-light" data-spy="affix" data-offset-top="597">
      <!-- Nav pills -->
      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="pill" href="#meaning">Meaning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#requirement">Minimum requirement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#benefit">Benefit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#required">Document required</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#process">Incorporation Process</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#compliance">Compliance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#closure">Closure </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#faq">FAQ</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <div id="meaning" class="container tab-pane content active"><br>
          <p>Authorized Capital Increasing</p>
          <p>Easy Process and Transparent Fee, All India Incorporation Service</p>
          <h2>Authorized Capital</h2>
        <p><b>The company's maximum authorized Capital is the amount it can issue shares. The process to increase the authorized Capital can be done online. It involves approval by shareholders in EGM and payment of a fee for the ROC/Stamp duty.  
        </b></p>

        <h2>India Increases Authorized Capital</h2>
        <p>It is vital to ensure that the company's Authorized Capital meets the requirements for increasing its paid-up Capital. Dobizindia business solution private limited makes the process of increasing Authorized Capital easy, quick, and completely digital. We offer our services for increasing Authorized Capital at Rs. 5999/- for small and startup companies with Capital up to 50 Lakh. 5999/-. The actual government fee and taxes.</p>
        <h2>Some Important Points about the Increase of Authorized Capital</h2>
        <div class="about-text-style">
                      <ul>
                         <li> <i class="fa fa-check-circle" aria-hidden="true"></i> This will need amendments to MOA. </li>
                         <li> <i class="fa fa-check-circle" aria-hidden="true"></i> AOA may also be required to be amended   </li>                 
                        <p>Check the ROC Fee on MCA Portal</p>
                         <li> <i class="fa fa-check-circle" aria-hidden="true"></i> EGM and Board Meetings Required</li>
                         <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Procedure to Increase the Company's Authorized Capital </li>
                      </ul>
                    </div>
                    <h2>For an Increase in Capital, get approval from the Board of Directors.</h2>
         <p class="b-style text-style">Directors must meet at a legally convened board conference to discuss the proposed limit of the authorized Capital or the alteration of the capital clause of MOA. Directors must receive notices that include the agenda for the meeting. We suggest including the proposed resolution to make sure they are prepared. We strongly recommend adhering to the ICSI SS-1 board meeting guidelines.</p>
       
        </div>

        <div id="requirement" class="container tab-pane fade"><br>
          <div class="row">
            <div class="col-md-12 col-12">
             <h2>Convene an Extraordinary General Meeting (EGM) of Shareholders</h2>
              <p class="b-style text-style">Next is to ask for approval from shareholders. A valid extraordinary general meeting is the only way to make shareholders' decisions. The directors must send a notice to shareholders 21 days before the EGM date to call for an EGM. The schedule and draft of any special resolution must be included in the notice of EGM.</p>
              
                 <h2>Filing of Special Resolve to Roc in form -MGT-14</h2>
                 <p>A special resolution is any decision made by more than 75% of voters. Once adopted in the EGM, the special resolution must be filed before the ROC to get their approval. Within 30 days after the resolution's passing, the certified copy is filed on Form-MGT-14. Attach to the form the amended MOA and the copied minutes of the EGM meeting where the special resolution was adopted.</p>
                 <h2>Filing of an Application for an Increase in Authorized Capital in Sh-7</h2>
                 <p>Once the shareholders approve passing the particular decision in the EGM, the authorized Director must file a Form SH-7 with the concerned ROC. The attachments include a copy of the modified MOA & OOA, Special resolution etc. The SH-7 approval will allow the company to increase its authorized Capital.</p>
            </div>

            </div>

            

        </div>

        <div id="benefit" class="container tab-pane fade"><br>
          <h2>Benefits</h2>

        </div>

        <div id="required" class="container tab-pane fade"><br>
          <div class="row">

              <div class="col-md-12 col-12 heading">
                <h2>Documents.</h2>
              </div>

            </div>

              
        </div>

        <div id="process" class="container tab-pane fade"><br>
          
            <h2>Proccess</h2>
        </div>

        <div id="compliance" class="container tab-pane fade"><br>
          <h2>Compliance</h2>
        </div>

        <div id="closure" class="container tab-pane fade"><br>
          <h2> closure </h2>
        </div>

        <div id="faq" class="container tab-pane fade"><br>
          <h2 class="fs-4">FAQ</h2>
          
        </div>

      </div>
    </div>

    {% include 'common_pages/pricing_sum_below.html' %}

  </div>
</div>
</section>

{% include 'common_pages/fssai.html' %}
{% endblock %}