{% extends 'index.html' %}

{%block title%} Roc {% endblock %}

{%block body %}
     <section class="top-bn2 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <h2><b>Compliance  <span class="text-white">with the Company  </span></b></h2>
            <p class="pt-4"> <b>Company Roc Filing Companies and LLPs are governed by the Companies Act, 2013, the LLP Act, 2009, and the formulated rules. The statute it governs imposes strict requirements for compliance. This applies even if the LLP/company is in the process of starting its operations or is in an inactive status. This is a mandatory requirement. Otherwise, sanctions could be imposed on the company and its principal employees 
            </b></p>
            <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            
            </ul>
          </div>

          <div class="content content-2s bg-light">
            <div id="overview">
              <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-12 heading pt-2">
                      <h2 class="fs-5 text-primary">Mandatory Compliance </h2>
                      <h2 class="fs-2">Company changes </h2>
                      <p class="fs-6">Any business changes, including the name and address, must be done according to its constitution. Before making any changes to your business, it is recommended that you schedule an appointment.</p>
                      <p class="b-style text-style">Along with the regular maintenance of the official records and registers, every business change, such as name changes and address changes, must be documented. This can be done in compliance with specific rules. Every business and LLP must submit a report each year in the end. The report will detail significant business changes, and a second report will include audited financial statements. The company's employees have the primary responsibility to comply. </p>
                     <h2 class="fs-4"> Audit of Statutory Authority</h2>
                      <p>It is a payment made by an auditor to the business or LLP to express their opinions through audit statements on the accuracy and efficiency of the business's accounting system. Each company must conduct an audit. For LLPs, the maximum amount of capital is 25 lac. </p>
                    </div>

                  </div>
                </div>
              </section>

              <section class="py-4 s-img s-img1">
                  <div class="container py-2">
                    <div class="row">
                      <div class="col-md-2 col-12">
                      </div>
                    <div class="col-md-10 col-12">
                      <h2 class="fs-4">Compliance </h2>
                        <p class="fst-italic">A legal person must have their financial statements checked by an auditor before the organization can adopt them at its AGM. After AGN's execution, the annual report and the financial statement will be presented at the ROC. The returns and financial statements must be submitted together with the ROC to avoid severe penalties for late filing.</p>
                        <h2 class="fs-4">LLP - Changes </h2>
                        <p>The LLP Agreement governs the conduct of LLP. However, it falls within the scope and rules of the 2009 LLP Act. Members may make all changes to the LLP constitution or partners in the majority. However, ROC must approve them.</p>
                        <h2 class="fs-4">Annual Compliance with LLP </h2>
                        <p>Unless the LLP has a turnover of more than 40 Lac or capital exceeding 25 Lac, audits are not required. It must submit an Income Tax return and send its annual returns to the ROC using Form 11. Also, the LLP must file the Statement of Solvency and its financial statement using Form 8. </p>
                    </div>
                    </div>
                  </div>
                </section>

                 <section class="py-4 bg-light">
                    <div class="container">
                      <div class="row">

                        <div class="col-md-12 col-12 heading">
                          <h2 class="fs-4">Post Co. Incorporation Conformity</h2>
               
                          <p>The certificate of incorporation creates a legal entity in the form of a company. After the incorporation, the initial board meeting must take place to vote on the required resolutions, including the payment of stamp duty to the state government and the appointment of the first auditors. </p>
                          <h2 class="fs-4">Post LLC Compliance </h2>
                           
                          <p class="b-style text-style">A new company begins its venture under the name LLP. Your legal obligation to comply and report does not end when your LLP is incorporated. It starts the moment your LLP is incorporated. Other registrations are also required, including shops and establishments. GST (professional tax registration), activity-based licensing, etc., are necessary. Is required. Dobizindia Business Solution Private Limited assists you in obtaining the compliance required following incorporation. </p>
                          <h2 class="fs-4">The Closure LLP </h2>
                         <p class="fst-italic"> A new company is an LLP when it starts the business. Reporting and legal compliance do not stop at the date of incorporation. It begins at the moment of incorporation. Other registrations are required, including establishments and shops and GST registrations for professionals. These are mandatory.</p>
                        </div>

                      </div>
                    </div>
                  </section>

            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}