{% extends 'index.html' %}

{%block title%} Roc {% endblock %}

{%block body %}
{% include 'common_pages/banner.html' %}

<section class="py-5 bg-light1">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-9 col-12affix-top bg-light" data-spy="affix" data-offset-top="597">
      <!-- Nav pills -->
      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="pill" href="#meaning">Meaning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#requirement">Minimum requirement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#benefit">Benefit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#required">Document required</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#process">Incorporation Process</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#compliance">Compliance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#closure">Closure </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#faq">FAQ</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <div id="meaning" class="container tab-pane content active"><br>
          <h2>Compliance with the Company</h2>
        <p><b>Company Roc Filing Companies and LLPs are governed by the Companies Act, 2013, the LLP Act, 2009, and the formulated rules. The statute it governs imposes strict requirements for compliance. This applies even if the LLP/company is in the process of starting its operations or is in an inactive status. This is a mandatory requirement. Otherwise, sanctions could be imposed on the company and its principal employees 
        </b></p>
        <h2 class="fs-5 text-primary">Mandatory Compliance </h2>
        <h2>Company changes</h2>
        <p>Any business changes, including the name and address, must be done according to its constitution. Before making any changes to your business, it is recommended that you schedule an appointment.</p>
         <p class="b-style text-style">Along with the regular maintenance of the official records and registers, every business change, such as name changes and address changes, must be documented. This can be done in compliance with specific rules. Every business and LLP must submit a report each year in the end. The report will detail significant business changes, and a second report will include audited financial statements. The company's employees have the primary responsibility to comply.</p>
        <h2>Audit of Statutory Authority</h2>
        <p>It is a payment made by an auditor to the business or LLP to express their opinions through audit statements on the accuracy and efficiency of the business's accounting system. Each company must conduct an audit. For LLPs, the maximum amount of capital is 25 lac.</p>
        
        </div>

        <div id="requirement" class="container tab-pane fade"><br>
          <div class="row">
            <div class="col-md-12 col-12">
             <h2>Compliance</h2>
              <p class="b-style text-style">A legal person must have their financial statements checked by an auditor before the organization can adopt them at its AGM. After AGN's execution, the annual report and the financial statement will be presented at the ROC. The returns and financial statements must be submitted together with the ROC to avoid severe penalties for late filing.</p>
              
                 <h2>LLP - Changes</h2>
                 <p>The LLP Agreement governs the conduct of LLP. However, it falls within the scope and rules of the 2009 LLP Act. Members may make all changes to the LLP constitution or partners in the majority. However, ROC must approve them.</p>
                 <h2>Annual Compliance with LLP</h2>
                 <p>Unless the LLP has a turnover of more than 40 Lac or capital exceeding 25 Lac, audits are not required. It must submit an Income Tax return and send its annual returns to the ROC using Form 11. Also, the LLP must file the Statement of Solvency and its financial statement using Form 8.</p>
                 
            </div>

            </div>

            

        </div>

        <div id="benefit" class="container tab-pane fade"><br>
          <h2>Benefits</h2>

        </div>

        <div id="required" class="container tab-pane fade"><br>
          <div class="row">

              <div class="col-md-12 col-12 heading">
                <h2>Documents.</h2>
              </div>

            </div>

        </div>

        <div id="process" class="container tab-pane fade"><br>
          
            <h2>Proccess</h2>
        </div>

        <div id="compliance" class="container tab-pane fade"><br>
          <h2>Compliance</h2>
        </div>

        <div id="closure" class="container tab-pane fade"><br>
          <h2> closure </h2>
        </div>

        <div id="faq" class="container tab-pane fade"><br>
          <h2 class="fs-4">FAQ</h2>
          
        </div>

      </div>
    </div>


    {% include 'common_pages/pricing_sum_below.html' %}

  </div>
</div>
</section>


{% include 'common_pages/fssai.html' %}

<section class="checklist py-5">
<div class="container">
<div class="row py-4">
  <h2>Post Co. Incorporation Conformity</h2>
  <p>The certificate of incorporation creates a legal entity in the form of a company. After the incorporation, the initial board meeting must take place to vote on the required resolutions, including the payment of stamp duty to the state government and the appointment of the first auditors.</p>
  <h2>Post LLC Compliance</h2>
  <p class="b-style text-style">A new company begins its venture under the name LLP. Your legal obligation to comply and report does not end when your LLP is incorporated. It starts the moment your LLP is incorporated. Other registrations are also required, including shops and establishments. GST (professional tax registration), activity-based licensing, etc., are necessary. Is required. Dobizindia Business Solution Private Limited assists you in obtaining the compliance required following incorporation. </p>
  <h2>The Closure LLP</h2>
  <p class="fst-italic"> A new company is an LLP when it starts the business. Reporting and legal compliance do not stop at the date of incorporation. It begins at the moment of incorporation. Other registrations are required, including establishments and shops and GST registrations for professionals. These are mandatory.</p>

              </div>
            </div>
          </section>
{% endblock %}