{% extends 'index.html' %}

{%block title%}Dormant Company To Account Status {% endblock %}

{%block body %}
{% include 'common_pages/banner.html' %}

<section class="py-5 bg-light1">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-9 col-12affix-top bg-light" data-spy="affix" data-offset-top="597">
        <!-- Nav pills -->
        <ul class="nav nav-pills" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="pill" href="#meaning">Meaning</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#requirement">Minimum requirement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#benefit">Benefit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#required">Document required</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#process">Incorporation Process</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#compliance">Compliance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#closure">Closure </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#faq">FAQ</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div id="meaning" class="container tab-pane content active"><br>
            <p><b>{{meaning.heading_text}}</b></p>
            <p>{{meaning.heading_text2}}</p>
            <p>{{meaning.heading_text}}</p>

            <h2>{{meaning.heading_text4}}</h2>
            <p><b>{{meaning.text}}</b></p>
            <h2>{{meaning.heading_text5}}</h2>
            <p>{{meaning.text2}}</p>
            <p class="b-style text-style">{{meaning.text3}}</p>
            <div class="text-center py-4"><img src="/media/{{ meaning.img }}" alt="logo-img" class="img-fluid"></div>
          </div>

          <div id="requirement" class="container tab-pane fade"><br>
            <div class="row">
              <div class="col-md-12 col-12">
                <h2>Requirement</h2>

              </div>

            </div>



          </div>

          <div id="benefit" class="container tab-pane fade"><br>
            <h2>Benefits</h2>

          </div>

          <div id="required" class="container tab-pane fade"><br>
            <div class="row">

              <div class="col-md-12 col-12 heading">
                <h2>Documents.</h2>
              </div>

            </div>
          </div>

          <div id="process" class="container tab-pane fade"><br>

            <h2>Proccess</h2>
          </div>

          <div id="compliance" class="container tab-pane fade"><br>
            <h2>Compliance</h2>
          </div>

          <div id="closure" class="container tab-pane fade"><br>
            <h2> closure </h2>
          </div>

          <div id="faq" class="container tab-pane fade"><br>
            <h2 class="fs-4">FAQ</h2>

          </div>

        </div>
      </div>

      {% include 'common_pages/pricing_sum_below.html' %}

    </div>
  </div>
</section>

{% include 'common_pages/fssai.html' %}

<section class="checklist py-5">
  <div class="container">
    <div class="row py-4">
      <h2>{{step.heading_text}}</h2>
      <p>{{step.text}}</p>

    </div>

    <div class="row">

      <div class="col-md-12 col-12 mx-auto heading2">
        <div class="accordion pt-2" id="accordionExample">
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                {{step.step1}}
              </button>
            </h4>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body list-style">
                {{step.answer1}}

              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                {{step.step2}}
              </button>
            </h4>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body list-style">
                {{step.answer2}}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                {{step.step3}}
              </button>
            </h4>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {{step.answer3}}
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h4 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                {{step.step4}}
              </button>
            </h4>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
              data-bs-parent="#accordionExample">
              <div class="accordion-body list-style">
                {{step.answer4}}
                <ul>
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list1}}</li>
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list2}}</li>
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list3}}</li>
                </ul>
              </div>
            </div>
          </div>


          <div class="accordion-item">
            <h4 class="accordion-header" id="headingSeven">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                {{step.step5}}
              </button>
            </h4>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
              data-bs-parent="#accordionExample">
              <div class="accordion-body list-style">
                <b>{{step.answer5}}</b>
                <div class="table-responsive-sm">
                  <table class="table border table-info">
                    <thead>
                      <tr>
                        <th>{{step.list4}}</th>
                        <th>{{step.list5}}</th>
                        <th>{{step.list6}} </th>
                        <th>{{step.list7}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1. </td>
                        <td>{{step.list8}}</td>
                        <td>{{step.list9}} </td>
                        <td>{{step.list10}}</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>



          <div class="accordion-item">
            <h4 class="accordion-header" id="headingSeven">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                {{step.step6}}
              </button>
            </h4>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
              data-bs-parent="#accordionExample">
              <div class="accordion-body list-style">
                <div class="table-responsive-sm">
                  <table class="table border table-info">
                    <thead>
                      <tr>
                        <th>{{step.list4}} </th>
                        <th>{{step.list11}} </th>
                        <th>{{step.list12}}y </th>
                        <th>{{step.list13}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1.</td>
                        <td>{{step.list14}} </td>
                        <td>{{step.list15}}</td>
                        <td>{{step.list16}}</td>
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td>{{step.list17}}</td>
                        <td>{{step.list18}}</td>
                        <td>{{step.list19}}</td>
                      </tr>
                      <tr>
                        <td>3.</td>
                        <td>{{step.list20}} </td>
                        <td>{{step.list21}}</td>
                        <td>{{step.list22}}</td>
                      </tr>

                      <tr>
                        <td>4.</td>
                        <td>{{step.list23}} </td>
                        <td>{{step.list24}}</td>
                        <td>{{step.list22}}</td>
                      </tr>

                      <tr>
                        <td>5.</td>
                        <td>{{step.list25}} </td>
                        <td>{{step.heading_text2}}</td>
                        <td>{{step.list22}}</td>
                      </tr>


                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
</section>
{% endblock %}