{% extends 'index.html' %}

{%block title%}Sent Winding Up of Inactive LLP {% endblock %}

{%block body %}
{% include 'common_pages/banner.html' %}

<section class="py-4 bg-light1">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-9 col-12 affix-top bg-light" data-spy="affix" data-offset-top="597">
        <!-- Nav pills -->
        <ul class="nav nav-pills" role="tablist">
          {% if meaning %}
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="pill" href="#meaning">Meaning</a>
          </li>
          {% endif %}
          {% if minimum %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#requirement">Minimum requirement</a>
          </li>
          {% endif %}
          {% if benefit %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#benefit">Benefit</a>
          </li>
          {% endif %}
          {% if document %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#required">Document required</a>
          </li>
          {% endif %}
          {% if incorporation %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#process">Incorporation Process</a>
          </li>
          {% endif %}
          {% if compliance %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#compliance">Compliance</a>
          </li>
          {% endif %}
          {% if closure %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#closure">Closure </a>
          </li>
          {% endif %}
          {% if faq %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#faq">FAQ</a>
          </li>
          {% endif %}
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div id="meaning" class="container tab-pane content active"><br>
            <p><b>{{meaning.heading_text}}</b></p>
            <p><b>{{meaning.heading_text2}}</b></p>
            <p><b>{{meaning.heading_text3}}</b></p>

            <h2>{{meaning.heading_text4}}</h2>
            <p><b>{{meaning.text}}</b></p>
            <h2>{{meaning.heading_text5}}</h2>
            <p>{{meaning.text2}}</p>
            <h2>{{meaning.heading_text6}}</h2>
            <h5>{{meaning.heading_text7}}</h5>
            <p class="b-style text-style">{{meaning.text3}}</p>
            <h2>{{meaning.heading_text8}}</h2>
            <p>{{meaning.text4}}</p>
          </div>

          <div id="requirement" class="container tab-pane fade"><br>
            <div class="row">
              <div class="col-md-12 col-12">
                <h2>{{minimum.heading_text}} </h2>
                <p>{{minimum.text}}</p>
                <h2>{{minimum.heading_text2}} </h2>

                <p>{{minimum.text2}}</p>

                <p>{{minimum.heading_text3}} {{minimum.text3}}</p>
              </div>

            </div>



          </div>

          <div id="benefit" class="container tab-pane fade"><br>
            <h2>Benefits</h2>

          </div>

          <div id="required" class="container tab-pane fade"><br>
            <div class="row">

              <div class="col-md-12 col-12 heading">
                <h2>Documents.</h2>
              </div>

            </div>
          </div>

          <div id="process" class="container tab-pane fade"><br>

            <h2>Proccess</h2>
          </div>

          <div id="compliance" class="container tab-pane fade"><br>
            <h2>Compliance</h2>
          </div>

          <div id="closure" class="container tab-pane fade"><br>
            <h2> closure </h2>
          </div>

          <div id="faq" class="container tab-pane fade"><br>
            <h2 class="fs-4">FAQ</h2>

          </div>

        </div>
      </div>

      {% include 'common_pages/pricing_sum_below.html' %}

    </div>
  </div>
</section>


{% include 'common_pages/product.html' %}

<section class="checklist py-5">
  <div class="container">
    <div class="row py-4">
      <h2>{{step.heading_text}}</h2>
      <p>{{step.text}}</p>
      <div class="table-responsive-sm">
        <table class="table border table-info">
          <thead>
            <tr>
              <th>{{step.heading_text2}} </th>
              <th>{{step.text2}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{step.list1}} </td>
              <td>{{step.list2}}</td>
            </tr>
            <tr>
              <td>{{step.list3}} </td>
              <td>{{step.list4}}</td>
            </tr>
            <tr>
              <td>{{step.list5}} </td>
              <td>{{step.list6}}</td>
            </tr>

            <tr>
              <td>{{step.list7}} </td>
              <td>{{step.list8}}</td>
            </tr>

            <tr>
              <td>{{step.list9}}</td>
              <td>{{step.list10}}</td>
            </tr>

            <tr>
              <td>{{step.list11}}</td>
              <td>{{step.list12}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-12">
        <div class="py-2">
          <h2 class="py-2">{{step.list13}}</h2>
          <div class="about-text-style">
            <ul>
              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list14}}</li>

              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list15}}</li>

              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list16}}</li>

              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list17}}</li>

            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary">{{step.step1}}</h5>
          <p>{{step.answer1}}</p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary">{{step.step2}}</h5>
          <p>{{step.answer2}}</p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary">{{step.step3}}</h5>
          <p>{{step.answer3}}</p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary">{{step.step4}}</h5>
          <p>{{step.answer4}}</p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary">{{step.step5}}</h5>
          <p><b>{{step.answer5}}</b></p>
          <ol>
            <li> {{step.list18}}</li>
            <li> {{step.list19}}</li>
            <li> {{step.list20}}</li>
            <li> {{step.list21}}</li>
            <li> {{step.list22}}</li>
            <li> {{step.list23}}</li>
            <li> {{step.list24}}</li>
            <li> {{step.list25}}</li>

          </ol>
        </div>
      </div>


    </div>

    <div class="row">

      <div class="col-md-12 col-12">
        <h2>{{faq.heading_text}}</h2>
        <div class="accordion pt-2" id="accordionExample">
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
              {{faq.question1}}
              </button>
            </h4>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {{faq.answer1}}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                {{faq.question2}}
              </button>
            </h4>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>{{faq.answer2}}</strong>
                <ul>
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{faq.list1}} </li>
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i>{{faq.list2}}</li>
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{faq.list3}} </li>
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{faq.list4}}</li>
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{faq.list5}}</li>

                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                {{faq.question3}}
              </button>
            </h4>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {{faq.answer3}}

              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h4 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                {{faq.question4}}
              </button>
            </h4>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
              data-bs-parent="#accordionExample">
              <div class="accordion-body list-style">
                {{faq.answer4}}

              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
</section>
{% include 'common_pages/reviews.html' %}
{% endblock %}