{% extends 'index.html' %}

{%block title%}Shop and Establishment Registration {% endblock %}

{%block body %}

     <section class="top-bn1 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <h2><b>Registering for a   <span class="text-white">Shop or Establishment </span></b></h2>
            <p class="pt-4"> <b>At Dobizindia company solution limited we help companies to obtain the compulsory shop and Establishment Registration, in the manner that is prescribed by law. For our assistance it is easy to sign up to our nutritious and reasonable priced service from any location within India.  
            </b></p>
            <h2 class="fs-4">The validity for The Shop and Establishment Registration</h2>
            <p class="fs-6">The law applies for any "Shops" or "Establishments" which meet the definitions within the Shops and Establishment Act. In general, it applies to any place where commercial or trade activity is carried out.</p>
            <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            <li> <a class="sidelink" href="#document">
            <span class="icon-s"> <i class="fa fa-file-text" aria-hidden="true"></i> </span>  List of Documents</a> </li>
            <li> <a class="sidelink" href="#faq">
            <span class="icon-s"> <i class="fa fa-question-circle" aria-hidden="true"></i> </span>  FAQ</a> </li>
            
            </ul>
          </div>

          <div class="content content-3s bg-light">
            <div id="overview">
              <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-12 heading pt-2">
                      <h2 class="fs-2">We offer shops and <span class="text-primary">Establishment Registration!</span></h2>
                      <p class="fs-6">The registration for establishments and shops is an obligatory registration that must be completed by all businesses. The registration is handled to authorities like the Labour Departments of State Governments in accordance with specific state laws. But, most of the state laws are based on those of the Central law, namely, the Shops and Establishment Act, 1948. The purpose of the law was to control the working conditions of those employed in shops as well as all other types of establishments with the exception of factories and industries.</p>
                       <h2 class="fs-4">Goal of the Shops and establishment Registration</h2>
                      <p class="b-style text-style">It is the Shops as well as Establishment Registration is one the most vital registrations required to be acquired by all businesses and establishments in India apart from factories and industries. This registration falls under the authority by the state Labour Departments and is granted under the state-specific Shops &amp; Establishment laws. The laws were drafted to govern the conditions of work for employees employed in shops as well as all other types of establishments, such as the pay and working hours, holidays, holiday benefits, maternity and terms of service, workplace conditions and much more.</p>

                    </div>

                  </div>
                </div>
              </section>

              <section class="py-4 s-img s-img1">
                  <div class="container py-2">
                    <div class="row">
                      <div class="col-md-2 col-12">
                      </div>
                    <div class="col-md-10 col-12">
                      <h2>What is the meaning of "Establishment" to be used for the purposes of this Act</h2>
                      <p>"Establishments" is defined as any location or place from which an enterprise is executed. The following areas are considered "Establishments" in the Shops and Establishment Act.</p>

                      <table class="table table-responsive-sm border shadow">
                          <thead>
                            <tr>
                              <th scope="col"> List of Establishments</th>
                              <th scope="col">  </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Theaters  </td>
                              <td>Public amusement parks and entertainment</td>
                            </tr>
                            <tr>
                              <td> Restaurants &amp; Eateries  </td>
                              <td> Hotel rooms for residents</td>
                            </tr>

                            <tr>
                              <td>Commercial Establishments </td>
                              <td>Any other area that is notified of the State Government</td>
                            </tr>
                            
                          </tbody>
                        </table>
                    </div>
                    </div>
                  </div>
                </section>

                 <section class="py-4 bg-light">
                      <div class="container">
                        <div class="row">

                          <div class="col-md-12 col-12 heading pt-2">
                            <h2 class="fs-4 pt-4">Definition of "Shops" to be used for the purposes of this Act</h2>
                            <p>"Shops" according to the Act, are defined as any location in which the trading of services and goods is conducted. The following areas are deemed to be "Shops" according to the Shops and Establishment Act.</p>
                            <table class="table table-responsive-sm border shadow">
                              <thead>
                                <tr>
                                  <th scope="col"> List of Shops</th>
                                  <th scope="col">  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>Retail shops  </td>
                                  <td>Wholesale Shops</td>
                                </tr>
                                <tr>
                                  <td>Warehouses, god owns, and stores  </td>
                                  <td>Any location from which services are provided</td>
                                </tr>

                                <tr>
                                  <td>Office space  </td>
                                  <td>Any other space that has been notified of the State Government</td>
                                </tr>
                                
                              </tbody>
                            </table>
                          </div>

                        </div>
                      </div>
                    </section>

                    <section class="btm_grd_banner py-4">
                <div class="container">
                  <div class="row text-center">
                    <div class="col-md-12 col-12">
                      <div class="py-2 text-white heading2">
                      <h2 class="py-2 fs-2">How do you get your Shops and Establishment Registration? </h2>
                      <p class="fs-6 pt-2">The process for obtaining registration for the Shops and Establishment Registration is nearly identical in all states that have specific Shops and Establishments Acts, since they are modeled after the provisions of the main law, that is the Shops and Establishments Act 1948. We have outlined the process in the procedure for Shops and Establishment Registration step by step for your simple and complete understanding.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">STEP 1 Documentation</h5>
                            <br>
                            <p class="card-text">Make sure you have all the required documents to be submitted for Shops and Establishment Registration before commencing the process of registration to make sure that there is no hassle or obstruction.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-12 mt-4">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Step 2: - Filing in the app</h5>
                            <br>
                            <p class="card-text">Make an application on the prescribed format to the inspector of the region within 30 days of when you have registered the name the business , along with supporting documents.</p>
                          </div>
                        </div>
                    </div>

                  </div>



                  <div class="row pt-4">

                    <div class="col-md-6 col-12">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Step 3. Checking the app</h5>
                            <br>
                            <p class="card-text">When the application is received, the inspector reviews it thoroughly and examines the information and the documents included in the application. </p>
                          </div>
                        </div>
                    </div>


                    <div class="col-md-6 col-12 mt-4">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Step 4 - Issue of the Certificate of Registration Certificate</h5>
                            <br>
                            <p class="card-text">After the successful verification of application inspector issues an official Certificate of Shops and Establishment registration to the applicant.</p>
                          </div>
                        </div>
                    </div>

                  </div>

                </div>
              </section>

            </div>

             <div id="process">
                <section class="py-4 ab-banner text-white">
                <div class="container">
                  <div class="row">
                  <div class="col-md-8 col-12 heading">
                    <h2 class="py-4">List of documents needed for CSR Registration</h2>
                    <p><b> To apply for CSR registration, NGOs must submit the following documents and Form CSR 1. </b></p>
                  </div>
                  </div>


                  <div class="row table-responsive-sm">
                   <!--  <div class="col-md-5 col-12">  
                        
                    </div>  -->   
                      <div class="col-md-5 col-12 p-2">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>A. A.</td>
                          </tr>     
                          <tr class="table-primary">
                            <td>PAN card from the NGO</td>
                          </tr>

                          <tr class="table-info">
                            <td>Certificate of Registration of an NGO</td>
                          </tr>
                          <tr class="table-warning">
                            <td>Certificate Exemption for 12A and 80G</td>
                          </tr>
                          
                          <tr class="table-light">
                            <td>NGO Darpan ID</td>
                          </tr>

                          <tr class="table-warning">
                            <td>DSC of CSR 1 signatory</td>
                          </tr>

                        </tbody>
                      </table>
                    </div>

                    <div class="col-md-5 col-12 p-2">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>B. Additional Documents</td>
                          </tr>     
                          <tr class="table-primary">
                            <td>PAN card signed by CSR 1</td>
                          </tr>
                          
                          <tr class="table-info">
                            <td>CSR Policy and Report for Company</td>
                          </tr>
                          <tr class="table-warning">
                            <td>Sustainability Report for Companies</td>
                          </tr>
                          
                          <tr class="table-light">
                            <td>Trust Deed/Memorandum of Society</td>
                          </tr>

                          <tr class="table-warning">
                            <td>Details of any subsidiaries / other entities of the NGO</td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </section>
            </div>


            <div id="document">
              <section class="py-4 ab-banner text-white">
                <div class="container">
                  <div class="row">
                  <div class="col-md-12 col-12 heading">
                    <h2 class="py-4">What documents are required to register Shops and Establishment Registration?</h2>
                    <p>An application to register Shops and Establishment registration must be supported by the required documents by the law. A list of these documents is provided on the following table. Be aware that a absence of all of these documents prior to of submitting the registration application could result in complete rejecting of an application.</p>
                  </div>
                  </div>


                  <div class="row table-responsive-sm">

                      <div class="col-md-12 col-12 p-2">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td><b>S.No</b>  List Of Documents</td>
                          </tr>     
                          <tr class="table-primary">
                            <td>Certificate of Incorporation</td>
                          </tr>

                          <tr class="table-info">
                            <td>MoA as well as AoA for the business LLP deed/Partnership deed</td>
                          </tr>
                          <tr class="table-warning">
                            <td>PAN of the company</td>
                          </tr>
                          
                          <tr class="table-light">
                            <td>ID proofs, names, address proofs, and other proofs of owners (shareholders or partners/proprietors)</td>
                          </tr>

                          <tr class="table-warning">
                            <td>Identity proofs and names addresses of the directors, managers and designated partners. directors</td>
                          </tr>
                          
                          <tr class="table-light">
                            <td>The address and name of the establishment are confirmation of the establishment</td>
                          </tr>

                          <tr class="table-warning">
                            <td>The owner's photograph and the front view of the shop</td>
                          </tr>

                          <tr class="table-light">
                            <td>A Board Resolution or Partners' agreement to get Shops &amp; Establishment Registration</td>
                          </tr>

                          <tr class="table-warning">
                            <td>Copy of any licence, permit, or registration that the business is legally required to have</td>
                          </tr>

                        </tbody>
                      </table>
                    </div>

                  </div>
                </div>
              </section>
            </div>


            <div id="faq">
             <section class="bg-light py-4">
                <div class="container">
                  <div class="row">

                    <div class="col-md-11 col-12 mx-auto heading2">
                      <h2 class="text-center">Frequently Asked  <span class="text-primary">Questions</span></h2>
                      <div class="accordion pt-2" id="accordionExample">
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              How long is the period of validity for the Shop &amp; Establishment Registration Certificate?
                            </button>
                          </h4>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                              Since registration for establishments and shops is provided by the State Governments, the validity of it varies for various states in India. In some states, it is valid for up to the end of time, in others , it expires after the range of one to five years.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Do you need to renew the certificate of a Shops &amp; Establishment Registration Certificate?
                            </button>
                          </h4>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              The requirement for renewal Shops &amp; Establishment Certificate depends on its validity and also on the state that is providing the Shop and Establishment Registration Certificate. If it is required, the certificate is required to be renewed within a stipulated timeframe prior to the expiration date.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            What's the price for Shops &amp; Establishment Registration? 
                            </button>
                          </h4>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                             The fee charged by the government for obtaining Shops &amp; Establishment Registration depends on two aspects:<br>
                              Employees within the establishment<br>
                              The state in which the registration will be acquired

                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Do you need for displaying your Shops &amp; Establishment Registration Certificate?
                            </button>
                          </h4>
                          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             Yes. When receiving the Shops &amp; Establishment Registration Certificate is signed by the applicant the certificate must be prominently displayed in the establishment.
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                             What information is to be kept after obtaining an Shop and Establishment registration?
                            </button>
                          </h4>
                          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                            After receiving registration for the Shop and Establishment Registration, the establishment must keep the following records in the office of the establishment:
                                <ul>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Employees' register</li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> The list of holidays and leave dates</li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Visitors' register</li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Payroll Register for wages</li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Register of Attendance</li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Register of Inspections</li>
                            </ul></div>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizIndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}