{% extends 'index.html' %}

{%block title%}Trade License Registration {% endblock %}

{%block body %}

     <section class="top-bn1 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <p>License Registration for Trade License Registration</p>
            <p>All India Online Service</p>
            <p>All India Incorporation Service</p>

            <h2><b>License Registration for   <span class="text-white">Trade License Registration </span></b></h2>
            <p class="pt-2"> <b>The Trade License is a permit issued by municipal corporations to conduct a particular company at a specific address. It assures citizens aren't adversely affected by health risks and nuisance from the illegal trade.
            </b></p>
            <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            <li> <a class="sidelink" href="#document">
            <span class="icon-s"> <i class="fa fa-file-text" aria-hidden="true"></i> </span>  List of Documents</a> </li>
            
            </ul>
          </div>

          <div class="content content-3s bg-light">
            <div id="overview">
              <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-12 heading pt-2">
                      <h2 class="fs-2">Trade  <span class="text-primary">License</span></h2>
                      <p class="fs-6">A trade license is a method to oversee a specific business in a specific location. It is controlled to ensure that the public isn't impacted negatively through Health Hazards &amp; Nuisance by the unintentional carrying out of a business. Trade licenses are an instrument for ensuring that the method and location where the business operates are by applicable regulations and safety guidelines and standards. The state government sets the license for trade to oversee and regulate trade within cities. This license comes from the local municipal authority where the business is situated.</p>
                      <p class="b-style text-style">A trade license is authorized to conduct e-commerce or other business in the location for which it was granted. Unauthorized trading is a crime that could cause a severe penalty and subsequent prosecutorial action. The owners of the business must apply for a license to trade to be able to operate in the specific area without delay. A request must be submitted before the start of the business. Some state governments provide 15 to 3 months for the trade license application. Licenses issued after expiry require periodic renewal on an annual basis. Renewal applications should be made within 30 days of the license expiration. The procedure of Trade license registration is usually expensive and time-consuming.</p>
                      
                    </div>

                  </div>
                </div>
              </section>

            </div>

             <div id="process">

              <section class="btm_grd_banner py-4">
                  <div class="container">
                    <div class="row text-center">
                      <div class="col-md-12 col-12">
                        <div class="py-2 text-white heading2">
                        <h2 class="py-2">Key Point of Trade License</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

                <section class="py-4">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6 col-12">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">Step. 1. Why do you need a Trade License?</h5>
                              <br>
                              <p class="card-text">To protect the general populace from health hazards and nuisances that the business or trader could create. Trade licenses are used to regulate trade and make sure that the rules are followed, and the government issues safety regulations.</p>
                            </div>
                          </div>
                      </div>

                      <div class="col-md-6 col-12 mt-4">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">Step 2. Licensing Authority for Trade License</h5>
                              <br>
                              <p class="card-text">Trading License(s) is issued by an authorized department in a city corporation in collaboration with other departments, such as the fire brigade, engineering, and health department that control the company.</p>
                            </div>
                          </div>
                      </div>

                    </div>



                    <div class="row pt-4">

                      <div class="col-md-4 col-12">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">Step 3. Commercial Premises</h5>
                              <br>
                              <p class="card-text">Trade Licenses are available only if the company is operated within the permitted zone. I.e., Commercial, Local commercial, Mixed Land Use, or Residential area with small shops of up to 20 sq.m. On the ground floor.</p>
                            </div>
                          </div>
                      </div>


                      <div class="col-md-4 col-12 mt-4">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">Step 4. Who requires a Trade License?</h5>
                              <br>
                              <p class="card-text">Any trader engaged in general trading activities within the territorial borders of any municipal corporation must be granted a trade license. The trade license type is different from state to state and is determined by the company's nature.</p>
                            </div>
                          </div>
                      </div>

                      <div class="col-md-4 col-12 mt-5">
                        <div class="mt-5"></div>
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">Step 5. The goal of a Trade License</h5>
                              <br>
                              <p class="card-text">A Trade License aims to control business places by restricting people from conducting certain kinds of businesses at home, thereby preserving the distinct business environment and protecting the local and the surrounding environment.</p>
                            </div>
                          </div>
                      </div>


                      <div class="col-md-9 col-12 mt-5 mx-auto">
                        <div class="mt-5"></div>
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">Step 6. State-specific application of the TL</h5>
                              <br>
                              <p class="card-text">Certain states have mandated an official trade license. In other states, it's an option. The type of license required and the cost of the license also vary between states. Some states have the fee monthly, while others require a revenue percentage.</p>
                            </div>
                          </div>
                      </div>

                    </div>

                  </div>
                </section>

            </div>


            <div id="document">
              <section class="py-4 ab-banner text-white">
                  <div class="container">
                    <div class="row">
                    <div class="col-md-8 col-12 heading">
                      <h2 class="py-4">Documents required for Trade License</h2>
                    </div>
                    </div>


                    <div class="row table-responsive-sm">

                        <div class="col-md-10 col-12 p-2">
                        <table class="table">
                          <tbody>
                            <tr class="table-dark">
                              <td><b>S.No </b> Documents required for Trade License</td>
                            </tr>     
                            <tr class="table-primary">
                              <td> <b>1.</b> Pan Card of the establishment for companies, LLP or Firm.</td>
                            </tr>

                            <tr class="table-info">
                              <td> <b>2.</b> The cancelled cheque and the bank statement from the institution.</td>
                            </tr>
                            <tr class="table-warning">
                              <td> <b>3.</b> Certificate of Incorporation MOA along with AOA that is the name of the corporation or LLPor Partnership Agreement in the event that it needs to be.</td>
                            </tr>
                            
                            <tr class="table-light">
                              <td> <b>4.</b> Premises proof of the property with the help of a Sale Deed, Electricity Bill/Water bill, and NOC from the owner.</td>
                            </tr>

                            <tr class="table-warning">
                              <td> <b>5.</b> Color Photograph in colour, Pan card, ID proof and address proof of all Directors and Partners.</td>
                            </tr>
                            
                            <tr class="table-light">
                              <td> <b>6.</b> Front-Facial Image of the premises with display of goods sold on the premises.</td>
                            </tr>

                            <tr class="table-light">
                              <td> <b>7</b> Key Plan for Site and Site showing the areas of the site that is under the ownership by the applicant. It also marks the neighborhood of the site.</td>
                            </tr>

                          </tbody>
                        </table>
                      </div>

                    </div>
                  </div>
                </section>
            </div>


          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizIndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

     {% endblock %}