{% extends 'index.html' %}

{%block title%}Sent Winding Up of Inactive LLP {% endblock %}

{%block body %}
     <section class="top-bn1 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <p><b>Inactive LLP</b></p>
            <p><b>Winding down LLP is simple &amp; effortless.</b></p> 
            <p><b>All India Tax Registration &amp; Returns</b></p>

            <h2><b>Closed inactive or <span class="text-white">defunct LLP </span></b></h2>
            <p class="pt-4"> <b>The LLP creation is a lawful entity. It can only be closed according to the law. You can quickly dissolve an inactive LLP by filing Form 24, to ROC, with CA Certificate, affidavits or indemnity bonds.  
            </b></p>
            <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            <li> <a class="sidelink" href="#document">
            <span class="icon-s"> <i class="fa fa-file-text" aria-hidden="true"></i> </span>  List of Documents</a> </li>
            <li> <a class="sidelink" href="#faq">
            <span class="icon-s"> <i class="fa fa-question-circle" aria-hidden="true"></i> </span>  FAQ</a> </li>
            
            </ul>
          </div>

          <div class="content content-3s bg-light">
            <div id="overview">
              <section class="py-5">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 col-12 heading pt-2">
                        <h2 class="fs-2">There are many options  <span class="text-primary">to close your</span> LLP. </h2>
                        <p class="fs-6">Many reasons can be given for closing an LLP: Inactivity, Non-Operation Closure Business of LLP, Death of key personnel of the LLP, Dispute among the partners, LLP Defunct. It is essential to first understand how an LLP may end. Here are three scenarios. </p>
                        <h2 class="fs-2">There are two types of winding up: Striking Off and Winding UP. </h2>
                        <h2 class="fs-5">Winding Off </h2>
                        <p class="b-style text-style">In an NCLT winding down, the LLP ends and cannot be revived. A liquidator sells all its assets and settles any liabilities from the proceeds. The winding down is final. It brings an end to the LLP. There are no remaining liabilities. </p>
                        <h2 class="fs-4">Striking off LLP by declaring it defunct </h2>
                        <p>If an LLP is inactive after more than one year and no business operation is occurring, you can file Form 24 to apply for the striking of the Name of the LLP under Rule 37.</p>
                      </div>

                    </div>
                  </div>
                </section>

                <section class="py-4 s-img s-img1">
                      <div class="container py-2">
                        <div class="row">
                          <div class="col-md-2 col-12">
                          </div>
                        <div class="col-md-10 col-12">
                          <h2>Voluntary Winding-Up of LLP </h2>
                          <p>The LLP submits a request to the NCLT to wind it up. If the 3/4 majority of its partners agree, it can apply to wind down the LLP voluntarily. The Liquidator performs voluntary winding-up. They sell the assets of the LLP and pay creditors using the proceeds. The NCLT accepts the Liquidator's report and passes the order for the Windup of the LLP based upon its satisfaction with the facts.</p>
                          <h2>Compulsory Closing of LLP by NCLT </h2>
                 
                          <p>The NCLT has the power to start the compulsory winding down process upon request from creditors. The NCLT may appoint an LLP liquidator to dispose of the assets and settle the debts.</p> 
                           
                          <p>Striking Off: A striking-off of an LLP is a process based only on the declarations made by the partners of the LLP. There is no official liquidator involved. Based on the affidavits from truthfulness and indemnity bonds of the partners, the ROC removes the Name of LLP. The striking off of the LLP does not result in any compliance requirement. Thus, the LLP has been officially closed. The LLP, and any partners, remain responsible for any government dues, tax payments, or liability that may arise following the striking-off. Before filing for striking off, we recommend you resolve all disputes, account and pay all dues.</p>

                        </div>
                        </div>
                      </div>
                    </section>

            <section class="py-4 bg-light">
                  <div class="container">
                    <div class="row">

                      <div class="col-md-12 col-12 heading pt-2">
                        <h2 class="pt-4 text-primary">Striking down Inactive or Defunct LLPs According to the Rule 37 in the LLP Rules 2019.</h2>
                       
                        <p>Rule 37 of the LLP Act provides an easy procedure to close an LLP if the entity has not been in business for more than one calendar year. The simplified application to ROC Form 24 is enough to allow the LLP to be closed. Striking out the Name of the LLP Form 24 is used to close an LLP. The designated partners must settle the books and liabilities of the LLP before the LLP can be struck off. These are the conditions for Rule 37 to be applicable for striking off an LLP.</p>
                      </div>

                      <div class="col-md-12 col-12 mx-auto">
                        <div class="table-responsive-sm">
                        <table class="table border table-info">
                          <thead>
                            <tr>
                              <th>Inactivity </th> 
                              <th>The LLP must be inactive or dissolved for at least one full year before filing form 24 to be removed from the list. Inactivity indicates that the LLP is not involved in commercial transactions during the previous year. Just paying dues or receiving money doesn't constitute commercial activity.</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Assets or Liability </td>
                              <td>The LLP is not allowed to own any assets. The financial statement must reflect Nil Assets or NIL Liabilities.</td>
                            </tr>
                            <tr>
                              <td>Partners Consent </td> 
                              <td>All partners of an LLP must agree for the LLP to be struck. Form 24 does not apply in cases of disagreement between partners.</td>
                            </tr>
                            <tr>
                              <td>CA Certification </td> 
                              <td>The Statement of Accounts should be signed by a Chartered Accountant. The statement must be completed within 30 calendar days of filing Form 24.</td>
                            </tr>

                            <tr>
                              <td>Annual Return </td>
                              <td>The LLP must submit its annual return on Form 11 and Form 8. This is for its active period. Refer to sub-rule 1-A of Rule 37 in the LLP Rules</td>
                            </tr>

                            <tr>
                              <td>Check your DIN status</td> 
                              <td>DIR-3(KYC), a renewal must be filed annually to keep the DIN active.</td>
                            </tr>

                            <tr>
                              <td>Check DSC Validity</td> 
                              <td>Digital Signature is used to file the application for striking down the LLP. Check if the DSC for the partners is valid.</td>
                            </tr>
                          </tbody>
                        </table>
                        </div>
                      </div>

                    </div>
                  </div>
                </section>

            </div>

             <div id="process">

              <section class="btm_grd_banner py-4">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12 col-12">
                          <div class="py-2 text-white heading">
                          <h2 class="py-2">Step-by-step Process of Applying to Strike off the LLP</h2>
                          <div class="about-text-style">
                              <ul>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Partners Meeting</li>

                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Organize a meeting with all partners. Get their consent for a petition to end the LLP.</li>

                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Sale of assets, Payment of Dues</li>

                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> If there are assets in the LLP, first sell them. Then pay all liabilities.</li>

                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>

                  <section class="py-4">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-6 col-12">
                            <div class="card border-none">
                                <div class="card-body shadow border-round">
                                  <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                                  <h5 class="card-title card-header">Close Bank Account</h5>
                                  <br>
                                  <p class="card-text">The bank account for the LLP must be closed, and a closure certificate issued by the banker should be submitted with the final statement.</p>
                                </div>
                              </div>
                          </div>

                          <div class="col-md-6 col-12 mt-4">
                            <div class="card border-none">
                                <div class="card-body shadow border-round">
                                  <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                                  <h5 class="card-title card-header">Statement of Account</h5>
                                  <br>
                                  <p class="card-text">Prepare a statement on Account and get it certified. The statement should be no more than 30 calendar days after filing.</p>
                                </div>
                              </div>
                          </div>

                        </div>



                        <div class="row pt-4">

                          <div class="col-md-6 col-12">
                            <div class="card border-none">
                                <div class="card-body shadow border-round">
                                  <div class="icon-bg mb-4"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></div>
                                  <h5 class="card-title card-header">Affidavits or Indemnity Bond</h5>
                                  <br>
                                  <p class="card-text">All partners must swear in an affidavit of the truthfulness or falsity of any information or documents filed in Form 24. All partners must sign an Indemnity Bind to take personal responsibility for any future liability for the LLP.</p>
                                </div>
                              </div>
                          </div>


                          <div class="col-md-6 col-12 mt-4">
                            <div class="card border-none">
                                <div class="card-body shadow border-round">
                                  <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                                  <h5 class="card-title card-header">Filing of Form 24</h5>
                                  <br>
                                  <p class="card-text">The prescribed form 24 to strike the LLP is filed in the ROC with a scanned copy. Form 24 is then filed with the DSC of Partners and requires Certification from CA or CS.</p>
                                </div>
                              </div>
                          </div>

                          <div class="col-md-9 col-12 mt-5 mx-auto">
                            <div class="mt-5"></div>
                            <div class="card border-none">
                                <div class="card-body shadow border-round">
                                  <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                                  <h5 class="card-title card-header">List of Documents to be Filled in Application to Strike off LLP</h5>
                                  <br>
                                  <p class="card-text"><b>Document</b></p>
                                  <ol>
                                    <li> Consent of all partners</li>
                                    <li> Bank Closure Statement</li>
                                    <li> CA Certified Statement of Accounts</li>
                                    <li> Copy of ITR Acknowledgement by LLP</li>
                                    <li> LLP Agreement</li>
                                    <li> All partners need to sign an affidavit</li>
                                    <li> All partners required to insure indemnity bonds</li>
                                    <li> Validation of partners by identity and current address</li>

                                  </ol>
                                </div>
                              </div>
                          </div>

                        </div>

                      </div>
                    </section>

            </div>


            <div id="document">
              <section class="py-4 ab-banner text-white">
                  <div class="container">
                    <div class="row">
                    <div class="col-md-8 col-12 heading">
                      <h2 class="pt-5">Notary Public Stamp Duty</h2>

                    <p>All partners of the LLP are required to file an affidavit with an indemnity and bond prepared on the appropriate Non-Judicial Stamp value. Notary Public must witness or attest to the affidavits and the indemnity Bonds.</p> 
                     
                    <p>Stamp duty is subject to change from one state to country. It is best to get the appropriate stamp paper from local vendors to avoid confusion. For indemnity bonds, Rs. 100 stamp paper will be applicable. For affidavits, 50-100 is required.</p> 
                     
                    <p>The Notary attestation is where the deponent of an affidavit for the person signing the indemnity bond insinuates before the Notary. You should bring the affidavits, indemnity and stamp papers to the Notary's local office for attestation. </p>
                    </div>
                    </div>

                  </div>
                </section>

                <section class="bg-light py-5">
                    <div class="container">
                      <div class="row">

                        <div class="col-md-11 col-12 mx-auto heading2">
                          <h2 class="text-center">Benefits of closing <span class="text-primary">inactive or Dormant LLP </span></h2>
                          <div class="accordion pt-2" id="accordionExample">
                            <div class="accordion-item">
                              <h4 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  The Compliance Burden is Eliminated 
                                </button>
                              </h4>
                              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body list-style">
                                  Legal compliance must be met if the LLP has stopped doing business or is inactive. TDS/GST returns must be filed every year, even if there has been no transaction. Failure to comply with these matters will result in a severe penalty. The compliance burden is removed by closing an LLP that does not intend to do business. 
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h4 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                 Compliance is a great way to save money. 
                                </button>
                              </h4>
                              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                  As stated, even if the LLP does no business, it must still file certain returns according to the law. It is expensive to pay a professional for several compliances. There is a more fee of Rs. 100 if the due date for compliance is not met. 100 for each day that the compliance is delayed. In such circumstances, closing an inactive LLP will always be a smart move that will eventually save you money.
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h4 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Get on with your Life 
                                </button>
                              </h4>
                              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                 Every decision about forming an LLP starts with the desire to succeed. But, every plan may not work out. Sometimes business decisions can go wrong. It's possible to make bad business decisions. 
                                </div>
                              </div>
                            </div>


                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
            </div>


            <div id="faq">
             <section class="btm_grd_banner py-4">
                  <div class="container">
                    <div class="row">

                      <div class="col-md-11 col-12 mx-auto heading2">
                        <h2 class="text-center">Frequently Asked  <span class="text-primary">Questions</span></h2>
                        <div class="accordion pt-2" id="accordionExample">
                          <div class="accordion-item">
                            <h4 class="accordion-header" id="headingOne">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                               Is Newspaper Advertisements Necessary for Closing the LLP?
                              </button>
                            </h4>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                              <div class="accordion-body list-style">
                                The publication of newspaper notice is mandatory for voluntary and compulsory winding-off before NCLT. We recommend publishing a Newspaper Notice, even though we are unaware of any striking.
                              </div>
                            </div>
                          </div>
                          <div class="accordion-item">
                            <h4 class="accordion-header" id="headingTwo">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                How do I fill out the Initial LLP Agreement for the LLP?
                              </button>
                            </h4>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                The law says that the LLP must file Form 3 within 30 business days of its incorporation. If the LLP cannot file Form 3, a copy must be attached as part of Form 24. 
                              </div>
                            </div>
                          </div>
                          <div class="accordion-item">
                            <h4 class="accordion-header" id="headingThree">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Should I file an ITR of an LLP?
                              </button>
                            </h4>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                              If an LLP is starting business operations and then becomes insolvent, the ITR must also be filed. The LLP can file For 24 if the LLP cannot start business operations.
                              </div>
                            </div>
                          </div>

                          <div class="accordion-item">
                            <h4 class="accordion-header" id="headingFour">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                               Whether a complete annual filing must be made before closing an LLP?
                              </button>
                            </h4>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                              <div class="accordion-body list-style">
                               For each year the LLP was active, the annual returns in Forms 11 or 8 must be filed. For example, if LLP was not in existence until October 25, 2020, the FY 2020-21 Annual Return must be filed before the LLP Striking Off request is filed.
                              </div>
                            </div>
                          </div>


                        </div>
                      </div>
                    </div>
                  </div>
                </section>
            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}