{% extends 'index.html' %}

{%block title%}Winding Up of Company (STK-2) {% endblock %}

{%block body %}
     <section class="top-bn3 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <p><b>Closed Inactive or Dissolved Company </b></p>
            <p><b>Company Closing-UP is Easier &amp; More Online </b></p>
            <p><b>All India Tax Registration and Returns </b></p>

            <h2><b>Closed Inactive or <span class="text-white">Dissolved Company  </span></b></h2>
            <p class="pt-4"> <b>The Company is a legal entity and can be closed according to the Companies Act. By submitting STK-2 Form with CA Certificate, affidavits or indemnity bonds to the ROC, an inactive company can be struck-off U/S 148(1).  
            </b></p>
            <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            
            <li> <a class="sidelink" href="#faq">
            <span class="icon-s"> <i class="fa fa-question-circle" aria-hidden="true"></i> </span>  FAQ</a> </li>
            
            </ul>
          </div>

          <div class="content content-3s bg-light">
            <div id="overview">
              <section class="py-5">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-12 heading pt-2">
                      <h2 class="fs-1">Closure of a  <span class="text-primary">Private Limited </span>Partnership </h2>
                      <p class="fs-6">A Private Limited Company is a legal entity created under the law. They can be closed only by following the established procedure. If the Company is inactive, defunct, or inactive, the Companies Act, 2013. It provides an easy procedure to close a business without going through NCLT. To close a company that is inactive, dormant, or without assets or liabilities, you can file Form STK-2 for ROC. This will allow you to quickly and easily close it. But, if the Company has assets or liabilities and is not inactive, an application to NCLT under Insolvency and Bankruptcy Code 2016 must be filed.</p>
                      <p class="b-style text-style"><b>Form STK-2: </b> The Company may be closed if the owner has stopped operations or, if they have, it has been inactive for more than two years. This form STK-2 is used to apply for such companies. 10,000/-</p>
                    </div>

                  </div>
                </div>
              </section>

              <section class="py-4 s-img s-img1">
                  <div class="container py-2">
                    <div class="row">
                      <div class="col-md-2 col-12">
                      </div>
                    <div class="col-md-10 col-12">
                      <h2>There are several ways to close a private limited corporation. </h2>
                      <p><b>I am decreeing the Company as Defunct through ROC: </b> An application for striking down the Company's names must be filed in Form STK-2, U/s 248 under the Companies Act.</p>
             
                      <p><b>Voluntary Closing of Company: </b> After 3/4 of shareholders have voted, the Company can apply to NCLT to be voluntarily wound up. Insolvency Professionals are employed to dissolve the Company's property and pay all legal claims. The NCLT accepts the IRP's recommendation and approves the order to wind up.</p> 
                       
                      <p><b>Compulsory Closing of Company By NCLT: </b> Upon application by creditors, ROC or the Central Government, NCLT may initiate the compulsory winding-up. The NCLT appoints an Insolvency Specialist to liquidate the Company's assets and settle its liabilities. After the dissolution of the Company by RP has been completed, the NCLT orders the winding down.</p>
                    </div>
                    </div>
                  </div>
                </section>

            <section class="py-4 bg-light">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-12 heading">
                      <h2 class="fs-4">Finale</h2>
                      <p>Before the NCLT winding takes place, the winding-up is performed. </p>
           
                      <p>The insolvency professional will sell all the assets and settle all liabilities. The Company's winding up is final and cannot be revived. </p>
                       
                      <p>The Company is now closed. None of the remaining liabilities which could not be paid in the liquidation process are owed to anyone. </p>
                      <h2 class="fs-4">Striking Off </h2>
                      <p class="fst-italic">The ROC handles the striking-off, and it is based only on the director's declarations. </p>
           
                      <p class="fst-italic">During the striking-off process, no insolvency professional is involved. </p>
                       
                      <p class="fst-italic">The Company striking off creates an environment where there is no compliance need, and thus, the Company is closed. </p>
                       
                      <p class="fst-italic">But, directors of the Company remain responsible for any taxes, government dues, or other liabilities arising from the striking-off. We recommend that all accounts, disputes, and dues be settled before you file for striking off.</p> 
                       <h2 class="fs-4">Companies Act 2013: Legal Provisions for Company Closure </h2>
                       <p>Section 248 grants the registrar the power to strike the Company's names in many circumstances. A company can invoke the ROC powers for striking a company's name by filing an STK-2 Application to the ROC. Here are the circumstances where a company can apply for its closure</p>
                    </div>

                    <div class="col-md-12 col-12 mx-auto">
                      <div class="table-responsive-sm">
                      <table class="table border table-info">
                        <thead>
                          <tr>
                            <th>Section </th>
                            <th>Particulars</th>
                          </tr>
                        </thead>
                            <tbody>
                              <tr>
                                <td>248 (1) </td>
                                <td>A company that failed to open its doors within one year of its incorporation.</td>
                              </tr>
                              <tr>
                                <td>248 (1) </td>
                                <td>A company that has been in business since its inception has become inactive or has gone bankrupt.</td>
                              </tr>
                              <tr>
                                <td>248 (1) </td>
                                <td>MOA subscribers haven't paid the share capital within 180 day of company incorporation. It is a sign that the company was just registered and that its promoter shareholder did not contribute any capital.</td>
                              </tr>

                            </tbody>
                          </table>
                          </div>
                    </div>

                  </div>
                </div>
              </section>

            </div>

             <div id="process">

              <section class="btm_grd_banner py-4">
                  <div class="container">
                    <div class="row text-center">
                      <div class="col-md-12 col-12">
                        <div class="py-2 text-white heading2">
                        <h2 class="py-2">Checklist for filing STK-2 Company Striking Application </h2>
                        <p class="fs-6 pt-2">The company must have been declared inactive or bankrupt under section 248, and there are three ways in which this can happen. Please refer to the appropriate section for the specific application.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

            </div>


            <div id="faq">
             <section class="bg-light py-4">
                <div class="container">
                  <div class="row">

                    <div class="col-md-11 col-12 mx-auto heading2">
                      <div class="accordion pt-2" id="accordionExample">
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Consent of Shareholders 
                            </button>
                          </h4>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                              The STK-2 filing can be made by the company only if shareholders approve a special resolution. A special resolution can only be passed if at least 75% of shareholders votes.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              All Government Dues owed
                            </button>
                          </h4>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              Before you close your company, ensure that all government fees such as GST, Income tax, PF, ESIC and any other company's liabilities towards the government have been fully paid.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Close Bank Accounts
                            </button>
                          </h4>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                            Bank accounts for the company should be closed. To do this, you will need to obtain a bank statement and the Bank Closure letters from the banker. These documents must be submitted together with STK-2 Form.
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                             There are no assets or liabilities.
                            </button>
                          </h4>
                          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             Before you file the STK-2 request, verify that there are no company assets or liabilities. After attestation by a Practicing Chartered Accountant is received, a statement detailing the assets and liabilities of the company is filed with STK-2.
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                             No litigation
                            </button>
                          </h4>
                          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             You should have no pending litigation against the applicant company with any state, central, or agency. Also, check to ensure no Income Tax and GST Assessments are pending.
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                             CA Certification
                            </button>
                          </h4>
                          <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             A Chartered Accountant must attest that the Statement of Accounts shows NIL assets and liability in practice. The date of the statement must be within 30 calendar days of filing Form 24.
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                             Check DIN and DSC Status
                            </button>
                          </h4>
                          <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             DIR-3 (KYC) must always be filed annually to keep the DIN in force. Please verify the status of the DIN. If the KYC is not filed, please complete the DIN KYC. Digital Signature is required for any application to strike off a company. Check that the DSC has been validated for your partners.
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingEight">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                             Closing of Company
                            </button>
                          </h4>
                          <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             Section 248(2) of the Companies Act, 2013 and Companies (Removal of Names of Companies Register of Companies), Rules prescribes a detailed procedure to close an inactive or dissolving company. These are the steps that will lead to company closure.
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingNine">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                             Calling for EGM by shareholders
                            </button>
                          </h4>
                          <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             To file the STK-2 Application for Company Closure to ROC, a meeting must be called by shareholders to approve the closure. They must have at least 75% voting rights.
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingTen">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                             Surrender Registrations and Licenses
                            </button>
                          </h4>
                          <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             If the company was registered under GST or has received licenses from any government department, it is required to surrender the documents before the company applies to closing.
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingEleven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                             Bank A/c Closure. Prepare Financial Statement
                            </button>
                          </h4>
                          <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             Bank accounts must be closed, and a certificate issued by the banker is required. Prepare a financial sheet with Nil Assets or Liabilities. It will be certified by a Practicing CA/Auditor.
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingTwelve">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                             All Director's affidavits &amp; indemnity bond
                            </button>
                          </h4>
                          <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             All shareholders and directors must swear an affidavit to verify that all information is accurate and correct. Directors also need to agree to pay an indemnity guarantee in the event of liability.
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingThirteen">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                             Filing STK-2 Form
                            </button>
                          </h4>
                          <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             It would help if you verified that all pending ITR &amp; ROC return to the ROC have been filed. The company application for closure was submitted online using a digital signature and Form STK-2. 10,000/-
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFourteen">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                             The Company Closure Documentation List
                            </button>
                          </h4>
                          <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                             <b>Document</b>
                                <ol>
                                  <li> All ITR and Returns Filled with ROC</li>
                                  <li> Board Resolution Authorizing the Closure</li>
                                  <li> Affidavit signed by all Directors</li>
                                  <li> All Directors issue an Indemnity Bond</li>
                                  <li> Consent of 75% Shareholder</li>
                                  <li> Bank Closure Statement</li>
                                  <li> CA Certified Statement of Accounts</li>
                                  <li> Identity and Current Address of Proof of Partners</li>

                                </ol>
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}