{% extends 'index.html' %}

{%block title%}Patent registration {% endblock %}

{%block body %}

{% include 'common_pages/banner.html'%}

<section class="py-5 bg-light1">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-9 col-12affix-top bg-light" data-spy="affix" data-offset-top="597">
        <!-- Nav pills -->
        <ul class="nav nav-pills" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="pill" href="#meaning">Meaning</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#requirement">Minimum requirement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#benefit">Benefit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#required">Document required</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#process">Incorporation Process</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#compliance">Compliance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#closure">Closure </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#faq">FAQ</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div id="meaning" class="container tab-pane content active"><br>
            <h2>{{meaning.heading_text}}</h2>
            <p>{{meaning.text}}</p>

            <h2>{{meaning.heading_text2}}</h2>
            <p>{{meaning.text2}}</p>
            <p class="b-style text-style">{{meaning.text3}}</h2>
            <p><b>{{meaning.text4}}</b></p>
          </div>

          <div id="requirement" class="container tab-pane fade"><br>
            <div class="row">
              <div class="col-md-12 col-12">
                <h2>{{minimum.heading_text}}</h2>
                <p>{{minimum.text}}</p>
                <h2>{{minimum.heading_text2}}</h2>
                <p>{{minimum.text2}}</p>
                <div class="about-text-style">
                  <ul>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{minimum.heading_text3}} </li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{minimum.heading_text4}} </li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i>{{minimum.text3}}</li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{minimum.text4}} </li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{minimum.text5}}</li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{minimum.text6}}</li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{minimum.colorcode1}} </li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{minimum.colorcode2}} </li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{minimum.list1}}</li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{minimum.list2}} </li>
                  </ul>

                  <ul>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{minimum.list3}} </li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{minimum.list4}} </li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{minimum.list5}}</li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{minimum.list6}}</li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{minimum.list7}} </li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{minimum.list8}} </li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{minimum.list9}}</li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{minimum.list10}}</li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{minimum.list11}}</li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{minimum.list12}}</li>
                  </ul>
                </div>
              </div>
            </div>

          </div>

          <div id="benefit" class="container tab-pane fade"><br>
            <div class="row btm_grd_banner text-center">
              <div class="col-md-12 col-12">
                <div class="text-white heading2">
                  <h2 class="py-2">{{benefit.heading_text}}</h2>
                  <p class="fs-6 pt-2">{{benefit.text}} </p>
                  <p class="fs-6">{{benefit.text2}}</p>
                  <p class="fs-6">{{benefit.text3}}</p>
                  <p class="fs-6">{{benefit.text4}}</p>
                </div>
              </div>
            </div>
            <div class="row">

              <div class="col-md-12 col-12 heading pt-2">

                <div class="about-text-style">
                  <ul>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{benefit.list1}}</li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{benefit.list2}}</li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{benefit.list3}}</li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{benefit.list4}}</li>
                  </ul>
                </div>

              </div>

            </div>

          </div>

          <div id="required" class="container tab-pane fade"><br>
            <div class="row">

              <div class="col-md-12 col-12 heading">
                <h2>{{document.heading_text}}</h2>
                <div class="about-text-style">
                  <ul>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list1}} </li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list2}} </li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list3}} </li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list4}} </li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list5}}</li>
                  </ul>
                  <ul>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list6}}</li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i>{{document.list7}}</li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list8}} </li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i>{{document.list9}} </li>
                  </ul>
                </div>
                <h2>{{document.heading_text2}}</h2>
                <p>{{document.text2}}
                </p>
              </div>

            </div>

            <div class="row table-responsive-sm">

              <div class="col-md-4 col-12 p-2">
                <table class="table">
                  <tbody>
                    <tr class="table-dark">
                      <td>{{document.list10}}</td>
                    </tr>
                    <tr class="table-primary">
                      <td>{{document.list11}}</td>
                    </tr>

                    <tr class="table-info">
                      <td>{{document.list12}}</td>
                    </tr>
                    <tr class="table-warning">
                      <td>{{document.list13}}</td>
                    </tr>

                    <tr class="table-light">
                      <td>{{document.list14}}</td>
                    </tr>

                    <tr class="table-info">
                      <td>{{document.list15}}</td>
                    </tr>

                    <tr class="table-light">
                      <td>{{document.list16}}</td>
                    </tr>
                    <tr class="table-warning">
                      <td>{{document.list17}}</td>
                    </tr>

                  </tbody>
                </table>
              </div>

              <div class="col-md-4 col-12 p-2">
                <table class="table">
                  <tbody>
                    <tr class="table-dark">
                      <td>{{document.list18}}</td>
                    </tr>
                    <tr class="table-primary">
                      <td>{{document.list19}}</td>
                    </tr>

                    <tr class="table-info">
                      <td>{{document.list20}}</td>
                    </tr>
                    <tr class="table-warning">
                      <td>{{document.list21}}</td>
                    </tr>

                    <tr class="table-light">
                      <td>{{document.list22}}</td>
                    </tr>

                    <tr class="table-info">
                      <td>{{document.list23}}</td>
                    </tr>

                    <tr class="table-light">
                      <td>{{document.list24}}</td>
                    </tr>
                    <tr class="table-warning">
                      <td>{{document.list25}}</tr>

                  </tbody>
                </table>
              </div>

              <div class="col-md-4 col-12 p-2">
                <table class="table">
                  <tbody>
                    <tr class="table-dark">
                      <td>{{document.list26}}</td>
                    </tr>
                    <tr class="table-primary">
                      <td>{{document.list27}}</td>
                    </tr>

                    <tr class="table-info">
                      <td>{{document.list28}}</td>
                    </tr>
                    <tr class="table-warning">
                      <td>{{document.list29}}</td>
                    </tr>

                    <tr class="table-light">
                      <td>{{document.list30}}</td>
                    </tr>

                    <tr class="table-info">
                      <td>{{document.list31}}</td>
                    </tr>

                    <tr class="table-light">
                      <td>{{document.list32}}</tr>
                    <tr class="table-warning">
                      <td>{{document.list33}}</tr>


                  </tbody>
                </table>
              </div>


            </div>

          </div>

          <div id="process" class="container tab-pane fade"><br>
            <div class="row btm_grd_banner text-center">
              <div class="col-md-12 col-12">
                <h2>{{incorporation.heading_text}}</h2>
                <p>{{incorporation.text}}</p>
                <p>{{incorporation.text2}}</p>
                <div class="py-2 text-white heading2">
                  <p class="fs-6 pt-2">{{incorporation.text3}}</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="about-text-style">
                  <ul>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{incorporation.list1}} </li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{incorporation.list2}}</li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{incorporation.list3}}</li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{incorporation.list4}} </li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{incorporation.list5}} </li>
                  </ul>
                  <ul>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{incorporation.list6}} </li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{incorporation.list7}} </li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{incorporation.list8}} </li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{incorporation.list9}} </li>
                  </ul>
                </div>
                <p>{{incorporation.text4}}</p>
              </div>
            </div>
          </div>

          <div id="compliance" class="container tab-pane fade"><br>
            <h2>Compliance</h2>
          </div>

          <div id="closure" class="container tab-pane fade"><br>
            <h2> closure </h2>
          </div>

          <div id="faq" class="container tab-pane fade"><br>
            <h2 class="fs-4">FAQ</h2>

          </div>

        </div>
      </div>

      {% include 'common_pages/pricing_sum_below.html' %}

    </div>
  </div>
</section>

{% include 'common_pages/fssai.html'%}

<section class="checklist py-5">
  <div class="container">
    <h2>{{faq.question1}}</h2>
    <p>{{faq.answer1}}</p>
    <h2>{{faq.question2}}</h2>
    <p>{{faq.answer2}}</p>
    <div class="row py-4">

      <div class="col-md-6 col-6">
        <div class="shadow p-4">
          <h5 class="text-primary"> {{faq.question3}}</h5>
          <p>{{faq.answer3}}</p>
        </div>
      </div>

      <div class="col-md-6 col-6">
        <div class="shadow p-4">
          <h5 class="text-primary"> {{faq.question4}}</h5>
          <p>{{faq.answer4}}</p>
        </div>
      </div>

    </div>

    <div class="row py-4">

      <div class="col-md-6 col-6">
        <div class="shadow p-4">
          <h5 class="text-primary"> {{faq.question5}}</h5>
          <p>{{faq.answer5}}</p>
        </div>
      </div>

      <div class="col-md-6 col-6">
        <div class="shadow p-4">
          <h5 class="text-primary"> {{faq.question6}}</h5>
          <p>{{faq.answer6}}</p>
        </div>
      </div>

    </div>

    <div class="row py-4">
      <h2>{{step.heading_text}}</h2>
      <p>{{step.text}}</p>
      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary">{{step.step1}}</h5>
          <p>{{step.answer1}}</p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary">{{step.step2}}</h5>
          <p>{{step.answer2}}</p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary">{{step.step3}}</h5>
          <p>{{step.answer3}}</p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary">{{step.step4}}</h5>
          <p>{{step.answer4}}</p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary">{{step.step5}}</h5>
          <p>{{step.answer5}}</p>
        </div>
      </div>

      <h2 >{{step.step6}}</h2>
          <p>{{step.answer6}}</p>
          
          <p>{{step.answer7}}</p>

    </div>
  </div>
</section>


{%endblock%}