{% extends 'index.html' %}

{%block title%}Patent registration {% endblock %}

{%block body %}

<section class="top-banner6 bn-styles">
  <div class="container">
    <div class="row pt-4">
      <div class="col-md-6 col-8 pt-5 pt-5">
        <h2><b>Patent Registration <span class="text-white">in India</span></b></h2>
        <p class="pt-4"> <b>Patent Filing is the initial and most crucial step to obtaining an application for a Patent
            Grant in India. A novel and new Invention are patentable if not made known to the general public. We can
            assist you with Prior Art Searches in different areas, as well as the drafting of Patent Specifications,
            Filing and prosecution of regular Indian Applications or Under PCT.
          </b></p>
        <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
      </div>
    </div>
  </div>
</section>

<section class="py-5 side-navbg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
        <div>
          <ul class="sidebar nav-pills" id="sideMenu">
            <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b>
            </h5>
            <li> <a class="sidelink active" href="#overview">
                <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a>
            </li>
            <li> <a class="sidelink" href="#process">
                <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span> Step Wise Process</a> </li>
            <li> <a class="sidelink" href="#document">
                <span class="icon-s"> <i class="fa fa-file-text" aria-hidden="true"></i> </span> List of Documents</a>
            </li>


          </ul>
        </div>

        <div class="content content-3s bg-light">
          <div id="overview">
            <section class="py-4">
              <div class="container">
                <div class="row">

                  <div class="col-md-12 col-12 heading pt-2">
                    <h2 class="fs-2">The Meaning of Patent and <span class="text-primary">Type of Patent</span>
                      Application</h2>
                    <p class="fs-6">Patents grant exclusivity to the creator/owner of the Invention, which is as new
                      products or in the form of improved or new industrial Processes. Patent registration in India is a
                      significant task that requires years of experience and a solid technical understanding of the
                      subject. To grant a patent, an application must be made for the Invention that is unique and novel
                      but has not been disclosed before sending it to the offices of the patent controller in India.</p>
                    <p class="b-style text-style">The patent application is submitted with a technical description in
                      the form of a Patent Specification. One of the primary factors that determine patentability are
                      novelty and non-obviousness. There are three types of Patent applications that can be filed.
                      Here's a quick overview of what Type of Patent Application.</p>
                    <p><b> Regular Indian Patent application The Ordinary Indian Patent Application is the most
                        frequently filed application filed by an Indian inventor. The Invention is made public in the
                        first instance before it is filed with the Indian Patent Office and can be filled with either a
                        full or provisional specification. When the patent application has been filed using an initial
                        specification, the complete specification must be filed within 12 months from the date of the
                        initial application. </b></p>

                  </div>

                </div>
              </div>
            </section>

            <section class="py-4 text-center s-img s-img1">
              <div class="container py-2">
                <div class="row">
                  <div class="col-md-2 col-12">
                  </div>
                  <div class="col-md-10 col-12">
                    <h2 class="py-4">Convention Applications: </h2>
                    <p>In The Paris convention of 1883 concerning patents, the parties have acknowledged the importance
                      of the first patent disclosure (or "Prior Art," and in the case of international patents, the
                      applicant can apply for a patent within 12 months from the date of making the first application,
                      and the prior disclosure will not be considered prior art in the following country application.
                    </p>

                    <br>
                    <h2 class="py-4">PCT Applications:</h2>
                    <p>Application for Patent Co-Operation Treaty provides an application procedure that allows for an
                      international request for a patent grant that India can make for 152 countries in the contract. In
                      the initial stage, the application is inspected by an international exam authority that the
                      applicant chooses; the applicant may apply for the national phase.</p>
                  </div>

                </div>
              </div>
            </section>

            <section class="py-4">
              <div class="container">
                <div class="row">
                  <div class="col-md-3 col-12">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">Novelty:</h5>
                        <br>
                        <p class="card-text">A new invention eligible for grant of a Patent must be original and novel.
                          When we refer to the novel, that means that the Invention or process must not be previously
                          known in any document that was granted a Patent and published Patent or other literature or in
                          open access. The best way to determine the novelty is to conduct a Patent Search, &amp; we can
                          conduct a top-quality patent search in every jurisdiction.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3 col-12 mt-2">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">Invention Step: </h5>
                        <br>
                        <p class="card-text">The Invention must result from innovative technological advancement or
                          inputs over the current knowledge or provide economic advantages over prior knowledge. It
                          should not be anticipated by someone skilled in the same field. When an inventor can solve a
                          problem with his Invention, and someone else can offer the exact solution with the knowledge
                          he has acquired, the Invention will not be considered inventive.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3 col-12 mt-4">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">Industrial Applications:</h5>
                        <br>
                        <p class="card-text">Section 2 (ac) of the Indian Patent Act clearly states that the Invention
                          should be able to be used as a means of manufacturing in the form of goods or used as an
                          industrial process. Also, the Invention must be abstract and have a practical benefit to the
                          industry.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3 col-12 mt-5">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">Nonpatentable Subject Matters:</h5>
                        <br>
                        <p class="card-text">The object of the Invention shouldn't be included in the list of
                          nonpatentable Subject Matters according to sections 3 and 4 of the Indian Patents Act. We
                          suggest that you go through the statute to find the complete list. A few of them are listed
                          below.</p>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </section>

            <section class="py-4 text-center s-img s-img1">
              <div class="container py-2">
                <div class="row">
                  <div class="col-md-2 col-12">
                  </div>
                  <div class="col-md-10 col-12">
                    <h2 class="py-4">Patentability Criteria for Patents</h2>
                    <p>In granting a patent, the patent holder is granted the exclusive rights to this Invention only to
                      its patent owner within the country's territorial jurisdiction. Patents are an exclusive right
                      that prohibits anyone from producing, selling, using, or trading products or industrial services.
                      Every country has its rules of law to determine the Invention to grant legal protection for the
                      Patent.</p>
                  </div>
                </div>
              </div>
            </section>

            <section class="py-4 bg-light">
              <div class="container">
                <div class="row">

                  <div class="col-md-12 col-12 heading pt-2">

                    <div class="about-text-style">
                      <ul>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> The Surgical Procedure </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Mathematical/Business Method </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Algorithm </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> PC Program per Se </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> A Simple Scheme or Rule </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> The Topology of Integrated Circuit
                        </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Literary or artistic work </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> The Presentation of Information </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Traditional Knowledge </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Inventions Related to Atomic Energy
                        </li>
                      </ul>

                      <ul>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> The Surgical Procedure </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Mathematical/Business Method </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Algorithm </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> PC Program per Se </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> A Simple Scheme or Rule </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> The Topology of Integrated Circuit
                        </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Literary or artistic work </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> The Presentation of Information </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Traditional Knowledge </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Inventions Related to Atomic Energy
                        </li>
                      </ul>
                    </div>
                  </div>

                </div>
              </div>
            </section>


            <section class="btm_grd_banner py-4">
              <div class="container">
                <div class="row text-center">
                  <div class="col-md-12 col-12">
                    <div class="text-white heading2">
                      <h2 class="py-2">Precedential Art Lookup for Patent Filing</h2>
                      <p class="fs-6 pt-2">Prior Art Searches can be performed to discover documents similar to the
                        patent. Through performing Prior Art Searches for an invention, the creator will know whether
                        the same or similar Invention is in use. </p>
                      <p class="fs-6">However, prior art research is not required in certain circumstances, such as when
                        the patent application is submitted for publicity purposes or the company's marketing efforts
                        without the intention of getting the patent granted, and it is not necessary.</p>
                      <p class="fs-6">Prior Art Search is non-essential. But, prior art searches are essential if the
                        invention to the company or significant resources have been utilized in the research and
                        development of the new process or product or process. Prior Art Searches become an essential
                        requirement. In the same way, the amount that should be invested in the prior art is also
                        contingent upon the purpose and nature of filing a patent.</p>
                      <p class="fs-6">A prior art search can be conducted through several databases in various
                        jurisdictions to locate the exact as or similar to the Invention. Invention or can modify his
                        idea to make it more original and therefore patentable. The prior art search may include the
                        following.</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section class="py-4 bg-light">
              <div class="container">
                <div class="row">

                  <div class="col-md-12 col-12 heading pt-2">

                    <div class="about-text-style">
                      <ul>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Short-listing of keywords</li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> A thorough search of databases</li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> A wide range of Internet-based
                          searches</li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Interpretation and analysis of the
                          results of a search</li>
                      </ul>
                    </div>
                    <h2>Drafting and filing of Patent Specification</h2>
                    <p>A patent specification can be described as a technical document displayed in the public search
                      once the patent is published. The examiner determines the patent application based on the patent
                      specification and the claims. Therefore it is the primary document of the patent application in
                      which the inventor provides all details about the Invention. Invention applications can file in
                      India with a provisional specification or full specification. The application is considered
                      complete when the patent is filed with its complete specification.</p>
                    <p><b>Provisional Specification of Patent:</b> The patent application is filed with a Provisional
                      Specification for claiming priority date before it is filed with the Patent Office. The
                      application is made by the inventor whose time is needed to develop the Invention. The invention
                      has come to the point where it can be released. The provisional specification doesn't include
                      claims, and within 12 months after filing the preliminary specification, the entire specification
                      must be filed.</p>
                  </div>

                </div>
              </div>
            </section>

          </div>

          <div id="process">

            <section class="btm_grd_banner py-4">
              <div class="container">
                <div class="row text-center">
                  <div class="col-md-12 col-12">
                    <div class="py-2 text-white heading2">
                      <p class="fs-6 pt-2"><b>Full Specification for Patent:</b> The entire specification is a
                        tech-legal document in which the inventor provides all the details about the Invention and the
                        claims the inventor can make in the Invention. Invention specification should include the
                        following information in the document. </p>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section class="py-4 bg-light">
              <div class="container">
                <div class="row">


                  <div class="col-md-12 col-12 heading pt-2">

                    <div class="about-text-style">
                      <ul>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Title </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Field of Invention </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Background </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Summary </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> A Brief Description of Drawings </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> The Full Description </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Abstract </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Claim(s) </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Drawings </li>
                      </ul>
                    </div>
                    <p>It is important to understand that the Patent Specification is such an important tool that it can
                      be used to benefit the patentee or against them; therefore, it shouldn't be left to chance or
                      created by a novice. We've come across several instances where the inventor made the specification
                      without assistance from a professional and could lose the Patent. The specification should be
                      written keeping in mind the patenting process using technical and legal terminologies and abide by
                      the requirements of the law on patents. We have domain expert lawyers and scientists who can
                      assist with the drafting of patents.</p>

                    <h2>Step-wise Process for Patent Registration Record the specifics regarding your Invention in Great
                      Detail</h2>

                    <p>The first step in Patent Filing in India should begin by collecting all information, concepts and
                      concepts related to your current Invention. When gathering information about the Invention, it is
                      possible to consider the creation of a sketch or flow chart with a focus on how your Invention
                      differs from prior art or knowledge. This helps us to perform prior art searches and also the
                      creation of the specification for patents.</p>
                  </div>

                </div>
              </div>
            </section>

            <section class="py-4 bg-colo-p">
              <div class="container">
                <div class="row">
                  <div class="col-md-4 col-12">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">Patentability Search (This is an optional step)</h5>
                        <br>
                        <p class="card-text">The next step is logical, however crucial, but it's an option.
                          Patentability is determined by four main criteria, which are discussed in the previous section
                          of this webpage. The patentability and prior art searches assist the inventor in determining
                          whether or not to go ahead with the Patent.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 col-12 mt-4">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">The Drafting phase of Patent Specification</h5>
                        <br>
                        <p class="card-text">A patent specification can be described as an important technical document
                          required to be filed as a part of the patent application. The writing of the specification
                          must be handled by the inventor or by someone who is an expert in the area, and the attorney
                          should determine whether the correct terminology is used and whether the specification
                          complies with patent law.</p>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-4 col-12 mt-5">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">Filing of Response to Patent Office Response to Patent Office
                          Objections</h5>
                        <br>
                        <p class="card-text">The examiner notes the objections of the patent office in connecting the
                          Patent to a specific inventor in the patent examination report. A valid response must be filed
                          along with a point-wise response to each point of disagreement, supported by well-established
                          legal rules and a citation to the ruling.</p>
                      </div>
                    </div>
                  </div>

                </div>



                <div class="row pt-4">

                  <div class="col-md-8 col-12 mt-4">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">The publication of the Patent Application</h5>
                        <br>
                        <p class="card-text">The patent office publishes patents after the applicant applies. The
                          Patent's publication occurs within 18 months of the date of the patent application only if the
                          applicant submits an additional application for the identical. However, a request for early
                          publication can be submitted with an extra fee in conjunction with the application or at any
                          date after the filing.
                          The reason for promoting this Patent's validity is to provide an opportunity to the general
                          public all over the world to find out whether there are any objections to the granted Patent
                          to the applicant.
                        </p>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-4 col-12 mt-5">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">Of Patent of Patent</h5>
                        <br>
                        <p class="card-text">After the Patent Office is satisfied with its response to objections from
                          the examiner, and if the request meets all patentability requirements, The Patent will be
                          issued.</p>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </section>

          </div>


          <div id="document">
            <section class="py-4 bg-light">
              <div class="container">
                <div class="row">

                  <div class="col-md-12 col-12 heading pt-2">
                    <h2>The list of documents required for Registration of Patents in India Formulation for Application
                    </h2>

                    <div class="about-text-style">
                      <ul>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Patent Specification in Form 2 </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Drawings with Description </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Abstract of Invention </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Patent Claims </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Priority Document (Convention
                          Application) </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Statement &amp; Undertaking under
                          Section 8 (Form 3) </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Declaration of Inventor ship (Form 5)
                        </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> The power of attorney (Form 26) </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Form 28 for MSME/ Startup </li>
                      </ul>
                    </div>
                  </div>

                </div>
              </div>
            </section>


            <section class="py-4 ab-banner text-white">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 col-12 heading">
                    <h2 class="py-4">The timeframe in the process of Grant of Patent in India</h2>
                    <p>Patent applications are an echelon-wise process, as described in the step-wise procedure section
                      the patent might be published with an additional cost from the government. The applicant is also
                      able to file an expedited exam of the patent, which can reduce the time needed for the granted for
                      the grant.</p>
                  </div>
                </div>


                <div class="row table-responsive-sm">

                  <div class="col-md-4 col-12 p-2">
                    <table class="table">
                      <tbody>
                        <tr class="table-dark">
                          <td>S.No Activity</td>
                        </tr>
                        <tr class="table-primary">
                          <td>Novelty Search: Prior Art Search is not required, but highly recommended.</td>
                        </tr>

                        <tr class="table-info">
                          <td>The Drafting phase of Patent Specification</td>
                        </tr>
                        <tr class="table-warning">
                          <td>Application for Patent Filing Application</td>
                        </tr>

                        <tr class="table-light">
                          <td>Request for Exam</td>
                        </tr>

                        <tr class="table-info">
                          <td>First Examination Report (FER)</td>
                        </tr>

                        <tr class="table-light">
                          <td>Response to the FER or Opposition</td>
                        </tr>
                        <tr class="table-warning">
                          <td>of Patent of Patent</td>
                        </tr>

                      </tbody>
                    </table>
                  </div>

                  <div class="col-md-4 col-12 p-2">
                    <table class="table">
                      <tbody>
                        <tr class="table-dark">
                          <td>Normal Route</td>
                        </tr>
                        <tr class="table-primary">
                          <td>10 Days</td>
                        </tr>

                        <tr class="table-info">
                          <td>15 Days</td>
                        </tr>
                        <tr class="table-warning">
                          <td>1 Day</td>
                        </tr>

                        <tr class="table-light">
                          <td>Within 48 Months of the Date of Filing</td>
                        </tr>

                        <tr class="table-info">
                          <td>A little more than one year has passed since the request for examination has been
                            submitted</td>
                        </tr>

                        <tr class="table-light">
                          <td>You must file a response within 6 months after the issue of the FER.</td>
                        </tr>
                        <tr class="table-warning">
                          <td>It typically takes between 2-4 years to complete Grant of Patent through Normal route</td>
                        </tr>

                      </tbody>
                    </table>
                  </div>

                  <div class="col-md-4 col-12 p-2">
                    <table class="table">
                      <tbody>
                        <tr class="table-dark">
                          <td>Express Route</td>
                        </tr>
                        <tr class="table-primary">
                          <td>10 Days</td>
                        </tr>

                        <tr class="table-info">
                          <td>15 Days</td>
                        </tr>
                        <tr class="table-warning">
                          <td>1 Day</td>
                        </tr>

                        <tr class="table-light">
                          <td>Together with the Application</td>
                        </tr>

                        <tr class="table-info">
                          <td>Within 6 months of application Filing</td>
                        </tr>

                        <tr class="table-light">
                          <td>Send a File Reply as soon as you can if there is an problem is with the FER</td>
                        </tr>
                        <tr class="table-warning">
                          <td>In the context of Express Route Patent is Granted within 1-1.5 Years</td>
                        </tr>


                      </tbody>
                    </table>
                  </div>


                </div>
              </div>
            </section>

            <section class="py-4 bg-light">
              <div class="container">
                <div class="row">

                  <div class="col-md-12 col-12 heading pt-2">
                    <h2>Renewal Fees for Patents in India</h2>
                    <p>To keep a patent valid, is it necessary to pay a renewal fee in advance to the Indian patent
                      office before the end of the Year in which it is moving? Patents are granted for twenty years
                      beginning from the date of the application submission and the International filing date for PCT
                      National phase applications. PCT National phase application. The renewal fee must be paid to the
                      Indian Patent Office for 3rd Year and beyond.</p>

                    <p>When the patent was granted after two years from the date of application, due fees must be paid
                      within 3 months after the date of the recording of the patent on the registry. If the patent gets
                      granted prior to the expiry of two years after that date, the filing of your application's initial
                      renewal fee is due in the third Year. This must be paid before the expiration of the first Year.
                      There is no separate form that needs to submit to renew. A person can pay for renewal by
                      submitting a request for payment to the controller of patents.</p>
                  </div>

                </div>
              </div>
            </section>

          </div>
          {% include 'product.html' %}
        </div>
      </div>
      <div class="col-md-3 col-12 pricing">
        <div class="s_fixed bg-light p-2 px-5 pricing-spc">
          <h5>Pricing Summary</h5>
          <div class="table-responsive">
            <table class="table border border-white">
              <tbody>
                <tr>
                  <th>Quantity</th>
                  <td>: 1 Year</td>
                </tr>
                <tr>
                  <th>Market Price</th>
                  <td>: ₹11899</td>
                </tr>
                <tr>
                  <th>DobizndiaFilings</th>
                  <th class="text-danger">: ₹8389 excl. GST</th>
                </tr>
                <tr>
                  <th></th>
                  <td> &nbsp; ₹9899 incl. GST</td>
                </tr>
                <tr>
                  <th>GST Credit</th>
                  <td>: ₹1510</td>
                </tr>
                <tr>
                  <th>You Save</th>
                  <td>: ₹3510 (29%)</td>
                </tr>
              </tbody>
            </table>
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="button"><a href="{%url 'order'%}"> Order Now </a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{%endblock%}