{% extends 'index.html' %}

{%block title%}ROC Registrations with CSR-1{% endblock %}

{%block body %}

     <section class="top-banner4 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-7 col-10 pt-5 pt-5">
            <h2><b>NGO Registration  <span class="text-white">by CSR-1</span></b></h2>
            <p class="pt-4"> <b>India-based companies must adhere to corporate social responsibility. CSR can be done by such companies themselves or through NGOs. CSR grants are available to NGOs from corporate bodies to carry out CSR activities. CSR grants can be received from body corporate to enable them to carry out CSR activities on their behalf. 
            </b></p>
            <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            <li> <a class="sidelink" href="#document">
            <span class="icon-s"> <i class="fa fa-file-text" aria-hidden="true"></i> </span>  List of Documents</a> </li>
            <li> <a class="sidelink" href="#faq">
            <span class="icon-s"> <i class="fa fa-question-circle" aria-hidden="true"></i> </span>  FAQ</a> </li>
            
            </ul>
          </div>

          <div class="content content-3s bg-light">
            <div id="overview">
              <section class="py-4">
                <div class="container">
                  <div class="row">

                    <div class="col-md-12 col-12 heading pt-2">
                      <h2 class="fs-2">India CSR <span class="text-primary">Registration</span>  Online </h2>
                      <p class="fs-6">Companies are required to contribute voluntarily to the community's welfare. Companies can secure this contribution in their CSR funds. These funds may be used by the body corporate that keeps them or outsourced to non-profit organizations which will perform CSR activities on behalf of the body corp. </p>
                      <p class="b-style text-style">For this purpose, grants may be granted to NGOs from the CSR fund of body corporations if they are "Bodies undertaking CSR actions" registered with the ROC. The regulations regarding the registration of NGOs to obtain CSR funding and engage in CSR activities were introduced on April 1, 2021.</p>
                      <br>
                      <h2 class="fs-4">NGO Registrations <span class="text-primary"> with CSR-1</span></h2>
                      <div class="about-text-style">
                          <ul>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Register now to be eligible for CSR grants!</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> We guarantee speedy delivery with our 100% online service!</li>
                          </ul>
                      </div>
                    </div>

                    
                  </div>
                </div>
              </section>

              <section class="py-4 text-center s-img s-img1">
              <div class="container py-2">
                <div class="row">
                  <div class="col-md-2 col-12">
                  </div>
                <div class="col-md-10 col-12">
                  <h2 class="py-4">Eligible NGOs for CSR registration</h2>
                  <p>Non-profit, non-governmental organizations usually engage in activities for the advancement and welfare of society. Therefore they are well-suited to take on CSR activities that are outsourced to them by corporate bodies subject to corporate social accountability. Corporations shall provide CSR funds to these NGOs to outsource CSR. This will require NGOs to register with them before they can grant CSR funds. Here are the lists of NGOs that are eligible for CSR activities.</p>
                </div>
                </div>
              </div>
            </section>

            <section class="py-4 bg-light">
              <div class="container">
                <div class="row">

                  <div class="col-md-12 col-12 heading pt-2">
                    <h2 class="fs-1 pt-4">List of NGO eligible for  <span class="text-primary">CSR </span> Register</h2>
                   
                    <div class="about-text-style">
                        <ul>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Section 8 companies may be registered under Section 12 A and Section 80 of Income Tax Act </li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Registered Society also registered in Section 12A and Section 80 of the Income Tax Act </li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Registered public trusts may also be registered under Section 12 A of the Income Tax Act and Section 80. </li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> A registered society or registered trust is a legal entity that has been established by the Central or State governments </li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> You should note that all of the entities above must have a track-record of undertaking at minimum 3 years of allowed social welfare activities. </li>
                        </ul>
                    </div>
                  </div>

                </div>
              </div>
            </section>

            </div>

             <div id="process">

              <section class="btm_grd_banner py-4">
                <div class="container">
                  <div class="row text-center">
                    <div class="col-md-12 col-12">
                      <div class="py-2 text-white heading2">
                      <h2 class="py-2">CSR Registration is a step-by-step process for NGOs</h2>
                      <p class="fs-6 pt-2">CSR registration requires that NGOs file online Form CSR 1 and submit it along with the required documents to the Registrar of Companies. Below, you will find a complete explanation of CSR registration.</p>
                      <h1 class="py-2">Procedure for obtaining CSR registration</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">STEP 1 - Documentation</h5>
                            <br>
                            <p class="card-text">Documentation is what will determine whether or not the CSR application is approved. You should organize all necessary documents and submit them with your application to avoid confusion or CSR registration delays.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-12 mt-4">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">STEP 2, Filing Form CSR1</h5>
                            <br>
                            <p class="card-text">On the MCA's website, you can submit your application for CSR registration CSR 1. The online application can be completed with all information requested. The Form is available online and can be signed by</p>
                          </div>
                        </div>
                    </div>

                  </div>



                  <div class="row pt-4">

                    <div class="col-md-4 col-12">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">STEP3-Certification of Form CSR1</h5>
                            <br>
                            <p class="card-text">Once completed, the Form must first be certified by an independently practicing CA, CS, and CMA. This ensures that the information and documents included in the application are 100% authentic.</p>
                          </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-12 mt-4">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">STEP4: Submission of CSR1</h5>
                            <br>
                            <p class="card-text">Once the CSR 1 Form has been completed by an authorized professional and is certified, it can be uploaded online to the MCA portal. Ensure the documents you upload with your CSR application are self-attested by the applicant.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 mt-5">
                      <div class="mt-5"></div>
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">STEP 5. - Registration CSR</h5>
                            <br>
                            <p class="card-text">After the submission of Form CSR1, the RoC thoroughly reviews the application. The RoC issues a unique CSR registration ID to the NGO. It then becomes eligible to apply for CSR grants in India and engage in CSR activities.</p>
                          </div>
                        </div>
                    </div>

                  </div>

                </div>
              </section>

            </div>


            <div id="document">
              <section class="py-4 ab-banner text-white">
                <div class="container">
                  <div class="row">
                  <div class="col-md-8 col-12 heading">
                    <h2 class="py-4">List of documents needed for CSR Registration</h2>
                    <p><b> To apply for CSR registration, NGOs must submit the following documents and Form CSR 1. </b></p>
                  </div>
                  </div>


                  <div class="row table-responsive-sm">
                   <!--  <div class="col-md-5 col-12">  
                        
                    </div>  -->   
                      <div class="col-md-5 col-12 p-2">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>A. A.</td>
                          </tr>     
                          <tr class="table-primary">
                            <td>PAN card from the NGO</td>
                          </tr>

                          <tr class="table-info">
                            <td>Certificate of Registration of an NGO</td>
                          </tr>
                          <tr class="table-warning">
                            <td>Certificate Exemption for 12A and 80G</td>
                          </tr>
                          
                          <tr class="table-light">
                            <td>NGO Darpan ID</td>
                          </tr>

                          <tr class="table-warning">
                            <td>DSC of CSR 1 signatory</td>
                          </tr>

                        </tbody>
                      </table>
                    </div>

                    <div class="col-md-5 col-12 p-2">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>B. Additional Documents</td>
                          </tr>     
                          <tr class="table-primary">
                            <td>PAN card signed by CSR 1</td>
                          </tr>
                          
                          <tr class="table-info">
                            <td>CSR Policy and Report for Company</td>
                          </tr>
                          <tr class="table-warning">
                            <td>Sustainability Report for Companies</td>
                          </tr>
                          
                          <tr class="table-light">
                            <td>Trust Deed/Memorandum of Society</td>
                          </tr>

                          <tr class="table-warning">
                            <td>Details of any subsidiaries / other entities of the NGO</td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </section>
            </div>


            <div id="faq">
             <section class="bg-light py-4">
                <div class="container">
                  <div class="row">

                    <div class="col-md-8 col-12 mx-auto heading2">
                      <h2 class="text-center">Frequently Asked  <span class="text-primary">Questions</span></h2>
                      <div class="accordion pt-2" id="accordionExample">
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Which law requires CSR contributions from companies?
                            </button>
                          </h4>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              India's CSR contribution is covered by section 135 under the Companies Act.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              What is CSR allowed?
                            </button>
                          </h4>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                              These are the CSR-approved activities for companies:
                                Permitted Activities  

                              <ul>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  Education   </li>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  Promoting gender equality </li>   
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  Rural development projects  </li> 
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Contribution towards PM Cares Fund </li>  
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  Contribution towards protecting the environment  </li>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  Promotion of preventive healthcare, healthcare, and sanitation activities that are related to COVID-19 </li>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  Events related to disaster relief and management  </li>

                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                             Who signs the CSR 1?
                            </button>
                          </h4>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             <ul>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> CSR Registration or CSR-1 applications can be signed by:</li>
                               <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  Section 8 Companies - Authorized Director</li>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Trust Trustees</li>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Chairperson / Secretary</li>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Any other signatory authorized or permitted by the Parliament / State Legislative.</li>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Certification of Cost Accountant, CS and CA, Independently practicing</li>
                             </ul>
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                             Companies should all contribute to CSR initiatives in India.
                            </button>
                          </h4>
                          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                             Indian and foreign companies, as well as their holding companies and subsidiaries with a net value greater than Rs.500 Crores, a turnover greater or equal to Rs.1000 Crores and a net profit greater or equal to Rs.5 Crores are required by law, CSR funds must be maintained in India.
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                             What does NGO Darpan ID stand for?
                            </button>
                          </h4>
                          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             NGO Darpan Platform is a platform that allows registered NGOs to access a list of all Indian non-governmental organizations. The registration gives the NGO a unique NGO Darpan ID, allowing it to enjoy various benefits.
                                <ul>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  Access essential information on all other registered NGOs in India via the NGO Darpan Portal </li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  Details of government schemes and initiatives aimed at NGOs </li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  You can apply online to receive grants from different government ministries </li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  Keep track of the grant application status. </li>
                                </ul>
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            {% include 'product.html' %}
          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {%endblock%}