{% extends 'index.html' %}

{%block title%}Section 8 Company Registration{% endblock %}

{%block body %}

<section class="top-banner3 bn-styles">
  <div class="container">
    <div class="row pt-4">
      <div class="col-md-6 col-8 pt-5 pt-5">
        <h2 class="pt-4"><b>Section 8 <span class="text-white"> Company Registration</span></b></h2>
        <p class="pt-4"> <b>A company registered in Section 8 of the Companies Act is not for profit and promotes art,
            religion, literature, or social welfare. Section 8 companies are required to be registered under the
            Companies Act. Section 8 company incorporation is mandatory under the Companies Act 2013. Dobizindia
            business solution services are inexpensive and 100% available online for your convenience.
          </b></p>
        <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
      </div>
    </div>
  </div>
</section>

<section class="py-5 side-navbg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
        <div>
          <ul class="sidebar nav-pills" id="sideMenu">
            <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b>
            </h5>
            <li> <a class="sidelink active" href="#overview">
                <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a>
            </li>
            <li> <a class="sidelink" href="#process">
                <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span> Step Wise Process</a> </li>
            <li> <a class="sidelink" href="#document">
                <span class="icon-s"> <i class="fa fa-file-text" aria-hidden="true"></i> </span> List of Documents</a>
            </li>
            <li> <a class="sidelink" href="#faq">
                <span class="icon-s"> <i class="fa fa-question-circle" aria-hidden="true"></i> </span> FAQ</a> </li>

          </ul>
        </div>

        <div class="content content-3s bg-light">
          <div id="overview">
            <section class="py-5">
              <div class="container">
                <div class="row">

                  <div class="col-md-12 col-12 heading pt-2">
                    <h2 class="fs-2">What is <span class="text-primary">Section 8 </span> Company Register?</h2>
                    <p class="fs-6">Section 8 (2013 Companies Act) contains provisions to allow an individual or group
                      of people to form a corporation as a nonprofit organization. To be recognized as a nonprofit
                      entity, such companies must receive approval and a license from Central Government. Section 8
                      companies' primary goal is to promote arts, commerce, education, sports science research, social
                      welfare, religion, charity, environment conservation and other objects prescribed by law.
                      Promoting these objects requires that all income, donations, or grants received by a Section 8
                      Company be used.</p>
                    <br>
                    <p class="b-style text-style">Register your Section 8 Company with our top quality, highly
                      professional services at the lowest prices. Request a callback or subscribe to our Package to
                      receive Section 8 registration services.</p>
                    <br>
                    <h2 class="fs-2">What is <span class="text-primary">Section 8 </span> Company Register?</h2>
                    <div class="about-text-style">
                      <ul>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> What is your company's objective?
                        </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> What number of owners is the company
                          likely to have? </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> What is your company's authorized
                          capital? </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> What will the company's name be?
                        </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Who will be its first directors?
                        </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> What is the capital allocation ratio
                          of the company? </li>
                      </ul>
                    </div>
                  </div>

                </div>
              </div>
            </section>

            <section class="py-4 text-center s-img s-img1">
              <div class="container py-2">
                <div class="row">
                  <div class="col-md-2 col-12">
                  </div>
                  <div class="col-md-10 col-12">
                    <h2 class="py-4">Checklist for section 8. Company registration in India</h2>
                    <p>Nonprofit companies have the option to be registered as Private Limited Companies or Public
                      Limited Companies under Section 8 (2013 Companies Act). They can be established for specific
                      purposes, and depending on the type chosen for registration, they will need to meet certain
                      conditions. These conditions include minimum owners and directors, name, address, capital and
                      capital. This comprehensive checklist outlines all of the requirements for incorporation as a
                      Section 8 Company.</p>
                  </div>
                </div>
              </div>
            </section>

            <section class="py-4 bg-light">
              <div class="container">
                <div class="row">

                  <div class="col-md-12 col-12 heading pt-2">
                    <h2 class="fs-4 pt-4">Checklist to Register <span class="text-primary">Section 8 </span> Companies
                    </h2>

                    <div class="about-text-style">
                      <ul>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Section 8 of the Companies Act
                          outlines the not-for-profit business purpose. </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Private Limited must have at least 2
                          shareholders if the company is registered. </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> If the company's registered as Public
                          Limited, there must be at most 7 shareholders. </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Private Limited company registrations
                          require at least 2 directors </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> If the company's status is Public
                          Limited, there must be at least three directors. </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> At least one resident director. </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> A company name that is unique and
                          valid. </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> An official address for the company.
                        </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Invest some capital. </li>
                      </ul>
                    </div>
                  </div>

                </div>
              </div>
            </section>

          </div>

          <div id="process">

            <section class="btm_grd_banner py-4">
              <div class="container">
                <div class="row text-center">
                  <div class="col-md-12 col-12">
                    <div class="py-2 text-white heading2">
                      <h2 class="py-2">Section 8: Company Registration</h2>
                      <p class="fs-6 pt-2">We simplified the procedure of incorporating a section-8 company for
                        entrepreneurs and startup founders. You can request a phone call from us to start the process of
                        online registration for section 8 company. Our startup advisors will help you understand the
                        details of section 8 company incorporation. After being fully informed, you can place an order
                        for section 8. We have listed below the steps involved in Section 8 company formation.</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section class="py-4">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-12">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">STEP1 - Documentation regarding Section 8 company
                          registration</h5>
                        <br>
                        <p class="card-text">First, organize all documents necessary to facilitate Section 8 company
                          incorporation. All documents required for registration of section 8 companies must be
                          available. Inadequate documentation may result in the rejection of your registration request
                          online. The following section will find a list containing all necessary documents to
                          incorporate a section-8 company.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 col-12 mt-4">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">STEP2 - Select Company Name</h5>
                        <br>
                        <p class="card-text">The section 8 company name must be unique and communicate the
                          organization's identity. It must comply with all legal requirements that determine the
                          company's eligibility. A company's name cannot be identical to an existing company/LLP. The
                          name cannot contain words or phrases that indicate government patronage or are deemed
                          undesirable to the Central Government.</p>
                      </div>
                    </div>
                  </div>

                </div>



                <div class="row pt-4">

                  <div class="col-md-4 col-12">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">STEP 3 - Reserve Company name</h5>
                        <br>
                        <p class="card-text">To reserve the company's names, you can apply to the Central Registration
                          Center using the SPICe+ PART A or RUN (Reserve UniqueName) applications. The Registrar will
                          closely examine any proposed names to verify their eligibility and availability. If the
                          Registrar finds that any proposed names are valid and readily available, he will consider the
                          company name.</p>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-4 col-12 mt-4">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">STEP4: Section 8 company registration</h5>
                        <br>
                        <p class="card-text">The SPICe+ application form can be divided into two parts. The 1st section
                          can be used for reserving the name of your company. The 2nd section of the form has the
                          application for section-8 company registration and 10 other related services. The entire form
                          may be completed and submitted online to the ROC. The form is signed by the Class 3 Director,
                          who has been authorized for the SPICe+ registration of Section 8 companies.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 col-12 mt-5">
                    <div class="mt-5"></div>
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">STEP 5, Issue of Section-8 Company Registration</h5>
                        <br>
                        <p class="card-text">After verifying the authenticity and content of the company registration
                          form, the ROC will register the section-8 company and issue a certificate to it. The Registrar
                          assigns the section 8 company a CIN to ensure it has a unique identity. After receiving both
                          documents, incorporation as a Section 8 corporation is completed.</p>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </section>

          </div>


          <div id="document">
            <section class="py-4 ab-banner text-white">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 col-12 heading">
                    <h2 class="py-4">Documents needed for the incorporation or reorganization of a Section 8 Company
                    </h2>
                    <p>Section 8 company registration begins with documentation. The application for the company
                      registered under section 8 might be rejected if the documents are not correct or incomplete. The
                      documents that should be attached with an application for registration include documents of
                      directors, shareholders, documents from the principal business place, legal drafts, and company
                      documents. The following documents are required for the registration of a company under section 8.
                    </p>
                  </div>
                </div>


                <div class="row table-responsive-sm">

                  <div class="col-md-5 col-12 p-2">
                    <table class="table">
                      <tbody>
                        <tr class="table-dark">
                          <td>Documents of directors or shareholders</td>
                        </tr>
                        <tr class="table-primary">
                          <td>PAN card of all directors.</td>
                        </tr>

                        <tr class="table-info">
                          <td>All directors and shareholders need to provide proof of identification (Aadhar/ Driving
                            licence/ Passport/ VoterID). Director or shareholder who is not a resident of India must
                            show his passport to prove that he is authentic.</td>
                        </tr>
                        <tr class="table-warning">
                          <td>All shareholders and directors must provide proof of their registered address (Telephone
                            bill. Electricity bill. Water bill. Gas bill. A bank statement not older that two months.
                          </td>
                        </tr>

                        <tr class="table-light">
                          <td>All directors: DIN</td>
                        </tr>

                        <tr class="table-dark">
                          <td>Documents for the Company</td>
                        </tr>

                        <tr class="table-warning">
                          <td>MoA of company</td>
                        </tr>

                        <tr class="table-info">
                          <td>AoA company</td>
                        </tr>

                      </tbody>
                    </table>
                  </div>

                  <div class="col-md-5 col-12 p-2">
                    <table class="table">
                      <tbody>
                        <tr class="table-dark">
                          <td>Documents showing the business premises</td>
                        </tr>
                        <tr class="table-primary">
                          <td>Evidence of the registered address of your office premises or principal business location
                          </td>
                        </tr>

                        <tr class="table-info">
                          <td>No objection certificate from the owner</td>
                        </tr>
                        <tr class="table-warning">
                          <td>A copy (stamped and notarized) of the Rent Agreement.</td>
                        </tr>

                        <tr class="table-dark">
                          <td>Legal Drafts</td>
                        </tr>

                        <tr class="table-primary">
                          <td>INC 9 declaration of the first directors</td>
                        </tr>

                        <tr class="table-warning">
                          <td>INC 14 declaration made by an independently practicing CA, CS and advocate</td>
                        </tr>

                        <tr class="table-info">
                          <td>INC 15 Online Questionnaire </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </section>
          </div>


          <div id="faq">
            <section class="bg-light py-5">
              <div class="container">
                <div class="row">

                  <div class="col-md-11 col-12 mx-auto heading2">
                    <h2 class="text-center">Frequently Asked <span class="text-primary">Questions</span></h2>
                    <div class="accordion pt-2" id="accordionExample">
                      <div class="accordion-item">
                        <h4 class="accordion-header" id="headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            What's the law regarding the name and registration of a company under Section 8?
                          </button>
                        </h4>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body list-style">
                            A company registered under section 8 may be either Private Limited or a Private Limited
                            Company. However, its name cannot include the words "Private Limited," "Public Limited," or
                            the words "Private Limited" but must contain one of the following words.

                            <ul>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Foundation </li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Forum </li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Association </li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Federation </li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Chambers </li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Confederation </li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Council </li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Electoral Trust </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h4 class="accordion-header" id="headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Section 8 Company can raise capital via foreign direct investment (FDI).
                          </button>
                        </h4>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            Yes, Section 8 Companies are permitted to invest in foreign direct according to FEMA
                            Regulations. Foreign Direct Investment can only be paid after approval by the central
                            government because it is considered a foreign contribution.
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h4 class="accordion-header" id="headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Can a Section 8 Company invest or form a subsidiary to make a profit?
                          </button>
                        </h4>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            Yes. You can invest in any company that is not a profit-making company, provided there are
                            no restrictions.
                          </div>
                        </div>
                      </div>

                      <div class="accordion-item">
                        <h4 class="accordion-header" id="headingFour">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Can an unlimited company register for a section-8 company?
                          </button>
                        </h4>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body list-style">
                            <strong>Registering a section 8 corporation as an unlimited company is impossible. It cannot
                              be registered as a Private Limited Company.</strong>
                            <ul>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> How can an LLP or Partnership
                                firm become a member of a company? </li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Yes, an LLP or Partnership Firm
                                can become a member/shareholder of a Section8 business. </li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> A cooperative society can
                                become a member of a Section-8 company. </li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Yes. A cooperative society can
                                become a Section8 company member because it is considered to have the legal status of a
                                "legal person" according to the Companies Act 2013. </li>
                            </ul>
                          </div>
                        </div>
                      </div>


                      <div class="accordion-item">
                        <h4 class="accordion-header" id="headingFive">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            What are the reasons why trusts should not be created?
                          </button>
                        </h4>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body list-style">
                            <strong>Section 4 states that a trust's purpose is legal if it has not been:</strong>
                            <ul>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Forbidden By Law </li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Destroy the purpose or any law
                              </li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Is fraudulent </li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Implies injury to property and
                                person </li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Is the court judging it to be
                                immoral </li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Opinion against a public
                                program </li>
                            </ul>
                          </div>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          {% include 'product.html' %}
        </div>
      </div>
      <div class="col-md-3 col-12 pricing">
        <div class="s_fixed bg-light p-2 px-5 pricing-spc">
          <h5>Pricing Summary</h5>
          <div class="table-responsive">
            <table class="table border border-white">
              <tbody>
                <tr>
                  <th>Quantity</th>
                  <td>: 1 Year</td>
                </tr>
                <tr>
                  <th>Market Price</th>
                  <td>: ₹11899</td>
                </tr>
                <tr>
                  <th>DobizndiaFilings</th>
                  <th class="text-danger">: ₹8389 excl. GST</th>
                </tr>
                <tr>
                  <th></th>
                  <td> &nbsp; ₹9899 incl. GST</td>
                </tr>
                <tr>
                  <th>GST Credit</th>
                  <td>: ₹1510</td>
                </tr>
                <tr>
                  <th>You Save</th>
                  <td>: ₹3510 (29%)</td>
                </tr>
              </tbody>
            </table>
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="button"><a href="{%url 'order'%}"> Order Now </a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}