{% extends 'index.html' %}

{%block title%}Society Registration {% endblock %}

{%block body %}
      <section class="top-banner2 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-6 col-8 pt-5 pt-5">
            <h2><b>Register Online for Society <span class="text-white">in India</span></b></h2>
            <p class="pt-4"> <b>Execution of a trust document can create a new trust. In India, two types of Trust can be created: a public trust for the general public or a private one for a particular group of individuals. We offer 100% online Trust Registration for those interested in establishing Trust in India. Our services are available across India and are simple and quick for your comfort.  
            </b></p>
            <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            <li> <a class="sidelink" href="#document">
            <span class="icon-s"> <i class="fa fa-file-text" aria-hidden="true"></i> </span>  List of Documents</a> </li>
            <li> <a class="sidelink" href="#faq">
            <span class="icon-s"> <i class="fa fa-question-circle" aria-hidden="true"></i> </span>  FAQ</a> </li>
            
            </ul>
          </div>

          <div class="content content-3s bg-light">
            <div id="overview">
              <section class="py-4">
                <div class="container">
                  <div class="row">

                    <div class="col-md-12 col-12 heading">
                      <h2 class="fs-1">Register Online  <span class="text-primary">for Society</span></h2>
                      <p class="fs-6">Societies of India are created under the Societies Act of 1861. Although it is not compulsory to register a society, it is recommended. This will allow you to enjoy many tax and legal benefits. Dobizindia business solution private limited can offer high-quality professional services for Society registration through our all-inclusive plans. Our Society Registration Package is all you need. We will be there to help you constantly. Our professionals have over 18 years of experience and are highly qualified.</p>
                      <p class="b-style text-style">Society is the most straightforward non-governmental organization in India. It can register to operate at the state or national levels for educational and charitable purposes. Societies can be registered in India by the Societies Registration Act (1860). While the Societies Registration Act of India is applicable across India, many Indian states have their laws about Society Registration.</p>
                      <h5>Critical decisions to make  <span class="text-primary">for Society </span>Registration India</h5>
                      <div class="about-text-style">
                        
                          <ul>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> What purpose does the proposal serve? </li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> How many members will it need? </li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Which type of registration will it have? </li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> What name will it bear? </li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> It is; where will it be? </li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Who will contribute to it? </li>
                          </ul>
                      </div>
                    </div>

                    
                  </div>
                </div>
              </section>

              <section class="py-4 text-center s-img s-img1">
                <div class="container py-2">
                  <div class="row">
                    <div class="col-md-2 col-12">
                    </div>
                  <div class="col-md-10 col-12">
                    <h2 class="py-4">Checklist for India Society Registration</h2>
                    <p>Before you begin a Society's registration and formation process, specific requirements must be met. These include the number, purpose, relationship between founders and members, as well as the name and address of the Society. Forming a Society in India is impossible if these conditions are not met. You can find a complete list in the table below.</p>
                  </div>
                  </div>
                </div>
              </section>

            <section class="py-4 bg-light">
              <div class="container">
                <div class="row">

                  <div class="col-md-12 col-12 heading pt-2">
                    <h2 class="fs-1 pt-4">Checklist for  <span class="text-primary">Society </span>Registration</h2>
                   
                    <div class="about-text-style">
                        <ul>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Minimum 7 individuals </li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> According to the Societies Act of 1860, formations are for specified purposes. </li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> A non-governmental, not-for-profit organization </li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> None of the founders or members can be related through blood. </li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> A unique and valid title </li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> A registered office address </li>
                        </ul>
                    </div>
                  </div>

                </div>
              </div>
            </section>

            </div>

             <div id="process">

              <section class="btm_grd_banner py-4">
                <div class="container">
                  <div class="row text-center">
                    <div class="col-md-12 col-12">
                      <div class="py-2 text-white heading2">
                      <h2 class="py-2">Step-by-step procedure for India society registration</h2>
                      <p class="fs-6 pt-2">India has two options for trust registration: unregistered or registered. There are many benefits to a registered trust over an unregistered one. You have the right to sue and claim income tax exemptions. You can also own property. It is recommended that you register your Trust immediately after it is formed. Here is the detailed step-by procedure for India Society Registration.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <section class="py-4">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6 col-12">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">STEP 1 - Documentation</h5>
                              <br>
                              <p class="card-text">Without proper documents, India has a slow process of registering societies. We advise you to prepare all documents necessary to register your Society. Incorrect or inadequate documentation can result in the rejection of your entire application.</p>
                            </div>
                          </div>
                      </div>

                      <div class="col-md-6 col-12 mt-4">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">STEP 2 - Select a Unique name</h5>
                              <br>
                              <p class="card-text">A Society's name must be distinctive and convey its established purpose. It is essential that your Society's name does not match the name of any other Society, NGO, registered trademark or applied trademark. The name of your Society should not be identical to that of an existing Society. However, it must be different from any trademark registered or applied for.</p>
                            </div>
                          </div>
                      </div>

                    </div>



                    <div class="row pt-4">

                      <div class="col-md-4 col-12">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">STEP 3. - Draft MoA &amp; Rules &amp; Regulations</h5>
                              <br>
                              <p class="card-text">The Memorandum of the Society (and the Rules of the Society) is the most crucial document for the foundation of any Society. The Memorandum of the Society defines the primary purpose of the Society. Rules are used to manage the internal affairs of the Society, such as the quorum of the meetings, powers, and responsibilities of the officers of the Society, including the secretary, president, and treasurer.</p>
                            </div>
                          </div>
                      </div>


                      <div class="col-md-4 col-12 mt-4">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">STEP4: Application for registration to Society</h5>
                              <br>
                              <p class="card-text">After the Rules of the Society and MoA are drafted, it is time to approach the Registrar of the Society with an application. Because the Registrar of Society has the authority to register Society, it is also an authority under the state governments. The fees charged for this service vary for different states. The state governments also keep a register that lists the names of the societies. After submitting the application and supporting documents, you can check its status at the MCA's official website.</p>
                            </div>
                          </div>
                      </div>

                      <div class="col-md-4 col-12 mt-5">
                        <div class="mt-5"></div>
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">STEP 5. - Issuance of Certificate of Society registration</h5>
                              <br>
                              <p class="card-text">The Certificate of Registration to Society is the end of the process for society registration. The Certificate of Registration proves that the Society is registered with the Registrar. It usually takes around a month for the Society Registration process to be completed in India.</p>
                            </div>
                          </div>
                      </div>

                    </div>

                  </div>
                </section>

            </div>


            <div id="document">
              <section class="py-4 ab-banner text-white">
                <div class="container">
                  <div class="row">
                  <div class="col-md-8 col-12 heading">
                    <h2 class="py-4">Registering with a Society requires documents.</h2>
                    <p>India's Society registration process is most complicated when it comes to documentation. The Society Registration Application must be accompanied by the prescribed documents under the Societies Act of 1860. Incorrect form or failure to present any of these documents could lead to your application being rejected. To avoid any delay or hassle in the formation and registration of your Society, all necessary documents must be filed correctly. Below is a list of all documents required for India Society Registration.</p>
                  </div>
                  </div>


                  <div class="row table-responsive-sm">
                   <!--  <div class="col-md-5 col-12">  
                        
                    </div>  -->   
                      <div class="col-md-5 col-12 p-2">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>A. A.</td>
                          </tr>     
                          <tr class="table-primary">
                            <td>Passport Size Photograph</td>
                          </tr>

                          <tr class="table-info">
                            <td>Copy of PAN card</td>
                          </tr>
                          <tr class="table-warning">
                            <td>Address proof: (any single document)</td>
                          </tr>
                          
                          <tr class="table-light">
                            <td>Telephone Bill, Gas Bill, Electricity Bill, Bank Statement.</td>
                          </tr>

                          <tr class="table-primary">
                            <td>Identity: (anyone single document)</td>
                          </tr>

                          <tr class="table-warning">
                            <td>Passport, Voter ID, Driving License, Signed MOA &amp; By Laws, Affidavits for President</td>
                          </tr>

                        </tbody>
                      </table>
                    </div>

                    <div class="col-md-5 col-12 p-2">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>B. B.</td>
                          </tr>     
                          <tr class="table-primary">
                            <td>Premises Proof:</td>
                          </tr>
                          
                          <tr class="table-info">
                            <td>Telephone</td>
                          </tr>
                          <tr class="table-warning">
                            <td>Electricity</td>
                          </tr>
                          
                          <tr class="table-light">
                            <td>Water Bill</td>
                          </tr>

                          <tr class="table-primary">
                            <td>NOC from the premises owner</td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </section>
            </div>


            <div id="faq">
             <section class="bg-light py-4">
                <div class="container">
                  <div class="row">

                    <div class="col-md-11 col-12 mx-auto heading2">
                      <h2 class="text-center">Frequently Asked  <span class="text-primary">Questions</span></h2>
                      <div class="accordion pt-2" id="accordionExample">
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              What is the membership of a Society?
                            </button>
                          </h4>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              According to the Societies Registration Act (1860), a member of a Society means that they have been admitted in the prescribed manner by the Society's rules and regulations. They must also sign the Society's member list and pay a certain subscription fee.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              What advantages do society formations possess?
                            </button>
                          </h4>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              <strong>A few of the many benefits of India's society creation include:</strong>
                                <ul>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> The process of registration and creation of a new society is simple. </li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Records-keeping requirements and compliances must be met at a minimum </li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Compliance is inexpensive </li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> The regulator should not interfere in any way </li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Tax exemptions for charitable operations </li>

                                </ul>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                             What tax advantages can a registered Society claim under the Income-tax Act 1961?
                            </button>
                          </h4>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                             A registered society can be subject to the 1961 Income Tax Act.
                              You can apply for tax registration under Section 12 A/ Section 12 AA and receive the applicable exemptions.
                              After approval under Section 80G, donors to the Society may be eligible to receive a tax reduction.

                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                             Can an object of Society be altered?
                            </button>
                          </h4>
                          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             Yes. The object of Society may be changed according to the law. To accomplish this, the members of the Society adopt a resolution. The same is then sent to the Registry within the specified time.
                              For what reason is a person disqualified from being a member of the Society?
                              If the subscription period is more than three months, the person cannot be a member.

                            </div>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            {% include 'product.html' %}
          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

     {%endblock%}