{% extends 'index.html' %}

{%block title%}Startup Business {% endblock %}

{%block body %}
<section class="top-banner5 bn-styles aos-init aos-animate" data-aos="fade-left">
  <div class="container">
    <div class="row pt-4">
      <div class="col-md-6 col-10 pt-5 pt-5">
        <h2><b>Quickly Start Business <span class="text-white">in India </span></b></h2>
        <p class="pt-4"> <b>We are at Dobizindia Business Solution; we aid you in setting up your business with ease,
            efficiency, and simplicity. We manage the legal requirements associated with establishing your company in
            India regardless of what legal form you've picked to use. Our services are provided by our highly trained
            and knowledgeable team of experts with over 18 years of experience dealing with startups. Additionally, our
            legal team will guide you through every step to ensure the process is effortless for you. Also, our online
            presence guarantees that we are transparent and prompt in delivering your services.
          </b></p>
        <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
      </div>
    </div>
  </div>
</section>

<section class="py-5 side-navbg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
        <div>
          <ul class="sidebar nav-pills" id="sideMenu">
            <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b>
            </h5>
            <li> <a class="sidelink active" href="#overview">
                <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a>
            </li>
            <li> <a class="sidelink" href="#process">
                <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span> Step Wise Process</a> </li>
            <li> <a class="sidelink" href="#document">
                <span class="icon-s"> <i class="fa fa-file-text" aria-hidden="true"></i> </span> List of Documents</a>
            </li>


          </ul>
        </div>

        <div class="content content-3s bg-light">
          <div id="overview">
            <section class="py-4">
              <div class="container">
                <div class="row">

                  <div class="col-md-12 col-12 heading pt-2">
                    <h2 class="fs-2">What is the best <span class="text-primary">way To start </span> a Business?</h2>
                    <p class="fs-6">In recent years, India has witnessed a rapid increase in entrepreneurial ventures.
                      Many unicorns are born in India, which have become the dominant ones around the globe. Our point
                      is to offer total legitimate help to these organizations to empower them to start their try
                      effortlessly. To do this, we have an extensive team of professionals and legal experts who analyze
                      your company's needs from the very beginning and assist you through the stages of your business.
                    </p>
                    <p class="b-style text-style">The process begins by picking the most appropriate kind of business
                      for your startup, which is based on various aspects like capital, ownership, as well as its goals,
                      and objectives. If required, we can also assist you in incorporating your business with the proper
                      authority required by law. Our services extend beyond post-incorporation and compliance
                      requirements to ensure that your business is protected from the ramifications of non-compliance
                      during its initial phases. </p>
                    <p><b> So, to launch your company, you must reach us, join our healthy and wholesome plans, give us
                        the information and documents we request, and then wait for us to deliver the services we offer.
                        If you're still unsure, you should not be afraid of asking questions to our advisors at a low
                        cost. </b></p>
                  </div>

                </div>
              </div>
            </section>

            <section class="py-4 text-center s-img s-img1">
              <div class="container py-2">
                <div class="row">
                  <div class="col-md-5 col-12">
                  </div>
                  <div class="col-md-7 col-12">
                    <h2 class="py-4">Are you unsure of how to start an Enterprise? </h2>
                    <p>Our startup advisors are on hand to answer your questions about the prerequisites, the
                      step-by-step procedure, the cost, and all the documents needed to start the business. </p>
                    <br>
                    <p><b>We help you start your business at the most affordable prices. Our services are safe and
                        accessible online, making your life simpler, quicker, and more efficient. You can use our
                        services from any location in India. </b></p>
                  </div>
                </div>
              </div>
            </section>

          </div>

          <div id="process">

            <section class="btm_grd_banner py-4">
              <div class="container">
                <div class="row text-center">
                  <div class="col-md-12 col-12">
                    <div class="py-2 text-white heading2">
                      <h2 class="py-2">For-Profit Business Types </h2>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section class="py-4">
              <div class="container">
                <div class="row">
                  <div class="col-md-4 col-12">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">Proprietorship </h5>
                        <br>
                        <p class="card-text">This is for small-scale businesses with a limited budget, such as small
                          stores. Could open their shop as a sole proprietorship company. It's a single-person operation
                          with all the profits and losses going to the sole proprietor. Proprietorship companies are not
                          registered businesses. But, other registrations could be applicable. </p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 col-12 mt-4">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">Partnership </h5>
                        <br>
                        <p class="card-text">A traditional form of business is not widely used and isn't relevant. You
                          can establish an association company by signing the partnership deed. Its registration is not
                          required, but it is required since an unregistered business cannot recuperate more than 100
                          rupees. 100 from its creditors.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 col-12 mt-5">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">Limited Liability Partnership </h5>
                        <br>
                        <p class="card-text">An LLP is a step up from the traditional partnership companies and has some
                          distinctive characteristics of a business, such as the limit on liability. The procedure of
                          incorporating the LLP is a bit complicated, and at the same time, it's not equipped to expand
                          and isn't recommended for financing. </p>
                      </div>
                    </div>
                  </div>

                </div>



                <div class="row pt-4">

                  <div class="col-md-4 col-12">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">One Person Company</h5>
                        <br>
                        <p class="card-text">Now, you can create an organization with only one director and shareholder.
                          It is necessary to have another person be your nominee. But the OPC must be converted to an
                          open or public company when its capital exceeds 50 Lacs and its turnover exceeds 2 Crores.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 col-12 mt-4">
                    <div class="mt-5"></div>
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">Private Limited </h5>
                        <br>
                        <p class="card-text">A Dobizindia business solution Private Limited Company is the most
                          preferred type of business in Startup India; It is simple to incorporate and run. Angel
                          investors and other investors who are long-term in their investment prefer a Company
                          investing. More options for issuing ESOP can be found in the company. </p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 col-12 mt-5">
                    <div class="mt-5"></div>
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">Public Limited </h5>
                        <br>
                        <p class="card-text">Seven or more people are required to be promoters of an open-ended public
                          limited company, with at least three individuals who must be the directors at the beginning of
                          the business. There is no upper limit to the number of shareholders of a Private limited
                          company. </p>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </section>

          </div>


          <div id="document">
            <section class="py-4 ab-banner text-white">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 col-12 heading">
                    <h2 class="py-4">You are looking for ways to begin Your Own Business. </h2>
                    <p class="py-4">Our startup consultants are there to answer your questions about the prerequisites,
                      step-by-step process, cost, and documents needed to start an enterprise.</p>
                  </div>
                </div>

              </div>
            </section>
          </div>



        </div>
        {% include 'product.html' %}
      </div>
      <div class="col-md-3 col-12 pricing">
        <div class="s_fixed bg-light p-2 px-5 pricing-spc">
          <h5>Pricing Summary</h5>
          <div class="table-responsive">
            <table class="table border border-white">
              <tbody>
                <tr>
                  <th>Quantity</th>
                  <td>: 1 Year</td>
                </tr>
                <tr>
                  <th>Market Price</th>
                  <td>: ₹11899</td>
                </tr>
                <tr>
                  <th>DobizndiaFilings</th>
                  <th class="text-danger">: ₹8389 excl. GST</th>
                </tr>
                <tr>
                  <th></th>
                  <td> &nbsp; ₹9899 incl. GST</td>
                </tr>
                <tr>
                  <th>GST Credit</th>
                  <td>: ₹1510</td>
                </tr>
                <tr>
                  <th>You Save</th>
                  <td>: ₹3510 (29%)</td>
                </tr>
              </tbody>
            </table>
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="button"><a href="{%url 'order'%}"> Order Now </a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}