{% extends 'index.html' %}

{%block title%}Trust Registration {% endblock %}
{%load static%}
{%block body %}
<style>
  .top-banner1 {
    background-image: url({% static 'images/b1.jpg'%});
}
</style>
      <section class="top-banner1 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-7 col-12 pt-5 pt-5">
            <h2><b>Online Registration of <span class="text-white">Trusts in India</span></b></h2>
            <p class="pt-4"> <b>With our affordable, wholesome package of Society Registration, you can set up your Society anywhere in India. Our online procedure for creating a society is straightforward. Please take advantage of our services for India Society Formation by signing up for our package. 
            </b></p>
            <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            <li> <a class="sidelink" href="#document">
            <span class="icon-s"> <i class="fa fa-file-text" aria-hidden="true"></i> </span>  List of Documents</a> </li>
            <li> <a class="sidelink" href="#faq">
            <span class="icon-s"> <i class="fa fa-question-circle" aria-hidden="true"></i> </span>  FAQ</a> </li>
            
            </ul>
          </div>

          <div class="content content-3s bg-light">
            <div id="overview">
              <section class="py-4">
                <div class="container">
                  <div class="row">

                    <div class="col-md-12 col-12 heading pt-2">
                      <h2 class="fs-2">What does <span class="text-primary">Trusts</span> mean?</h2>
                      <p class="fs-6">Indian Trusts Act 1882 defines a trust as an obligation that is annexed through the ownership or use of the property. In other words, the Trustee is entitled to the assets and property of its owner, known as the 'author.' To this end, the Trustee can be said to have been trusted by the Trustee. The Trust is known as the beneficiary's beneficial interest'.</p>
                      <p class="b-style text-style">We offer the best quality and most professional services in Trust Registration to help you set up your Trust anywhere within India. You can choose the most suitable package for you, and we will guide you through the Trust formation process.</p>
                      <div class="about-text-style">
                          <ul>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Who will be the Trust author?</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Who will be the Trustee in the Trust?</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Who will be the Trust's beneficiaries?</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> What will the instrument of the Trust be?</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> What is the objective of Trust?</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> What will the Trust's property/assets look like?</li>
                          </ul>
                      </div>
                    </div>

                  </div>
                </div>
              </section>

              <section class="py-4 text-center s-img s-img1">
                <div class="container py-2">
                  <div class="row">
                    <div class="col-md-2 col-12">
                    </div>
                  <div class="col-md-10 col-12">
                    <h2 class="py-4">Checklist to Register Trusts in India</h2>
                    <p>The first step for trust registration online begins with the creation of a Trust Deed. The trust document must be drawn on appropriate non-judicial stamped paper. This cost can vary from one state in India to another. You will also need to stamp the trust deed. The stamp duty charges in India are different for different states. There must be a valid trust deed and beneficiaries and minimum trustees. The table below provides detailed information about the necessary prerequisites for Trust Registration India.</p>
                  </div>
                  </div>
                </div>
              </section>

            <section class="py-4 bg-light">
              <div class="container">
                <div class="row">

                  <div class="col-md-12 col-12 heading pt-2">
                    <h2 class="fs-1 pt-4">Checklist for <span class="text-primary">NGO</span> trust registration</h2>
                   
                    <div class="about-text-style">
                        <ul>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> A non-governmental, non-profit entity. </li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> At least two trustees. </li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> A lawful reason to create the Trust. </li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> A Stamped Trust Deposit. </li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Beneficiaries: General public and private individuals. </li>
                        </ul>
                    </div>
                  </div>

                </div>
              </div>
            </section>

            </div>

             <div id="process">

              <section class="btm_grd_banner py-4">
                <div class="container">
                  <div class="row text-center">
                    <div class="col-md-12 col-12">
                      <div class="text-white heading2">
                      <h2 class="py-2">Stepwise documents required for trust registration in India</h2>
                      <p class="fs-6 pt-2">The Registrar of Trusts India handles the online registration for NGO Trusts. While private trusts can be registered according to the Indian Trusts Act (1882), public trusts must be registered according to the Trust Act of the state where they are being established. The entire Trust Registration process revolves around the signing and signing of a Trust Deed. This is done in the presence of a registrar and two witnesses. Below is a step-by-step guide to the registration of Trusts India.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">STEP 1 - Documentation</h5>
                            <br>
                            <p class="card-text">The proper submission of all documents required by law is a prerequisite for Trust Registration in India. Inadequate or incorrect documentation may lead to the rejection of the entire Trust Registration application. Therefore, arranging all documents ahead of time is essential to avoid any hassles or hindrances during NGO Trust registration online.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-12 mt-4">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">STEP 2 - Write your Trust Deed</h5>
                            <br>
                            <p class="card-text">Trust deeds are essential documents for Trust registration. It is what lays the foundation for Trust formation in India. A trust document must be prepared with care, following the legal requirements. Once the Trust Deed has been completed, it can be submitted to the Office of the Registrar of Trusts along with any required documents. This will begin the process for Trust Registration.</p>
                          </div>
                        </div>
                    </div>

                  </div>



                  <div class="row pt-4">

                    <div class="col-md-4 col-12">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">STEP 3. - Name Selection</h5>
                            <br>
                            <p class="card-text">The name of the Trust must be unique and should communicate the purpose for which it was created. It should not be the name of any Trust or NGO, an application trademark or a registered trademark. It should not be identical to an already established Trust's name. However, a name identical or similar to a registered trademark or trademark will be considered invalid to name your Trust.</p>
                          </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-12 mt-4">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">STEP4: Application for Trust Registry</h5>
                            <br>
                            <p class="card-text">The Trust Deed registration is the first step towards Trust Registration. After the deed is drafted, it is sent to the Office of the Registrar of Trust. The documents should include photographs of the settler and their proofs of identity. After inspecting the deed and confirming its authenticity, the registrar asks the settler to appear in his presence with two witnesses. After the deed is signed, the registry will begin registering NGO Trusts online.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 mt-5">
                      <div class="mt-5"></div>
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">STEP5: Issuance of Trust Registration Certificate</h5>
                            <br>
                            <p class="card-text">The Certificate of Trust registration is issued to register Trust. The Certificate of Registration proves that the Trust has been correctly registered. The Trust Registration process in India takes approximately a week.</p>
                          </div>
                        </div>
                    </div>

                  </div>

                </div>
              </section>

            </div>


            <div id="document">
              <section class="py-4 ab-banner text-white">
                <div class="container">
                  <div class="row">
                  <div class="col-md-8 col-12 heading">
                    <h2 class="py-4">India: Documents required for trust registration</h2>
                    <p>The Trust Deed is the document required to register a Trust. It also includes the documents signed by all Trust Deed signatories. The table below lists all required documents for Trust Registration in India. In the table below, we have listed all the documents required for Trust Registration in India. Failure to present any of these documents could result in the registration being rejected. You are advised to exercise the most extraordinary carefulness and sincerity in completing documentation.</p>
                  </div>
                  </div>


                  <div class="row table-responsive-sm">
                   <!--  <div class="col-md-5 col-12">  
                        
                    </div>  -->   
                      <div class="col-md-5 col-12 p-2">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>A. A.</td>
                          </tr>     
                          <tr class="table-primary">
                            <td>All Trustees &amp; Trustors have a PAN card</td>
                          </tr>

                          <tr class="table-info">
                            <td>All Trustees &amp; Trustors need ID Proofs</td>
                          </tr>
                          <tr class="table-warning">
                            <td>Address Proofs for all Trustees &amp;Trustors</td>
                          </tr>
                          
                          <tr class="table-light">
                            <td>Coloured photographs for all Trustees &amp; Trustors</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="col-md-5 col-12 p-2">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>B. Documents concerning the business premises</td>
                          </tr>     
                          <tr class="table-primary">
                            <td>No-Obligation Certificate (NOC) from the owner</td>
                          </tr>
                          
                          <tr class="table-info">
                            <td>Proof of Registered business address</td>
                          </tr>
                          <tr class="table-warning">
                            <td>Copy of property registration</td>
                          </tr>
                          
                          <tr class="table-light">
                            <td>Trust deed</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </section>
            </div>


            <div id="faq">
             <section class="bg-light py-4">
                <div class="container">
                  <div class="row">

                    <div class="col-md-8 col-12 mx-auto heading2">
                      <h2 class="text-center">Frequently Asked  <span class="text-primary">Questions</span></h2>
                      <div class="accordion pt-2" id="accordionExample">
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              What is a public trust, and why is it important?
                            </button>
                          </h4>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              Public trust is created to benefit the general public. The trust deed should indicate its purpose. A public trust can be established to set up schools, colleges or other educational institutions.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              A form has been submitted for Trust Registration.
                            </button>
                          </h4>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              Trust Deed Registration and Trust Deed Registration can be combined. Private trusts may be registered under the Indian Trusts Act. Public trusts, however, are subject to state-specific laws. Each state has its procedure and application for the Public trust registry. But, for private trusts, it is sufficient to register the deed, and no separate application is necessary. Therefore, it is not possible to use a single trust registration form to register a trust. The KYC documents required to register a Trust Deed are the documents signed by the trustee, author and witnesses.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                             Does a trust document registration require the assistance of a consultant?
                            </button>
                          </h4>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                             Professional certification is not required to register the Trust deed. Our legal services are required to complete the trust deed. This includes a meeting with the registrar and operation assistance.
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                             Which Trusts are available in India?
                            </button>
                          </h4>
                          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             <strong>These are the various classes of Indian Trusts.</strong>
                                <ul>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  Simple Trusts are those whose sole purpose is to hold estate by trustees</li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  Special Trusts: Trusts which are specifically created for a specific purpose
                                  </li><li> <i class="fa fa-check-circle" aria-hidden="true"></i>  Express Trusts, which are formed by a mutually agreed between parties</li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  Implied Trust, as deduced by the conduct of each party
                                  </li><li> <i class="fa fa-check-circle" aria-hidden="true"></i>  Public Trust where the beneficiaries are the general public</li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  Private Trust - where beneficiaries include a private set of individuals</li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  Constructive Trust is trust that was created in the wake of the implementation law</li>
                                </ul>
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                             What are the reasons why trusts should not be created?
                            </button>
                          </h4>
                          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             <strong>Section 4 states that a trust's purpose is legal if it has not been:</strong>
                                <ul>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  Forbidden By Law </li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  Destroy the purpose or any law </li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  Is fraudulent </li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  Implies injury to property and person </li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  Is the court judging it to be immoral </li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  Opinion against a public program </li>
                                </ul>
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            {% include 'product.html' %}
          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

   {% endblock %}