{% extends 'index.html' %}

{%block title%} Copyright types {% endblock %}

{%block body %}

     <section class="top-bn1 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <h2><b>Different types of   <span class="text-white">Copyright </span></b></h2>
            <p class="pt-4"> <b>This right is also referred to informally. The Intellectual Property Rights to an original work of literature, film, music, and cinematography or software code are created when it is in the creation and is with the creator who invented it.
            </b></p>
            <p>Different types of Copyright</p>
            <p>Simple Process and Transparent Fee, All India GST Registration and Returns</p>

            <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            <li> <a class="sidelink" href="#document">
            <span class="icon-s"> <i class="fa fa-file-text" aria-hidden="true"></i> </span>  List of Documents</a> </li>
            <li> <a class="sidelink" href="#faq">
            <span class="icon-s"> <i class="fa fa-question-circle" aria-hidden="true"></i> </span>  FAQ</a> </li>
            
            </ul>
          </div>

          <div class="content content-3s bg-light">
            <div id="overview">
              <section class="py-4">
                <div class="container">
                  <div class="row">

                    <div class="col-md-12 col-12 heading pt-2">
                      <h2 class="fs-2">Different types of  <span class="text-primary">Copyright</span></h2>
                      <p class="fs-6">The Copyright is a piece of imagination and an exclusive right for the creator or creator of original works. Copyright rights are conferred by The Copyright Act 1957. Many kinds of works are eligible for registration by the law. The validity period for a certificate of registration for Copyright generally runs 60 years, starting at the close of the year when it was first published. The legal process differs for different types of work. The IPR of Copyright aims to safeguard the original work, regardless of its artistic or quality merit. Section 13 of The Copyright Act 1957 states that the original work subject to Copyright will be able to deal with different types of Copyright that can be legally registered within India.</p>
                      <h2 class="fs-4">Different types of  <span class="text-primary">Copyright</span></h2>
                      <h2 class="fs-6">Literal Work</h2>
                      <p class="b-style text-style">The first literary work that could be written in any form, such as a work of fiction and biography, technical or technical papers or books or scripts, dramas thesis, research tables, compilations, and computer programs, including databases. It is possible to claim it regardless of its style, quality or merit as a literary work.</p>                      
                    </div>

                  </div>
                </div>
              </section>

              <section class="py-4 s-img s-img1">
                  <div class="container py-2">
                    <div class="row">
                      <div class="col-md-2 col-12">
                      </div>
                    <div class="col-md-10 col-12">
                      <h2>Artist Work</h2>
                      <p>By article 2 in the Copyright Act, the Copyright in the artwork is granted to the original work of art, consisting of sculptures, paintings, cartoons, graphics and etchings. Photographs sketch diagrams, plans, maps, charts, structures and models of buildings. Castings and molds to make sculptures.</p>
                      <h2>Cinematograph Film</h2>
                      <p>Cinematography is a work of visual recording, as well as the recording of sound made by any method, analog or digital, such as video films. It can be recorded in any media and with any means of storage. According to the definition, any film that is recorded with moving images or visuals can be categorized as a cinematograph.</p>
                    
                    </div>
                    </div>
                  </div>
                </section>

               <section class="py-4 bg-light">
                  <div class="container">
                    <div class="row">

                      <div class="col-md-12 col-12 heading pt-2">
                        <h2 class="fs-4 pt-4">Dramatic Play</h2>
                        <p>Dramatic work is an art form of literature that comprises any piece of reading or arrangement of the performance of a play, choreographed work, as well as dumb entertainment, well as a scenic layout or the act of performing in a set writing work. But it is not the cinematographed film.</p>
                        <h2 class="fs-4 pt-1">Music Works</h2>
                        <p>Music is considered to be a copyrightable work by itself and does not contain the lyrics or sound. The sounds of the recording are dependent on music; however, to safeguard musical works, an application separate from the music work must be filed along with the music work. The creator of the sound recording should seek permission from the composer of the music work.</p>
                        <h2 class="fs-4 pt-1">Tone Recording</h2>
                        <p>The songs that include singers' voices without or with music, recorded speech or an audio podcast are examples of recording sound. This covers any task that records sound, regardless of the medium or storage. If the recording contains music, then permission from the creator of the music works must be sought.</p>
                      </div>

                    </div>
                  </div>
                </section>

            </div>

             <div id="process">

              <section class="btm_grd_banner py-4">
                <div class="container">
                  <div class="row text-center">
                    <div class="col-md-12 col-12">
                      <div class="py-2 text-white heading2">
                      <h2 class="py-2">Methodology for Copyright Registration</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

            <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-3 col-12">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Documentation</h5>
                            <br>
                            <p class="card-text">We will help you prepare the Application/Announcement Structure and Articulation of Points of interest to be documented to enroll the work with the enlistment center of Copyright.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-12 mt-2">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Application Filing</h5>
                            <br>
                            <p class="card-text">The application must be submitted with two duplicates of the document and the government's fee, which varies between 500 to Rs. 500-Rs. 5000 based on the work.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-12 mt-4">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Copyright Examination</h5>
                            <br>
                            <p class="card-text">Once the application is received, the copyright department will wait 30 days before issuing an exam report, either in acceptance or with an objection.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-12 mt-5">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Objection Removal</h5>
                            <br>
                            <p class="card-text">If they exist, the department's objections have to be resolved with the proper response and a written representation. The Copyright is then recorded.</p>
                          </div>
                        </div>
                    </div>

                  </div>
                </div>
              </section>

            </div>


            <div id="document">
              <section class="py-4 ab-banner text-white">
                <div class="container">
                  <div class="row">
                  <div class="col-md-8 col-12 heading">
                    <h2 class="py-4">The Copyright Registration Documentation Copyright Registration</h2>
                  </div>
                  </div>


                  <div class="row table-responsive-sm">

                      <div class="col-md-6 col-12 p-2">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>A. Documents Required for Copyright Registration</td>
                          </tr>     
                          <tr class="table-primary">
                            <td>Copyright questionnaire</td>
                          </tr>

                          <tr class="table-info">
                            <td>Description and classification of the work</td>
                          </tr>
                          <tr class="table-warning">
                            <td>There is no objection from the creator of the work.</td>
                          </tr>
                          
                          <tr class="table-light">
                            <td>Power of attorney to file copyright</td>
                          </tr>

                        </tbody>
                      </table>
                    </div>

                    <div class="col-md-6 col-12 p-2">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>B. Specification Should Contain The Following</td>
                          </tr>     
                          <tr class="table-primary">
                            <td><b>Address Proofs</b></td>
                          </tr>
                          
                          <tr class="table-info">
                            <td>The Work For Which Registration is Required</td>
                          </tr>
                          <tr class="table-warning">
                            <td>We must submit two copies of the document</td>
                          </tr>
                          
                          <tr class="table-light">
                            <td>Specification of the Statement and Additional Specifics</td>
                          </tr>

                          <tr class="table-warning">
                            <td>A Declaration from the Author/Applicant</td>
                          </tr>

                          <tr class="table-light">
                            <td>The Power of Attorney is in the name of a lawyer</td>
                          </tr>

                        </tbody>
                      </table>
                    </div>

                  </div>
                </div>
              </section>
            </div>


            <div id="faq">
             <section class="bg-light py-4">
                <div class="container">
                  <div class="row">

                    <div class="col-md-11 col-12 mx-auto heading2">
                      <h2 class="text-center">Frequently Asked  <span class="text-primary">Questions</span></h2>
                      <div class="accordion pt-2" id="accordionExample">
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              What is Copyright?
                            </button>
                          </h4>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                              Copyright is a negative right that restricts illegal copying of literary works that are original or dramatic, as well as a computer program that includes tables and databases, as well as artistic works, musical work, cinematography and audio recording. Copyright provides a limited right for the creator of the original work to ensure that their work is not copied or stealing the work, which in turn protects and rewards creativity.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Does it need to register a piece of work to be able to claim Copyright?
                            </button>
                          </h4>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              No. The Copyright becomes valid at the date of its creation in favor of the person who created the work. Registration of the piece by the registrar of Copyright acts as a prima-proof facie that the copyright owner. Moreover, the copyright registration certificate can be used as evidence before law courts.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            What's the procedure for registering Copyright? Sign up for Copyright in India.
                            </button>
                          </h4>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                             This is the process for you to apply to register a Copyright in India. Copyright in India.<br>
                              Applications must be made on Form Number Form-XIV.<br>
                              A Statement of Particulars or Statement of Additional Particulars can also be filed as outlined within the First Schedule of rules for Copyright.<br>
                              For each project, it is necessary to file a separate application to be filed. There isn't a provision to submit joint applications within the group.<br>
                              The filing fee must be paid according to this second section of the Act. See the section on pricing above to find out the fee for your job.<br>
                              Copyright applications and other documents have to be signed by the applicant.<br>
                              An authority in the advocate's name and acknowledgment by him is mandatory.

                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            What is the likelihood that the Computer Program can be registered under Copyright?
                            </button>
                          </h4>
                          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             Yes. Computers are considered literary work, along with databases and tables on computers. This is why it can be legally registered under Copyright. To register, it is necessary to provide both the "Source Code" and the "Object Code" need to be provided for the registration of Copyright in the computer program or software.
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                             What time does it take to receive a copyright license?
                            </button>
                          </h4>
                          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             After the application is filed, the department allocates a diary number and waits for 30 days. This is known as the waiting time if no objections are received from the public. The examiner of the Copyright reviews the application. If the examiner comes up with any discrepancies, they must be addressed in 45 days. Thus, it can take about 4 to 6 months during the process of registering the Copyright
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizIndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

     {%endblock%}