{% extends 'index.html' %}

{%block title%} Copyright registration{% endblock %}

{%block body %}
     <section class="top-bn2 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <p>Copyright registration in India</p>
            <p>Easy Process and Transparent Fee, All India GST Registration and Returns</p>
            <h2><b>Copyright registration<span class="text-white"> in India</span></b></h2>
            <p class="pt-4"> <b>Copyright is a set of rights granted to the creator for the creation. All Literary, musical, dramatic, Cinematographic, and Artistic Films and sound Recordings are protected by Copyright. Copyright is created when work is completed, but it is always recommended to obtain a copyright registration to safeguard the original work of original work.
            </b></p>
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            
            <li> <a class="sidelink" href="#faq">
            <span class="icon-s"> <i class="fa fa-question-circle" aria-hidden="true"></i> </span>  FAQ</a> </li>
            
            </ul>
          </div>

          <div class="content content-3s bg-light">
            <div id="overview">
              <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-12 heading pt-2">
                      <h2 class="fs-2">India Copyright  <span class="text-primary">Registry India</span></h2>
                      <p class="fs-6">The registration of copyrights is not obligatory under the Act; however, in all practical ways, it is recommended to register your original work of creativity is highly advised. The copyright rights conferred by law include the right to reproduction and dissemination to the general public, translation and the adoption of works, which includes economic and moral rights. The intention behind IPR for copyright rights is to safeguard the original work regardless of its aesthetic or quality merit. Section 13 in The Copyright Act 1957 stipulates that Copyright is only valid in the original work.</p>
                      <p class="b-style text-style fs-6">The validity period of the Copyright generally is 60 years from its first publication or transmission to the general public. Dobizindia business solution Private limited team is equipped to guard your IP when you develop new ideas.</p>
                      <h2>Different types of Copyright</h2>
                      <h2 class="fs-4">Literal Work</h2>
                      <p class="fst-italic fs-6">Literary creation was the first that could be written in any form, such as fiction or biography, papers or technical books, drama, script thesis, research tables, compilations, and computer programs, including computer databases. It is possible to claim it regardless of its style, quality or merit as a literary work.</p>

                    </div>

                  </div>
                </div>
              </section>

              <section class="py-4 s-img s-img1">
                <div class="container py-2">
                  <div class="row">
                    <div class="col-md-2 col-12">
                    </div>
                  <div class="col-md-10 col-12">
                    <h2 class="fs-4">Arts and Crafts Work</h2>
                      <p class="fs-6">By article 2 in the Copyright Act, the Copyright in the artwork is granted to the original work of art, consisting of sculptures, paintings, graphic designs, cartoons, etchings, photographs, lithographs and diagrams, plans, maps and charts, building models and models of buildings. Molds and castings to make sculptures.</p>
                      <h2 class="fs-4">Dramatic Play</h2>
                      <p class="fs-6 fst-italic">Dramatic work is an art form of literature that includes any work for reading, the arrangement for performing a play, choreographed or dumb show entertainment or a scenic arrangement, or an act in a set writing work. But it is not a cinematograph film.</p>
                      <h2 class="fs-4">Tone Recording</h2>
                      <p class="fs-6">Songs that contain a singer's voice, whether without or with music or a recorded speech podcast, are examples of recording sound. This covers any task that records sound, regardless of the medium or storage. If the recording contains music, then permission from the music composer must be obtained.</p>
                      <h2 class="fs-4">Music Works</h2>
                      <p class="fs-6 fst-italic">Music is considered a copyright-protected work by itself and doesn't contain any lyrics or audio. The sounds of the recording are dependent on music; however, to safeguard musical works, separate applications are required to be filed along alongside the music work. The creator of the sound recording must seek permission from the creator of the music work.</p>

                  </div>
                  </div>
                </div>
              </section>
            
            <section class="py-4 bg-light">
                <div class="container">
                  <div class="row">

                    <div class="col-md-12 col-12 heading">
                      <h2 class="fs-4 pt-4">Cinematograph Film</h2>
                      <p>Cinematography is the work of recording visuals and sound recording made possible through any method, digital or analog-like video films. It is a visual recording on any medium and using any means of storage. According to the definition, any recorded film containing moving images/visuals can be considered a cinematograph.</p>
                      <div class="table-responsive-sm">
                      <table class="table border shadow table-warning">
                        <thead>
                          <tr>
                            <th scope="col"> A. Basic Documents to Begin an Copyright Registration </th>
                            <th scope="col"> B. Specification Should Contain The Following</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Copyright questionnaire</td>
                            <td>The Work For What Registrations are required</td>
                          </tr>
                          <tr>
                            <td>Description and classification of work</td>
                            <td>We require 2 copies of our work</td>
                          </tr>

                          <tr>
                            <td>No objections from the person who wrote the work</td>
                            <td>Specification of Particulars as well as Statement of Additional Particulars</td>
                          </tr>

                          <tr>
                            <td> Power of Attorney to file copyright claims</td>
                            <td> Declaration of the Author/Applicant</td>
                          </tr>

                          <tr>
                            <td></td>
                              <td>Authorization to act on behalf of lawyers</td>
                          </tr>
                          
                        </tbody>
                      </table>
                      </div>
                    </div>

                  </div>
                </div>
              </section>

            </div>

             <div id="process">

              <section class="btm_grd_banner py-4">
                  <div class="container">
                    <div class="row text-center">
                      <div class="col-md-12 col-12">
                        <div class="py-2 text-white heading2">
                        <h2 class="py-2">Procedure for Copyright Registration</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

              <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Documentation</h5>
                            <br>
                            <p class="card-text">We will help you prepare the Application/Announcement Structure and Explanation of Points of interest to be documented to enlist the work with the recorder of copyright.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-12 mt-4">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Application Filing</h5>
                            <br>
                            <p class="card-text">The application must be submitted along with 2 copies of the document and the prescribed government fee, ranging between 500 to Rs. 500 up to Rs. 5000 based on the work.</p>
                          </div>
                        </div>
                    </div>

                  </div>



                  <div class="row pt-4">

                    <div class="col-md-6 col-12">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Copyright Examination</h5>
                            <br>
                            <p class="card-text">Once the application is completed, the copyright department will wait for 30 days and then issue an examination report that accepts the application with objections.</p>
                          </div>
                        </div>
                    </div>


                    <div class="col-md-6 col-12 mt-4">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Objection Elimination</h5>
                            <br>
                            <p class="card-text">If they exist, the department's objections have to be resolved with an appropriate response and a written representation. In the end, the copyright gets recorded.</p>
                          </div>
                        </div>
                    </div>

                  </div>

                </div>
              </section>

            </div>


            <div id="faq">
             <section class="bg-light py-4">
                <div class="container">
                  <div class="row">

                    <div class="col-md-11 col-12 mx-auto heading2">
                      <h2 class="text-center">Frequently Asked  <span class="text-primary">Questions</span></h2>
                      <div class="accordion pt-2" id="accordionExample">
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              What is copyright?
                            </button>
                          </h4>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                              Copyright is a defensible legal right that prevents illegal copying of the original work of literature or dramatics, as well as computer programs, such as tables and databases on computers, as well as artistic works, musical film, cinematography and sound recording. Copyright provides a limited right to the creator of the original work to safeguard their original work from copying or stealing the work, which in turn protects and rewards creativity.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Do you need to register a piece of work to assert the copyright?
                            </button>
                          </h4>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              No. The copyright is created at the date of its creation in favor of the person who wrote the work. Registration of the piece by the registrar for copyright functions as a prima-proof facie regarding the ownership of the copyright. Moreover, the copyright registration certificate is admissible evidence in law courts.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Do I have to make my website a registered Copyright?
                            </button>
                          </h4>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             A website comprises web pages or a collection that is interconnected, stored on a server, and accessible for public browsing. One site may contain several copyright-protected items governed by section 13 of the Copyright Act, 1957 and the copyright laws.
                             <ul>
                               <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Text,</li>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Tables,</li>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Computer Program,</li>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Compilations, including Computer Databases,</li>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Photographs,</li>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Paintings,</li>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Diagram,</li>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Map,</li>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Chart,</li>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> An unassuming work of art</li>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Graphical Notations and Music Work of this work</li>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Sound Recordings,</li>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Cinematographic Work</li>
                             </ul>
                             The entire website can't be registered under one application. Still, the applicant has to determine the source of its work in various categories and submit an individual application for each copyright. Many aspects of a website may not be protected by copyright. These are subject to
                             <ul>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> The entire website is not covered by copyright protection.
                              </li><li> <i class="fa fa-check-circle" aria-hidden="true"></i> Plans or ideas for websites,
                              </li><li> <i class="fa fa-check-circle" aria-hidden="true"></i> The functional elements of websites
                              </li><li> <i class="fa fa-check-circle" aria-hidden="true"></i> The material that is not claimable,
                              </li><li> <i class="fa fa-check-circle" aria-hidden="true"></i> Layout and format, also known as the 'look and feel of the website or web page;
                              </li><li> <i class="fa fa-check-circle" aria-hidden="true"></i> Other material, like names, icons or standard symbols, is not original or commonplace.</li>

                             </ul>
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                             How do I register copyrights for an APP?
                            </button>
                          </h4>
                          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             An app is a complete and self-contained computer program designed to accomplish a particular job or task. The majority of apps have initial dynamic content that communicates with users. It could be installed running on a mobile, computer or any other wearable handheld device. The App may get registered under the computer-based program in the literary work, and the applicant must provide the "Source Code" and the "Object Code" of the application. The copyright protection should apply to the display of screens generated by the program if the image used for display is supplied with the computer program. A simple snapshot of the App's screen display is not registered under copyright.
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                             Who is eligible to apply for copyright registration?
                            </button>
                          </h4>
                          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             Anyone who claims to be the rightful owner of the copyrighted work can apply for registration of copyright. It could include an individual, a company NGO, or other.
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizIndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}