{% extends 'index.html' %}
{%block title%} Dobizindia Cokkies{% endblock %}
{%block body %}
<p style="margin-top: 130px;">
   <b> Cookie Policy</b>
</p>
<p>
Our website uses cookies to improve your browsing experience and to help us understand how our website is being used. By continuing to browse our website, you consent to our use of cookies.

What are cookies?

Cookies are small text files that are stored on your device when you visit a website. They are widely used to make websites work more efficiently and to provide information to the website owner.

Types of cookies

We use the following types of cookies on our website:

Session cookies: these are temporary cookies that are deleted when you close your browser.
Persistent cookies: these are stored on your device until they expire or are manually deleted.
Purposes of cookies

We use cookies for the following purposes:

To remember your preferences and settings.
To analyze how our website is being used.
To serve targeted advertising.
How to control cookies

You can control the use of cookies on our website through your browser settings. However, please note that disabling cookies may affect the functionality of our website.

Compliance with data protection laws

We are committed to complying with relevant data protection laws, including the GDPR and the CCPA. For more information, please see our Privacy Policy.
</p>

{% endblock %}