{% extends 'index.html' %}
{%block title%} Dobizindia business solution private limited{% endblock %}
{%load myfilters %}
{%block body %}
<style>
  .message {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }

  .message .success {
    font-size: 20px;
    color: green;
    position: absolute;
    animation: buttons .3s linear;
    display: none;
  }

  .message .danger {
    font-size: 20px;
    color: red;
    position: absolute;
    animation: buttons .3s linear;
    display: none;
  }
</style>
<section class="top-banner" data-aos="fade-left">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-12 pt-5">
        <h1>It is simple to set up, manage, <br /> and grow a business in India. </h1>
        <p> Dobizindia Business Solutions offers a complete range of IPR, tax, and compliance solutions to companies in
          India. Through a team consisting of CAs, CSs, and lawyers, backed by a pool of skilled paralegals,
          accountants, and other professionals. </p>
        <button type="button" class="btn btn-lg btn-primary mt-4 py-2 px-4">Book Free Consultation</button>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid py-5">
    <div class="row">
      <div class="col-md-3 col-6 bg1 bg-content bg_border">
        <div class="s-content">
          <i class="fa fa-server fonta pb-4" aria-hidden="true"></i>
          <p>100% Online, Easy & All India Services.</p>
        </div>
      </div>

      <div class="col-md-3 col-6 bg1 bg-content bg_border">
        <div class="s-content">
          <i class="fa fa-money pb-4" aria-hidden="true"></i>
          <p>Quality & Affordable Service Offerings</p>
        </div>
      </div>

      <div class="col-md-3 col-6 bg1 bg-content bg_border">
        <div class="s-content">
          <i class="fa fa-users pb-4" aria-hidden="true"></i>
          <p>18+ Years Experienced Team of Professionals</p>
        </div>
      </div>

      <div class="col-md-3 col-6 bg1 bg-content bg_border">
        <div class="s-content">
          <i class="fa fa-clock-o pb-4" aria-hidden="true"></i>
          <p>Fast and Accurate Compliance Services</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-5" data-aos="fade-up">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-12 about-content">
        <h6>About Dobizindia Business Solution</h6>
        <h2>We have experience in online tax and compliance services.</h2>
        <p class="fs-5">Our team's founders and core members have more than 18 years of experience providing
          top-quality, affordable compliance services across India. Dobizindia business solutions are available
          throughout India, with offices in major cities.</p>
        <div class="about-text-style">
          <div>
            <p>We are India's most renowned online platform that provides corporate law, payroll, tax compliance, and
              IPR services.</p>
            <ul>
              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Integrity and honesty at the highest standards
              </li>
              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Online Service Platform </li>
              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Top Quality and Cheap</li>
              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> A well Trained Tax Team</li>
              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Fantastic customer service</li>
              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> 8 Scored on Google </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>

      <div class="col-md-5 col-12">
        <img src="static/images/about1.jpg" class="img-fluid" alt="about-image">
      </div>

    </div>
  </div>
</section>


<!-- <whatsaap chatboard> -->

<section class="py-5 text-center services" data-aos="fade-down">
  <div class="container py-2">
    <div class="row">
      <div class="col-md-12 col-12">
        <h6>Our Services</h6>
        <h2>Get more than 300 professional services for the Dobizindia business solution.</h2>
        <p>With precision and accountability, we offer all taxation and compliance solutions for small and startup
          companies under one roof. Dobizindia Business Solution provides quick, efficient, and cost-effective services
          throughout India.</p>
      </div>
    </div>
  </div>
</section>

<section class="services_btm pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-12 mx-auto border border-1 rounded-pill">
        <ul>
          <li class="px-4 butoon_srv"> FDI </li>
          <li class="px-4"> Startup India </li>
          <li class="px-4"> Tax </li>
          <li class="px-4"> License </li>
          <li class="px-4"> IPR </li>
          <li class="px-4"> ROC </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="py-5 d_invest" data-aos="fade-down">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12 pt-4">
        <div class="p-5">
          <h2>Foreign Direct Investment</h2>
          <p> We have experience obtaining all licences needed to establish and run a profitable enterprise for foreign
            companies or investors. Do business in India. </p>

          <button type="button" class="btn-lg mt-4 py-2 px-4"> Get Started </button>
        </div>
      </div>

      <div class="col-md-4 col-12 mt-4 border-dash">
        <div class="py-4 pb-4 border-dash2">
          <h4> 01 </h4>
          <h4> Do Business in India </h4>
          <p> India is the top location where manufacturing is conducted, thanks to its tax system and ongoing reforms.
            We can assist in the establishment of business in India for foreign companies. </p>
          <a href="#" class="card-link border-icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>

        <div class="py-4">
          <h4> 03 </h4>
          <h4> Branch Office </h4>
          <p> Foreign companies with a five-year profit track record can establish a branch office in India for the
            permitted activities. We offer a full, all-inclusive service.</p>
          <a href="#" class="card-link border-icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>


      <div class="col-md-4 col-12 mt-4">
        <div class="py-4 pb-4 border-dash2">
          <h4> 02 </h4>
          <h4> Fully owned subsidiary </h4>
          <p> Subject to the FDI limits of each sector, most sectors are eligible for 100% approval automatically when
            setting up 100% owned subsidiaries of foreign corporations.</p>
          <br />
          <a href="#" class="card-link border-icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>

        <div class="py-4">
          <h4> 04 </h4>
          <h4> Project Office </h4>
          <p> To finish a project awarded by an agency of the government or a private corporation, any foreign business
            can set up at least one of the project offices in India.</p>
          <a href="#" class="card-link border-icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="py-5 bg-brands">
  <div class="container">
    <h4>Leading Brands Rely On Our Expertise</h4>
    <div class="row py-2">

      <div class="col-md-2 col-4">
        <div class="shadow m-2">
          <img src="static/images/preview.jpg" alt="brands" class="img-fluid">
        </div>
      </div>

      <div class="col-md-2 col-4">
        <div class="shadow m-2">
          <img src="static/images/preview1.jpg" alt="brands" class="img-fluid">
        </div>
      </div>

      <div class="col-md-2 col-4">
        <div class="shadow m-2">
          <img src="static/images/preview2.jpg" alt="brands" class="img-fluid">
        </div>
      </div>

      <div class="col-md-2 col-4">
        <div class="shadow m-2">
          <img src="static/images/8011901.jpg" alt="brands" class="img-fluid">
        </div>
      </div>

      <div class="col-md-2 col-4">
        <div class="shadow m-2">
          <img src="static/images/LogoB2.jpg" alt="brands" class="img-fluid">
        </div>
      </div>

      <div class="col-md-2 col-4">
        <div class="shadow m-2">
          <img src="static/images/preview.jpg" alt="brands" class="img-fluid">
        </div>
      </div>

    </div>

    <div class="row py-2">

      <div class="col-md-2 col-4">
        <div class="shadow m-2">
          <img src="static/images/preview1.jpg" alt="brands" class="img-fluid">
        </div>
      </div>

      <div class="col-md-2 col-4">
        <div class="shadow m-2">
          <img src="static/images/preview2.jpg" alt="brands" class="img-fluid">
        </div>
      </div>

      <div class="col-md-2 col-4">
        <div class="shadow m-2">
          <img src="static/images/8011901.jpg" alt="brands" class="img-fluid">
        </div>
      </div>


      <div class="col-md-2 col-4">
        <div class="shadow m-2">
          <img src="static/images/LogoB2.jpg" alt="brands" class="img-fluid">
        </div>
      </div>

      <div class="col-md-2 col-4">
        <div class="shadow m-2">
          <img src="static/images/preview.jpg" alt="brands" class="img-fluid">
        </div>
      </div>

      <div class="col-md-2 col-4">
        <div class="shadow m-2">
          <img src="static/images/preview1.jpg" alt="brands" class="img-fluid">
        </div>
      </div>

    </div>

  </div>
</section>


<section class="experience py-5">
  <div class="container">

    <div class="row">
      <div class="col-md-4 col-12 mx-auto">
        <h5 class="text-primary text-center"> Professionals with experience in Dobizindia know that business solutions
          work for you. </h3>
      </div>
    </div>

    <div class="row">

      <div class="col-md-5 col-12">
        <div class="pt-5">
          <h4 class="pt-4"> Foreign Direct Investment </h4>
          <p> We ensure that only the highest quality advice is offered to our clients to lower compliance costs and
            ease business in India. The team is selected through an exhaustive interview and testing procedure, and then
            they receive extensive, in-depth training on domains that allows them to provide professional guidance and
            support. We've been in business for more than 18 years, helping Startup India and MSME in India by providing
            300+ services in various domains. </p>
        </div>
      </div>

      <div class="col-md-1"></div>

      <div class="col-md-3 col-12">
        <div class="py-2">
          <h4>Truly Digital</h4>
          <p>100% Online Customer Service Equipped With a Modern and Effective CRM</p>
        </div>

        <div class="py-2">
          <h4> Affordable </h4>
          <p> We are highly affordable and provide high-quality, professional service. </p>
        </div>

        <div class="py-2">
          <h4> 4.8 Google Rating </h4>
          <p> Our customers love our company. We have gained a lot of trust in the form of Google ratings. </p>
        </div>

      </div>

      <div class="col-md-3 col-12">

        <div class="py-2 pt-5">
          <h4> All CA/CS/Law Services </h4>
          <p> We provide a range of offerings, from starting registration and GST to payroll, ROC filing, and IPR, all under one umbrella and applicable all over India.a </p>
        </div>

        <div class="py-2">
          <h4> Speedy service delivery </h4>
          <p> Speedier delivery of services is the top priority of our team. We take customer support extremely seriously, and it is monitored here. </p>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="text-white partner" data-aos="fade-down">
  <div class="container py-2">
    <div class="row">

      <div class="col-md-5 col-12 par-border p-4">
        <h2 class="pt-4"> Our partners enjoy. </h2>
        <p>Experience in the field of IPR</p>
        <p> Earn money and have peace of mind as we work on your behalf. </p>
        <button class="btn-lg mx-1 hire2 px-4 py-2 mt-4 my-1"> <a href="{% url 'signup' %}"> Join Now </a> </button>
      </div>

      <div class="col-md-7 col-12 p-5">
        <h4 class="text-center py-2"> Send a message </h4>
        <form class="mx-5" method="POST">{% csrf_token %}
          <div class="row py-2">
            <div class="col">
              <label for="id_name"></label>
              {{ form.name.errors }}
              {{ form.name|addclass:'form-control'|addplaceholder:'Your name'}}
            </div>
            <div class="col">
              <label for="id_email"></label>
              {{ form.email.errors }}
              {{ form.email|addclass:'form-control'|addplaceholder:'Email Address'}}
            </div>
          </div>

          <div class="row py-2">
            <div class="col">
              <label for="id_phone"></label>
              {{ form.phone.errors }}
              {{ form.phone|addclass:'form-control'|addplaceholder:'Phone'}}
            </div>
            <div class="col">
              <label for="id_state"></label>
              {{ form.state.errors }}
              {{ form.state|addclass:'form-control'|addplaceholder:'State'}}
            </div>
          </div>

          <div class="mb-3 py-2">
            <label for="id_comment"></label>
            {{ form.comment.errors }}
            {{ form.comment|addclass:'form-control'|addplaceholder:'Write Us Here'}}
          </div>

          <div class="d-grid gap-2 py-4">
            <button class="btn btn-primary" type="submit" onclick="message()">Submit
            </button>
          </div>

        </form>
        <div id="message">
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}
        </div>

        </form>
      </div>

    </div>
  </div>
</section>
{% include 'common_pages/reviews.html' %}
{% endblock %}
<script>
  function message() {
    const success = document.getElementById('success');
    var comment = document.getElementById('id_comment');
    const danger = document.getElementById('danger')
    if (comment.value === '') {
      danger.style.display = 'block';
    }
    else {
      success.style.display = 'block';
    }
  }
</script>