{% extends 'index.html' %}
{% load static %}
{%block title%} Hire {% endblock %}

{%block body %}


<section class="top-bn5 py-4 bn-styles" data-aos="fade-left">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-12 py-4 text-center">
        <h1 class="hire_text">We Are <span>Hiring </span> </h1>
      </div>
    </div>
  </div>
</section>

<section class="py-2 hire_btn">
  <div class="container">
    {% with post_length=post|length %}
    <h4 class="career" style="display: none;">Total Post: <span>{{ post_length }}</span></h4>
    {% for i in post %}
      {% if forloop.counter0|divisibleby:3 %}
        <div class="row my-4">
      {% endif %}
      <div class="col-md-4 col-12">
        <div class="border shadow">
          <h4 class="career">Total Post:<span>{{ post_length }}</span></h4>
          <div class="p-2 pt-4 py-2">
            <p><b>Job Role:<span class="posts">{{ i.jobrole }}</span></b></p>
            <p><b>Experience:<span class="posts">{{ i.exp }}</span></b></p>
            <p><b>Qualification:<span class="posts">{{ i.qualification }}</span></b></p>
            <p><b>Total Openings:<span class="posts">{{ i.total_openings }}</span></b></p>
            <div class="text-center my-4">
              <button type="button" class="btn btn-primary px-2 mx-1">
                <a href="{% url 'dobizhire:opportunities' i.id %}" class="job_btn">Apply Now</a>
              </button>
              <button type="button" class="btn btn-primary px-2 mx-1">
                <a href="{% url 'dobizhire:viewjobs' i.id %}" class="job_btn">Read more..</a>
              </button>
            </div>
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:3 or forloop.last %}
        </div>
      {% endif %}
    {% endfor %}
    {% endwith %}
  </div>
</section>


  

  {% endblock %}