{% extends 'index.html' %}
{% load static %}
{%block title%} Hire {% endblock %}

{%block body %}


  <section class="top-bn5 bn-styles" data-aos="fade-left" style="margin-top: 130px;">
    <div class="container">
      <div class="row pt-4">
        <div class="col-md-8 col-12 pt-5 pt-5">

          <!-- <h2 class="text-white"><b>Dobizindia Carrier</b></h2> -->
          <h1 class="hire_text">We Are <span>Hiring </span> </h1>
        </div>
      </div>
    </div>
  </section>

  <section class="py-5">
    <div class="container">
      {% for i in post %}
        {% if forloop.counter0|divisibleby:4 %}
          <div class="row my-5">
        {% endif %}
        <div class="col-md-3 col-12">
          <div class="border shadow">
            <h4 class="career">Total Post <span>{{ i.count }}</span></h4>
            <div class="p-2">
              <p><b>Category:<span class="posts"> {{ i.jobcategory }} </span></b></p>
              <p><b>Job Role:<span class="posts"> {{ i.jobrole }} </span></b></p>
              <p><b>Experience:<span class="posts"> {{ i.exp }} </span></b></p>
              <p><b>Qualification:<span class="posts"> {{ i.qualification }} </span></b></p>
              <h2 class="text-center"><i class="fa fa-address-card" aria-hidden="true"></i></h2>
              <div class="text-center my-4">
                <button type="button" class="btn btn-primary px-2 mx-1">
                  <a href="{% url 'dobizhire:opportunities' i.id %}" class="job_btn">Apply Now</a>
                </button>
                <button type="button" class="btn btn-primary px-2 mx-1">
                  <a href="{% url 'dobizhire:viewjobs' i.id %}" class="job_btn">Read more..</a>
                </button>
              </div>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:4 or forloop.last %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </section>
  

  {% endblock %}