{% extends 'index.html' %}

{%block title%} Intellectual property rights {% endblock %}

{%block body %}
    </section>

     <section class="top-bn3 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <h2><b>Intellectual  <span class="text-white">Property Rights</span></b></h2>
            <p class="pt-4"> <b>Intellectual Property Rights can be valuable assets. The recognition and value of IPR are growing every day. First and foremost, businesses must identify their IPR. Only then can protection or registration be taken. Our IPR Specialists can assist you in identifying your IP and advise you on how it could be registered under the business's name. IPR Watch Service is an exclusive service that keeps track of IP Rights and helps to detect third-party violations. Please fill out the contact form to receive information about IPR-Identification registration and enforcement.  
            </b></p>
            <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            
            
            </ul>
          </div>

          <div class="content content-2s bg-light">
            <div id="overview">
              <section class="py-4">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 col-12 heading pt-2">
                        <h2 class="fs-6"><span class="text-primary">IPR Registration</span></h2>
                        <h2 class="fs-2">Trademark <span class="text-primary"> registration</span></h2>
                        <p class="fs-6">A trademark can distinguish one company from the other. Any sign, word or mark identifying the origin of goods, services, or products is a trademark. Every business has several trademarks. We will help you to register and enforce them.</p>
                        <h2 class="fs-4">International Trademark Filing</h2>
                        <p class="b-style text-style">One country's laws only apply to its territory. International applicability is not possible. Under the Madrid Convention, an international trademark application can also be filed from India to protect your trademark in other countries.</p>

                        <h2 class="fs-4">Copyright Register</h2>
                        <p class="fs-6">The right to any music, literature, cinematography or code software work rests with the creator. As conclusive evidence of the copyright owner, the registrar keeps a copyright register and issues a certificate.</p>
                        <h2 class="fs-4">Patent Registration</h2>
                       <p class="fs-6"> Patents may be issued in the name and designation of the inventor, assigned applicant, for inventions of goods or Industrial Processes that are unique or have not been used before. The patent gives you the exclusive right to use it or authorizes others to do so for twenty years. We file patents in hours upon receipt of all documentation.</p>

                        
                      </div>
                    </div>
                  </div>
                </section>

              <section class="py-4 s-img s-img1">
                  <div class="container py-2">
                    <div class="row">
                      <div class="col-md-2 col-12">
                      </div>
                    <div class="col-md-10 col-12">
                      <p><b>International Patent File</b></p>
                       <p>International protection of your invention can be secured by filing an International Patent Application within 12 months of filing it in India. The Indian Patent Office must be used to file the PCT Application. It is a Nodal Agency under the PCT.</p>
                      <p><b>Design Registration</b></p>
                       <p>India considers three-dimensional designs of goods to be intellectual property. This right can be protected through a design registration application. There is only one condition: it must not be novel but also have a distinctive element and innovation.</p>
                    </div>
                    </div>
                  </div>
                </section>

            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizIndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}