{% extends 'index.html' %}

{%block title%} International trademark filing{% endblock %}

{%block body %}

     <section class="top-bn1 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <h2><b>International  <span class="text-white">Trademark Filing </span></b></h2>
            <p class="pt-4"> <b>Making a trademark application the first step in registering trademarks in India Our pool of IP Attorneys is highly experienced, with more than 18 years of experience in trademark filing and prosecutorial matters in India and worldwide.
            </b></p>
            <p>International Trademark Filing</p>
            <p>A Simple Process and Transparent Fee, All India GST Registration &amp; Returns</p>

            <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            
            
            </ul>
          </div>

          <div class="content content-2s bg-light">
            <div id="overview">
              <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-12 heading pt-2">
                      <h2 class="fs-1">International  <span class="text-primary">Trademark Filing</span></h2>
                      <p class="fs-6">The law of trademarks promulgated through the Indian Government is in force and only valid in India. In India, thus, trademarks registered in India are only valid within India, and to get protection for trademarks across other countries, the same trademark must be registered under the law of the country in question. Each state has laws on trademarks that outline guidelines for registering trademarks within that particular country. If, for instance, one wants to apply for trademark registration in one specific country, then an application must be filed in all countries. In 2013, the Indian Government signed the Madrid convention that outlines the procedure for filing international applications to the party signing the agreement in India by the way that is the Registrar of Trademark.</p>
                      <h2 class="fs-4">Two methods through the use of which the International Application can be filed</h2>
                      <p class="b-style text-style"><b>International application for each foreign country:</b> To obtain protection in any country directly, an International application must be made directly with the trademark office in the country of origin, adhering to the rules and laws of the country. To do this, the applicant should hire a local law firm that is a trademark attorney in a foreign country. In practice, applications to countries that aren't parties to the Madrid system are submitted by the above. We offer our services for hiring an attorney in foreign countries to work together for trademark registration in the foreign country.</p>
                      
                    </div>

                    
                  </div>
                </div>
              </section>

              <section class="py-4 s-img s-img1">
                <div class="container py-2">
                  <div class="row">
                    <div class="col-md-2 col-12">
                    </div>
                  <div class="col-md-10 col-12">
                    
                    <p> <b>International application filed under the Madrid system: </b> making an International application under the Madrid protocol in front of the Registry of Trademarks for specific countries. It is the Indian Trademark office that gathers International Trademark applications. After finding that it is by the Madrid Protocol, they transmit the International application to WIPO and then transmit it to the concerned countries. The foreign nation handles each International application according to their laws, and all communications go through the Indian Government.</p>
                    <h2 class="fs-4">A basic understanding of International T-M Registration under the Madrid system</h2>

                    <p>According to the Madrid Protocol, marks are protected in multiple areas by submitting applications for International registration. This application is made at the International Bureau of the World Intellectual Property Organization (WIPO) in Geneva via an office in the country of origin. For instance, if the applicant is from India, the office of origin will be deemed the office of origin to act as the Registered Trademark for India. The Madrid system of filing trademarks is a single procedure to register trademarks across a variety of regions. The advantages immediately derived from the Madrid system are listed below.</p>

                  </div>
                  </div>
                </div>
              </section>

                <section class="py-4 bg-light">
                  <div class="container">
                    <div class="row">

                      <div class="col-md-12 col-12 heading pt-2">
                        <h2 class="fs-4 pt-4">International TM Registration under the Madrid system</h2>
                        <p>One International application must be filed to register trademarks in several foreign territories if they are parties to the Madrid convention. (98 nations have been ratified and signed to the Madrid convention)</p>
                        <p>The application may be filed in any of the three languages of English, French or Spanish, regardless of the language spoken by the contracting party. The government filing fee for each country must pay in India and only in one currency, i.e., the Swiss Franc (CHF). All applications submitted under the Madrid convention will be allocated just one number of registrations valid across all territories, with the same renewal deadline. The registration made under the Madrid system can be further extended geographically. Any modifications can be recorded in one procedure that applies to registrations across all foreign territories.</p>
                      </div>

                    </div>
                  </div>
                </section>

            </div>

             <div id="process">

              <section class="btm_grd_banner py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-12">
                      <div class="py-2 text-white heading2">
                        <p class="fs-6">The International applications filed under the Madrid protocol can be filed based on an existing trademark recorded in India or requested for registration. A local trademark registration must be required or requested to make an international application. The International application is made only concerning products or services for which the local registration relating to the trademark was obtained or applied for.</p>
           
                        <p class="fs-6">The International application is filed for all countries or groups members of the Madrid Protocol and has signed the same. The list of the 98 countries members of the Madrid convention is available from us. It is interesting to know that Nepal, Pakistan, Bangladesh, Sri Lanka, Myanmar, Malaysia, Hong Kong, Indonesia, Iraq, Kuwait, Mauritius, Saudi Arabia, Taiwan, Thailand, Canada etc., are not part of the Madrid protocol. That means the person from India wants to obtain registration of a trademark in the above countries; then, a separate application will need to be filed using local attorneys.</p>

                     <h2 class="fs-4 text-center">Method for Filing International Application for TM International applications are accepted in every foreign country.</h2>
                     <p class="fs-6">To submit an International application under the Madrid protocol in India, applicants must be Indian citizen or resident of India or has a legitimate and effective commercial or business established in India. To apply, the person applying must complete a Trademark request in India or be the authorized owner for the mark that International registration is required. Please note that an International application is submitted with the same Trademark stated in the trademark application for national use or registration. At the same time, the description of the goods or services described in the trademark applications must be similar to or less than the national Trademark. </p>
                     <h2 class="text-center">The international application under the Madrid system </h2>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <section class="py-4">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6 col-12">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                              <br>
                              <p class="card-text">The International application can be filed using the assistance of an attorney, given that the attorney must be granted the authorization on Form TM48 and signed by the applicant. Since TM-48 is a type of Power of Attorney, the relevant Stamp duty is to be paid according to the specific state stamp duty Act in the state where it is filed. The International application must be filed on the prescribed form MM-2(E), but should it be the case in the USA, the application must be submitted in the form MM-18 (E). Suppose the foreign country is a member of the European Union. In that case, the applicant must state a second language on the application, which is made up of French, German, Italian and Spanish.</p>
                            </div>
                          </div>
                      </div>

                      <div class="col-md-6 col-12 mt-4">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                              
                              <br>
                              <p class="card-text">When a Registrar receives an International application, The Registrar must examine the application to ensure that it complies with the requirements of the Madrid Protocol and forward the request to WIPO. After verification, WIPO will forward the application to the appropriate foreign Govt. The country's Government will process the application according to their laws, and every communication goes by to the Indian Government. According to their law, the International registration is contingent on the validity of the local registration for five years, or in terms of when your local registration is deemed to be ineffective or ceases in effect or if the application for TM is denied or canceled or deemed abandoned after 5 years, then the International registration is not protected.</p>
                            </div>
                          </div>
                      </div>

                      <div class="col-md-12 col-12 mt-5">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                             
                              <br>
                              <p class="card-text">The WIPO reviews International applications that are received by offices from which they originate. If any abnormality is found, the Global Department tells such anomalies to the workplace, beginning to worry regarding the candidate/candidate's approved agent. An office generally corrects the irregularities within three months from the day of notice. Suppose the international registration is granted protection for the whole or a portion of the goods/services. In that case, the details associated with the global registration must be made public in a separate section of the Trademarks Journal. If no objection is raised, the Trademark is registered.</p>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </section>

            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizIndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}