{% extends 'index.html' %}

{%block title%} Patent search{% endblock %}

{%block body %}>

     <section class="top-bn2 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-9 col-12 pt-5 pt-5">
            <h2><b>Patent Search on  <span class="text-white">Which You Could Rely </span></b></h2>
            <p class="pt-4"> <b>We assist inventors in identifying prior art, perform a thorough analysis and provide our opinions regarding the patentability of their invention. We are a highly skilled and knowledgeable team of lawyers available to help you. Additionally, you can benefit from our partnership with technology partners for patent search and databases.
            </b></p>
            <p>Patent Search Based On Which You Can Rely</p>
            <p>Start with the world's top Patent Search</p>
            <p>All India GST Registration and Returns</p>

            <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            
            </ul>
          </div>

          <div class="content content-2s bg-light">
            <div id="overview">
              <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-12 heading pt-2">
                      <h2 class="fs-2">Patentability  <span class="text-primary">Search</span></h2>
                      <p class="fs-6">Patents confer an exclusive right to the patent for twenty years. The patent is granted once three essential requirements are met: novelty, utility and non-obviousness. Of these three important criteria used, novelty is the most significant one. The invention has to be unique to be eligible for the approval of a patent.</p>
                      <p class="b-style text-style">Prior research is the process of finding similar knowledge or writing by the invention. Because prior knowledge impedes Patentability issues for inventions, prior art search is the essential step before the inventor writes his specification or file for the patent. The earlier it's completed the better.</p>
                      <p class="fs-6">Prior art searches can uncover products that are concepts, inventions, or ideas similar to the idea or concept you'd like to patent. The most notable advantages of prior art search are under</p>
                      <div class="about-text-style">
                          <ul>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Check it is Original and completely new.</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> It helps you understand what other people have filed in this field.</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> You have the opportunity to assess your invention against the similar prior art.</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> It lets you know the strength of your invention.</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> It protects you from violating the rights of someone else's invention.</li>
                          </ul>
                        </div>                      
                    </div>

                  </div>
                </div>
              </section>

              <section class="py-4 s-img s-img1">
                <div class="container py-2">
                  <div class="row">
                    <div class="col-md-2 col-12">
                    </div>
                  <div class="col-md-10 col-12">
                    <h2>Invalidity in Search</h2>
                    <p>Invalidity Search is used to locate evidence that invalidates the patent filed by the opposing party. Also, the invalidity search is an approach to determine if the invention is legally binding or not. There are cases of positive use, for instance, if you're purchasing a patent or defending your invention in court, and the invalidity search plays a vital role in proving your argument. However, the negative use scenario is when you plan to invalidate someone else's patent. Invalidity searches are called validity searches and are utilized interchangeably across different jurisdictions. They are commonly used to evaluate the strength invalidity of the patent.</p>
                    <p>We have formed partnerships with the most reputable prior research databases and search partners to provide unrivaled results through the highest level of skill, experience, and expertise in the field and years of expertise. Our methods to conduct a validity search are described below.</p>

                  </div>
                  </div>
                </div>
              </section>

               <section class="py-4 bg-light">
                  <div class="container">
                    <div class="row">

                      <div class="col-md-12 col-12 heading pt-2">
                        <h2 class="fs-4 pt-4">A comprehensive search of Patent Database Covering the Jurisdiction.</h2>
                       
                        <div class="about-text-style">
                            <ul>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Searches within Patent Literature and non-patent literature diverse publications, journals and other sources for prior art.</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Keyword-Based Search and Classification Keyword-Based Search</li>
                            </ul>
                        </div>
                        <h2>Freedom to Operate Search</h2>
                        <p>Freedom to operate can also be called Clearance Search, Right to utilize search. Freedom to Practice Search identifies whether the invention in question may infringe on an earlier patent. The claims of an earlier similar patent are compared in conjunction with the description of the current patent to determine whether there's a potential violation. The freedom to operate search aims to minimize legal issues following the product's launch. Freedom to Operate searches is generally carried out in all countries before release.</p>
                      </div>

                    </div>
                  </div>
                </section>


                

            </div>

             <div id="process">

              <section class="btm_grd_banner py-4">
                <div class="container">
                  <div class="row text-center">
                    <div class="col-md-12 col-12">
                      <div class="py-2 text-white heading2">
                      <h2 class="py-2">State of Art Search</h2>
                      <p class="fs-6 pt-2">The current state-of-the-art search offers a glimpse of the current technological developments within a particular technology area. The analysis of the search is exceptionally beneficial when choosing a possible company buying or selling the license of patents. The latest research areas, such as mergers and acquisitions, also consider those State of Art Searches.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizIndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

     {% endblock %}