{% extends 'index.html' %}

{%block title%} Software patent {% endblock %}

{%block body %}


     <section class="top-bn3 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <h2><b>Software Patent <span class="text-white">Registration </span></b></h2>
            <p class="pt-4"> <b>The protection afforded by patents for software or a computer program is the most effective and reliable. Following international norms today, we can protect an invention under the form of a program or computer program in India and also, provided that it can be used in industrial Applications. 
            </b></p>
            <p>Software Patent Registration</p>
            <p>Simple Process and Transparent Fee, All India GST Registration and Returns</p>

            <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            
            
            </ul>
          </div>

          <div class="content content-2s bg-light">
            <div id="overview">
              <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-12 heading pt-2">
                      <h2 class="fs-2">Software Patent  <span class="text-primary">Registration Online</span></h2>
                      <p class="fs-6">A computer program or software is an instruction set activated by external stimuli to control interactions between components and peripherals in hardware or device. The software can be designed to be more than showing a textual or graphic or some other type of information. The software is used to manage the metro's driverless operation. </p>
                      <p class="b-style text-style">This is why we have to consider what the IP Rights of software are in a larger context. The software is traditionally covered by copyright, and protection was granted to literary works, its source code or the object code, or in other words, to the appearance and the feeding program. However, the protection provided by copyright is viewed as weak since it can only protect against unauthorized copying of the concept, but it does not protect the idea behind it.</p>
                      
                    </div>

                  </div>
                </div>
              </section>

              <section class="py-4 s-img s-img1">
                  <div class="container py-2">
                    <div class="row">
                      <div class="col-md-2 col-12">
                      </div>
                    <div class="col-md-12 col-12">
                      <h2>Patentability of the patentability of Computer Program or Software</h2>
                      <p><b>A New Invention: </b> A novel or new Invention is eligible to receive a patent. The novelty test does not reveal or publish the patent, except for the Patent Office.</p>
                      <p><b>Ingenuous Steps: </b> To create patentable software, the creator must demonstrate that the computer program is composed of innovative steps and that it is not apparent.</p>
                      <p><b>Industrial Application: </b> The patent specification should be carefully drafted to reveal the practical application and industrial use of this claimed Invention.</p>
                      <p><b>Economic Value: </b> The primary requirement for patentability is that the patentee has the commercial value of the Invention. The claims of an Invention must reflect the actual value.</p>

                    </div>
                    </div>
                  </div>
                </section>

                 <section class="py-4 bg-light">
                    <div class="container">
                      <div class="row">

                        <div class="col-md-12 col-12 heading pt-2">
                          <h2 class="fs-4 pt-4">Patent Filing Documents</h2>
                          <div class="row table-responsive-sm"> 
                          <div class="col-md-6 col-12 p-2">
                              <table class="table">
                                <tbody>
                                  <tr class="table-dark">
                                    <td>A. Documents Required for Patent Filing in India </td>
                                  </tr>     
                                  <tr class="table-primary">
                                    <td>The Digital Signature is the digital signature of the applicant</td>
                                  </tr>

                                  <tr class="table-info">
                                    <td>Authorization for the Patent Attorney</td>
                                  </tr>
                                  <tr class="table-warning">
                                    <td>The patent questionnaire</td>
                                  </tr>
                                  
                                  <tr class="table-light">
                                    <td>A certified copy of the Patent Specification</td>
                                  </tr>

                                  <tr class="table-primary">
                                    <td>Declaration of Inventor ship signed by the Inventor</td>
                                  </tr>

                                  <tr class="table-info">
                                    <td>Pre-art documents in the case of International Application <br> <br> </td>
                                  </tr>

                                </tbody>
                              </table>
                            </div>


                            <div class="col-md-6 col-12 p-2">
                              <table class="table">
                                <tbody>
                                  <tr class="table-dark">
                                    <td>B. Specification must contain the following</td>
                                  </tr>     
                                  <tr class="table-primary">
                                    <td>-</td>
                                  </tr>

                                  <tr class="table-info">
                                    <td>The Patent Title</td>
                                  </tr>
                                  <tr class="table-warning">
                                    <td>Summary of patent specifications (A Summary)</td>
                                  </tr>
                                  
                                  <tr class="table-light">
                                    <td>The Specification is detailed and demonstrates the innovative methods</td>
                                  </tr>

                                  <tr class="table-primary">
                                    <td>Drawings and Flowcharts in the event of there is any</td>
                                  </tr>

                                  <tr class="table-info">
                                    <td>Claims under the Patent</td>
                                  </tr>

                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </section>

            </div>

             <div id="process">

              <section class="btm_grd_banner py-4">
                  <div class="container">
                    <div class="row text-center">
                      <div class="col-md-12 col-12">
                        <div class="py-2 text-white heading2">
                          <h2 class="fs-4">Procedure for Patent Registration in India Examine the patentability</h2>
                          <p class="fs-6">Verify if the Invention is patentable or not under conformity with the Patent Act, and confirm whether the Invention is novel and not filed before filing at the Patent Office.</p>
                          <h2 class="fs-4">Specification Drafting</h2>
                          <p class="fs-6">Note the idea (idea or idea) as precisely as possible. Utilize diagrams and drawings sketches to describe how the Invention operates and the purpose of your Invention.</p>
                          <h2 class="fs-4">Filing of Patent</h2>
                          <p class="fs-6">The patent may file in India with a provisional or a complete specification. However, the entire specification must be filed within 12 months.</p>
                          <h2 class="fs-4">Patent Office Activity</h2>
                          <p class="fs-6">The patent is reviewed and then published at the office of the patent. It is issued when there is no objection from the examiner or third party opposition.</p>

                        <h2 class="fs-4">NIDHI company incorporation: Step by step </h2>
                        <p class="fs-6 pt-2">NIDHI Company formation requires that you first incorporate your business into a public limited company. Next, you need to apply for the NIDHI Company license within a prescribed time according to the NIDHI Rules, 2014. Below is the detailed step-by procedure for Nidhi Company incorporation. </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizIndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}