{% extends 'index.html' %}

{%block title%}FSSAI License Renewal {% endblock %}

{%block body %}
     <section class="top-bn3 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <h2><b>FSSAI license<span class="text-white"> renewal </span></b></h2>
            <p class="pt-4"> <b>FSSAI License registration is valid for up five years, depending on the tenure you select when applying for FSSAI License or Registration. Renewing your License is online and possible for a maximum of five years. 
            </b></p>
            <p>FSSAI license renewal</p>
 
            <p><b>All India Online Service, All India Incorporation Service</b> </p>

            <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            <li> <a class="sidelink" href="#document">
            <span class="icon-s"> <i class="fa fa-file-text" aria-hidden="true"></i> </span>  List of Documents</a> </li>
            <li> <a class="sidelink" href="#faq">
            <span class="icon-s"> <i class="fa fa-question-circle" aria-hidden="true"></i> </span>  FAQ</a> </li>
            
            </ul>
          </div>

          <div class="content content-3s bg-light">
            <div id="overview">
              <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-12 heading">
                      <h2 class="fs-2">FSSAI <span class="text-primary">renewal</span></h2>
                      <p class="fs-6">Because they deal directly with essential elements of human life, such as food, the business of food business operators (FBOs) is regulated. Food. This regulation is the Food Safety and Standards Regulations (Licensing and Registering of Food Businesses), Regulations 2011. It states that FBOs must seek registration or License from FSSAI before they can carry out their food business activities. FSSAI allows enrollment in three categories. These are </p>
                      <p class="b-style text-style"><b>FSSAI Registry: </b> This registration is for small businesses like Dabbawalas. Or petty PFO with less than 12 Lakhs in turnover </p>
                      <p class="fs-6"><b>FSSAI License for Medium-Sized Businesses with more than 12 lakhs in annual turnover. </b> </p>
                        <p class="fs-6"><b>Central FSSAI Certificate: </b> Food Central License is required by FBOs operating in more states or with an annual turnover greater than 20 crores. </p>

                        <h2 class="fs-4">Validity and Registration of License </h2>
                        <p class="b-style text-style">Have you checked the FSSAI food license or registration certificates? Check your food registration certificate or food license issued by FSSAI. The food license or registration is not permanent. A food license or registration is valid for one to five years, depending on the choice made by the Food Business Operator when applying. The validity period started when the License or registration certificate was issued. FBOs can apply to renew their Food License before expiry if they wish to continue their Food Business. You can renew for up to five more years by filing a renewal request. But you must pay the fee applicable to that period.</p>

                    </div>

                    
                  </div>
                </div>
              </section>

              <section class="py-4 s-img s-img1">
                <div class="container py-2">
                  <div class="row">
                    <div class="col-md-2 col-12">
                    </div>
                  <div class="col-md-10 col-12">
                    <h2>FSSAI Renewal </h2>
                    <p>Online renewal applications are possible for registration certification or food license. It is filed in either FORM A or FORM C for registration certification. For renewal applications, the FBO needs to provide the following documents: </p>
           
                    <p>From the time of the food license's grant, any changes in FBO status or information are possible. The renewal of the food license will require any change-related documentation and data to be filed. </p>
                     
                    <p>Adoption of a Certificate of Food Safety Management System or Plan (for Central Licensing units, it must be a certificate issued by accredited agencies). </p>
                     
                    <p>Copy of food licensure </p>
                     
                    <p>The following is a list of employees and their medical fitness certificates. </p>
                     
                    <p>Name and details about the technical staff that handles the operation.</p>
                     
                    <p>The License must be valid until the renewal application has been processed. Additionally, the renewal application is considered by the licensing and registration authorities within 30 calendar days of the expiry or cancellation of the licensor registration. </p>
                  </div>
                  </div>
                </div>
              </section>

            <section class="py-4 bg-light">
                <div class="container">
                  <div class="row">

                    <div class="col-md-12 col-12 heading pt-2">
                      <h2 class="fs-4 pt-4">When to Apply for Renewal FSSAI Registration/License</h2>
           
                      <p>FBO should apply to renew a Fssai Registration or License granted under these Regulations at least 30 days before the License expires. An applicant may file a renewal request 120 days in advance.</p> 
                       
                      <p>Each day of delay in filing a renewal request must be paid Rs 100. </p>
                       
                      <p><b>Ample Example: </b> Amba, a Delhi sweetshop, had a state-issued license valid through 20 April 2021. It filed the renewal form on 20 April 2021, the last date that the License was valid. Calculate the five-year renewal fee. Amba Sweets must have submitted the renewal application before 20 March 2021 to avoid any late fees. The renewal fee total is as follows: </p>
                     
                      <div class="about-text-style">
                          <ul>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> 30 Days delay in renewing your registration </li>

                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Late fee = Rs 100x30 = R 3000 </li>

                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Renewal fee = Rs 2000x5 = R 10,000 (Renewal fees are Rs 2000 per annum in State License). </li>

                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Total renewal fee = Late Fee + Renewal Fee = Rs 3000 + Rs 10000 = Rs 13000 </li>
                          </ul>
                      </div>
                      <p>Amba sweets must renew the registration for five years on or before 19 March 2021. The renewal fee is Rs. 10000/. But, in the event of registration, a late charge of Rs. A late fee of Rs. One hundred per day for each day of delays must not be applicable, as per Notification no. 2-15015/30/2012 dated 10 June 2014. </p>
                    </div>

                  </div>
                </div>
              </section>

            </div>

             <div id="process">

              <section class="btm_grd_banner py-4">
                <div class="container">
                  <div class="row text-center">
                    <div class="col-md-12 col-12">
                      <div class="py-2 text-white heading2">
                      <h2 class="py-2">Repercussions of FSSAI Registration/License Non-Renewal</h2>
                      <p class="fs-6 pt-2">The license expiry must be notified if the renewal request is not received within the prescribed time. In such a circumstance, the Food Business Operator may stop all business activity at the Food Unit. The Food Business Operator must apply for a new registration or food license if it wants to restart. </p>
           
                      <p class="fs-6 pt-2">Designated officers can request an inspection before renewal if they feel it is necessary. The Food Business Operator does not need to be inspected if they have a valid certificate from an accredited agency by the Food Authority or a food safety auditor accredited by FSSAI.</p>

                      </div>
                    </div>
                  </div>
                </div>
              </section>

            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizIndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}