{% extends 'index.html' %}

{%block title%}FSSAI State License {% endblock %}

{%block body %}
     <section class="top-bn3 bn-styles">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <h2><b>FSSAI State License  <span class="text-white">Registration </span></b></h2>
            <p class="pt-4"> <b>Requirement for FBO </b></p>
            <p>All India Incorporation Service</p>
            <h2>FSSAI Registration</h2>
            <p>FBOs must get the FSSAI State License to conduct business if the turnover exceeds R 12 Lakhs. 20 Crores (the top limit is Rs. 30 Crores for transporters. We support you in filing your FSSAI claim and following up.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            
            <li> <a class="sidelink" href="#document">
            <span class="icon-s"> <i class="fa fa-file-text" aria-hidden="true"></i> </span>  List of Documents</a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            <li> <a class="sidelink" href="#faq">
            <span class="icon-s"> <i class="fa fa-question-circle" aria-hidden="true"></i> </span>  FAQ</a> </li>
            
            </ul>
          </div>

          <div class="content content-3s bg-light">
            <div id="overview">
              <section class="py-5">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-12 heading">
                      <h2 class="fs-1">FSSAI state <span class="text-primary">license</span></h2>
                      <p class="fs-6">Has your food company been recently formed? If yes, your food business will likely be eligible for the FSSAI state license. Dobizindia business solution private limited experts can help you with the application check. Well-prepared food and hygiene are essential to our survival. The food business is controlled by requiring food licensing within the specified applicability criteria for all food businesses. A food state license, a state-specific license, is issued by the state licensing authorities to FBOs with an annual turnover of over 12lacs or less than 20 million. For transporters, however, 30 crores are the limit. It has a validity of between 1 and 5 years, depending on which option is selected by FBO.</p>
                      <h2 class="fs-4">Eligibility for FSSAI State License</h2>
                      <p class="b-style text-style">The following food businesses must apply to their respective state licensing agencies for a State License:</p>
                      <div class="about-text-style">
                          <ul>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> FBO with an annual turnover over 12 Lacs but below 20 Crores (except for Transporter). Transporters are subject to a 30 crore turnover limit.</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> All Cereals, Grains or Pulses mills must have an FSSAI license.</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> FBO produces food (other than Milk &amp; Meat and products containing Milk &amp; Meat) of up to 101 gs/2 MT liters daily.</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Dairy units, including chilling milk devices that procure, handle and collect milk between 50k - 50,000lt/2.5 MT-2500 MT milk solids per year.</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> All slaughterhouses capable of slaughtering more than one</li> animal per hour are listed below:<br>
                            • Large Animals 3 to 50<br>
                            • Small Animals: 11 - 150<br>
                            • Poultry Birds: 51 - 1000
                          </ul>
                      </div>
                    </div>

                  </div>
                </div>
              </section>

              <section class="py-4 s-img s-img1">
                  <div class="container py-2">
                    <div class="row">
                      <div class="col-md-2 col-12">
                      </div>
                    <div class="col-md-10 col-12">
                      <h2>Timeline to Grant FSSAI State License</h2>
                      <p><b>Timeline: </b> After receiving a complete FBO application, the Licensing Authority issues a license within 60 calendar days. It includes the time taken to inspect premises by the relevant authority and scrutinize the application. If the concerned authority provides clarifications, the timeline could be extended. The applicant is allowed to reply within 30 days to the clarification in his application. Failure to respond within 30 days of receiving the applicant's clarification could delay the license's grant.</p>
                      <p><b>Starting a business: </b> Where the licensing authority has not granted a Food License within 60 days of receiving a complete request and:</p>
                      <div class="about-text-style">
                            <ul>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Refuses to mention the defect in an application.</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> After inspecting the food unit of the food officer, there is no need to ask questions.</li>
                            </ul>
                        </div>
                    </div>
                    </div>
                  </div>
                </section>

            <section class="py-4 bg-light">
              <div class="container">
                <div class="row">

                  <div class="col-md-12 col-12 heading">
                    <h2 class="fs-4 pt-4">List of Documents to Apply for FSSAI State License</h2>
                    <p>Non-Manufacturing FBOs will need additional documentation than Manufacturing FBOs. Below are the categories of documents that are required. The nature of your business may require additional documents. These are provided separately.</p>
                    <h2>FSSAI List of Documents</h2>
                    <p>Non-Manufacturing / FBO Non-Producing  </p>
                   
                    <div class="about-text-style">
                        <ul>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Certificate of incorporation</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> MOA &amp; AOA</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> PAN Card</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> List of Directors</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Board Resolution</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Form IX Nomination Form</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> List of Food Products</li>
                        </ul>

                        <ul>  
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Photo Identity Card issued by the government</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Address proof</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Email ID &amp; Mobile Mo (For OTP)</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Education Qualification </li> 
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Photo ID of Food Business.</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> The sale deed/rent agreement</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> The minimum billing period for electricity is two months.</li>
                        </ul>
                    </div>
                    <p><b>Notice: </b> A nominee entails a person responsible for ensuring compliance with Food laws and regulations for the Food Business.</p>
                    <h2>FBO Manufacturing </h2>
                    <div class="about-text-style">
                        <ul>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> All other documents are required for nonmanufacturing or producing units.  </li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> The layout/plan for the processing unit shows the meters/square meters and operation-wise areas.</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Photograph of Manufacturing/Production unit.</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> This list contains information about Machinery and Equipment as well as the installed capacity, horsepower and number of machines.</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Water test Analysis report (Chemical &amp; Bacteriological) obtained from a recognized/public Health laboratory to confirm portability. The report includes the name of the Lab representative who collected and the collection date.</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Recall Plan</li>

                        </ul>
                      </div>
                  </div>

                </div>
              </div>
            </section>

            </div>


            <div id="document">
              <section class="btm_grd_banner py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-12">
                      <div class="py-2 text-white heading2">
                      <h2 class="py-2 text-center">Additional Documents Based upon Activities are as below </h2>
                      <p class="fs-6 pt-2"></p><p>Hotels/Restaurants/Providers of Other Prepared food: </p> Chemical &amp; Bacteriological analysis of Vending Water to be used for food in a Food Establishment, Club/Canteen, or any other food establishment. A recognized public laboratory must issue the report. It is required to confirm the water's portability. The water analysis report must include the date and name of the Lab worker who collected the sample. It applies to water that is used as an ingredient.<p></p>
                      <p class="fs-6"><b>Additional Documents for Importer Food Items: </b> </p>
                       <div class="about-text-style">
                          <ul>
                      <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Import Export Code. The IEC certificate is a document issued and signed by the Director-General of Foreign Trade.</li>
                      <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Recall Pan</li>
                       </ul>
                     </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <section class="py-4 bg-light">
                <div class="container">
                  <div class="row">

                    <div class="col-md-12 col-12 heading">
                      <h2 class="fs-4 pt-4">Additional documents for merchant exporters: </h2>
                      <div class="about-text-style">
                          <ul>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Certificate indicating import export code</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Declare that applicant will sell products designed for export in the national market. Furthermore, export products must conform to the standards of importing nations.</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Recall Program</li>
                          </ul>
                      </div>
                      <p>Food or Nutraceuticals and Health Supplements: According to Food Safety and Standards (Food or Food Supplements, Nutraceuticals Foods for Special Dietary Uses Foods for Specialized Med Purposes Foods for Specialized Clinical Purposes Foods for Specialized Medical Purposes Foods for Functional Foods and Novel Foods) Regulations 2016, 2016</p>
                      <h2>List for Vehicle Registration Numbers</h2>
                      <div class="about-text-style">
                          <ul>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> NOC for Manufacturers</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Source and procurement plan for milk</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Additional documents for meat processing</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Source of Raw Material</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> NOC from Municipal Corporations/local bodies</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> NOC issued by the Municipal Corporation/local agency</li>
                          </ul>
                      </div>
                      <p>Nutraceuticals: Product Specification detailing each product and mentioning the ingredients per the applicable Schedule for health supplement products or Nutraceuticals as prescribed</p>
                      <p>The Composition for each product according to the prescribed format</p>
                    </div>

                  </div>
                </div>
              </section>
            </div>


            <div id="process">
              <section class="btm_grd_banner py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-12">
                      <div class="py-2 text-white heading2">
                      <h2 class="py-2 text-center fs-4">Product Approval from FSSAI HQ for Each Product</h2>
                      <p class="fs-6 pt-2"><b>Packaged Drinking water: </b> Report detailing pesticide residues in water used to make packaged drinking water, packaged minerals water, or carbonated water. The report must come from a recognized laboratory for public health. It must be verified that the water used in food is potable. The pesticide residue reports must include the date of collection and the name of the Lab staff that collected the sample.</p>
                      <h2 class="py-2 text-center">Step-wise Process for Granting FSSAI State License</h2>
                     </div>
                      </div>
                    </div>
                  </div>
                
              </section>

              <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Eligibility Check</h5>
                            <br>
                            <p class="card-text">The eligibility screening of the applicant FBO is the first step. Dobizindia business solution private limited will talk to you about the business plan and determine your eligibility.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-12 mt-4">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Documentation &amp; Drafting</h5>
                            <br>
                            <p class="card-text">Once you are confident that you require food registration, Dobizindia business solution will provide a list containing all necessary documents. Dobizindia's business solution private limited team will assist you with the draft documents required for signature. </p>
                          </div>
                        </div>
                    </div>

                  </div>



                  <div class="row pt-4">

                    <div class="col-md-4 col-12">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Online Application Filing</h5>
                            <br>
                            <p class="card-text">To file online, you must fill out Form-A on the FoSCoS portal. In this course, you will have the opportunity to communicate with us for OTP.</p>
                          </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-12 mt-4">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Payment of Government Fee</h5>
                            <br>
                            <p class="card-text">After filling out the application and uploading the documents in the document area, the registration fee is paid. A reference number is then generated. This temporary number allows you to monitor the status of your application. </p>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 mt-5">
                      <div class="mt-5"></div>
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">FSSAI Application status Track</h5>
                            <br>
                            <p class="card-text">The applicant can check the status online. Usually, registration is granted within seven days of filing the application. However, if the licensing authority requests an inspection of the premises, this will delay the grant. On inspection, the registering authorities may ask for clarification in the application, which could include addition, modification, or deletion of information.</p>
                          </div>
                        </div>
                    </div>


                    <div class="col-md-6 col-12 mt-4">
                      <div class="mt-5"></div>
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Respond to Clarification </h5>
                            <br>
                            <p class="card-text">Within 30 days after the date you raised clarification, your reply to clarification should be filed. If the reply to clarification is not filed within 30 days of the date you raised clarification, it will be rejected, and a new request must be made. There is no way to refund the fee. Dobizindia's private limited team can coordinate with you during such clarifications to resolve the issue.</p>
                          </div>
                        </div>
                    </div>


                    <div class="col-md-6 col-12 mt-5">
                      <div class="mt-5"></div>
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Grant of registration</h5>
                            <br>
                            <p class="card-text">The application will be approved, and the photo I.D. card and Registration Certificate will be issued. They must be displayed at a prominent location on the food business premises. Photo FBO, Q.R. required for a registration certificate. Code and 14-digit FSSAI registration number. The numeric 2 part of the code is required.</p>
                          </div>
                        </div>
                    </div>

                  </div>

                </div>
              </section>

              <section class="py-4 ab-banner text-white">
                <div class="container">
                  <div class="row">
                  <div class="col-md-12 col-12 heading">
                    <h2 class="py-4">Validity and validity of FSSAI State License</h2>
                    <p>A Food State license granted under these Regulations shall remain valid for 1-5 years as chosen by the Food Business Operator upon application unless canceled or temporarily suspended. The expiry date of the License is the date of issue. However, the License can be renewed for an additional five years, subject to payment for the applicable fee.</p>
                    <p>FBO must submit a request to renew a License granted under these Regulations at least 30 days before the License expires. An applicant can submit a renewal application up to 120 days prior. The License shall be valid until the disposal or renewal of the application. Further, the licensing authorities must determine the renewal within 30 calendar days of expiry. If they consider it necessary for reasons to be recorded in written form, the designated officers may order an inspector to inspect the License before renewal. The Food Business Operator with a valid certificate from a Food Authority accredited agency, a food safety auditor accredited, or any other FSSAI-notified organization is exempted from inspection.</p>
                    <p>Each day of delay in filing a renewal request shall result in a late fee equal to Rs 100 for every 30 days before the license expiry date. If the renewal request is not received within the validity period, the License shall be canceled, and all business activity at the premises will be stopped. If the Food Business Operator wants to restart it, it must apply to renew it.</p>
                  </div>
                  </div>

                </div>
              </section>

              <section class="py-4 bg-light">
                <div class="container">
                  <div class="row">

                    <div class="col-md-12 col-12 heading pt-5">
                      <h2 class="fs-4 pt-4">Cost total to obtain the FSSAI State License</h2>
                      <p>The FBI will require two types of fees to obtain a state license. FSSAI State License fee varies between Rs 2000 and Rs. 5000/-. Our professional fee will vary depending on each case. Below are indicative costs for FSSAI State License.</p>
                      <p><b>Professional Charge: </b> At a meager fee of Rs. 8499/- Only. The GST@18% charge would apply to this amount. These services cover the following areas:</p>
                      <p><b>Fee for FSSAI State License: </b> Based on the FBO’s business activity, the government fee for FSSAI State License will be payable. The government fee can be applied for up to five years. Therefore, it is calculated using the number of years of the annual fee. A restaurant may apply for a state license for one year. The fee is Rs. 2,000/-. This means the 3 Year License Fee shall be Rs. 6000/- (Rs. 2000 X Three Years Below is a list of the fees required for a state license based on business activities.</p>
                      
                    </div>

                  </div>
                </div>
              </section>

              <section>
                <div class="container">
                  <div class="row table-responsive-sm">
                    <p><b>FSSAI Government Fee Table</b></p>

                      <div class="col-md-4 col-12 p-2">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>Rs. 2000 per Year</td>
                          </tr>     
                          <tr class="table-primary">
                            <td>The fee of Rs. The Fee of Rs. 2000 is payable to all FBO, except</td>
                          </tr>

                          <tr class="table-info">
                            <td>Restaurants, Boarding Houses, Clubs etc. </td>
                          </tr>
                          <tr class="table-warning">
                            <td>Canteens: (Schools Colleges Office Institutions).</td>
                          </tr>
                          
                          <tr class="table-light">
                            <td>Caterers, Banquet Halls </td>
                          </tr>

                          <tr class="table-warning">
                              <td>Hotels (Lesser Than 3 Stars) </td>
                          </tr>
                          
                          <tr class="table-light">
                            <td>Food vendors like dabbawalas etc</td>
                          </tr>

                        </tbody>
                      </table>
                    </div>

                    <div class="col-md-4 col-12 p-2">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>Rs.</td>
                          </tr>     
                          <tr class="table-primary">
                            <td>Reimbursement Fee Rs. For following cases, the fee is Rs.</td>
                          </tr>
                          
                          <tr class="table-info">
                            <td>-</td>
                          </tr>
                          <tr class="table-warning">
                            <td>FBO with production capacity below 1M.T. Production or</td>
                          </tr>
                          
                          <tr class="table-light">
                            <td>Amounts from 501 to 10,000 Liters per day of milk</td>
                          </tr>

                          <tr class="table-warning">
                            <td>2.5 to 500 MT per annum of milk sulids  <br><br></td>
                          </tr>

                        </tbody>
                      </table>
                    </div>

                    <div class="col-md-4 col-12 p-2">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>Rs.</td>
                          </tr>     
                          <tr class="table-primary">
                            <td>Reimbursement Fee Rs. For following cases, the fee is Rs.</td>
                          </tr>
                          
                          <tr class="table-info">
                            <td>- </td>
                          </tr>
                          <tr class="table-warning">
                            <td>Hotels with at least 3 Stars</td>
                          </tr>
                          
                          <tr class="table-light">
                            <td>Production above 1MT per hour</td>
                          </tr>

                          <tr class="table-warning">
                            <td>10001 to 50,000 Liters per Day of milk</td>
                          </tr>

                          <tr class="table-light">
                            <td>501 to 2500 MT per annum of milk sulids</td>
                          </tr>
                          
                        </tbody>
                      </table>
                    </div>

                    <p><b>Note: </b> FSSAI Registration Fee is Rs. 100/$ and Rs. 7500/year. The State License is exempted from the payment of the government fee. The applicant may apply for a food license/registration for a validity period of one-five years or less, depending on the application. In this case, they must pay the government fee. Any applicant for a license cannot get a refund of any fees they have paid. The complete list can be found on the FSSAI Website/Rules.</p>

                  </div>
                </div>
              </section>
             </div>


            <div id="faq">
             <section class="btm_grd_banner bg-light py-4">
              <div class="container">
                <div class="row">

                  <div class="col-md-11 col-12 mx-auto heading2">
                   
                    <div class="accordion pt-2" id="accordionExample">
                      <div class="accordion-item">
                        <h4 class="accordion-header" id="headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Noncompliance carries a penalty.   
                          </button>
                        </h4>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                          <div class="accordion-body list-style">
                            A food license must be obtained before a food business can begin. The FBO can impose a maximum Rs 10 lacs fine on a food-business operator operating a food service. Or six-month imprisonment. The maximum sentence could be extended to 6 years for cases where the FBO has provided unsafe food. Further, if the FBO is found guilty under this Act, all the directors /Partners/Managers/Secretary of the FBO shall be liable to be preceded and punished. Therefore, before opening a food-related business, the FBO should obtain the required Registration/License and adhere to the conditions.
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h4 class="accordion-header" id="headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                           Annual Return
                          </button>
                        </h4>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            FSSAI-licensed FBOs involved in Manufacturing and Importing Food Products and those who manufacture Milk and Milk Products must submit online periodic returns each year starting with FY 2020-21.<br>
                            The online submission of returns on the Food Safety Compliance System is required. Each Licensee shall submit a separate return for each food unit. It does not matter that a Food Business Operator may hold more than one License. Each day beyond 31 May in a year, the penalty for late filing of returns is Rs 100.

                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h4 class="accordion-header" id="headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Exemption of Annual Return under FSSAI
                          </button>
                        </h4>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                           Food Business Operators are exempt from the requirement to submit annual returns if they have an FSSAI Registration Certificate.<br>
                            The annual return submission requirement does not apply to other types of businesses, such as wholesalers, retailers and storage companies. Services etc.

                          </div>
                        </div>
                      </div>

                      <div class="accordion-item">
                        <h4 class="accordion-header" id="headingFour">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                           We are here to help you!
                          </button>
                        </h4>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                          <div class="accordion-body list-style">
                           Applicability check: Dobizindia business solution private limited team will help verify your eligibility regarding your Food License application or registration.<br>
                            Application Form and Documentation: After you are approved for eligibility, our specialists will assist you with documentation. After receiving the complete set of documents signed by the relevant person, we will create an online application. You will be provided with a reference # to track the application status.<br>
                            Track Application Status - We will monitor the status of each application until the food licensing authorities finally dispose of it
                          </div>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section class="bg-light py-4">
              <div class="container">
                <div class="row">

                  <div class="col-md-11 col-12 mx-auto heading2">
                    <h2 class="text-center">Frequently Asked  <span class="text-primary">Questions</span></h2>
                    <div class="accordion pt-2" id="accordionExample">
                      <div class="accordion-item">
                        <h4 class="accordion-header" id="headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                           Where can I find the Type of Food Business, and is my Food Business eligible for a Food License/Registration?
                          </button>
                        </h4>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                          <div class="accordion-body list-style">
                            The meaning of each Kind of Food Business (KoB) is discussed in detail on the page_____________Dobizindia business solution private limited website, i.e . . . . We can also help you with your eligibility checks. It will help determine your applicability for food License/registration.
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h4 class="accordion-header" id="headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                           What's the timeline for granting the FSSAI License once you have applied?
                          </button>
                        </h4>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            The Licensing Authority must issue the license within 60 days from receipt of a complete FBO request. The 60-day period covers the inspection of premises by the authority concerned and scrutinizing of the application.
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h4 class="accordion-header" id="headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Can an application for a renewal or registration of a License/Registration be made in advance?
                          </button>
                        </h4>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                           FBOs are allowed to apply for renewals of Food Licenses or Registrations up to 120 days prior. An FBO may apply for renewal 150 days before expiry.
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </section>
            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizIndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}