{% extends 'index.html' %}

{%block title%}FSSAI Central License {% endblock %}

{%block body %}

     <section class="top-bn2 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <h2><b>Apply for FSSAI <span class="text-white">Central License </span></b></h2>
            <p class="pt-4"> <b>The FSSAI Central License applies primarily to large food-business operators, ecommerce operators, and those involved in exporting or importing food products. We are here to assist you with filing your FSSAI form and following up.  
            </b></p>
            <p>Apply for FSSAI Central License</p>
            <p>Mandatory in E-commerce.</p>
            <p>All India Incorporation Service </p>

            <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            <li> <a class="sidelink" href="#document">
            <span class="icon-s"> <i class="fa fa-file-text" aria-hidden="true"></i> </span>  List of Documents</a> </li>
            <li> <a class="sidelink" href="#faq">
            <span class="icon-s"> <i class="fa fa-question-circle" aria-hidden="true"></i> </span>  FAQ</a> </li>
            
            </ul>
          </div>

          <div class="content content-3s bg-light">
            <div id="overview">
              <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-12 heading pt-2">
                      <h2 class="fs-1">Overview FSSAI <span class="text-primary">Central License</span></h2>
                      <p class="fs-6">FSSAI Central License is a category of the highest license granted under the Food Safety and Standards Act 2006. The FBO, which operates a food business on a large scale, or generates more than 20,000,000 dollars annually, requires this license. Central Licensing authorities grant the Central Licensing license. FSSAI Central license contains a 14-digit code that begins at 100XXXXXXXXXXXXXXX.</p>
                      <p class="b-style text-style">India's Food Business regulations are stringent. First, make sure your food business is registered correctly. Several factors determine FSSAI Registration and State License or Central License requirements. We have covered the various aspects of FSSAI's applicability on a separate webpage. Click the following to learn more about FSSAI's applicability. </p>
                       <h2 class="fs-4">Central FSSAI License</h2>
                      <p>FSSAI Central license is required by large FBOs or those specifically included, regardless of turnover. Here are the top-rated businesses that require FSSAI Central License.</p>

                      
                    </div>

                  </div>
                </div>
              </section>

              <section class="py-4 s-img s-img1">
                <div class="container py-2">
                  <div class="row">
                    <div class="col-md-2 col-12">
                    </div>
                  <div class="col-md-10 col-12">
                    <h2>FBO with the most common requirements for a Central License</h2>
                    <p>The FBO with a more significant annual turnover than 20,000,000 annually must be exempted from consideration for the transporters. A transporter case has a limit of 30 crores in annual turnover to be eligible for a central license.</p>
                    <p><b>E-Commerce Operator: </b> All E-Commerce companies, like Flipkart, Amazon and others, need a Central License. The central license does not require that sellers selling on such platforms have one.</p>
           
                    <p><b>The importer or exporter &amp; units: </b> FBOs operate through 100 percent Export Oriented Unites and those involved in food imports and exports, as well as food additives and ingredients for commercial purposes.</p>
                     
                    <p><b>Multistate Operators: </b> Food Business operators operating in more than one state need to obtain the required FSSAI Registration, License or License in each state and a Central License at Head Office.</p>

                    
                  </div>
                  </div>
                </div>
              </section>

            <section class="py-4 bg-light">
              <div class="container">
                <div class="row">

                  <div class="col-md-12 col-12 heading pt-2">
                    <h2 class="fs-4 pt-4">FBOs that require FSSAI Central License</h2>
                    <p>All food processing units (other than vegetable oil, milk, meat processing and slaughterhouses) with installed capacities greater than 2MT/day.</p>
                    <p>Five-Star hotel rated by the Ministry of Tourism (HRACC).</p>
                    <p>Dairy units can process or handle more than 50,000 liters or 2500 MT of milk powder per annum, including chilling milk units.</p>
                    <p>Vegetable oil processing plants &amp; units were producing vegetable ole by the process of solvent extraction &amp; refineries, which include oil expellers with installed capacities greater than 2 MT per day.</p>
                    <p>All slaughterhouses can slaughter more than 50 large animals and 150 or smaller animals (e.g., sheep, goats, etc.) per day.</p>
                    <p>Meat processing units can process or handle more than 500 kg of meat per hour or 150 MT annually.</p>
                    <p>Food catering offerings in establishments &amp; gadgets beneath neath Central authorities Agencies like Railways, Air &amp; airport, Seaport, Defence etc.</p>
                   <p>All food businesses that manufacture food contain any ingredients or substances. </p>
                  </div>

                </div>
              </div>
            </section>
            </div>

             <div id="process">

              <section class="btm_grd_banner py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-12">
                      <div class="py-2 text-white heading2">
                      <h2 class="py-2 text-center">Timeline of FSSAI Central License Grant</h2>
                      <p class="fs-6 pt-2">The Licensing Authority issues the FSSAI central license within 60 days after an FBO has submitted a complete application. It includes inspections of premises and the time spent on scrutinizing applications.</p>
                      <p class="fs-6"><b>Starting a business: </b> Where the licensing authority has not granted a Food License within 60 days of receiving a complete request and:</p>
                      <p class="fs-6">Refuses to mention the defect in an application</p>
                      <p class="fs-6">After inspecting the food unit of the food officer, there is no need to ask questions.</p>
                      <p class="fs-6">"The above provision allowing for the start of Food businesses without the grant of license is designed to stop the delay tactics used by the Licensing Authority. </p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <section class="py-4 bg-light">
                <div class="container">
                  <div class="row">

                    <div class="col-md-12 col-12 heading pt-2">
                      <h2 class="fs-4 pt-4">Lists and Documents for Central FSSAI License</h2>
                      <p>Non-Manufacturing FBO requires different documentation than Manufacturing FBO. Below are the categories of required documents. Additional documents may be required based on the nature and purpose of your business.</p>
                      <h2 class="fs-4">List of Documents Required for FSSAI Registration</h2>
                      <p><b>Non Manufacturing / FBO Non Producing</b></p>

                      <div class="row table-responsive-sm">

                      <div class="col-md-4 col-12 p-2">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>A. Certificate of Incorporation</td>
                          </tr>     
                          <tr class="table-primary">
                            <td>MOA &amp; AOA, PAN Card, List of Directors, Board Resolution </td>
                          </tr>

                          <tr class="table-info">
                            <td>Form IX Nomination Form</td>
                          </tr>
                          <tr class="table-warning">
                            <td>List of Food Products</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="col-md-4 col-12 p-2">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>B. Photo Identity Card issued by the Government</td>
                          </tr>     
                          <tr class="table-primary">
                            <td>Address Proof</td>
                          </tr>
                          
                          <tr class="table-info">
                            <td>Email ID &amp; Mobile Mo (For OTP)</td>
                          </tr>
                          <tr class="table-warning">
                            <td>Education Qualification</td>
                          </tr>

                        </tbody>
                      </table>
                    </div>

                    <div class="col-md-4 col-12 p-2">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>C. Photo ID of Food Business.</td>
                          </tr>     
                          <tr class="table-primary">
                            <td>The sale deed/rent agreement</td>
                          </tr>
                          
                          <tr class="table-info">
                            <td>The minimum billing period for electricity is two months</td>
                          </tr>
                          
                        </tbody>
                      </table>
                    </div>

                  </div>
                  <p><b>Notice: </b> A nominee entails a person responsible to ensure compliance with Food laws and their regulations for the Food Business.</p>
                  <p>FBO Manufacturing</p>
                  <p>All other documents, which are required for non-manufacturing / non-producing units. The following additional documents</p>
                  <p>The layout/plan for the processing unit shows the meters/square meters and the operation-wise area dimensions.</p>
                  <p><b>Photograph of Manufacturing/Production unit.</b></p>
                  <p>This list contains information about Machinery and Equipment as well as the installed capacity, horsepower and number of machines.</p>
                  <p>Water test Analysis report (Chemical&amp; Bacteriological). This report is from a recognized/public Health laboratory. It confirms the portability and includes the name of the Lab representative who took the sample. Also, the date of collection.</p>
                      
                    </div>

                  </div>
                </div>
              </section>

            </div>


            <div id="document">
              <section class="btm_grd_banner py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-12">
                      <div class="py-2 text-white heading2">
                      <h2 class="py-2 text-center">Additional Documents Based upon Activities are as below </h2>
                      <p class="fs-6 pt-2"><b>Hotels/Restaurants, Providers for Other Prepared foods.: </b> Chemical &amp; Bacteriological analysis of Vending Water to be used as an ingredient in food in a Food Establishment, Club/Canteen, or any other food establishment. The report must be obtained from a recognized public laboratory. It is required to confirm that water used in food is potable. The water analysis report must contain the date and name of the Lab worker who collected the sample. It applies to water that is used as an ingredient.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-4 col-12">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Additional Documents: Importer of Food Items</h5>
                            <br>
                            <p class="card-text">Import Export Code. The IEC certificate is a document issued and signed by the Director General of Foreign Trade (DGFT).<br>
                                Recall Pan
                                </p>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 mt-4">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Additional documents for merchant exporters</h5>
                            <br>
                            <p class="card-text">Certificate indicating import export code<br>
                              They declare that the applicant intends to sell the products on the domestic marketplace. Furthermore, the export products must conform to the standards of importing nations.
                              </p>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 mt-5">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Recall Program</h5>
                            <br>
                            <p class="card-text"><b>Food or Nutraceuticals and Health Supplements: </b> According to Food Safety and Standards (Food or Food Supplements, Nutraceuticals Foods for Special Dietary Uses, Foods for Specialized Med Purposes, Foods for Specialized Clinical Purposes, Foods for Specialized Medicine Purposes, Foods for Specialized Medical Purposes, Foods for Functional Foods and Novel Foods) Regulations 2016, 2016
                              </p>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </section>

              <section class="py-4 ab-banner text-white">
                <div class="container">
                  <div class="row">
                  <div class="col-md-12 col-12 heading">
                    <h2 class="py-4">List for Vehicle Registration Numbers</h2>
                    <div class="about-text-style">
                          <ul>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> NOC for Manufacturers</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Source and procurement plan for milk</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Additional documents for meat processing</li>
                          </ul>
                      </div>
                      <p>Source of raw material</p>
                      <p>NOC from Municipal Corporations/local bodies</p>
                      <p><b>NOC issued by the Municipal Corporation/local agency : </b> Product Specification, describing the ingredients of each product as per the applicable Schedule for health supplement products and Nutraceutical format</p>
                      <p>The Composition for each product according to the prescribed format</p>
                      <p>Product Approval from FSSAI HQ For Each Product</p>
                      <p><b>Packaged Drinking water: </b> Report detailing pesticide residues in water used to make packaged drinking water, packaged mineral water, or carbonated water. The report must come from a recognized public health laboratory. It must be verified that the water used in food is potable. The pesticide residue reports must include the date of collection and the lab staff's name and contact information.</p>

                  </div>
                  </div>
                </div>
              </section>

            </div>


            <div id="faq">
             <section class="bg-light py-5">
                <div class="container">
                  <div class="row">

                    <div class="col-md-11 col-12 mx-auto heading2">
                      <h2>Step-wise process for granting FSSAI State License</h2>
                      <h2 class="text-center">Frequently Asked  <span class="text-primary">Questions</span></h2>
                      <div class="accordion pt-2" id="accordionExample">
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Eligibility Check
                            </button>
                          </h4>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                              The process begins with an eligibility check by the applicant FBO. Dobizindia business solution private limited will talk to you about the business plan and determine your eligibility.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Documentation &amp; Drafting
                            </button>
                          </h4>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              Once it has been established that you require a Central FSSAI License (for the food business), the Dobizindia private limited business team will send you a list. We will draft the required statutory documents based on the documents you provide for signature.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Online Application Filing
                            </button>
                          </h4>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                             To file online, you must fill out Form B on the FoSCoS portal. You will receive an OTP from us in this course. After filling out Form B, the document can be uploaded in the document section.
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                             Payment of Government Fee
                            </button>
                          </h4>
                          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             Once the application form is completed, all the documents must be uploaded in the document section. The license fee payment will be made. A reference number will then be generated. FBOs will also receive an SMS and postal notification.
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                             FSSAI Application status Tracked 
                            </button>
                          </h4>
                          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             The reference number allows the applicant to track their application online. The licensing authority usually grants the application within 60 working days. After reviewing the form and all information, the state licensing authority must inspect the premises. The inspection will determine if the License is granted or denied. This happens within 60 days.
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                             Respond to Clarification
                            </button>
                          </h4>
                          <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             The applicant must respond to clarification within thirty days of raising the clarification. The licensing authority will deny the application if the applicant does not respond to the clarification. The applicant is needed to put up a new application. There is no way to get the government fee refunded. Dobizindia business solution private limited team will assist you in clarifying the matter.
                            </div>
                          </div>
                        </div>



                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                             Grant of Registration
                            </button>
                          </h4>
                          <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             Approval of the application results in the issuing of the state license. The applicant will need to display it at the food facility. Central Licensing authority grants the Central Licensing license. FSSAI Central license contains a 14-digit code that begins at 100XXXXXXXXXXXX.
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingEight">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                             Validity of FSSAI Central License
                            </button>
                          </h4>
                          <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             Food Central licenses granted under these Regulations are valid for one to five years from the issue date unless canceled or suspended. The license issue date is considered the License's expiry date. It can be renewed up to five more years after the expiration date, subject to payment of the applicable fee.<br>
                              <b>The FBO is responsible for deciding the tenure they require for the central License. For each year, the FSSAI Central License Fee shall be Rs 7500.</b>
                            </div>
                          </div>
                        </div>



                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingNine">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                             Renewal FSSAI License
                            </button>
                          </h4>
                          <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             FBO shall apply for a license renewal issued under these Regulations at least 30 days before the expiry date specified in the License. An applicant may file a renewal request 120 days in advance. The License will be valid when the renewal request is approved. Further, licensing authorities must decide on renewal within 30 calendar days of the expiry.<br>
                              If required for reasons that need to be recorded in writing, designated officers may request an inspection before renewal. The Food Business Operator, who has a valid certificate from a Food Authority or accredited food safety auditor and any other organization notified by FSSAI, is exempted from inspection.<br>
                              If the renewal request is not received within the validity period, then the License will expire, and the Food Business Operator must cease all business activity on the premises. If the Food Business Operator wants to restart it, they need to apply to renew it.
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingTen">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                             Overall Cost for FSSAI-Central License
                            </button>
                          </h4>
                          <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             Professional Fee: For the grant of the Central License, we charge Rs. 11,999/- Only. There will be a GST @18% on this amount. Our services encompass comprehensive advisory, preparation, filing of the FSSAI application and regular follow-up.<br>
                              <b>Government Fee: </b> FSSAI Central License requires Rs. It is equal for all applicants and costs Rs. 7500/year. The government fee for a license is valid for up to five consecutive years. Therefore, it can be multiplied by the number. A one-year license would be charged Rs. 7500/-. The 3 Year License Fee shall be Rs. 22,500/- (Rs. 7500 x 3 years. Below is a table displaying the fees required for state licensing based on business activities?
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingEleven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                             Penalty if you fail to comply
                            </button>
                          </h4>
                          <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             A food license must be obtained before a food business can begin. The FBO can impose a maximum Rs 10 lacs fine on a food-business operator operating a food service. Or six-month imprisonment. The maximum sentence could be extended to 6 years for cases where the FBO provided unsafe food. Further, Suppose the FBO is observed responsible below this Act. In that case, all of the directors /Partners/Managers/Secretary of the FBO shall additionally be vulnerable to be preceded and punished below this Act. Therefore, before the FBO can start a food-related business, they must apply for the required License or Registration and adhere to the conditions.
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingTweleve">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTweleve" aria-expanded="false" aria-controls="collapseTweleve">
                             FSSAI Annual Return
                            </button>
                          </h4>
                          <div id="collapseTweleve" class="accordion-collapse collapse" aria-labelledby="headingTweleve" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             FSSAI-licensed FBOs involved in Manufacturing and Importing Food Products and those who manufacture Milk and Milk Products must submit online periodic returns each year starting with FY 2020-21.<br>
                              The online submission of returns on the Food Safety Compliance System is required. Each Licensee must file separate returns for each License. Each food unit. It does not matter that a Food Business Operator may hold more than one License. Each day beyond 31 May in a year, the penalty for late filing of returns is Rs 100.
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingThieteen">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThieteen" aria-expanded="false" aria-controls="collapseThieteen">
                             Exemption of Annual Return Under FSSAI
                            </button>
                          </h4>
                          <div id="collapseThieteen" class="accordion-collapse collapse" aria-labelledby="headingThieteen" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             Food Business Operators are exempt from the requirement to submit annual returns if they have an FSSAI Registration Certificate.<br>
                              The annual return submission requirement is not applicable for other businesses, such as Distributors or Wholesalers, Retailers, Storage, transporters and Food. Services etc.)
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizIndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {%endblock%}