{% extends 'index.html' %}

{%block title%}FSSAI Registration {% endblock %}

{%block body %}
     <section class="top-bn2 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <h2><b> Online FSSAI License  <span class="text-white">Registration </span></b></h2>
            <p> <b>Mandatory in India for FBOs</b></p>
              <p> <b>All India Incorporation Service</b></p>
             <p> <b> Online FSSAI Certificate Registration</b></p>
              <p>FSSAI Registrations for small food-business operators are necessary if the business's annual turnover is less than 12 Lakhs. FSSAI Registration is easy. We are available to assist with documentation preparation, file and follow-up.&lt;
          </p></div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            <li> <a class="sidelink" href="#document">
            <span class="icon-s"> <i class="fa fa-file-text" aria-hidden="true"></i> </span>  List of Documents</a> </li>
            <li> <a class="sidelink" href="#faq">
            <span class="icon-s"> <i class="fa fa-question-circle" aria-hidden="true"></i> </span>  FAQ</a> </li>
            
            </ul>
          </div>

          <div class="content content-3s bg-light">
            <div id="overview">
              <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-12 heading pt-2">
                      <h2 class="fs-1">Overview of FSSAI  <span class="text-primary">Register for FBO</span></h2>
                      <p class="fs-6">Food is an essential component of our economy. Everyone needs it. It is well-established that the demand for an item leads to business opportunities. Hawkers, itinerant vendor or temporary stallholder who operates small FBOs within the state are examples of petty foods manufacturers. Their annual turnover is below 12lacs. Before they can start their business, these businesses will need FSSAI registration. Food registration is required for these small FBOs and petty manufacturers of food. It helps to control the quality and ensure that everyone has access to healthy, wholesome, and clean food.</p>
                      <p class="b-style text-style"><b>FSSAI Register: </b> This is the FBO's initial registration with FSSAI. This registration is required by FBOs with less than Rs 12 Lakhs in turnover or FBOs covered by central licensing or mandatory state licensing. The Applicability of FSSAI License or Registration to Your Food Business.</p>
                      <p class="fs-6">Once granted, food registration will remain in effect for the requested period. FBOs have the option of a validity duration of up to five years. After successful food registration, the Registering Authority issues the FSSAI Certificate of Registration and a photo I.D. card. These should be displayed in an area visible to anyone who enters the vehicle, cart, or premises. FSSAI grants FBOs a registration certificate. This allows them to start their business under the same conditions as the registration certificate. A registration certificate is issued to an FBO that must observe general hygienic practices.</p>
                    </div>

                    
                  </div>
                </div>
              </section>

              <section class="py-4 s-img s-img1">
                  <div class="container py-2">
                    <div class="row">
                      <div class="col-md-2 col-12">
                      </div>
                    <div class="col-md-10 col-12">
                      <h2 class="fs-4">Annual Return</h2>
                      <p>FSSAI Registration is not subject to an annual return filing.</p>
                      <h2 class="fs-4">Exemptions</h2>
                      <p>The exemption for food registration is granted to producers of milk who sell or supply whole milk under the Cooperative Societies Act to registered members of the dairy Cooperative Society.</p>
                      <h2 class="fs-4">Eligibility for FSSAI Register</h2>
                      <p>Petty Food Manufacturers must apply for Registration/Renewal under the Food Safety and Standards Act (2006). These conditions are required to qualify for the designation of Petty Food Manufacturing:</p>
                      <div class="about-text-style">
                            <ul>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> He sells or makes any food article, whether as a temporary stallholder, a hawker, an itinerant vendor, or himself, and distributes food in any religious, social, or other gatherings, except for caterers.</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> The average annual turnover of the company is less than 12 lakhs.</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> FBO can be engaged in manufacturing or process</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Food production capacity, other than meat and meat products, does not exceed 100kg/ltr per hour.</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Purchase, collection or handling of milk up to 500 liters per person or 2.5MT solid milk per capita</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Animals can be killed by two large animals, ten small ones, or 50 poultry birds daily.</li>
                            </ul>
                        </div>
                    </div>
                    </div>
                  </div>
                </section>

                <section class="py-5 bg-light">
                  <div class="container">
                    <div class="row">

                      <div class="col-md-12 col-12 heading pt-2">
                        <h2 class="fs-4 pt-4">Here are some FBOs that may be considered Petty food manufacturers' Permanent/Temporary Standholder</h2>
                       
                        <div class="about-text-style">
                            <ul>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Hawker (Itinerant/Mobile foods vendor)</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Home-based canteens/dabbawalas</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Petty Retailer for snacks/tea shops</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Food arrangements at Religious gatherings, fairs and food stalls</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Dhaba</li>
                            </ul>

                            <ul>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Processor/Manufacturer</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Repacker</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Milk producers (who do not belong to a dairy cooperative organization)/</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Milk vendor</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Fish/meat/poultry shop/seller</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Other(s)</li>
                            </ul>
                        </div>
                      </div>

                    </div>
                  </div>
                </section>

            </div>

             <div id="process">

              <section class="btm_grd_banner py-4">
                <div class="container">
                  <div class="row text-center">
                    <div class="col-md-12 col-12">
                      <div class="py-2 text-white heading2">
                      <h2 class="py-2 fs-2">Step-by-Step Process for FSSAI Registration Grant</h2>
                      <p class="fs-6 pt-2"><b>Check Eligibility</b></p>
                      <p class="fs-6">The eligibility screening of the applicant FBO is the first step. Dobizindia business Solution private limited will talk to you about the business plan and determine your eligibility.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Documentation &amp; Drafting</h5>
                            <br>
                            <p class="card-text">Once you are sure you need food registration, Dobizindia will provide a list containing all necessary documents. Dobizindia's business solution private limited team will assist you with the draft documents required for signature.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-12 mt-4">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Online Application Filing </h5>
                            <br>
                            <p class="card-text">To file online, you must fill out Form-A on the FoSCoS portal. This course will provide OTP communication.</p>
                          </div>
                        </div>
                    </div>

                  </div>



                  <div class="row pt-4">

                    <div class="col-md-4 col-12">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Payment of Government Fee</h5>
                            <br>
                            <p class="card-text">Once the application is complete, and all documents are uploaded to the document area, payment of the registration fee is made, and a number is generated. It serves as a temporary number that allows you to monitor the status of your application. </p>
                          </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-12 mt-4">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">FSSAI Application Status Tracking</h5>
                            <br>
                            <p class="card-text">The status of the application can be tracked online by the applicant. Generally, registration is granted within seven days of filing the application. However, if the licensing authority requests an inspection of the premises, this will delay the grant. On inspection, the registering authorities may ask for clarification in the application, which could include addition, modification, or deletion of information.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 mt-5">
                      <div class="mt-5"></div>
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Respond to Clarification</h5>
                            <br>
                            <p class="card-text">You must file a reply to clarification within 30 days of the date you raised clarification. If the reply to clarification is not filed within 30 days of the date you raised clarification, it will be rejected, and a new request must be made. There is no way to refund the fee. Dobizindia's private limited team can coordinate with you during such clarification to resolve the matter.</p>
                          </div>
                        </div>
                    </div>


                    <div class="col-md-6 col-12 mt-4">
                      <div class="mt-5"></div>
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Grant of registration</h5>
                            <br>
                            <p class="card-text">The application will be approved, and the photo I.D. card and Registration Certificate will be issued. They must be displayed on the business premises. Photo FBO, Q.R. required for a registration certificate. Code and 14 digits FSSAI number. The numeric 2 starts at the beginning.</p>
                          </div>
                        </div>
                    </div>


                    <div class="col-md-6 col-12 mt-5">
                      <div class="mt-5"></div>
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Timeline to Grant FSSAI Registration</h5>
                            <br>
                            <p class="card-text">When the registration authority approves the application, the timeline for granting the Registration Certificate will determine whether the inspection is requested. The following are the timelines:
                            If not interested in inspecting the premises, the registration authority issues a registration certification within seven business days.
                           </p>
                          </div>
                        </div>
                    </div>

                  </div>

                </div>
              </section>
            </div>


            <div id="document">
              <section class="py-4 ab-banner text-white">
                <div class="container">
                  <div class="row">
                  <div class="col-md-12 col-12 heading">
                    <p>Suppose the registration authority wishes to inspect the applicant's premises. In this case, the registration authority must inspect the applicant's premises within 30 calendar days. Registrations will only be issued if the premises are in good order.</p>
                    <p>A petty Food manufacturer could start their business without a registration certificate if it is not granted or denied, the inspection is not ordered in seven days, or no decision is made within 30 days.</p>
                    <p>Note that registration will only be granted if the FSSAI authority responsible for food registration has been satisfied. It is not enough to file for food registration.</p>
                    <h2>Documents Requirements for FSSAI Registration.</h2>
                    <p>An applicant for a food license could be a proprietorship or other entity. This includes LLPs, Partnership Firms, Trusts/societies and Private Limited Companies. The required documentation will differ depending on which type of applicant you are. Please choose the appropriate type to display the list of documents.</p>
                    <h2>List from Documents for FSSAI Register</h2>

                  </div>
                  </div>
                </div>
              </section>

              <section>
                  <div class="container">
                    <div class="row">
                      <div class="row table-responsive-sm">

                        <div class="col-md-4 col-12 p-2">
                        <table class="table">
                          <tbody>
                            <tr class="table-dark">
                              <td>A. Company Documents</td>
                            </tr>     
                            <tr class="table-primary">
                              <td>Certificate of incorporation</td>
                            </tr>

                            <tr class="table-info">
                              <td>MOA &amp; AOA, PAN Card, List of Directors, Board Resolution </td>
                            </tr>
                            <tr class="table-warning">
                              <td>Form IX Nomination Form, List of Food Products </td>
                            </tr>

                          </tbody>
                        </table>
                      </div>

                      <div class="col-md-4 col-12 p-2">
                        <table class="table">
                          <tbody>
                            <tr class="table-dark">
                              <td>B. Documents of Directors &amp; Nominee</td>
                            </tr>     
                            <tr class="table-primary">
                              <td>Government Issued Photo Identity Cards</td>
                            </tr>
                            
                            <tr class="table-info">
                              <td>Address Proof, Email ID &amp; Mobile Mo (For OTP) </td>
                            </tr>
                            <tr class="table-warning">
                              <td>Educational Qualification <br> <br>  </td>
                            </tr>

                          </tbody>
                        </table>
                      </div>

                      <div class="col-md-4 col-12 p-2">
                        <table class="table">
                          <tbody>
                            <tr class="table-dark">
                              <td>C. Proof that the Food Business is Address</td>
                            </tr>     
                            <tr class="table-primary">
                              <td> The sale deed/rent agreement <br> <br> </td>
                            </tr>
                            
                            <tr class="table-info">
                              <td> The minimum billing period for electricity is two months<br><br></td>
                            </tr>
                            
                          </tbody>
                        </table>
                      </div>

                    </div>
                    </div>
                  </div>
                </section>

                <section class="py-4">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 col-12 heading pt-5">
                        <p class="text-primary"><b>Notice: </b> A nominee a person responsible to ensure compliance with Food laws and their rules for the Food Business.</p>
                        <h2 class="fs-1">Validity FSSAI<span class="text-primary"> Register</span></h2>
                        <p class="fs-6">The Food Business Operator can grant a Food License for 1-5 years. However, the Food Business Operator can suspend or cancel the Food Business Operator's Food License. The food registration certificate's date of issue is considered the beginning of the period. It can be renewed up to 5 years after the expiry of its validity. However, it cannot be done later than 30 days before expiration. Per the FSSAI announcement dated 10th June 2014, there is no late payment for the renewal.</p>
                        <h2 class="fs-4">Penalty According to FSSAI</h2>
                        <p class="b-style text-style">All FBOs, no matter their size or type of food business, are required to register food before starting a food business. A fine of up to Rs 5. lakhs and 6-month imprisonment could be imposed on an FBO that isn't registered, depending on the charges. The operation's scale and the offenses' nature of offenses will impact the type of punishment or penalty imposed. The offenses and the penalty are as follows.</p>
                      </div>
                    </div>

                    <div class="row table-responsive-sm">

                        <div class="col-md-12 col-12 p-2">
                        <table class="table">
                          <tbody>
                            <tr class="table-dark">
                              <td><b>S.No </b>  Offence</td>
                            </tr>     
                            <tr class="table-primary">
                              <td><b>1.</b>  Non-Registration</td>
                            </tr>

                            <tr class="table-info">
                              <td><b>2. </b> Substandard food</td>
                            </tr>
                            <tr class="table-warning">
                              <td><b>3. </b> Misbranded food: Food products that have a misleading label, tag, branding, or notice giving misleading information about their composition, quality, and grade are called misbranded foods.</td>
                            </tr>

                            <tr class="table-primary">
                              <td><b>4 </b> Unsafe food, which is not dangerous for your health</td>
                            </tr>

                          </tbody>
                        </table>
                      </div>

                      <div class="col-md-12 col-12 p-2">
                        <table class="table">
                          <tbody>
                            <tr class="table-dark">
                              <td>Penalty</td>
                            </tr>     
                            <tr class="table-primary">
                              <td>Imprisonment for 6 months or 5 Lacs could be imposed</td>
                            </tr>
                            
                            <tr class="table-info">
                              <td>Rs 5 Lacs</td>
                            </tr>
                            <tr class="table-warning">
                              <td>Rs. 3 Lacs</td>
                            </tr>

                             <tr class="table-primary">
                              <td>An imprisonment of not more than six months is combined with a fine that may reach up to Rs 1.lac <br> <br> 
                              </td>
                            </tr>

                          </tbody>
                        </table>
                      </div>
                    </div>


                  </div>
                </section>
            </div>


            <div id="faq">
             <section class="btm_grd_banner py-4">
                <div class="container">
                  <div class="row text-center">
                    <div class="col-md-12 col-12">
                      <div class="py-2 text-white heading2">
                      <h2 class="py-2 fs-2">We Can Help!</h2>
                      <p class="fs-6"><b>Applicability check: </b> Dobizindia's business solution private limited team is here to help you determine your eligibility for food registration or Food License.</p>
                      Documentation After you have been granted eligibility, our specialists will assist with the documentation.
                      <p class="fs-6"><b>Application filing - </b> After receiving all documents duly signed and signed by the subject person, we will make an online request. You will be provided with information to track your application status.</p>
                      <p class="fs-6"><b>Track Application Status - </b> We will monitor the status of each application until the food registration authority finally disposes of it</p>

                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <section class="bg-light py-4">
                <div class="container">
                  <div class="row">

                    <div class="col-md-11 col-12 mx-auto heading2">
                      <h2 class="text-center">Frequently Asked  <span class="text-primary">Questions</span></h2>
                      <div class="accordion pt-2" id="accordionExample">
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              What Is FSSAI Registration?
                            </button>
                          </h4>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                              A petty foods manufacturer will need essential food registration. If the company falls under the definition of registration, then it cannot start its own food business. It is valid for a set period and must not be expired. The FBO that you choose will determine the duration of registration. 
                              
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              What is the FSSAI Registration / Food registration?
                            </button>
                          </h4>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                              FSSAI Registration is required to register a petty-food manufacturer. A petty-food manufacturer includes:
                              <ul>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Any FBO that distributes products made by him.</li>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> FBOs with annual turnover below 12 lacs are exempted from the production limit.</li>
                              </ul>
                              <b>Dairy Units – </b> The handling and collection (or procurement) of up 500 liters of milk daily is possible<br>
                              <b>Slaughter Houses: </b> A slaughterhouse's maximum capacity is two large and ten small animals.
                              Any other FBO should not exceed 100 kg/liter daily

                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Which criteria should I use to register?
                            </button>
                          </h4>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                              Registering is required for all petty foods manufacturers. The term "petty foods operator" refers to any business operator involved in the operation of petty foods.
                             <ul>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Makes and sells any food item or distributes food to religious or community gatherings. Examples of caterers include hawkers, itinerant vendors, and petty retailers.</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> All food businesses with an annual turnover of less than Rs 12 Lacs.</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Food business operators engaged with the manufacture and processing of food. The production capability is as follows.</li>
                              </ul>
                              Producing food other than meat and its products and milk takes no more than 100 kilograms per liter.<br>
                              If milk handling or procurement is more than 500 liters daily in the dairy industry.<br>
                              FBOs in the meat business must have a slaughtering capacity of 50 poultry birds daily or ten small or two large animals.

                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                             Penalty when a food company is operated without an FSSAI?
                            </button>
                          </h4>
                          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             Consider a Petty Food manufacturer failing to register. Depending on the offense, a fine of up to Rs 5 Lakh and imprisonment for up to six months can be imposed. Selling food products without a tag is punishable by a Rs 5 lakh penalty. A fine of Rs 3 Lakh will be imposed if the product is not labeled. For this reason, all food sellers, dabbawalas, home bakers, etc., must register to avoid heavy fines or imprisonment. Please contact Dobizindia business solution private limited for your food business registration.
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizIndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}