{% extends 'index.html' %}

{%block title%}fssai-applicability {% endblock %}

{%block body %}
     <section class="top-bn1 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <h2><b>Applicability  <span class="text-white">of FSSAI </span></b></h2>
            <p class="pt-4"> <b>We help thousands of businesses get the FSSAI License or registration. We are here to help you with how the FSSAI can be applied to your food company. We assist thousands of FBOs in complying with FSSAI rules and standards.
            </b></p>
           <p> Applicability of FSSAI</p>
           <p> For Food Business in India</p>
           <p> All India Incorporation Service</p>

            <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            <li> <a class="sidelink" href="#document">
            <span class="icon-s"> <i class="fa fa-file-text" aria-hidden="true"></i> </span>  List of Documents</a> </li>
            <li> <a class="sidelink" href="#faq">
            <span class="icon-s"> <i class="fa fa-question-circle" aria-hidden="true"></i> </span>  FAQ</a> </li>
            
            </ul>
          </div>

          <div class="content content-3s bg-light">
            <div id="overview">
              <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-12 heading pt-2">
                      <h2 class="fs-2">Meaning  <span class="text-primary">FSSAI</span></h2>
                      <p class="fs-6">FSSAI stands for Food Safety and Standards Authority of India. The Logo of FSSAI can be seen on any food packets that you purchase. Are you curious about what it is and the licensing required to open and manage a food company? The Food Safety and Standards Authority of India, also known as FSSAI, is a government regulator. This authority ensures Safe, Wholesome and Hygienic food for Food Business Operators (FBO). FSSAI set out a variety of standards and rules to accomplish its mission. The FSSAI inspects FBOs and food businesses to ensure they comply with these standards. FSSAI has classified FBOs into different categories. These FBO types are described in the following sections, "Type of food business operator." "Food business owner" is a unique term in the food sector. This person ensures compliance with the Food Safety and Standards Act of 2006 rules and regulations.</p>
                      <p class="b-style text-style">FSSAI must collect the data of businesses involved in the food trade to ensure that they comply with FBO standards. FSSAI requires that every food business operator (FBO), no matter how small, registers with them or obtains a license before opening a food-related business. There are two types of food licenses. One is a state licence, and one is a central license. The state licence is provided and controlled by the state authorities.</p>                      
                    </div>

                  </div>
                </div>
              </section>

              <section class="py-4 s-img s-img1">
                <div class="container py-2">
                  <div class="row">
                    <div class="col-md-2 col-12">
                    </div>
                  <div class="col-md-10 col-12">
                    <h2>FSSAI, however, controls the Central License.</h2>
                    <p> It is crucial to understand whether the FBO must be registered or requires a state/central government license. FSSAI Registration is typically required for all small food businesses that do not produce or process food, have an annual turnover of fewer than 12 lacs, and conduct business in one State. However, an operator of another food business must apply for a license. The eligibility section of this page gives a complete description of the eligibility requirements.</p>
                    <p> Even non-profits in distributing and collecting surplus food or temples that organize langar or Bhandara or offer Prashad require an FSSAI license or registration according to their eligibility.</p>
                    <h2>Law Provisions Relating To FSSAI</h2>
                    <p><b>This law: </b> Section31 of The Food Safety and Standards Act (2006) provides for the licensing and registration. Everyone must register their business or obtain a Central License (or both) under the FSSAI. Food Safety and Standards (Licensing and Regulation of Food Businesses Regulation) are applicable.</p>
                    <p><b>FoSCoS: </b> FSSAI just launched a Food Safety and Certification System (FoSCoS). This replaces the FLRS (Food Licensing and Registration System). Food Safety and Compliance System (FoSCoS), a cloud-based and upgraded online food safety compliance system, was launched by FSSAI to replace the old Food Licensing and Register System (FLRS). FoSCoS is a platform allowing licensing, registration inspection, annual return, and inspection. This system was designed with the One Nation, One Food Law. It offers the following benefits:</p>

                  </div>
                  </div>
                </div>
              </section>

               <section class="py-4 bg-light">
                  <div class="container">
                    <div class="row">

                      <div class="col-md-12 col-12 heading">
                       
                        <div class="about-text-style">
                            <ul>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> It provides global benchmarked food practices and standards.</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Enforcement consistency is ensured.</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Food safety management using standardized methods and protocols</li>
                            </ul>
                        </div>
                        <p><b>Terms &amp; Renewal: </b> The FSSAI Licence or Registration is subject to location restrictions and is term bound. FBO could apply to register or renew their license at a specific location for one year up to five years, depending on which option they choose. FSSAI License Registration or License is subject to change depending on the terms chosen by FBO during the application. FSSAI Registration or Licenses are valid for the specified term only. A renewal application must also be filed before it expires. If renewal is not filed within the required time, applicants must file a renewed application for registration or license. FBOs engaged in Manufacturing and Importing Food Products (FBOs) must file returns (S) detailing each class of food products they handled in the preceding financial year.</p>
                        <p>Business: India's food production and processing sectors are open to 100% Foreign Direct Investment (FDI) under the automatic approval route. India does not require FDI approval in advance to open a food processing or manufacturing facility. Our startup team will help you form a company with foreign investments. For retail and ecommerce, however, FDI may be permitted up to 100%. However, the approval route must be followed. The concerned ministry will approve the FDI to retail and ecommerce according to individual circumstances.</p>
                        <h2>What does an FSSAI License look like?</h2>
                        <p>Food Business Operators (FBOs), who engage in activities related to any stage or type of food-related business, must apply for a license/ registration based on their eligibility criteria. No FBO could begin its food business without a Food enlistment/Permit. Food Safety and Standards Act (2006) requires this registration/license to be obtained. FSSAI covers the following activities relating to Food Business.</p>
                        <table class="table table-responsive-sm border shadow">
                          <thead>
                            <tr>
                              <th scope="col"> Manufacturing </th>
                              <th scope="col"> Storage </th>
                              <th scope="col"> Distribution of Food  </th>
                              <th scope="col"> Catering Services</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td> Processing  </td>
                              <td> Transport </td>
                              <td> Import &amp; export </td>
                              <td> Sale of Food</td>
                            </tr>
                            <tr>
                              <td> Packaging </td>
                              <td> Trade </td>
                              <td> Food Services </td>
                              <td> Food Ingredients for Sale</td>
                            </tr>
                            
                          </tbody>
                        </table>
                      </div>

                    </div>
                  </div>
                </section>

                <section class="btm_grd_banner py-4">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 col-12">
                        <div class="py-2 text-white heading">
                        <h2 class="py-2">There is a difference between Food License and Food Registration</h2>
                        <h2 class="fs-4">Food registration</h2>
                        <div class="about-text-style">
                            <ul>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> It is required for FBOs with less than Rs 12 Lakhs in turnover or by manufacturers of petty meals.</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Registering is free with the government for every financial year.</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> FSSAI registration number has 14 digits. The first digit starts at 2.</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Food Registration is an authority that grants it.</li>
                            </ul>
                          </div>
                          <h2 class="fs-4">Food Licence</h2>
                          <div class="about-text-style">
                            <ul>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> It is often required by FBOs involved in food processing or manufacturing and businesses with a turnover greater than 12 lacs.</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> The government fee for a food license ranges between Rs 2000 and 5000 Per annum for a State license and Rs 7,500 for a Central Licence.</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> FSSAI Licence carries 14 Digits. The 1st Digit starts with 1.</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> It is granted either by the state licensing authorities in the case of State licence or central licensing authority in the case of Central Licence.</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

                <section class="py-4 bg-light">
                  <div class="container">
                    <div class="row">

                      <div class="col-md-12 col-12 heading">
                        <h2>Applicability for FSSAI registration/license</h2>
                        <p>Each Food Business Operator must seek registration or license from their local food department. The food registration and license eligibility criteria are determined by the applicant's turnover, production ability, nature of business, area of operation, and overall operations. FBOs that fall within the turnover category are still eligible for licenses. FBOs can apply for a State/Central Licence.</p>
                        <h2>Turnover</h2>
                       
                        <div class="about-text-style">
                            <ul>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Production Capacity</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Operation area</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Nature of Business</li>
                            </ul>
                        </div>
                        <h2>Application to FSSAI Based on Turnover</h2>
                        <p>An entity's turnover is the measure of its size. Registration is not required for a tiny or petty food manufacturer who sells food products or is a stallholder. These criteria determine whether or not a food business owner is eligible for registration/license.</p>
                        <table class="table table-responsive-sm border shadow">
                          <thead>
                            <tr>
                              <th scope="col"> Type Of License </th>
                              <th scope="col"> Based upon Turnover</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td> FSSAI Register  </td>
                              <td> FSSAI Registration is available if the FBO's annual turnover falls below Rs. 12 Lakhs</td>
                            </tr>
                            <tr>
                              <td> State License </td>
                              <td> FBOs may apply for a state licence if the annual turnover is over 12 lakhs and less than 20 millions.</td>
                            </tr>

                            <tr>
                              <td>Central License </td>
                              <td>If the annual turnover of transporters exceeds 20 crores, then the central licence will be required. Transporters: The central licence is required for any turnover exceeding Rs. 30 Crores per annum.</td>
                            </tr>
                            
                          </tbody>
                        </table>
                      </div>

                    </div>
                  </div>
                </section>

            </div>

             <div id="process">

               <section class="py-4 ab-banner text-white">
                <div class="container">
                  <div class="row">
                  <div class="col-md-12 col-12 heading">
                    <h2 class="py-4">Food Products Manufacturer (FBO).</h2>
                    <p>Each step involves converting or processing raw material derived naturally from sources like air, land, livestock and agriculture. Manufacturing and processing are used to make final products for consumption. The process includes procurement, receipt, preparation, Manufacturing/processing, packaging, storage, distribution &amp; transportation of food products.</p>
                    <p>FBO having an assembling/handling unit implies an individual/element which possesses or works a foundation that fabricates or processes a food item. It also includes contract producers, packers, and other entities making or processing food products. FoSCoS has additionally ordered the food fabricating/Handling unit in the underneath classes:</p>

                  </div>
                  </div>

                </div>
              </section>

              <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Dairy Unit</h5>
                            <br>
                            <p class="card-text">Dairy processing can be described as the handling, manufacturing, storage, packing, distribution or transportation of milk and related products.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-12 mt-4">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Vegetable Oil and Processing Units</h5>
                            <br>
                            <p class="card-text">Refinement and processing of vegetable oil results in vegetable oil. </p>
                          </div>
                        </div>
                    </div>

                  </div>



                  <div class="row pt-4">

                    <div class="col-md-4 col-12">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Slaughtering Units</h5>
                            <br>
                            <p class="card-text">Slaughtering refers to transporting, stunning, butchering or dressing up live animals/poultry bird carcasses and distributing them.</p>
                          </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-12 mt-4">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Meat Processing Units</h5>
                            <br>
                            <p class="card-text">It includes the processing, packaging and storing of meats and meat products from meated animals/poultry birds. It also covers Fish Processing, handling, manufacture of fish products and packing, storage, distribution &amp; transport.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 mt-5">
                      <div class="mt-5"></div>
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Health Products, Supplements, and Nutraceuticals</h5>
                            <br>
                            <p class="card-text">Food Safety and Standards, Regulations (Food or Health Supplements and Nutraceuticals, Foods or Special Dietary Usages, Foods to Specialized Medical Purposes Foods Functional Foods and Novel Foods), 2016</p>
                          </div>
                        </div>
                    </div>


                    <div class="col-md-12 col-12">
                      <div class="mt-5"></div>
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">General Manufacturing</h5>
                            <br>
                            <p class="card-text">Repacking is packing food products into different sizes, with labeling, after minimal processing such as sorting, grade, sieving etc., from wholesale food packaging.</p>
                          </div>
                        </div>
                    </div>

                  </div>

                </div>
              </section>

            </div>


            <div id="document">
             <section class="py-4 ab-banner text-white">
                <div class="container">
                  <div class="row">
                  <div class="col-md-12 col-12 heading">
                    <h2 class="py-4 fs-4">Proprietary Food</h2>
                    <p>Proprietary Food is any food article that is not standardized according to the FSSAI Regulations. It does not include novel food, foods for special diets, medical purposes, particular uses, functional foods or nutraceuticals, supplements, or other food articles.</p>
                    <p>FSSAI standards cover almost all food articles. However, food articles other than those containing proprietary Food or Food Ingredients (e.g., additives, processing aids, enzymes) are not covered. FBOs who deal with these kinds of food products must apply for product approval according to FSSAI (Approval Non-Specified Food and Ingredients) Regulations. FSSAI's Delhi headquarters handles all licenses for specific food items and ingredients.</p>
                   
                   <h2 class="fs-4">Substances to Food</h2>
                    <p>Substances added or modified to food are defined as Food Additives and Food Enzymes and their preparations. Source, Flavoring agents and other preparations. Processing aids and nutrients and their preparations.</p>
                    <h2 class="fs-4">FBO Traders (Wholesaler/Retailers)</h2>
                    <p>A trading FBO is a person or entity that deals in manufactured/processed food but is not directly involved in the manufacturing/processing of food. FoSCoS classified food FBO in the following categories as traders:</p>
                  </div>
                  </div>
                </div>
              </section>

              <section class="py-4 bg-light">
                <div class="container">
                  <div class="row">

                    <div class="col-md-12 col-12 heading">
                      <h2 class="fs-4">Storage (Other Than Cold Storage)</h2>
                    <p>It is where food products are stored, in either unpacked or packed conditions, for further distribution. It also includes warehouses and godowns, depending on their names.</p>
                    <h2 class="fs-4">Frozen Foods (For Cold Storage)</h2>
                    <p>This includes those storage facilities which can maintain controlled temperatures and are suitable for the safe storage of food articles in frozen or refrigerated stages, sale or supply in usual trade.</p>
                    <h2 class="fs-4">Frozen Foods are Not Recommended</h2>
                    <p>Cold Storage is commonly used for storing food products in unpacked or packed conditions at controlled temperatures. This is used to store agricultural produce and dry commodities, where the temperatures, humidity, oxygen, carbon dioxide and nitrogen levels are controlled.</p>
                    <h2 class="fs-4">Wholesaler</h2>
                    <p>FBOs are known as wholesalers. They typically purchase food products in bulk, then sell them to resellers or small retailers for further sale to the end user.</p>
                    <h2 class="fs-4">Distributor</h2>
                    <p>Distributors are people who work in the food industry and are hired by manufacturers to distribute the products through established wholesalers and retailers.<br>
                    Suppliers are an integral part of the supply chain for food products.
                    </p>
                    <h2 class="fs-4">Marketer</h2>
                    <p>Marketing (Self) is promoting a brand's product on a market it does not own. Marketing (Third Party) means the brand promotes a food product it does not own in the market.</p>

                    </div>

                  </div>
                </div>
              </section>
            </div>


            <div id="faq">

              <section class="btm_grd_banner bg-light py-4">
                <div class="container">
                  <div class="row">

                    <div class="col-md-11 col-12 mx-auto heading2">
                      <!-- <h2 class="text-center">Frequently Asked  <span class="text-primary">Questions</span></h2> -->
                      <div class="accordion pt-2" id="accordionExample">
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Transporters 
                            </button>
                          </h4>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                              Transportation is transporting food products, packed and bulk, from one location to another in vehicles/containers.
                              <br>
                              Retail is a business where food products can be purchased from a manufacturer, distributor, wholesaler or retailer and then sold to their end users.

                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Food Vending Agencies
                            </button>
                          </h4>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              Agencies sell packaged or fresh foods from either a temporary or permanent stall/cart/machine owned by an individual or via an automated vending machine.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            FBO Food Service Providers
                            </button>
                          </h4>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                             FBOs provide food service on their premises or clients' premises. This includes selling and serving prepared food, as well as beverages. FoSCoS classified food FBOs as Food Service Providers.
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                             Petty Retailer of Snacks/Tea Shops
                            </button>
                          </h4>
                          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             Temporary or fixed stall, or food premise, involved in preparing, storing, distributing, and selling food products that can serve as snacks/ tea/coffee, or similar variants. 
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                             Hawker / Itinerant / Mobile food vendor
                            </button>
                          </h4>
                          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             You may sell prepared or packaged food and travel from one place to another (usually on foot or with movable carts).
                             <br>
                              A restaurant is any food service establishment that prepares and serves food and drinks for customers in exchange. While meals are typically served and eaten on-site, some restaurants offer delivery and takeout.

                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                             Club/Canteen
                            </button>
                          </h4>
                          <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             A cafeteria (or Canteen) is an area of a building that offers food, either prepared in-house or from another location.
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                             Caterer
                            </button>
                          </h4>
                          <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             Food Service Establishment: Prepares and serves food for a group of people working in or visiting railway offices.
                              Suppliers are an integral part of the supply chain for food products.<br>
                              A hotel is any commercial establishment that offers lodging, meals, and other guest services.

                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingEight">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                             Food Vending Establishment
                            </button>
                          </h4>
                          <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             FBO, which sells packaged/fresh products from a temporary/fixed stall/cart/machine operated by an individual/automation, falls under the definition of a food vending institution. Here are some examples:<br>
                              Dahab: Foodservice establishments that process, store, package, and sell food to customers.<br>
                              Boardinghouses Serving Food: An establishment offering food and lodging for paying guests.<br>
                              Banquet rooms with food catering arrangements and an area designated for hosting parties/ceremonies that involve preparing and delivering food to customers.<br>
                                Home-Based Cafeterias/ Dabbawalas Individuals or businesses are involved in distributing and collecting packaged meals (usually lunch) from restaurants or food service establishments to customers.<br>
                              Permanent/ temporary stall Holder: Stand /booth/compartment/small covered area used for the preparation or sale of fresh prepared or packaged foods for consumption. This structure can be permanent or temporary (fixed).<br>
                              Food stalls/ Arrangements in non secular gatherings/ gala's etc.: A stand/booth/compartment/small included region getting used for coaching and sale or distribution of freshly organized or packaged meals being supplied as Prasad in a non secular institution.

                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingNine">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                             Additional Categories of FBO
                            </button>
                          </h4>
                          <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             Although FBO covers most food-business operators, a broader range of businesses falls under FSSAI's preview.

                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingTen">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                             E-Commerce
                            </button>
                          </h4>
                          <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                            E-commerce, also known as online commerce or electronic commerce, refers to purchasing and selling goods and services via the internet. The internet allows for the transfer and execution of funds and data. Ecommerce is used a lot to describe online sales of physical products. But it can also refer to any commercial transaction facilitated via the internet.
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingEleven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                             Import or export by Food Business Operators
                            </button>
                          </h4>
                          <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                            Importer. Importing food from a foreign country is importing food products and ingredients.<br>
                              Foreigners: A FBO refers to an individual or an organization that sends food products, additives and components to a foreign country. You can further classify your exports in the following categories.
                              <ul>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> 100 % Export-Oriented units</li>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Trader / Merchant</li>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Manufacturer</li>

                              </ul>
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingTweve">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTweve" aria-expanded="false" aria-controls="collapseTweve">
                             Mid Day Dinner
                            </button>
                          </h4>
                          <div id="collapseTweve" class="accordion-collapse collapse" aria-labelledby="headingTweve" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                            It is a government-supported and designed scheme for school-age children to provide better nutrition. This scheme provides lunches free of charge on working days to school-going children eligible for Sarva Shiksha Abhiyan support and National Child Labour Project schools managed by the ministry. Below are the two types of FBOs that fall under this scheme:<br>
                            <b>Importer. </b> Import of Food: Importing food from a foreign country as part of the trade is an import of food products and ingredients.<br>
                            <b>Foreigners: </b> A FBO refers to an individual or organization that sends food products, ingredients, and additives to foreign countries as part of the trade. You can further classify your exports in the following categories.
                            <b>Catering: </b> Catering is an FBO that delivers food to schools under the Midday meal scheme.<br>
                            Cafeteria - The cafeteria is located in the institution. This cafeteria is covered under the mid-day meal program and serves food to visitors or those associated with the institution. They can cook on-site or order food from another source.

                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingThirteen">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                             E-Commerce
                            </button>
                          </h4>
                          <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                            E-commerce, also known as online commerce or electronic commerce, refers to purchasing and selling goods and services via the internet. The internet allows for the transfer and execution of funds and data. Ecommerce is used a lot to describe online sales of physical products. But it can also refer to any commercial transaction facilitated via the internet.
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFourteen">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                             E-Commerce
                            </button>
                          </h4>
                          <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                            E-commerce, also known as online commerce or electronic commerce, refers to purchasing and selling goods and services via the internet. The internet allows for the transfer and execution of funds and data. Ecommerce is used a lot to describe online sales of physical products. But it can also refer to any commercial transaction facilitated via the internet.
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFifteen">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                             E-Commerce
                            </button>
                          </h4>
                          <div id="collapseFifteen" class="accordion-collapse collapse" aria-labelledby="headingFifteen" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                            E-commerce, also known as online commerce or electronic commerce, refers to purchasing and selling goods and services via the internet. The internet allows for the transfer and execution of funds and data. Ecommerce is used a lot to describe online sales of physical products. But it can also refer to any commercial transaction facilitated via the internet.
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </section>
             
             <section class="bg-light py-4">
                <div class="container">
                  <div class="row">

                    <div class="col-md-11 col-12 mx-auto heading2">
                      <h2 class="text-center">Frequently Asked  <span class="text-primary">Questions</span></h2>
                      <div class="accordion pt-2" id="accordionExample">
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                             Why do you need to sign up?
                            </button>
                          </h4>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              FBOs operating food businesses are required to register with FSSAI.<br>
                              FSSAI License and Registration:<br>
                              The Food Safety and Standards Authority of India issues FSSAI Registration and License through licensing at the state and central levels. This is by FOOD SAFETY and STANDARDS (LICENSING and Registration FOOD-BUSINESSES), REGULATIONS2011.

                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                             Is it necessary to apply for another license to be able to sell different foods on the same premises?
                            </button>
                          </h4>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                              One registration or license will not allow you to operate all food products. Depending on its turnover, you must obtain a license/registration for each outlet.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            How can I produce or process any food item from the premises where a license was granted?
                            </button>
                          </h4>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                             FBOs can't manufacture or process food products not included in the Licence. Before any manufacturing or processing of food items is started, it is important to verify whether the product falls under the Food Category for which a license has been granted. If it doesn't, you should file for modification. Once the Licence has been properly modified according to the food category desired, the license can be used to start the business.
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                             Is there any validity period for FSSAI registration/Licence?
                            </button>
                          </h4>
                          <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                             The maximum validity period of a food license/registration is five years.
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizIndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

   {% endblock %}