{% extends 'index.html' %}
{%block title%}FCRA Registration{% endblock %}
{% load static %}
{%load myfilters %}
{%block body %}



{% if non_packed_products %}
      {% include 'common_pages/product_upper.html' %}
{% else %}
{% include 'common_pages/banner.html' %}
{% endif %}

<section class="py-5 bg-light1">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-9 col-12 affix-top bg-light" data-spy="affix" data-offset-top="597">
        <!-- Nav pills -->
        <ul class="nav nav-pills" role="tablist">
          {% if meaning %}
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="pill" href="#meaning">Overview</a>
          </li>
          {% endif %}
         
          {% if minimum %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#requirement">Eligibility</a>
          </li>
          {% endif %}
          {% if compliance %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#criteria">Criteria</a>
          </li>
          {% endif %}
          {% if closure %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#application">Application</a>
          </li>
          {% endif %}
          
          {% if step %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#step">Registration </a>
          </li>
          {% endif %}
          {% if benefit %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#renewal">Renewal</a>
          </li>
          {% endif %}
          {% if document %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#required">Process</a>
          </li>
          {% endif %}
          {% if faq %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#faq">FAQ</a>
          </li>
          {% endif %}
          
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div id="meaning" class="container tab-pane content active btm_grd_banner text-center"><br>
            <p style='margin-top:130px'>{{meaning.text}}</p>
          </div>

          <div id="requirement" class="container tab-pane content fade"><br>
            <div class="row">
              <div class="col-md-12 col-12">
                <h2 class="py-4">{{minimum.heading_text}}</h2>
                <p>{{minimum.text}}</p>
                <p>{{minimum.text2}}</p>
                
              </div>
            </div>

          </div>
          <div id="criteria" class="container tab-pane content fade"><br>
            <div class="row">
              <div class="col-md-12 col-12">
                <h2 class="py-4">{{compliance.heading_text}}</h2>
                <div class="about-text-style">
                  <ul>
                    {% if compliance.list1 %}
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list1}} </li>
                    {% endif %}
                    {% if compliance.list2 %}
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list2}} </li>
                    {% endif %}
                    {% if compliance.list3 %}
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list3}} </li>
                    {% endif %}
                    {% if compliance.list4 %}
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list4}} </li>
                    {% endif %}
                    {% if compliance.list5 %}
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list5}} </li>
                    {% endif %}
                    {% if compliance.list6 %}
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list6}} </li>
                    {% endif %}
                    {% if compliance.list7 %}
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list7}} </li>
                    {% endif %}
                    {% if compliance.list8 %}
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list8}} </li>
                    {% endif %}
                    {% if compliance.list9 %}
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list9}} </li>
                    {% endif %}
                    {% if compliance.list10 %}
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list10}} </li>
                    {% endif %}
                    {% if compliance.list11 %}
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list11}} </li>
                    {% endif %}
                    {% if compliance.list12 %}
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list12}} </li>
                    {% endif %}
                    {% if compliance.list13 %}
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list13}} </li>
                    {% endif %}
                  </ul>
                </div>
                <h2 class="py-4">{{compliance.heading_text2}}</h2>
                <div class="about-text-style">
                  <ul>
                    {% if compliance.list14 %}
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list14}} </li>
                    {% endif %}
                    {% if compliance.list15 %}
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list15}} </li>
                    {% endif %}
                    {% if compliance.list16 %}
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list16}} </li>
                    {% endif %}
                    {% if compliance.list17 %}
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list17}} </li>
                    {% endif %}
                    {% if compliance.list18 %}
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list18}} </li>
                    {% endif %}
                    {% if compliance.list19 %}
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list19}} </li>
                    {% endif %}
                    {% if compliance.list20 %}
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list20}} </li>
                    {% endif %}
                    {% if compliance.list21 %}
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list21}} </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>

          </div>
          <div id="application" class="container tab-pane content fade"><br>
            <div class="row">
              <div class="col-md-12 col-12">
                <h2 class="py-4">{{closure.heading_text}}</h2>
                <p class='py-2'> {{closure.text}} </p>
                <p class='py-2'> {{closure.text2}} </p>
                <p class='py-2'> {{closure.text3}} </p>
                <p class='py-2'> {{closure.text4}} </p>
                <p class='py-2'> {{closure.text5}} </p>
                <p class='py-2'> {{closure.text6}} </p>
                <div class="about-text-style">
                  <ul>
                    {% if closure.list1 %}
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{closure.list1}} </li>
                    {% endif %}
                    {% if closure.list2 %}
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{closure.list2}} </li>
                    {% endif %}
                    {% if closure.list3 %}
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{closure.list3}} </li>
                    {% endif %}
                    {% if closure.list4 %}
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{closure.list4}} </li>
                    {% endif %}
                    {% if closure.list5 %}
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{closure.list5}} </li>
                    {% endif %}
                    {% if closure.list6 %}
                    <li class='py-3'> {{closure.list6}} </li>
                    {% endif %}
                    {% if closure.list7 %}
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{closure.list7}} </li>
                    {% endif %}
                    {% if closure.list8 %}
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{closure.list8}} </li>
                    {% endif %}
                    {% if closure.list9 %}
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{closure.list9}} </li>
                    {% endif %}
                    {% if closure.list10 %}
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{closure.list10}} </li>
                    {% endif %}
                    {% if closure.heading_text2 %}
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{closure.heading_text2}} </li>
                    {% endif %}
                   
                  </ul>
                </div>
              </div>
            </div>

          </div>
          <div id="required" class="container tab-pane content fade">
            <div class="row">
              <div class="col-md-12 col-12 heading">
                <h2 class="py-4">{{document.heading_text}}</h2>
                <h4 class="py-2">{{document.heading_text2}}</h4>
              </div>
            </div>
            <div class="row py-4 checklist prs_in_steps">
              <div class="col-md-12 col-12">
                <div class="shadow p-4">
                  <h5 class="text-primary">{{document.colorcode1}}</h5>
                  <p>{{document.colorcode2}}</p>
                </div>
              </div>
            </div>
            <div class="row py-4 checklist prs_in_steps">
              <div class="col-md-12 col-12">
                <div class="shadow p-4">
                  <h5 class="text-primary">{{document.list1}}</h5>
                  <p>{{document.list2}}</p>
                </div>
              </div>
            </div>
            <div class="row py-4 checklist prs_in_steps">
              <div class="col-md-12 col-12">
                <div class="shadow p-4">
                  <h5 class="text-primary">{{document.list3}}</h5>
                  <p>{{document.list4}}</p>
                </div>
              </div>
            </div>
            <div class="row py-4 checklist prs_in_steps">
              <div class="col-md-12 col-12">
                <div class="shadow p-4">
                  <h5 class="text-primary">{{document.list5}}</h5>
                  <p>{{document.list6}}</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-12 heading">
                <h2 class="py-4">{{document.list7}}</h2>
                <p>{{document.list8}}</p>
                <p>{{document.list9}}</p>
                <p>{{document.list10}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-12 heading">
                <h2 class="py-4">{{document.list11}}</h2>
                <div class="col-md-12 col-12 heading">
                  <div class="about-text-style">
                    <ul>
                      {% if document.list12 %}
                      <li><i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list12}}</li>
                      {% endif %}
                      {% if document.list13 %}
                      <li><i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list13}}</li>
                      {% endif %}
                      {% if document.list14 %}
                      <li><i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list14}}</li>
                      {% endif %}
                      {% if document.list15 %}
                      <li><i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list15}}</li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-12 heading">
                <h2 class="py-4">{{document.list16}}</h2>
                <h4 class="py-4">{{document.list17}}</h4>
                <div class="col-md-12 col-12 heading">
                  <div class="about-text-style">
                    <ul>
                      {% if document.list18 %}
                      <li><i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list18}}</li>
                      {% endif %}
                      {% if document.list19 %}
                      <li><i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list19}}</li>
                      {% endif %}
                      {% if document.list20 %}
                      <li><i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list20}}</li>
                      {% endif %}
                      {% if document.list21 %}
                      <li><i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list21}}</li>
                      {% endif %}
                      {% if document.list22 %}
                      <li><i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list22}}</li>
                      {% endif %}
                      {% if document.list23 %}
                      <li><i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list23}}</li>
                      {% endif %}
                      {% if document.list24 %}
                      <li><i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list24}}</li>
                      {% endif %}
                      {% if document.list25 %}
                      <li><i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list25}}</li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-12 heading">
                <h2 class="py-4">{{document.list26}}</h2>
                <div class="col-md-12 col-12 heading">
                  <div class="about-text-style">
                    <ul>
                      {% if document.list27 %}
                      <li><i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list27}}</li>
                      {% endif %}
                      {% if document.list28 %}
                      <li><i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list28}}</li>
                      {% endif %}
                      {% if document.list29 %}
                      <li><i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list29}}</li>
                      {% endif %}
                      {% if document.list30 %}
                      <li><i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list30}}</li>
                      {% endif %}
                      {% if document.list31 %}
                      <li><i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list31}}</li>
                      {% endif %}
                      {% if document.list23 %}
                      <li><i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list23}}</li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-12 heading">
                <h2 class="py-4">{{document.list32}}</h2>
                <p>{{document.list33}}</p>
                <p>{{document.list34}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-12 heading">
                <h2 class="py-4">{{document.list35}}</h2>
                <p>{{document.list36}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-12 heading">
                <h2 class="py-4">{{document.list37}}</h2>
                <p>{{document.list38}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-12 heading">
                <h2 class="py-4">{{document.list39}}</h2>
                <p>{{document.list40}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-12 heading">
                <h2 class="py-4">{{document.list41}}</h2>
                <p>{{document.list42}}</p>
                <p>{{document.list43}}</p>
                <p> <strong> {{document.heading_text3}}</strong> {{document.list44}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-12 heading">
                <h2 class="py-4">{{document.list45}}</h2>
                <p>{{document.list46}}</p>
                <p>{{document.list47}}</p>
                <p>{{document.list48}}</p>
              </div>
            </div>
          </div>

          <div id="step" class="container tab-pane content fade"><br>
            <div class="row py-4 checklist prs_in_steps">
              <h2 class='py-3'>{{step.heading_text}}</h2>
              <h4 class='py-2'>{{step.heading_text2}}</h4>
              <div class="about-text-style">
                <ul>
                  {% if step.list1 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list1}} </li>
                  {% endif %}
                  {% if step.list2 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list2}} </li>
                  {% endif %}
                  {% if step.list3 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list3}} </li>
                  {% endif %}
                  {% if step.list4 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list4}} </li>
                  {% endif %}
                  {% if step.list5 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list5}} </li>
                  {% endif %}
                  {% if step.list6 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list6}} </li>
                  {% endif %}
                  {% if step.list7 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list7}} </li>
                  {% endif %}
                  {% if step.list8 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list8}} </li>
                  {% endif %}
                </ul>
              </div>
              <h4 class='py-2'>{{step.text}}</h4>
              <div class="about-text-style">
                <ul>
                  {% if step.list9 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list9}} </li>
                  {% endif %}
                  {% if step.list10 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list10}} </li>
                  {% endif %}
                  {% if step.list11 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list11}} </li>
                  {% endif %}
                  {% if step.list12 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list12}} </li>
                  {% endif %}
                  {% if step.list13 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list13}} </li>
                  {% endif %}
                  {% if step.list14 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list14}} </li>
                  {% endif %}
                  {% if step.list15 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list15}} </li>
                  {% endif %}
                  {% if step.list16 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list16}} </li>
                  {% endif %}
                  {% if step.list17 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list17}} </li>
                  {% endif %}
                  {% if step.list18 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list18}} </li>
                  {% endif %}
                  {% if step.list19 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list19}} </li>
                  {% endif %}
                  {% if step.list20 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list20}} </li>
                  {% endif %}
                  {% if step.list21 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list21}} </li>
                  {% endif %}
                  {% if step.list22 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list22}} </li>
                  {% endif %}
                  {% if step.list23 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list23}} </li>
                  {% endif %}
                  {% if step.list24 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list24}} </li>
                  {% endif %}
                  {% if step.list25 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list25}} </li>
                  {% endif %}
                </ul>
              </div>
              <div class="about-text-style">
                <ul>
                  {% if step.step1 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.step1}} </li>
                  {% endif %}
                  {% if step.answer1 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.answer1}} </li>
                  {% endif %}
                  {% if step.step2 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.step2}} </li>
                  {% endif %}
                  {% if step.answer2 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.answer2}} </li>
                  {% endif %}
                  {% if step.step3 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.step3}} </li>
                  {% endif %}
                  {% if step.answer3 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.answer3}} </li>
                  {% endif %}
                  {% if step.step4 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.step4}} </li>
                  {% endif %}
                  {% if step.answer4 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.answer4}} </li>
                  {% endif %}
                  {% if step.step5 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.step5}} </li>
                  {% endif %}
                  {% if step.answer5 %}
                  <li> <strong> {{step.answer5}} </strong> </li>
                  {% endif %}
                  {% if step.step6 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.step6}} </li>
                  {% endif %}
                  {% if step.answer6 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.answer6}} </li>
                  {% endif %}
                  {% if step.step7 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.step7}} </li>
                  {% endif %}
                  
                </ul>
              </div>
            </div>
          </div>
          <div id="renewal" class="container tab-pane content active"><br>
            <h2>{{benefit.heading_text}}</h2>
            <p> {{benefit.text}} </p>
            <div class="about-text-style">
              <ul>
                {% if benefit.list1 %}
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{benefit.list1}} </li>
                {% endif %}
                {% if benefit.list2 %}
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{benefit.list2}} </li>
                {% endif %}
                {% if benefit.list3 %}
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{benefit.list3}} </li>
                {% endif %}
                {% if benefit.list4 %}
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{benefit.list4}} </li>
                {% endif %}
                {% if benefit.list5 %}
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{benefit.list5}} </li>
                {% endif %}
              </ul>
            </div>
          </div>
          <div id="faq" class="container tab-pane content fade">
            <div class="row">

              <div class="col-md-11 col-12 mx-auto heading2">

                <div class="accordion pt-2" id="accordionExample">
                  <div class="accordion-item">
                    <h4 class="accordion-header" id="headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {{faq.question1}}
                      </button>
                    </h4>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        {{faq.answer1}}
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h4 class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        {{faq.question2}}
                      </button>
                    </h4>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        {{faq.answer2}}
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h4 class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        {{faq.question3}}
                      </button>
                    </h4>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        {{faq.answer3}}
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h4 class="accordion-header" id="headingFive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        {{faq.question4}}
                      </button>
                    </h4>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body list-style">
                        {{faq.answer4}} <br>
                        {{faq.question5}}<br>
                        {{faq.answer5}}
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h4 class="accordion-header" id="headingSix">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        {{faq.question6}}
                      </button>
                    </h4>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body list-style">
                        {{faq.answer6}} <br>
                        {{faq.question7}}<br>
                        {{faq.answer7}} <br>
                        {{faq.list1}}<br>
                        {{faq.list2}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      {% if non_packed_products %}
      {% include 'common_pages/product_lower.html' %}
{% else %}
{% include 'common_pages/pricing_sum_below.html' %}
{% endif %}

    </div>
  </div>
</section>

{% include 'common_pages/product.html'%}
{% include 'common_pages/reviews.html' %}
{% endblock %}