{% extends 'index.html' %}

{%block title%}Renewal trademark registration {% endblock %}

{%block body %}

     <section class="top-banner4 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-7 col-10 pt-5 pt-5">
            <h2><b>NGO Registration  <span class="text-white">by CSR-1</span></b></h2>
            <p class="pt-4"> <b>India-based companies must adhere to corporate social responsibility. CSR can be done by such companies themselves or through NGOs. CSR grants are available to NGOs from corporate bodies to carry out CSR activities. CSR grants can be received from body corporate to enable them to carry out CSR activities on their behalf. 
            </b></p>
            <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            
            <li> <a class="sidelink" href="#faq">
            <span class="icon-s"> <i class="fa fa-question-circle" aria-hidden="true"></i> </span>  FAQ</a> </li>
            
            </ul>
          </div>

          <div class="content content-2s bg-light">
            

             <div id="overview">

              <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-12 heading">
                      <h2 class="fs-2">Timeline and Documentation in <span class="text-primary">Online Renewal of </span>Trademark in India</h2>
                      <p class="fs-6">The validity of a Trademark, The Registration of trademark registration for the Trademark has a validity of ten years starting from the date of the initial application. It is possible to renew the registration at any time for further 10 years.</p>
                      <h2 class="fs-4">Timing line for Renewing the Trademark</h2>
                      <p class="b-style text-style">The renewal application for TM-R that has the trademark renewal fee standard for India at Rs.10,000/- may be filed beginning one year before the expiry date and continue until the registration hasn't expired. When the trademark registration is expired, you are granted six months grace period to renew your trademark registration for an additional cost of Rs 5000/-.</p>

                      <h2 class="fs-4">Documents Essential</h2>
                      <p class="b-style text-style">To renew your Trademark, submitting a specific document isn't required. If there is an amendment to the attorney, documents such as are required to submit a TM-48 (Power of Attorney) in the name of the attorney is required.</p>
                      
                    </div>

                  </div>
                </div>
              </section>

              <section class="py-4 s-img s-img1">
                <div class="container py-2">
                  <div class="row">
                    <div class="col-md-2 col-12">
                    </div>
                  <div class="col-md-10 col-12">
                    <h2>Place an order for Trademark Renewal of Registration</h2>
                    <div class="about-text-style">
                          <ul>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> The Government Fee (Form TM-R): Rs 9000$</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Professional Fee: Rs 2,499/--</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> GST@18%:Rs 450/-</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Total Renewal Costars 11,949/-</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> The package Doesn't Include the following:</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Change fee for Trademark Attorney</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Late Fee for Renewal</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Trademark Restoration Fees</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Get a quote tailored to your needs If (TM) is expired.</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Place an order online to renew your Trademark at Rs 11,949/--</li>
                          </ul>
                      </div>
                  </div>
                  </div>
                </div>
              </section>

              <section class="py-4 bg-light">
                <div class="container">
                  <div class="row">

                    <div class="col-md-12 col-12 heading pt-2">
                      <h2 class="fs-4 pt-4">Method for Trademark Renewal in India</h2>
                      <p>The renewal of trademarks is an online procedure that your lawyer will be able to complete in just a day. The process is time-bound and very technically complex. A prompt action from your end to renew your Trademark will ensure a smooth and cost-effective renewing the Trademark. The deadline for renewing the Trademark starts one year before the expiration of the registration of trademarks. You must submit Form TM-R and pay the approved trademark renewal fee of Rs 10,000 before your Trademark renewal deadline. We can assist you in renewing your Trademark with ease and for a reasonable cost.</p>

                    </div>

                  </div>
                </div>
              </section>

            </div>


            

            <div id="faq">
             <section class="py-5">
                <div class="container">
                  <div class="row">

                    <div class="col-md-11 col-12 mx-auto heading2">
                      <h2 class="text-center">Frequently Asked  <span class="text-primary">Questions</span></h2>
                      <div class="accordion pt-2" id="accordionExample">
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                             What's Trademark Renewal in India?
                            </button>
                          </h4>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                              The renewal of trademarks is a method of renewing the trademark registration process in India. The trademark registration is valid for only ten years from the date the application to register the Trademark was initially submitted. When the Trademark is renewed, a trademark is completed, and the validity of the mark's registration is extended for 10 years.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              What is Trademark Renewal different from its registration?
                            </button>
                          </h4>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              Trademark registration can be an extended process involving many steps; however, the renewal of a trademark is relatively simple if the application for renewal of the Trademark is filed on time. If the due date of renewal is missed, the straightforward process becomes highly complex.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            What is the consequence of non-renewal or registration of trademarks?
                            </button>
                          </h4>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                            Suppose you fail to renew your trademark registration by the deadline or a prolonged grace period of six months following the expiration date. In this event, the registrar of the Trademark is required to end your Trademark registration in India.
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            What is the impact of canceling the Trademark Registration?
                            </button>
                          </h4>
                          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             In the event of non-renewal for the Trademark, the trademark registrar has the right to end the Trademark's registration. The cancellation takes place immediately following six months from the expiration date for the mark. If no one has been able to acquire the Trademark and you have time to apply for a revoked trademark registration. If you cannot receive the cancellation revoked, the canceled Trademark will be available to anyone to use, and you must apply. If you would like to purchase the canceled Trademark, filing the trademark application again is necessary and following the registration procedures.
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                             What's the process for Trademark Renewal in India? 
                            </button>
                          </h4>
                          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             The trademark registration is renewed when you file an application on the Form prescribed (TM-R) and upon paying the renewal fees to the trademark registrar. We can process requests for trademark registration on the same day if there is no requirement to change the attorney. However, if you've been late submitting your application and missed the due date, the procedure is slightly different.
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizIndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

     {% endblock %}