{% extends 'index.html' %}

{%block title%}Trademark meaning types {% endblock %}

{%block body %}
     <section class="top-bn3 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <h2><b>The Meaning of the   <span class="text-white">Trademark and Its Types</span></b></h2>
            <p class="pt-4"> <b>Trademarks are an asset of the highest value to modern-day business. Therefore, a manager or owner of a business must be aware of the significance of a Trademark and its types. We assist you in identifying the trademarks that belong to your business to make the right decisions to protect those trademarks.  
            </b></p>
            <p>What is the meaning of a trademark and Its Types</p>
             <p> Let's Learn the basics of IPR</p>
             <p> All India GST Registration and Returns</p>
            <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            <li> <a class="sidelink" href="#document">
            <span class="icon-s"> <i class="fa fa-file-text" aria-hidden="true"></i> </span>  List of Documents</a> </li>
            
            
            </ul>
          </div>

          <div class="content content-3s bg-light">
            <div id="overview">
              <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-12 heading">
                      <h2 class="fs-2">Trademarks are one of the <span class="text-primary">important intellectual </span>properties. </h2>
                      <p class="fs-6">Trademarks are among an asset that is of the highest value to modern businesses. Therefore, a manager or business owner should know the meaning of a Trademark and its types. It is likely that you already know that trademarks are distinctive mark or symbol that represents an organization and separates it from other firms.</p>
                      <p class="b-style text-style">Every company has IPR assets that can be considered trademarks, such as the Name Your Business, Brand Name Label Logo, Product Name and Punchline, and Domain Names. We've observed that the majority of the trademarks used by an organization remain unidentified because of ignorance; they can cause the possibility of litigation and dispute in the future. We highly recommend our clients know the significance of a trademark and take the appropriate steps to protect the same.</p>
                      
                    </div>

                    
                  </div>
                </div>
              </section>

              <section class="py-4 s-img s-img1">
                  <div class="container py-2">
                    <div class="row">
                      <div class="col-md-2 col-12">
                      </div>
                    <div class="col-md-10 col-12">
                      <h2>Definition of Trademark under the Trademark Act, 1999</h2>
                      <p>A Trademark is defined by Section 2(zb) in the Trademarks Act, 1999, which refers to a mark with a graphical representation that can distinguish the products or services of a particular individual from those of others. It further states that the term "Trademark" can refer to any of the following: Trademark could refer to the shape of products, their packaging, and even a mixture of colors.</p>
                      <p>Let's look at what the definition of "Mark" In Section 2(m) in the Act defines a Mark which includes following as a Mark to include the following. Also, the following category of a mark is a Trademark, provided it meets the requirements of this definition—trademark as stated above.</p>
                      <table class="table border table-responsive-sm">
                        <thead>
                          <tr>
                            <th scope="col"> Device Mark </th>
                            <th scope="col"> Brand Name </th> 
                            <th scope="col"> Heading</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td> Label </td>
                            <td> Tickets </td>
                            <td> Name</td>
                          </tr>
                          <tr>
                            <td> Signature </td>
                            <td> Word  </td>
                            <td> Letter</td>
                          </tr>
                          <tr>
                            <td> Numerology  </td>
                            <td> The shape of Goods  </td>
                            <td> Packaging</td>
                          </tr>
                        </tbody>
                      </table>
                      <p><b>Or any combination of colors, or any combination of colours.</b></p>
                    </div>
                    </div>
                  </div>
                </section>

            <section class="py-4 bg-light">
                <div class="container">
                  <div class="row">

                    <div class="col-md-12 col-12 heading pt-2">
                      <h2 class="fs-4 pt-4">The Types of Trademarks or Category in India</h2>
                      <p>We've understood the meaning of Trademark in the preceding sections. Let's now look at the various Trademark categories trademarked by the Trademarks Act 1999. From a practical perspective, when filing a trademark application on the TM-A (Earlier, the name was TM-1), The prescribed form to submit a trademark registration in India, the applicant needs to select the type of Trademark, and this may be selected from the following choices. The following is an example only of the following important types of Trademark.</p>
                      <h2 class="fs-4 pt-4">"Word" in the sense of Trademark</h2>
                      <p class="b-style text-style">A word or other groups of letters/alphabets is the most well-known kind of mark. Examples include Apple, GOOGLE, INFOSYS, TATA, IBM, .etc. The Word Mark as a Trademark is a most valuable and important one. Word work can be drawn, written and even spoken. Because of its more comprehensive range is thought to be the most potent Trademark for IPR Protection under the Trademark Act 1999.</p>
                      <p class="b-style text-style">If you have a Trademark registered as an e-wordmark, you can apply it to any format on the marketplace. If a person else is using the same or similar mark, that owner's wordmark could quickly initiate an action of infringement. It is important to note that the wordmark does not need to be a word, as any word or combination can be valid enough if it's distinctive.</p>
                    </div>
                     
                  </div>
                </div>
              </section>

            </div>

             <div id="process">

              <section class="btm_grd_banner py-4">
                    <div class="container">
                      <div class="row text-center">
                        <div class="col-md-12 col-12">
                          <div class="py-2 text-white heading2">
                          <h2 class="py-2 fs-2">"Device" in the sense of a Trademark</h2>
                          <p class="fs-6 pt-2">Device marks can refer to marks such as Logo Images of Drawings, a combination of words and pictures, or Drawings, for instance. Below is a visual overview of various types of device marks. Another marking on a device is called the Brand Name, which is often made up of a mix of words and images. The following are examples of Device Marks. Device Mark.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>

            <section class="py-4">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 col-12">
                    <div class="card border-none">
                        <div class="card-body shadow border-round">
                          <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                          <h5 class="card-title card-header">"Colour" as a Trademark</h5>
                          <br>
                          <p class="card-text">The specific colour or combination of colours is recognized as trademarked if it can be established that the color (s) is a unique identification mark used to distinguish the origin of the product or service. There is increasing interest in adopting colors or mixing them to create trademarks in the marketplace. It is, however, the most challenging trademark category to secure legally and legally enforced. The world trade organization has expanded its legal meaning of Trademark to include "any sign...capable of separating the products or services of one company from those of other businesses.</p>
                          <p class="card-text">Section 10 in the Trademark allows for the recognition of a trademark that protects its color as property, as long as the specific color or a mixture of colors is an integral part of the Trademark. Also, the registration to a Color Mark is granted when the Trademark is recognized by the public using the color.</p>
                        </div>
                      </div>
                  </div>
                </div>



                <div class="row pt-5">

                  <div class="col-md-6 col-12">
                    <div class="card border-none">
                        <div class="card-body shadow border-round">
                          <div class="icon-bg mb-4"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></div>
                          <h5 class="card-title card-header">"Shape of the product" as a Trademark</h5>
                          <br>
                          <p class="card-text">The form of a product or the design of a container could be used to establish the source of the goods. The shape of the container could be another type of intellectual property, such as design. The Trademark is used to identify the source of the product, and the design protection will refer to the fundamental characteristics of the design. If, however, the design has become distinctive due to its use in many different ways, it can be registered as a trademark. An excellent example of how this works is with the Coca-Cola Bottle.</p>
                        </div>
                      </div>
                  </div>


                  <div class="col-md-6 col-12 mt-5">
                    <div class="card border-none">
                        <div class="card-body shadow border-round">
                          <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                          <h5 class="card-title card-header">Three-dimensional shape as Trademark</h5>
                          <br>
                          <p class="card-text">Three-dimensional symbols are registered as trademarks in India following strict guidelines regarding the inherent uniqueness of trademarks and their ability to identify the source of the product or service. Three-dimensional trademarks (3D trademarks) are typically displayed as the item's physical appearance or three-dimensional packaging. Examples of 3D Trademarks are as under.</p>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </section>

            </div>


            <div id="document">
              <section class="py-5 bg-light">
                <div class="container">
                  <div class="row">

                    <div class="col-md-12 col-12 heading pt-2">
                      <h2 class="fs-4 pt-4">Sound as a  <span class="text-primary">Trademark</span></h2>
                     
                      <div class="about-text-style">
                          <ul>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Yahoo - (Human voice yodeling Yahoo)</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> National Stock Exchange - (Theme song)</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> ICICI Bank - (Corporate jingle - Dhin Chik Dhin Chik)</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Britannia Industries (Four note bell sound)</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Cisco - (Tune heard when log-in to the Web conferencing service Ex)</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Edgar Rice Burroughs - (Tarzan Yell, a toys action figure)</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Nokia (Guitar notes on turning to the phone)</li>
                          </ul>
                      </div>
                    </div>

                  </div>
                </div>
              </section>
            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizIndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}