{% extends 'index.html' %}
{%block title%} DOT OSP License Registration {% endblock %}

{%block body %}

     <section class="top-bn4 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <p><b>OSP License Registration for DOT</b></p>
            <p>Easy Process and Transparent Fee, All India Incorporation Service</p>
            <h2><b>OSP License Registration at DOT</b></h2>
            <p><b>We'll extend our assistance for Documentation, Preparation, filing, and the subsequent follow-up to obtain a DOT OSP License in India. It typically takes 30-40 days for the grant of the license.</b></p>
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            <li> <a class="sidelink" href="#document">
            <span class="icon-s"> <i class="fa fa-file-text" aria-hidden="true"></i> </span>  List of Documents</a> </li>
            <li> <a class="sidelink" href="#faq">
            <span class="icon-s"> <i class="fa fa-question-circle" aria-hidden="true"></i> </span>  FAQ</a> </li>
            
            </ul>
          </div>

          <div class="content content-3s bg-light">
            <div id="overview">
              <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-12 heading">
                      <h2 class="fs-1">DoT OSP License Application <span class="text-primary">online in</span> India  </h2>
                      <p class="fs-6">Speck stands for Branch of Media transmission, and OSP refers to Other Specialist organizations. A new telecom policy (NTP) in 1999 made the requirement for specific types of businesses, also referred to under the term Other Service Providers (OSP), to get a License before launching a company, and a business can't operate without an approved license. Service providers who use telecom services are classified as OSP. This includes BPO and KPO Services, Voice-based or non-voice-based Call Centers, E-Commerce Companies, Tele-banking and Telemedicine, Tele-education, and other IT-supported services.</p>
                      <p class="b-style text-style">Only companies registered under the Companies Act 2013 can apply to grant a DOT OSP License and access additional telecom services and infrastructure designed for communications purposes from licensed telecom providers that the DOT has authorized to be able to do this.</p>
                      
                    </div>

                    
                  </div>
                </div>
              </section>

            </div>

             <div id="process">

              <section class="btm_grd_banner py-4">
                  <div class="container">
                    <div class="row text-center">
                      <div class="col-md-12 col-12">
                        <div class="py-2 text-white heading2">
                        <h2 class="py-2">Businesses that require OSP License from DOT</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

                 <section class="py-4">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-6 col-12">
                          <div class="card border-none">
                              <div class="card-body shadow border-round">
                                <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                                <h5 class="card-title card-header">Step 1: Phonebanking</h5>
                                <br>
                                <p class="card-text">Banks offer this type of service to their customers. Customers can conduct transactions without visiting the bank branch and in a paper-free environment.</p>
                              </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-12 mt-4">
                          <div class="card border-none">
                              <div class="card-body shadow border-round">
                                <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                                <h5 class="card-title card-header">Step 2: Telemedicine</h5>
                                <br>
                                <p class="card-text">It is a new method for delivering medical care to patients. Emergency health services and guidelines are given to the patient via telephone or online.</p>
                              </div>
                            </div>
                        </div>

                      </div>



                      <div class="row pt-4">

                        <div class="col-md-4 col-12">
                          <div class="card border-none">
                              <div class="card-body shadow border-round">
                                <div class="icon-bg mb-4"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></div>
                                <h5 class="card-title card-header">Step 3: Tele Education</h5>
                                <br>
                                <p class="card-text">This is a method to provide knowledge in remote areas using the help of telecommunication equipment to people living in remote areas.</p>
                              </div>
                            </div>
                        </div>


                        <div class="col-md-4 col-12 mt-4">
                          <div class="card border-none">
                              <div class="card-body shadow border-round">
                                <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                                <h5 class="card-title card-header">Step 4: TeleCommerce</h5>
                                <br>
                                <p class="card-text">The vendor advertises the items or services to customers through a communications medium. This includes sales via television shows.</p>
                              </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-12 mt-5">
                          <div class="mt-5"></div>
                          <div class="card border-none">
                              <div class="card-body shadow border-round">
                                <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                                <h5 class="card-title card-header">Step 5: Call Center</h5>
                                <br>
                                <p class="card-text">All call centers refer to businesses that handle many calls for commercial purposes. This also covers all types of BPO and KPO Services.</p>
                              </div>
                            </div>
                        </div>


                        <div class="col-md-9 col-12 mt-5 mx-auto">
                          <div class="mt-5"></div>
                          <div class="card border-none">
                              <div class="card-body shadow border-round">
                                <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                                <h5 class="card-title card-header">Step 6: Network operation center</h5>
                                <br>
                                <p class="card-text">They are typically established through Internet Service Providers to supervise and manage the network traffic within a particular region.</p>
                              </div>
                            </div>
                        </div>

                      </div>

                    </div>
                  </section>

            </div>


            <div id="document">
              <section class="py-4 ab-banner text-white">
                  <div class="container">
                    <div class="row">
                    <div class="col-md-9 col-12 heading">
                      <h2>Eligibility Information and Documents required to obtain a DOT OSP License</h2>
                    </div>
                    </div>


                    <div class="row table-responsive-sm">

                        <div class="col-md-11 col-12 p-2">
                        <table class="table">
                          <tbody>
                            <tr class="table-dark">
                              <td><b>S.No </b>  Documents required</td>
                            </tr>     
                            <tr class="table-primary">
                              <td>The applicant must represent a company.</td>
                            </tr>

                            <tr class="table-info">
                              <td>A license is required to operate Domestic BPO as well as International BPO</td>
                            </tr>
                            <tr class="table-warning">
                              <td>Generally, the DOT OSP License is valid for 20 years. However, it could be valid for a shorter timeframes too. The validity time frame is stated upon the License.</td>
                            </tr>
                            
                            <tr class="table-light">
                              <td>Only certified ISP can be used to construct the infrastructure</td>
                            </tr>

                            <tr class="table-warning">
                              <td>Certificate of Incorporation</td>
                            </tr>
                            
                            <tr class="table-light">
                              <td>MOA &amp; AOA of the Company</td>
                            </tr>

                            <tr class="table-warning">
                              <td>Board Resolution</td>
                            </tr>
                            
                            <tr class="table-light">
                              <td>Power of Attorney in the name of Authorized Signatory</td>
                            </tr>

                            <tr class="table-warning">
                              <td>Note on Business Activity Proposed</td>
                            </tr>
                            
                            <tr class="table-light">
                              <td>Director List and their KYC</td>
                            </tr>

                            <tr class="table-warning">
                              <td>List of Shareholders</td>
                            </tr>

                          </tbody>
                        </table>
                      </div>

                    </div>
                  </div>
                </section>
            </div>


            <div id="faq">
             <section class="bg-light py-4">
                <div class="container">
                  <div class="row">

                    <div class="col-md-11 col-12 mx-auto heading2">
                      <h2 class="text-center">Frequently Asked  <span class="text-primary">Questions</span></h2>
                      <div class="accordion pt-2" id="accordionExample">
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              What are the standard compliance requirements following the DOT OSP license issuance?
                            </button>
                          </h4>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                              The business that has been awarded a DOT OSP License must submit an annual status report with a list of activities performed in the preceding year and the present state. This is essential to keep this OSP License valid.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                             What is the legality in the case of a DOT OSP License in India??
                            </button>
                          </h4>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              It is important to note that the DOT OSP License is valid for the period it was issued. The duration of validity is listed on the License. In general, the DOT OSP License is issued for 20 years. However, for it to remain valid, the business must file an annual status report.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Does the OSP of the DOT License possible to transfer?
                            </button>
                          </h4>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                             As per the telecom policy according to telecom policy, the DOT OSP License issued to one particular company cannot be transferred to any other business.
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                             How long is the deadline for annual returns for the OSP license holder at DOT?
                            </button>
                          </h4>
                          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             The company's annual return that was granted the License must be filed within 6 months of the date of the financial year.
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                             What is the consequence of not filing the annual return with the DOP OSP License?
                            </button>
                          </h4>
                          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                            If the annual report is not submitted at the time of an OSP, then the business is removed from the dormant lists of the OSP, which means that the License will be removed after two years.
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizIndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}