{% extends 'index.html' %}
{%block title%} Dot isp licence {% endblock %}

{%block body %}
    <section class="top-bn3 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <p>Get an ISP license and become an internet/Online service provider. </p>
            <p>Select the space you wish to offer internet-related services. After that, contact Dobizindia business solution private limited for help with anything from ISP license documentation to obtaining the unification license. </p>
            <h2>What is an ISP License or ISP registration? </h2>
            <p>ISP License, also known as ISP license in its complete form: Internet Service Provider License is the right to create and operate an ISP to offer internet access for businesses and individuals. The license, including all its ISP License types, is issued by the Department of Telecommunication. This is because it can only function if it complies with ISP License guidelines. </p>
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            <li> <a class="sidelink" href="#document">
            <span class="icon-s"> <i class="fa fa-file-text" aria-hidden="true"></i> </span>  List of Documents</a> </li>
            <li> <a class="sidelink" href="#faq">
            <span class="icon-s"> <i class="fa fa-question-circle" aria-hidden="true"></i> </span>  FAQ</a> </li>
            
            </ul>
          </div>

          <div class="content content-3s bg-light">
            <div id="overview">
              <section class="py-4">
                <div class="container">
                  <div class="row">

                    <div class="col-md-12 col-12 heading pt-2">
                      <p class="fs-6">To put it simply, ISP License means permission to set up an ISP business and offer Internet services. </p>
                      <p class="fs-6">If you'd like to be included in the multiple Internet Service Provider List, you must move ahead and begin the process to receive an ISP License in India.</p>
                      <p><b>What is an ISP? </b></p>
                      <p class="fs-6">The term "ISP" refers to an ISP as a business that functions as an Internet Service Provider. Its primary function is to buy bandwidth from telecom firms and provide internet users with internet connectivity.</p>
                      <p class="fs-6">To carry out this process, the ISP License in India must be granted by the Department of Telecommunication. The license granted is known as "the Unified ISP License, " and the ISP License cost that it must pay differs from the ISP License India types. </p>
                      <h2>What are the various kinds of <span class="text-primary">ISP Licenses in India? </span> </h2>
                      <p>When you inquire about the best way to get an ISP License in India, we won't immediately jump into paying the ISP License fee. The first step is to determine the type of ISP you'd like.</p>
                      <p>This is because the question of how to get an ISP License can only be found if you are aware of the kind of ISP you'd like to establish. The various types of ISP Licenses are based on how big the region that you would like to offer your internet service. </p>
                      <p>This license is divided into three categories based on the available internet service areas. Every ISP License category that is presented here provides you with an idea of the ISP cost of the license: </p>

                    </div>

                  </div>
                </div>
              </section>

              <section class="py-4 s-img s-img1">
                <div class="container py-2">
                  <div class="row">
                    <div class="col-md-2 col-12">
                    </div>
                  <div class="col-md-12 col-12">
                    <p><b>ISP License category A: </b> Class an ISP License is designed for ISPs who wish to offer internet access throughout the country. The category A ISP license holders in India are small because class A ISP License fees are pretty expensive. However, if you're dedicated to getting a category A ISP License in the India-specific type in the Internet Service Provider Company category can be very lucrative too. If you've enough money and are ready to take the next step, you should get the unification license category A. </p>
                     <p>ISP license category B: When searching for a Category B ISP license in India, the license is intended for ISPs who wish to offer internet services to 20 territories. Class B ISP License fees lie in the middle. But, it could be expensive for someone who is only getting started in the business. Thus, it would help if you only considered the category B ISP when you're able to budget for the category B ISP License cost. Also, for mid-range ISPs that operate in urban areas, select the unified category B. </p>
                    <p>ISP License Category C: Class C ISP License or ISP C License is meant for ISPs seeking to offer internet services in any secondary switching zone of the Department of Telecommunication (DOT). Cost-wise, Category C ISP License India is quite affordable. The affordable C-class ISP License cost has made sure of this. Additionally, for new businesses starting up, a category C ISP is highly recommended due to this affordable cost—Class C ISP Cost of License. If you are looking for the internet service provider's license to offer internet access to a tiny village, town, or even a street, opt for a unified category of license C. Another thing to be noted is that of all types of ISP licenses that it's the ISP category C license that is most popular due to it is affordable. ISP license C class fees.</p>

                    
                  </div>
                  </div>
                </div>
              </section>

            <section class="py-4 bg-light">
                <div class="container">
                  <div class="row">

                    <div class="col-md-12 col-12 heading">
                      <h2 class="fs-4 pt-4">But no matter what categories you have. </h2>
                      <p>I can see there's no specific category-specific license. There is only one ISP license that is unified. ISP license lets you can specify your ISP category and the region where you wish to offer internet-based services. The ISP license holders from India differ because of this particular aspect.</p>
                      <p>However, getting this license isn't every day, as it is a bit of an issue that can become an obstacle to the process. The complications can be various, from ISP license agreements to ISP License costs. However, if you do not want to worry enough about the massive ISP License cost in India, Dobizindia business solution private limited can assist.</p>
                      <p>We do not have an ISP license available to offer. However, we are legal experts who can aid you with business licenses. Dobizindia company solution limited can assist you in acting as your ISP license consultant throughout this process. It can guide you to ensure that these hurdles are eliminated and you can be granted the license.</p>
                     <p> Therefore, put aside the excuses, move to the next step, and begin with the ISP License online registration process.</p>
                      
                    </div>

                  </div>
                </div>
              </section>

            </div>

             <div id="process">

              <section class="btm_grd_banner py-4">
                  <div class="container">
                    <div class="row text-center">
                      <div class="col-md-12 col-12">
                        <div class="py-2 text-white heading2">
                        <h2 class="py-2 fs-2">ISP License Fees for Governmental Use</h2>
                        <p class="fs-6 pt-2">Look at the table below for specific information about the ISP license fees in India according to the various categories, i.e., the unified license ISP category, Unified ISP category B for licenses and the Unified license ISP category.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

              <section>
                <div class="container">
                  <div class="row table-responsive-sm">
                    <div class="col-md-1 col-12">
                    </div>

                      <div class="col-md-3 col-12 p-2">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>Service</td>
                          </tr>     
                          <tr class="table-primary">
                            <td>ISP class A (National Area)</td>
                          </tr>

                          <tr class="table-info">
                            <td>ISP category B (Telecom Circle/ Metro Area)</td>
                          </tr>
                          <tr class="table-warning">
                            <td>ISP category C (Secondary Moving Area)</td>
                          </tr>

                        </tbody>
                      </table>
                    </div>

                    <div class="col-md-3 col-12 p-2">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>Internet Service Provider Entry Fees in Rupees</td>
                          </tr>     
                          <tr class="table-primary">
                            <td>30 Lakhs</td>
                          </tr>
                          
                          <tr class="table-info">
                            <td>2 lakhs </td>
                          </tr>
                          <tr class="table-warning">
                            <td>20,000</td>
                          </tr>

                        </tbody>
                      </table>
                    </div>

                    <div class="col-md-1 col-12 p-2">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>PBG In Rupees</td>
                          </tr>     
                          <tr class="table-primary">
                            <td>40 Lakhs</td>
                          </tr>
                          
                          <tr class="table-info">
                            <td>2 lakhs</td>
                          </tr>
                          <tr class="table-warning">
                            <td>10,000</td>
                          </tr>
                          
                        </tbody>
                      </table>
                    </div>

                    <div class="col-md-1 col-12 p-2">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>FBG Rupees</td>
                          </tr>     
                          <tr class="table-primary">
                            <td>2 lakhs</td>
                          </tr>
                          
                          <tr class="table-info">
                            <td>20,000</td>
                          </tr>
                          <tr class="table-warning">
                            <td>2,000</td>
                          </tr>
                          
                        </tbody>
                      </table>
                    </div>

                    <div class="col-md-2 col-12 p-2">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>Application Processing Charge in Rs.</td>
                          </tr>     
                          <tr class="table-primary">
                            <td>50,000</td>
                          </tr>
                          
                          <tr class="table-info">
                            <td>15.000</td>
                          </tr>
                          <tr class="table-warning">
                            <td>10,000</td>
                          </tr>
                          
                        </tbody>
                      </table>
                    </div>

                  </div>
                </div>
              </section>

              <section class="bg_back py-4">
                  <div class="container">
                    <div class="row">

                      <div class="col-md-12 col-12 heading pt-2">
                        <p>The fees above are known as the foundation fees since they are not negotiated on the fees. Another part is the professional charges that are required for DOT ISP License. Our consultants will charge you for it, and the cost is so low that it's not necessary to bargain over the cost of these fees.</p>
                        <p><b>Eligibility Criteria to Get an ISP License in India</b></p>
                        The person applying for an ISP License should be an incorporated company registered by the Companies Act 1956.
                        <p><b>Documents required to obtain an ISP License in India</b></p>
                        <p>We will go into detail about what are the ISP License requirements. These are the mandatory documents required to obtain an ISP license to operate your business of providing internet services with ease.</p>
                        <div class="about-text-style">
                            <ul>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  Two forms are required for the license unification with the prescribed format. The first ISP License form application must be submitted at the DOT, and the second one must be kept for receiving. When filling out the application, check the DOT ISP guidelines.</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  Certificate of Incorporation of the Company One of the primary conditions for starting an ISP is company registration.</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  Memorandum Association and Articles of Association of the company: In the first document, it is clarified that becoming an internet service is the objective of your business.</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  The processing fee (Nonrefundable): The receipt for the fee varies for every category. The fee will be lowest for ISP fee category C licenses; the most expensive is for category A ISP.</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  Power of attorney based on the decision of your board, which authorizes the person who signs the stamp paper: By this form of a document, you can delegate the responsibility of submitting your ISP license application to us. In addition, it grants us the authority to keep track of ISP license status and to sort out any issues with the TRAI ISP Licence.</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  Subtleties of the company's chiefs/advertisers/investors: You need to give every one of the subtleties precisely in the manner planned to get UL ISP Permit. In this scenario, you must create a technical document that functions as an information sheet for all shareholders, directors, promoters and directors.</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  Certificate of equity total details: This document shows you're financially able to manage your company through An Internet Service provider.</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  Foreign equity approval certificates issued by the government of India: In case your Foreign Direct Investment or FDI in your business exceeds 49 percent, you need to include the certificate of approval for foreign equity alongside the application.</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  Contact details of registered office: include details of the Registered Office of your ISP company.</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  Resolution of the board regarding the appointment of a statutory auditor: You'll need to choose the statutory auditor who will be accountable for auditing the balance accounts that you have with the balance sheets of your ISP Company. Attach the relevant documents in addition.</li>
                            </ul>
                        </div>

                      </div>

                    </div>
                  </div>
                </section>

            </div>


            <div id="document">
            <section class="py-4">
              <div class="container">
                <div class="row">

                  <div class="col-md-12 col-12 heading pt-2">
                    <h2>Method of getting an ISP License in India</h2>
                     <p>In the case of an ISP License, applying online is an option.</p>
                        <p>We offer you the answer to how to obtain an Internet Services Provider license. This ISP License procedure in India, as with any other government-related process, requires you to keep a keen eye on the rules. This is, in this instance, ISP License regulations.
                        </p>
                    <div class="about-text-style">
                        <ul>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Find out if the license is eligible In order to become eligible, you must first to form an either a public or private limited company.</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Select the right category of license: Look through the prior DOT ISP License list and find the category that best fits your objectives, as well as your budget.</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Choose a service provider that offers you bandwidth you'll need in the future After you've gotten contact with a service provider, you'll need to sign an ISP license DOT agreement with the company. For more information about this, check out the ISP License agreement format.</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Make sure you have the right documents to ISP license application: Be ready with the documents required to apply for an internet ISP License. The license would not contain documents like the DOT ISP License agreement that's discussed above, however, it will include the documents we discussed in the previous part.</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Make sure you file an application for the Unified License application, or ISP License application (both are identical) Once you've gathered all the necessary information and documents to complete the application process then you're ready to submit the</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Department of telecommunications review the documents of telecom: When the application is accepted from the department your application will be evaluated. At this point, the department decides whether your application will be added on the ISP license list or not. This is the moment when our experts constantly verify the condition that the app is in. They are able to determine the status of an ISP licenses in India.</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Get a letter of Intent and then submit all the documents mentioned on the form: After your application is approved and even the online license agreement for service providers The department will mail your The Letter of Intent directly to the applicant. This is the time when that you'll need to pay for the bank guarantees based on the license you have obtained. After that, you must you must send an ISP Bank Guarantee to your department. It is important to note that the ISP bank guarantee form can't be anything but you need follow the format of the document.</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Receive an ISP License DOT: Once your letter of intent has been properly submitted, you'll be issued your ISP License DOT.</li>
                        </ul>
                    </div>

                  </div>

                </div>
              </div>
            </section>

            <section class="py-4">
                <div class="container">
                  <div class="row">

                    <div class="col-md-12 col-12 heading pt-2">
                      <h2>Method of getting an ISP License in India</h2>
                       <p>In the case of an ISP License, applying online is an option.</p>
                          <p>We offer you the answer to how to obtain an Internet Services Provider license. This ISP License procedure in India, as with any other government-related process, requires you to keep a keen eye on the rules. This is, in this instance, ISP License regulations.
                          </p>
                      <div class="about-text-style">
                          <ul>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Find out if the license is eligible In order to become eligible, you must first to form an either a public or private limited company.</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Select the right category of license: Look through the prior DOT ISP License list and find the category that best fits your objectives, as well as your budget.</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Choose a service provider that offers you bandwidth you'll need in the future After you've gotten contact with a service provider, you'll need to sign an ISP license DOT agreement with the company. For more information about this, check out the ISP License agreement format.</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Make sure you have the right documents to ISP license application: Be ready with the documents required to apply for an internet ISP License. The license would not contain documents like the DOT ISP License agreement that's discussed above, however, it will include the documents we discussed in the previous part.</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Make sure you file an application for the Unified License application, or ISP License application (both are identical) Once you've gathered all the necessary information and documents to complete the application process then you're ready to submit the</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Department of telecommunications review the documents of telecom: When the application is accepted from the department your application will be evaluated. At this point, the department decides whether your application will be added on the ISP license list or not. This is the moment when our experts constantly verify the condition that the app is in. They are able to determine the status of an ISP licenses in India.</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Get a letter of Intent and then submit all the documents mentioned on the form: After your application is approved and even the online license agreement for service providers The department will mail your The Letter of Intent directly to the applicant. This is the time when that you'll need to pay for the bank guarantees based on the license you have obtained. After that, you must you must send an ISP Bank Guarantee to your department. It is important to note that the ISP bank guarantee form can't be anything but you need follow the format of the document.</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Receive an ISP License DOT: Once your letter of intent has been properly submitted, you'll be issued your ISP License DOT.</li>
                          </ul>
                      </div>

                    </div>

                  </div>
                </div>
              </section>

              <section class="py-4 ab-banner text-white">
                <div class="container py-5">
                  <div class="row">
                  <div class="col-md-8 col-12 heading">
                    <h2 class="py-4">Our Assistance in filing an application for the ISP License in India</h2>
                    <p>Our services do not stop at simply providing you with the license. We also offer specific solutions for surrendering your license on your schedule. With ISP license surrenders, you can close down your business professionally. If you're looking for less expensive alternatives, you can get an ISP VNO License.</p>
                    <p>Whatever your needs, we guarantee that our team of experts will be able to use our experience and determination to help you get on the unifying ISP license list.</p>

                  </div>
                  </div>
                </div>
              </section>
            </div>


            <div id="faq">
             <section class="bg-light py-4">
                <div class="container">
                  <div class="row">

                    <div class="col-md-11 col-12 mx-auto heading2">
                      <h2 class="text-center">Frequently Asked  <span class="text-primary">Questions</span></h2>
                      <div class="accordion pt-2" id="accordionExample">
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                             Q. How can I obtain an ISP License?
                            </button>
                          </h4>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                              To obtain an ISP License, you must apply for a unified license to the Department of Telecommunication.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                             Q. What's an ISP License?
                            </button>
                          </h4>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              ISP License is the authorization to establish an ISP through Department of Telecommunication. Department of Telecommunication.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Q. How can I apply for an ISP License of class C? ISP License?
                            </button>
                          </h4>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                             If you want to apply for Class C ISP License, you need to indicate class C on the Unified License application form.
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                             Q. How do I check ISP License in India?
                            </button>
                          </h4>
                          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             To verify the ISP License, you can utilize your ISP License number on the official portal of saralsanchar.
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                             Q. What are the required documents to obtain an ISP License?
                            </button>
                          </h4>
                          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                                <ul>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Certificate of incorporation</li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Memorandum of Association</li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Articles of Association</li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Net worth certificate</li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Blueprint of the ISP</li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Plan for Networks of ISP</li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> A description of ISP business</li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Directors' list</li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> List of shareholders</li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> The shareholding pattern of the company</li>
                                </ul>
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizIndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

   {% endblock %}