{% extends 'index.html' %}
{%block title%}MSME Registration{% endblock %}
{%block body %}
      <section class="top-bn4 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <h2><b>Online registration of Udyam, <span class="text-white"> MSME and Udyam</span></b></h2>
            <p class="pt-4"> <b>All eligible small, medium and micro enterprises must apply to Udyam Registration and receive an Udyam Certification certificate according to law. Dobizindia offers Udyam Registration and MSME services that are of the highest quality. Our experienced and highly skilled team of CA, CS and paralegal professionals ensures that the registration process is easy, straightforward, and cost-effective. Our MSME registration packages are available for you to use. 
            </b></p>
            <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            <li> <a class="sidelink" href="#document">
            <span class="icon-s"> <i class="fa fa-file-text" aria-hidden="true"></i> </span>  List of Documents</a> </li>
            <li> <a class="sidelink" href="#faq">
            <span class="icon-s"> <i class="fa fa-question-circle" aria-hidden="true"></i> </span>  FAQ</a> </li>
            
            </ul>
          </div>

          <div class="content content-3s bg-light">
            <div id="overview">
              <section class="py-5">
                <div class="container">
                  <div class="row">

                    <div class="col-md-12 col-12 heading pt-2">
                      <h2 class="fs-2">Introduction to <span class="text-primary">MSME Register </span> </h2>
                      <p class="fs-6">MSMEs or micro-small and medium enterprises (MSMEs) are the backbones of developing economies like India. These are businesses that have a small scale and receive little investment from investors locally. But, these businesses are labor-intensive and essential for the economy's employment generation. The government will likely want to help MSMEs grow by giving them funding and credit. India introduced MSME registration in India precisely for this purpose. MSME Registration for eligible enterprises allows them to avail many benefits through schemes and initiatives regularly introduced by Indian companies. </p>
                      <h2 class="fs-4">Online Registration <span class="text-primary"> for MSME </span> </h2>
                      <p class="b-style text-style">We offer Udyam Registration Services in India. This is a fast and straightforward process that's 100% online. Get the MSME Certificate by signing up for our comprehensive MSME registration package. We'll make it easy and painless. </p>
                      
                    </div>

                  </div>
                </div>
              </section>

              <section class="py-4 text-center s-img s-img1">
                <div class="container">
                  <div class="row">
                    <div class="col-md-2 col-12">
                    </div>
                  <div class="col-md-10 col-12">
                    <h2 class="py-4">Checklist for MSME Registrations in India </h2>
                    <p>MSME Registration is open to all micro, small, or medium enterprises. The net investment and the net revenue of an enterprise during a financial year define or classified them. This applies to both goods and service-based enterprises. Net investment is the difference between the total investment in plant and machinery, research and design, and the installation of safety devices. The net turnover is the product of the enterprise's export turnover.</p>
                    
                  </div>
                  </div>
                </div>
              </section>

              <section class="py-4 bg-light">
                <div class="container">
                  <div class="row">

                    <div class="col-md-7 col-12 heading pt-2">
                      <h2 class="py-4">Checklist for MSME registration online </h2>
                    <div class="about-text-style">
                          <ul>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Maximum Rs. 1 crore. Net turnover = Rs. 5 crores </li>

                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Net investment in machinery and plant = Rs. 10 crores; net turnover = Rs. 50 crores </li>

                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Net investment in machinery and plant = Rs. 50 crores and net revenue = Rs. 250 crores </li>
                          </ul>
                      </div>
                    </div>

                  </div>
                </div>
              </section>

            </div>

             <div id="process">

              <section class="btm_grd_banner py-4">
                <div class="container">
                  <div class="row text-center">
                    <div class="col-md-12 col-12">
                      <div class="py-2 text-white heading2">
                      <h2 class="py-2">Step-by-step procedure for online MSME Registration </h2>
                      <p class="fs-6 pt-2">Udyam Registration is required for all enterprises that fall within the definition of MSMEs. Udyam Registration replaces UAM registrations for MSMEs. In turn, Udyam Registration replaced EM II registrations for MSMEs. Udyam Registration becomes mandatory for MSMEs who are not yet registered under the MSME program or have already taken the old UAM or EM II registrations. MSMEs may self-declare and apply for registration under MSME Act. </p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

                <section class="py-4">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6 col-12">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">STEP 1- Documentation </h5>
                              <br>
                              <p class="card-text">MSME Registration does NOT require many documents. But, the minimum ones that must be produced are the applicant's or entrepreneur's Aadhar and PAN cards. If the applicant is applying for MSME Registration for the first time, he must have his Aadhar or PAN cards. He also needs his Udyog Aadhar Card if registered under the UAM Registration for MSMEs.</p>
                            </div>
                          </div>
                      </div>

                      <div class="col-md-6 col-12 mt-4">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">STEP 2- Choose the type of MSME registration </h5>
                              <br>
                              <p class="card-text">Once the necessary documents have been obtained, the applicant may proceed to register. You will first need to go to the official website and choose the type you want to register. There are several options.</p> 
                              <div class="about-text-style">
                            <ul> 
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> New entrepreneurs not yet registered as MSMEs or with EM II registration</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> UAM registrations are available for those who have already been registered</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> For those already registered for UAM through assisted filing</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> To register, applicants must choose the best option. </li>
                             </ul>

                            </div>
                          </div>
                      </div>

                    </div>



                    <div class="row pt-4">

                      <div class="col-md-6 col-12">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">STEP 3- OTP-based verification </h5>
                              <br>
                              <p class="card-text">A window will appear asking you for your Aadhar Number. After entering the Aadhar Number, an OTP will be sent to the mobile number registered in the Aadhar documents. After the OTP is submitted, the Aadhar document will be successfully verified. <br>
                              If the applicant selects any third or second option, they will need to enter the Udyog-Aadhar numbers issued to MSMEs. Following this, an OTP will be sent either to the mobile number or the e-mail ID (whichever is preferred) per the Udyog-Aadhar documents. You can then proceed with registration after the OTP is submitted.</p>
                            </div>
                          </div>
                      </div>

                      <div class="col-md-6 col-12 mt-5">
                        <div class="card border-none mt-4">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">STEP 4- OTP Based Verification of PAN </h5>
                              <br>
                              <p class="card-text">To verify the applicant's PAN numbers, you will need to enter them. The applicant must enter his PAN numbers and submit them to verify the application.</p>
                            </div>
                          </div>
                      </div>

                    </div>

                    <div class="row pt-4">

                      <div class="col-md-4 col-12">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">STEP 5. - Complete the registration form </h5>
                              <br>
                              <p class="card-text">After the documents are verified, the Registration page appears. The form must be completed with all the necessary details for the MSME or entrepreneurs. The Registration form should include applicants'/entrepreneurs' details, principal business activities, valid bank details, financial information, and the enterprise's financial standing.</p>
                            </div>
                          </div>
                      </div>

                      <div class="col-md-4 col-12 mt-4">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">STEP 6 – Submission of the MSME register form</h5>
                              <br>
                              <p class="card-text">After the MSME Registration Form has been filled out correctly, a second OTP will be sent to the mobile phone number mentioned in the application. This will only apply to new entrepreneurs who are either not yet registered as MSMEs or those with EM II. The applicant will verify the OTP before the application can be submitted. The registration form for UAM-registered businesses can be submitted immediately without needing OTP verification. </p>
                            </div>
                          </div>
                      </div>

                      <div class="col-md-4 col-12 mt-5">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">STEP 7- Issuance Udyam Certificate of Registration and MSME Register Number</h5>
                              <br>
                              <p class="card-text">After submission of the form successfully, it will be processed and, if satisfactory, issued the Udyam registration certificate to the company along with an MSME number. </p>
                            </div>
                          </div>
                      </div>

                    </div>

                  </div>
                </div>
              </section>

            </div>


            <div id="document">
              <section class="py-4 ab-banner text-white">
                <div class="container">
                  <div class="row">
                  <div class="col-md-12 col-12 heading">
                    <h2 class="py-4">Documents Required for MSME Register </h2>
                    <p>MSME registration can quickly be done with essential documents such as Aadhar cards and PAN cards. It all depends on what type of registration was undertaken. These minimum requirements make it simple and easy for small-scale Indian businesses to get an MSME certificate. Failing to produce these documents can result in the rejection of your application. Which could reduce your chances of being issued an Udyam registration Certificate?</p>
                  </div>
                  </div>


                  <div class="row table-responsive-sm">

                      <div class="col-md-10 col-12 p-2">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>To register as an MSME newcomer</td>
                          </tr>     
                          <tr class="table-primary">
                            <td>PAN card,Aadhar card issued to the applicant</td>
                          </tr>

                          <tr class="table-warning">
                            <td>UAM registrations</td>
                          </tr>
                          
                          <tr class="table-light">
                            <td>Udyog Aadhar cards of the enterprise</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                  </div>
                </div>
              </section>
            </div>


            <div id="faq">
             <section class="bg-light py-5">
                <div class="container">
                  <div class="row">

                    <div class="col-md-8 col-12 mx-auto heading2">
                      <h2 class="text-center">Frequently Asked  <span class="text-primary">Questions</span></h2>
                      <div class="accordion pt-2" id="accordionExample">
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              What is Udyog Aadhar? 
                            </button>
                          </h4>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              Udyog Aadhar number, a 12-digit unique ID number, is available to MSMEs as per the MSMED Act. It is available to any business, whether a proprietorship, partnership company, LLP, OPC or private limited company, as long as they are eligible for MSME registration or Udyam Registration. The Udyog Aadhar Portal must be visited by the applicant/entrepreneur to get the Udyog Aadhar. The appropriate authority issues the Udyog Aadhar for the applicant after the application has been successfully processed.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Should eligible businesses be able to apply online for MSME registrations? 
                            </button>
                          </h4>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              For eligible businesses, MSME registration is not required. But, eligible enterprises can enjoy several financial incentives offered by the government through MSME registration. Thus, it is highly recommended that these enterprises get MSME Registration as soon as possible. 
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                             How do MSMEs fall under the MSMED Act?
                            </button>
                          </h4>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                             Based on the nature of business activities, MSMEs in India can be categorized into product-based and service-based businesses. Indian MSMEs that are product-based can be further classified as wholesale, retail, or manufacturing. 
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                             When an Udyam Registration Certificate is issued, how long does it remain valid? 
                            </button>
                          </h4>
                          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             An Udyam Registration certificate is valid for a lifetime once issued. There is no need to renew it every so often.
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                             Where can I find the MSME registration numbers? 
                            </button>
                          </h4>
                          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             The MSME number is a 16-digit alphanumeric code. It is allocated to eligible companies that have achieved MSME registration. The number is allocated to the eligible enterprise after it has been registered as MSME and is sent along with the MSME certification. MSME uses it to create a unique identity.
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            {% include 'product.html' %}
          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizIndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}