{% extends 'index.html' %}
{%block title%}Producer Company{% endblock %}
{%block body %}

      <section class="top-bn4 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <h2><b>Producer company  <span class="text-white">registration </span></b></h2>
            <p class="pt-4"> <b>Privately held corporations can be registered under Section of 2013's Companies Act as Producer Companies. Dobizindia business solution provides all-inclusive, affordable services to help you register a producer company online. Our professional services are fast, simple, and highly professional. They are provided by our dedicated team consisting of CA, CS, and paralegal experts and more than experience in Company Incorporation. 
            </b></p>
            <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            <li> <a class="sidelink" href="#document">
            <span class="icon-s"> <i class="fa fa-file-text" aria-hidden="true"></i> </span>  List of Documents</a> </li>
            <li> <a class="sidelink" href="#faq">
            <span class="icon-s"> <i class="fa fa-question-circle" aria-hidden="true"></i> </span>  FAQ</a> </li>
            
            </ul>
          </div>

          <div class="content content-3s bg-light">
            <div id="overview">
              <section class="py-4">
                <div class="container">
                  <div class="row">

                    <div class="col-md-12 col-12 heading pt-2">
                      <h2 class="fs-2">What is the definition of a<span class="text-primary"> Producer Company? </span> </h2>
                      <p class="fs-6">A producer company combines a cooperative organization and a Private Limited Company. It offers collective benefits to its members and operates under a strict and consistent legal framework. India permits only Private Limited Companies to register as Producer Companies. The names of these companies must be incorporated with the phrase "Producer Company Limited." An Indian Producer Company is a group of individuals or institutions involved in primary production activities.</p>
                      <p class="b-style text-style">Register your Producer Company using our highest quality and professional services of company formation, which are available to all at competitive prices. You can subscribe to our all-inclusive package, and our dedicated team will assist from the beginning to the end in India for Produce Company registration. </p>
                      <h2 class="fs-4">Before you start a Producer Company,<span class="text-primary">  here are some critical decisions.  </span> </h2>
                      <div class="about-text-style">
                          <ul>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> What are the business activities proposed? </li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> What amount of capital is required to be invested? </li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Which members will receive what benefits? </li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Who would become the first directors of the new company? </li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> What should be the company's name? </li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> What is the address for company registration?</li>
                          </ul>
                      </div>
                    </div>

                  </div>
                </div>
              </section>

              <section class="py-4 text-center s-img s-img1">
                <div class="container py-2">
                  <div class="row">
                    <div class="col-md-2 col-12">
                    </div>
                  <div class="col-md-10 col-12">
                    <h2 class="py-4">Checklist for Producer Company registration </h2>
                    <p>Companies who wish to register as Producer Companies must first meet specific requirements as outlined in Section 465 (1), Companies Act, 2013. These conditions pertain to the number of directors and members of the company, as well as the name, address, capital, and capital. Below is a complete list of all the legally required conditions. </p>
                  </div>
                  </div>
                </div>
              </section>

              <section class="py-4 bg-light">
                    <div class="container">
                      <div class="row">

                        <div class="col-md-12 col-12 heading pt-2">
                          <h2 class="fs-2 pt-4">Checklist to Register <span class="text-primary">Producer Company </span> </h2>
                          <p>At least 10 producers or at most 2 producer institutions must be members. </p>
                         
                          <div class="about-text-style">
                              <ul>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> At least 5 directors</li>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> A minimum capital need of Rs.5 Lakhs </li>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> A unique name was ended as "Producer Limited Company.</li>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> A registered address at the principal place or central office.</li>
                              </ul>
                          </div>
                        </div>

                      </div>
                    </div>
                  </section>

            </div>

             <div id="process">

              <section class="btm_grd_banner py-4">
                <div class="container">
                  <div class="row text-center">
                    <div class="col-md-12 col-12">
                      <div class="text-white heading2">
                      <h2 class="py-2">Step-by-step procedure to register a private limited business</h2>
                      <p class="fs-6 pt-2">Producer Companies can register as Private Limited companies. Thus, registering Producer Companies is identical to that of Private Limited companies. Any Director of the Company can fill out the application. It is then submitted to the Registrar of Companies. This verifies the information in the application as well as the attached documents. After the verification, the ROC issues the Certificate of Incorporation in the company's name.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">STEP 1- Documentation</h5>
                            <br>
                            <p class="card-text">You will need specific legal documentation for the incorporation as a limited producer company. This section lists all documents that are required for registration. Before you even begin the process of Producer company registration, you should ensure you have all these documents. If you don't have them, you must make arrangements as soon as possible. </p>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-12 mt-4">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">STEP 2 - Name Selection </h5>
                            <br>
                            <p class="card-text">A Producer Limited Company must have a unique name that conveys its brand and business activities. There are many requirements to create a Producer Limited Company. They include the Companies Act and Company (Incorporation) Rules. A company's company name cannot be identical to, or similar to, the name of an existing company, LLP, applied or registered trademark, or company (Incorporation) Rules, the Companies Act, the Trademark Act, and the Names and Emblems Act.</p>
                          </div>
                        </div>
                    </div>

                  </div>



                  <div class="row pt-4">

                    <div class="col-md-4 col-12">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">STEP 3- Name Approval, Reservation </h5>
                            <br>
                            <p class="card-text">It would help if you first chose a legally valid business name. Then, you must file it with the Registrar of Companies. This ensures that no other companies can use or steal it without your consent. Our name approval service will allow you to check the validity and apply for a reservation in the SPICe+ RUN (Reserve Uniform Name) or Part A.</p>
                          </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-12 mt-4">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">STEP 4 - Filing of SPICe+ applications</h5>
                            <br>
                            <p class="card-text">After approval of its name, you may continue with the incorporation process for a Producer Limited Company. To apply for incorporation of the company, you will need to complete the SPICe+ application online. Part of SPICe+ is for reserving a name. Part B is for the Producer Company Register. Any producer company director can complete and sign this application before it is submitted to the ROC.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 mt-5">
                      <div class="mt-5"></div>
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">STEP 5- Issue of Certificates of Incorporation </h5>
                            <br>
                            <p class="card-text">After receiving the Producer Company application, the ROC verifies all documents and details. After confirming that the information and documents are authentic. The ROC will issue a Certificate to Incorporate into the company. The ROC also issues a Corporate Identification number as the company's unique identity.</p>
                          </div>
                        </div>
                    </div>

                  </div>

                </div>
              </section>

            </div>


            <div id="document">
              <section class="py-4 ab-banner text-white">
                <div class="container">
                  <div class="row">
                  <div class="col-md-8 col-12 heading">
                    <h2 class="py-4">Documents needed to register a producer corporation.</h2>
                    <p>To apply for the registration of a Producer Company, you must include scanned copies of the documents specified under the Companies Act 2013. These documents may be classified as documents belonging to the members, documents of the company, or documents of premises. In the following table, you will find a comprehensive list of such documents.</p>
                  </div>
                  </div>


                  <div class="row table-responsive-sm">

                      <div class="col-md-4 col-12 p-2">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>Documents of the Members</td>
                          </tr>     
                          <tr class="table-primary">
                            <td>Passport-sized coloured photograph</td>
                          </tr>

                          <tr class="table-info">
                            <td>PAN Card, Photo ID </td>
                          </tr>
                          <tr class="table-warning">
                            <td>You can prove that you have been registered</td>
                          </tr>
                          
                          <tr class="table-light">
                            <td>Produce Activity Evidence</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="col-md-3 col-12 p-2">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>Documents from the Premises</td>
                          </tr>     
                          <tr class="table-primary">
                            <td>Proof of registered address </td>
                          </tr>
                          
                          <tr class="table-info">
                            <td>No Objection Certificate from the Owner</td>
                          </tr>
                          <tr class="table-warning">
                            <td>Rent Agreement/ Property Documents</td>
                          </tr>

                        </tbody>
                      </table>
                    </div>

                    <div class="col-md-4 col-12 p-2">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>Legal Drafts</td>
                          </tr>     
                          <tr class="table-primary">
                            <td>Questionnaire For Company Registration</td>
                          </tr>
                          
                          <tr class="table-info">
                            <td>Consent of Directors in Form DIRC-2</td>
                          </tr>
                          <tr class="table-warning">
                            <td>Specimen Signature for Directors</td>
                          </tr>

                           <tr class="table-light">
                            <td>Signed Subscribers Sheet</td>
                          </tr>
                          
                        </tbody>
                      </table>
                    </div>

                  </div>
                </div>
              </section>
            </div>


            <div id="faq">
             <section class="bg-light py-4">
                <div class="container">
                  <div class="row">

                    <div class="col-md-11 col-12 mx-auto heading2">
                      <h2 class="text-center">Frequently Asked  <span class="text-primary">Questions</span></h2>
                      <div class="accordion pt-2" id="accordionExample">
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Signed Subscribers Sheet
                            </button>
                          </h4>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                              Producer Companies are companies involved directly or in part in Primary Production. These companies are generally classified as follows: 
                              <ul>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Production, procurement, or manufacture of primary produce by businesses </li>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Companies involved in promotion/marketing primary produce </li>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Companies that provide technical help to producers include those who train and educate members and research and development activities. </li>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Businesses that only finance primary production activities </li>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Businesses that provide a support infrastructure for primary business activities </li>

                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Which benefits do members get from a Producer Company? 
                            </button>
                          </h4>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              All Members will receive the same value as the Producer Company in their initial payment. The Producer Company may also determine the value of any products or products that are pooled or supplied. Any withheld price can be disbursed later in cash, in person or equity shares. This is proportional to the Producer Company's production during the fiscal year. 
                                <br>
                              Every Member receives a restricted return for the share capital contributed. If the surplus is not paid, it may be given as a patronage bonus to members in proportion to their participation in the Producer Company's business. The Members may decide to pay cash, allot equity shares, or both.  

                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                             Do Producer Companies have to appoint auditors? 
                            </button>
                          </h4>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                             Producer companies must have their accounts books audited annually by a Chartered Accountant. These audits must be done at specified times as set out in the articles of incorporation. At the annual general meeting of shareholders, the Producer Company's auditor must be elected every year. 
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                             How long is it to register a Producer Company for India? 
                            </button>
                          </h4>
                          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             India's Producer Company registration process usually takes 20-25 business days. 
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                             A Co-Operative Society can be transformed into a Producer Company. 
                            </button>
                          </h4>
                          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             Only an interstate cooperative society whose objectives are not limited to a single country can be made into a Producer Company.
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            {% include 'product.html' %}
          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizIndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  {% endblock %}