{% extends 'index.html' %}
{%block title%}Public Limited Company registration{% endblock %}
{%block body %}

<section class="top-bn4 bn-styles">
  <div class="container">
    <div class="row pt-4">
      <div class="col-md-8 col-12 pt-5 pt-5">
        <h2><b>Public Limited <span class="text-white">Company Registration</span></b></h2>
        <p class="pt-4"> <b>Registration of the name of a Public Limited Company with the Registrar of Companies is
            mandatory under the Companies Act, 2013. Here at Dobizindia business solutions We offer complete services
            for company registration with our comprehensive packages offered for you at affordable prices. Our
            experienced and dedicated team consisting of CA, CS, and paralegal experts are there to assist you through
            each process of registration for your company completely free of charge. Our completely online mode of
            operations assures quality and reliability that we provide are incredibly trustworthy.
          </b></p>
        <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
      </div>
    </div>
  </div>
</section>

<section class="py-5 side-navbg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
        <div>
          <ul class="sidebar nav-pills" id="sideMenu">
            <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b>
            </h5>
            <li> <a class="sidelink active" href="#overview">
                <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a>
            </li>
            <li> <a class="sidelink" href="#process">
                <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span> Step Wise Process</a> </li>
            <li> <a class="sidelink" href="#document">
                <span class="icon-s"> <i class="fa fa-file-text" aria-hidden="true"></i> </span> List of Documents</a>
            </li>
            <li> <a class="sidelink" href="#faq">
                <span class="icon-s"> <i class="fa fa-question-circle" aria-hidden="true"></i> </span> FAQ</a> </li>

          </ul>
        </div>

        <div class="content content-3s bg-light">
          <div id="overview">
            <section class="py-4">
              <div class="container">
                <div class="row">

                  <div class="col-md-12 col-12 heading pt-5">
                    <h2 class="fs-2 pt-4">The meaning behind <span class="text-primary">Public Limited Company</span>
                    </h2>
                    <p class="fs-6">An Public Limited Company is established as a corporation, is incorporated and is
                      regulated by the Companies Act, 2013. Its ownership is distributed by its shareholders in the
                      proportion of shares they hold or capital they've invested into the business. Additionally,
                      ownership can be easily transferred through trading shares of the company through public
                      platforms, such as Stock Exchange Markets, to shareholders and the general public at large.
                      Shareholders share in their profits with the business in a set ratio reached by them, and their
                      liabilities are determined by the amount they've committed to the company.</p>
                    <p class="b-style text-style">Create the details of your Public Limited Company with our most
                      affordable and high-quality corporate registration service. Sign up to our all-inclusive package
                      and take advantage of our professional, highly transparent and completely online service.</p>
                    <h2 class="fs-4">Important decisions to make prior to the <span class="text-primary">creation of the
                        company as a Public Limited Company</span> </h2>
                    <div class="about-text-style">
                      <ul>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> What is the business venture?</li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> What is an appropriate name to
                          describe the business?</li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> What is the appropriate amount of
                          capital for the business?</li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> What would the capital share ratio
                          be?</li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Who will be the initial directors for
                          the business?</li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> What is the corporate address?</li>
                      </ul>
                    </div>
                  </div>

                </div>
              </div>
            </section>

            <section class="py-4 text-center s-img s-img1">
              <div class="container py-2">
                <div class="row">
                  <div class="col-md-2 col-12">
                  </div>
                  <div class="col-md-10 col-12">
                    <h2 class="py-4">Checklist for registering an open limited company</h2>
                    <p>To establish an Public Limited Company, you have to meet the requirements according to the
                      Companies Act, 2013. These requirements relate to shareholders' number, the number of directors,
                      names the location, capital and name of the business. An extensive list of the conditions listed
                      is available below for your convenience and complete understanding.</p>
                  </div>
                </div>
              </div>
            </section>

            <section class="py-5 bg-light">
              <div class="container">
                <div class="row">

                  <div class="col-md-12 col-12 heading pt-2">
                    <h2 class="fs-4 pt-4">Checklist for registering an <span class="text-primary">Public Limited
                        Company</span> </h2>

                    <div class="about-text-style">
                      <ul>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Minimum of 7 shareholders</li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> At minimum 3 directors</li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> At at least one resident director
                        </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> A registered office or business
                          address</li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> A valid and unique name for the
                          company</li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> A portion of the paid-up capital</li>
                      </ul>
                    </div>
                    <h2 class="fs-4 pt-4">Are you unsure of how to <span class="text-primary">start an
                        Enterprise.</span> </h2>
                    <p class="b-style text-style">Our startup consultants are available to answer your questions about
                      the required requirements, the Step-by-Step procedure, costs and documents required to register a
                      the company.</p>
                  </div>

                </div>
              </div>
            </section>

          </div>

          <div id="process">

            <section class="btm_grd_banner py-4">
              <div class="container">
                <div class="row text-center">
                  <div class="col-md-12 col-12">
                    <div class="py-2 text-white heading2">
                      <h2 class="py-2">How to start registering an Public Limited Company</h2>
                      <p class="fs-6 pt-2">An Public Limited Company must be mandatory recognized pursuant to the
                        Companies Act, 2013, the procedure has been fully digitalized through the Indian Government. The
                        entire process of incorporating is now completely online, with the submission of an application
                        and documents , to the release of the Certificate of Incorporation by the Registrar of
                        Companies. All you have to do is sign up to our complete package of registration for your
                        company and we'll help in the incorporation process to ensure speed, efficiency and
                        cost-effectiveness for you.</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section class="py-4">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-12">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">Step 1 Documentation</h5>
                        <br>
                        <p class="card-text">To be eligible for incorporation of a Public Limited Company, you have to
                          provide certain documents required by law. A complete list of such documents is provided in
                          the following section. Before you begin the process of registering your company You must make
                          sure that you have copies of all the required documents and if you are missing one of them,
                          you should get it in order as fast as you can.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 col-12 mt-4">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">Step 2 - Choose the Name of the Company</h5>
                        <br>
                        <p class="card-text">The name of the name of a Public Limited Company must be distinctive and a
                          reflection of its name and business activities. Furthermore the Companies Act, the Company
                          (Incorporation) Rules and the Trademark Act, and the Names and Emblems Act, define a set of
                          rules that must be followed to be adhered to when the naming of a business. The name of a
                          business should not be identical or similar to the name of an existing business / LLP or an
                          applied or registered trademark. For a comprehensive overview, please read our article on the
                          guidelines for name approval.</p>
                      </div>
                    </div>
                  </div>

                </div>



                <div class="row pt-4">

                  <div class="col-md-4 col-12">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">Step 3 - Name of the Reserve Company</h5>
                        <br>
                        <p class="card-text">After you've chosen a suitable name for your business then you need to
                          register your name with Registrar of Companies, to stop its use and plagiarism by other
                          businesses. To do the purpose, all you have to do is take advantage of our services of names
                          approval as well as reservation which will not just verify the legitimacy of the names you
                          propose however, we will also request its reservation on"RUN" (Reserve Unique Name) or Part A
                          (Spice+) application.</p>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-4 col-12 mt-4">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">Sstep 4 - Filing SPICe+ application</h5>
                        <br>
                        <p class="card-text">Once you've approved the name of the Public Limited Company, you are able
                          to proceed with the incorporation. In order to apply for incorporation of the company you must
                          complete an application online SPICe+ application, which is available through the official
                          website of the MCA. The application is split into two partsPart A to allow for name
                          reservation, and the PART B section for company incorporation. The application must be
                          completed and signed by any Director of the business and is then sent to the ROC together with
                          the prescribed set of documents that go with it.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 col-12 mt-5">
                    <div class="mt-5"></div>
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">Step 5: Issuance the Certificate of Incorporation and CIN
                        </h5>
                        <br>
                        <p class="card-text">Upon receiving the application to incorporate, the ROC reviews all the
                          information and documents included in the application. Once it is inevitable that ROC is
                          satisfied with the authenticity of the information and documents and documents, he will create
                          a Public Limited Company and issue the Certificate of Incorporation of the business as a final
                          confirmation of Registration. Furthermore, the ROC assigns the Corporate Identification Number
                          to identify the identification of the company. </p>
                      </div>
                    </div>
                  </div>

                </div>


                <div class="row pt-4">
                  <div class="col-md-6 col-12">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">Step 6 - Issue of PAN and TAN </h5>
                        <br>
                        <p class="card-text">After that, the Certificate of Incorporation is given at the firm's request
                          by ROC, and the Ministry of Finance issues the PAN and TAN to the business. While the PAN is a
                          required document to make tax payments and compliance, the TAN is required to enable the
                          company to deduct taxes at the source. </p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 col-12 mt-4">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">Step 7 - Filing form 20 A </h5>
                        <br>
                        <p class="card-text">A Public Limited Company can begin or start business operations before,
                          during, or after incorporation. But, if it hasn't yet begun its business activities even after
                          incorporation and the law allows the company with a most excellent time of 6 months from the
                          date of the issuance of the Certificate of Incorporation, during which the business must begin
                          its business and notify the ROC on the form INC 20A. If the six-month window expires and the
                          company does not begin its business operations is a chance of being struck out of the Register
                          of the ROC. </p>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </section>

          </div>


          <div id="document">
            <section class="py-4 ab-banner text-white">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 col-12 heading">
                    <h2 class="py-4">Documents Required for Public Limited Company Registration </h2>
                    <p>The company's application for Registration must be made with the Registrar of Companies and the
                      required documents per the law. The documents are classified into individual documents signed by
                      the director or promoter, the official documents from those belonging to the Office Premises or
                      the central location of the business, and the corporate papers. Follow the list below to find the
                      entire document list.</p>
                  </div>
                </div>


                <div class="row table-responsive-sm">

                  <div class="col-md-4 col-12 p-2">
                    <table class="table">
                      <tbody>
                        <tr class="table-dark">
                          <td>Promoters Document</td>
                        </tr>
                        <tr class="table-primary">
                          <td>Color Photograph of Passport Size</td>
                        </tr>

                        <tr class="table-info">
                          <td>Self attested Pan Card</td>
                        </tr>

                        <tr class="table-primary">
                          <td>Self attested Aadhar Card</td>
                        </tr>

                        <tr class="table-warning">
                          <td><b>Address Evidence:</b> (any one document)</td>
                        </tr>

                        <tr class="table-info">
                          <td>Telephone Bill, Gas Bill, Electricity Bill,Bank Statement </td>
                        </tr>

                        <tr class="table-dark">
                          <td><b>Identity Documentation:</b> (any one document)</td>
                        </tr>
                        <tr class="table-primary">
                          <td>Passport, Voter ID, Driving License </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>

                  <div class="col-md-3 col-12 p-2">
                    <table class="table">
                      <tbody>
                        <tr class="table-dark">
                          <td>Docs of Registered Office</td>
                        </tr>
                        <tr class="table-primary">
                          <td><b>Evidence of Premises:</b></td>
                        </tr>

                        <tr class="table-info">
                          <td>Telephone, Electricity, Water Bill </td>
                        </tr>
                        <tr class="table-warning">
                          <td><b>There is no objection Certificate (NOC) By the the Owner</b></td>
                        </tr>

                        <tr class="table-light">
                          <td>Download the NOC Format</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="col-md-3 col-12 p-2">
                    <table class="table">
                      <tbody>
                        <tr class="table-dark">
                          <td>Legal Drafts</td>
                        </tr>
                        <tr class="table-primary">
                          <td>Questionnaire For Company Registration</td>
                        </tr>

                        <tr class="table-info">
                          <td>Consent of Directors on Form DIR-2</td>
                        </tr>
                        <tr class="table-warning">
                          <td>The Signature of Directors on Specimen</td>
                        </tr>

                        <tr class="table-light">
                          <td>Signed Subscriber Sheet</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>


                  <p><b>Note: </b>Following the incorporation, the ROC issues an official certificate of incorporation
                    that includes the company's address, identical to the address listed on the certificate submitted
                    for an address registered with the ROC. Check that the address on the NOC is the same as the address
                    on the bill of utilities Bill.</p>

                </div>
              </div>
            </section>
          </div>


          <div id="faq">
            <section class="bg-light py-5">
              <div class="container">
                <div class="row">

                  <div class="col-md-8 col-12 mx-auto heading2">
                    <h2 class="text-center">Frequently Asked <span class="text-primary">Questions</span></h2>
                    <div class="accordion pt-2" id="accordionExample">
                      <div class="accordion-item">
                        <h4 class="accordion-header" id="headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            What companies are the most appropriate for registering as a Public Limited Company?
                          </button>
                        </h4>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            Public limited companies need at least seven shareholders to be registered and established
                            in India. The huge number of shareholders indirectly signifies that the Public Limited
                            Company must raise enormous capital before its beginning and incorporation. Thus, it is to
                            be used by businesses with an extensive scale of operations, a large customer base, and
                            massive potential for growth and expansion within the next few years.
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h4 class="accordion-header" id="headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Who can purchase those shares from a Public Limited Company?
                          </button>
                        </h4>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            Individuals can purchase share shares in the shares of a Public Limited Company,
                            non-individual investors, and members of the public at large. Apart from residents, Indians
                            and investors within a publicly-owned business can also be made by individuals who are
                            non-resident Indians (NRIs), Foreign Institutional Investors (FIIs), people who are of
                            Indian origin (PIOs) as well as Qualified Individual Investors (QFIs).
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h4 class="accordion-header" id="headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            How can I determine the responsibility of the owners of the case of a Public Limited
                            Company?
                          </button>
                        </h4>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            The liability of owners or shareholders of the form of a Public Limited Company is limited
                            to the amount unpaid of their capital subscriptions only.
                          </div>
                        </div>
                      </div>

                      <div class="accordion-item">
                        <h4 class="accordion-header" id="headingFour">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            In addition to incorporation, what are the tax and legal requirements for the Public Limited
                            Company?
                          </button>
                        </h4>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body list-style">
                            <strong>After incorporation, A Public Limited Company has to meet the following tax and
                              legal compliances for each financial year: </strong>
                            <ul>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Annual Returns </li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Annual Financial Statements
                              </li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Board of Director's Report
                              </li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Annual Tax Returns for Income
                              </li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Annual General Meeting for
                                Shareholders</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> SEBI Compliances </li>
                            </ul>
                          </div>
                        </div>
                      </div>


                      <div class="accordion-item">
                        <h4 class="accordion-header" id="headingFive">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Does an NRI or foreign national have a Public Limited Company?
                          </button>
                        </h4>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body list-style">
                            Foreign capital investment in a private limited company is allowed for non-residents of the
                            country. Foreign entities can participate within Public Limited Companies only if they are
                            either Foreign Institutional Investors (FIIs) as well as Qualified Institutional investors
                            (QFIs).
                          </div>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          {% include 'product.html' %}

        </div>
      </div>
      <div class="col-md-3 col-12 pricing">
        <div class="s_fixed bg-light p-2 px-5 pricing-spc">
          <h5>Pricing Summary</h5>
          <div class="table-responsive">
            <table class="table border border-white">
              <tbody>
                <tr>
                  <th>Quantity</th>
                  <td>: 1 Year</td>
                </tr>
                <tr>
                  <th>Market Price</th>
                  <td>: ₹11899</td>
                </tr>
                <tr>
                  <th>DobizIndiaFilings</th>
                  <th class="text-danger">: ₹8389 excl. GST</th>
                </tr>
                <tr>
                  <th></th>
                  <td> &nbsp; ₹9899 incl. GST</td>
                </tr>
                <tr>
                  <th>GST Credit</th>
                  <td>: ₹1510</td>
                </tr>
                <tr>
                  <th>You Save</th>
                  <td>: ₹3510 (29%)</td>
                </tr>
              </tbody>
            </table>
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="button"><a href="{%url 'order'%}"> Order Now </a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}