{% extends 'index.html' %}

{%block title%} EPF Registration {% endblock %}

{%block body %}
     <section class="top-bn2 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <p><b>Provident Fund (PF) Registration</b></p>
            <p><b>Simple Process and Transparent Fee,</b></p>
            <p><b>All India Incorporation Service</b></p>

            <h2><b>EPF <span class="text-white">Registration </span></b></h2>
            <p class="pt-4"> <b>An Establishment registration through the Employers Provident Fund Organization (EPFO) is required if the employee count exceeds 20. EPFO can be requested voluntarily if the employee's total is less than 20. Our experienced team will guide you in registering your business with EPFO.  
            </b></p>
            <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            <li> <a class="sidelink" href="#document">
            <span class="icon-s"> <i class="fa fa-file-text" aria-hidden="true"></i> </span>  List of Documents</a> </li>
            
            </ul>
          </div>

          <div class="content content-3s bg-light">
            <div id="overview">
              <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-12 heading pt-2">
                      <h2 class="fs-2">Provident Fund (PF) In India,  <span class="text-primary">registration is required</span></h2>
                      <p class="fs-6">The registration of an establishment within the Provident Fund Organization is mandatory when the there are employees within the company exceeds 20 in total. To determine the legal limit of two even contracts, employees count separately from those employed through an affiliate company. Be extremely cautious when determining the eligibility of your company to be eligible for PF enrollment. The application for EPFO coverage must be submitted by the 30th day of achieving the threshold of twenty.</p>
                      <p class="b-style text-style">The application to register for PF is completed online and requires the digital signature of one director or the authorized signatory of the business. We help you determine the scope and validity of the PF and then submit your applications for registration on your behalf to the PF Office, draft all documents and follow up with the department to issue the number of registration for the company. </p>
                      
                    </div>

                  </div>
                </div>
              </section>

            </div>

             <div id="process">

              <section class="btm_grd_banner py-4">
                  <div class="container">
                    <div class="row text-center">
                      <div class="col-md-12 col-12">
                        <div class="py-2 text-white heading2">
                        <h2 class="py-2">Very Important Point of Provident Fund (PF) Registration</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

              <section class="py-4">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-3 col-12">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">Step 1. Mandatory Registration </h5>
                              <br>
                              <p class="card-text">An establishment with at least 20 employees has to register at the PF department within 30 days of attaining the number. This number is independent of the salary of employees. </p>
                            </div>
                          </div>
                      </div>

                      <div class="col-md-3 col-12 mt-2">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">Step 2. Voluntary Registration</h5>
                              <br>
                              <p class="card-text">With the employee's consent, employers may also request optional insurance coverage for their establishment to ensure that its employees can enjoy the fund for provident benefits.</p>
                            </div>
                          </div>
                      </div>

                      <div class="col-md-3 col-12 mt-4">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">Step 3. Meaning of Employees for PF </h5>
                              <br>
                              <p class="card-text">Full-time employees Part-Time Employees Employers Working from home Contract Employees/ Full-time Consultants. </p>
                            </div>
                          </div>
                      </div>

                      <div class="col-md-3 col-12 mt-5">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">Step 4.ESIC and PF Registration </h5>
                              <br>
                              <p class="card-text">The PF registration is only required when the employee count is 20 or more, so ESIC Registration is mandatory to be completed when the employee's total is reached 10. </p>
                            </div>
                          </div>
                      </div>

                    </div>

                  </div>
                </section>

            </div>


            <div id="document">
              <section class="py-4 ab-banner text-white">
                  <div class="container">
                    <div class="row">
                    <div class="col-md-12 col-12 heading">
                      <h2 class="py-4">Documents Required for PF Registration</h2>
                    </div>
                    </div>


                    <div class="row table-responsive-sm">

                        <div class="col-md-12 col-12 p-2">
                        <table class="table">
                          <tbody>
                            <tr class="table-dark">
                              <td><b>S.No </b>  List Of Documents</td>
                            </tr>     
                            <tr class="table-primary">
                              <td>Certificate of Incorporation</td>
                            </tr>

                            <tr class="table-info">
                              <td>PAN Card</td>
                            </tr>
                            <tr class="table-warning">
                              <td>Cancelled Cheque</td>
                            </tr>
                            
                            <tr class="table-light">
                              <td>Provide proof of establishment</td>
                            </tr>

                            <tr class="table-warning">
                              <td>Specimen Signature</td>
                            </tr>
                            
                            <tr class="table-light">
                              <td>Digital Signature</td>
                            </tr>

                             <tr class="table-warning">
                              <td>PAN ID, Address Proof, and PAN</td>
                            </tr>
                            
                            <tr class="table-light">
                              <td>Employee declaration</td>
                            </tr>

                          </tbody>
                        </table>
                      </div>

                    </div>
                  </div>
                </section>
            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizIndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}