{% extends 'index.html' %}

{%block title%} EPF Registration {% endblock %}

{%block body %}
{% include 'common_pages/banner.html'%}

<section class="py-5 bg-light1">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-9 col-12affix-top bg-light" data-spy="affix" data-offset-top="597">
      <!-- Nav pills -->
      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="pill" href="#meaning">Meaning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#requirement">Minimum requirement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#benefit">Benefit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#required">Document required</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#process">Incorporation Process</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#compliance">Compliance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#closure">Closure </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#faq">FAQ</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <div id="meaning" class="container tab-pane content active"><br>
        <p><b>Provident Fund (PF) Registration</b></p>
        <p><b>Simple Process and Transparent Fee,</b></p>
        <p><b>All India Incorporation Service</b></p>
        <h2>EPF Registration</h2>
        <p> <b>An Establishment registration through the Employers Provident Fund Organization (EPFO) is required if the employee count exceeds 20. EPFO can be requested voluntarily if the employee's total is less than 20. Our experienced team will guide you in registering your business with EPFO.  
        </b></p>
        <h2>Provident Fund (PF) In India, registration is required</h2>
        <p>The registration of an establishment within the Provident Fund Organization is mandatory when the there are employees within the company exceeds 20 in total. To determine the legal limit of two even contracts, employees count separately from those employed through an affiliate company. Be extremely cautious when determining the eligibility of your company to be eligible for PF enrollment. The application for EPFO coverage must be submitted by the 30th day of achieving the threshold of twenty.</p>
         <p class="b-style text-style">The application to register for PF is completed online and requires the digital signature of one director or the authorized signatory of the business. We help you determine the scope and validity of the PF and then submit your applications for registration on your behalf to the PF Office, draft all documents and follow up with the department to issue the number of registration for the company. </p>
        </div>

        <div id="requirement" class="container tab-pane fade"><br>
          <div class="row">
            <div class="col-md-12 col-12">
             <h2>Requirement</h2>
              
            </div>

            </div>

            

        </div>

        <div id="benefit" class="container tab-pane fade"><br>
          <h2>Benefits</h2>

        </div>

        <div id="required" class="container tab-pane fade"><br>
          <div class="row">

              <div class="col-md-12 col-12 heading">
                <h2>Documents Required for PF Registration</h2>
              </div>

            </div>

              <div class="row table-responsive-sm">

                    <div class="col-md-12 col-12 p-2">
                    <table class="table">
                      <tbody>
                        <tr class="table-dark">
                          <td><b>S.No </b>  List Of Documents</td>
                        </tr>     
                        <tr class="table-primary">
                          <td>Certificate of Incorporation</td>
                        </tr>

                        <tr class="table-info">
                          <td>PAN Card</td>
                        </tr>
                        <tr class="table-warning">
                          <td>Cancelled Cheque</td>
                        </tr>
                        
                        <tr class="table-light">
                          <td>Provide proof of establishment</td>
                        </tr>

                        <tr class="table-warning">
                          <td>Specimen Signature</td>
                        </tr>
                        
                        <tr class="table-light">
                          <td>Digital Signature</td>
                        </tr>

                         <tr class="table-warning">
                          <td>PAN ID, Address Proof, and PAN</td>
                        </tr>
                        
                        <tr class="table-light">
                          <td>Employee declaration</td>
                        </tr>

                      </tbody>
                    </table>
                  </div>

                </div>

        </div>

        <div id="process" class="container tab-pane fade"><br>
          
            <h2>Proccess</h2>
        </div>

        <div id="compliance" class="container tab-pane fade"><br>
          <h2>Compliance</h2>
        </div>

        <div id="closure" class="container tab-pane fade"><br>
          <h2> closure </h2>
        </div>

        <div id="faq" class="container tab-pane fade"><br>
          <h2 class="fs-4">FAQ</h2>
          
        </div>

      </div>
    </div>

    {% include 'common_pages/pricing_sum_below.html' %}

  </div>
</div>
</section>


{% include 'common_pages/fssai.html'%}

<section class="checklist py-5">
<div class="container">
<div class="row py-4">
  <h2>Very Important Point of Provident Fund (PF) Registration</h2>

                <div class="col-md-12 col-12">
                  <div class="shadow p-4">
                    <h5 class="text-primary"> STEP 1- Mandatory Registration </h5>
                    <p>An establishment with at least 20 employees has to register at the PF department within 30 days of attaining the number. This number is independent of the salary of employees.</p>
                  </div>
                </div>

                <div class="col-md-12 col-12">
                  <div class="shadow p-4">
                    <h5 class="text-primary"> STEP 2 - Voluntary Registration</h5>
                    <p> With the employee's consent, employers may also request optional insurance coverage for their establishment to ensure that its employees can enjoy the fund for provident benefits. </p>
                  </div>
                </div>

                <div class="col-md-12 col-12">
                  <div class="shadow p-4">
                    <h5 class="text-primary"> STEP 3 - Meaning of Employees for PF</h5>
                    <p>Full-time employees Part-Time Employees Employers Working from home Contract Employees/ Full-time Consultants. </p>
                  </div>
                </div>

                <div class="col-md-12 col-12">
                  <div class="shadow p-4">
                    <h5 class="text-primary"> STEP 4 – ESIC and PF Registration</h5>
                    <p> The PF registration is only required when the employee count is 20 or more, so ESIC Registration is mandatory to be completed when the employee's total is reached 10.</p>
                  </div>
                </div>

              </div>

            </div>
          </section>
{% endblock %}