{% extends 'index.html' %}

{%block title%} Esic-registration {% endblock %}

{%block body %}
     <section class="top-bn3 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <p>ESIC registration online in India</p>
            <p>Simple Process and Transparent Fee, All India Incorporation Service</p>

            <h2><b>ESIC registration   <span class="text-white">online in India </span></b></h2>
            <p class="pt-4"> <b>Your business to the Employee State Insurance Corporation (ESIC) is required for all employers whose amount of staff is higher than 10 employees. The application must be transferred in a period of 30 days. Our experienced team will assist you register your business with ESIC. 
            </b></p>
            <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            
            </ul>
          </div>

          <div class="content content-2s bg-light">
            <div id="overview">
              <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-12 heading">
                      <h2 class="fs-1">ESIC <span class="text-primary">Register</span></h2>
                      <p class="fs-6">The Employees' State Insurance Corporation, an insurance based on need scheme that was incorporated into the Employees" State Insurance Act to provide better medical care for employees, workers as well as their immediate family members.</p>
                      <p class="b-style text-style">The scheme safeguards the interests of employees in the event of emergencies, including the occurrence of sickness, maternity, death from injury or injury permanent or temporary physical disability and anything that impacts the capacity to earn.</p>
                      <p class="fs-6 fst-italic">The act also provides a broader scope of employers an exemption from their obligations or responsibilities as a result of the Workmen Compensation Act 1923 and Maternity Benefit Act, 1961.</p>
                      <p class="b-style text-style">Since ESIC registration is required to avail the amazing benefits an employee can enjoy under the ESI Act and it is to be ensured to rely on experts to help you with this. Our expert experts will manage each step of registration for ESIC Registration and provide you instructions step-by-step.</p>
                      <h2 class="fs-4">Social Security Benefits of ESIC Registration</h2>
                      <ol>
                        <li>Private sector: Central Govt. provides the employer contribution for three years</li>
                        <li>A person or their dependents that have performed last rites gets an amount of Rs . 10000or more</li>
                        <li>Physical rehabilitation is offered to employees injured or physical impairment</li>
                        <li>People who are permanently disabled or retired and their spouses may be eligible for a medical car that is of high quality.</li>
                        <li>Employees who are insured and their family members receive excellent medical care , but they do not have to spend much for the treatment.</li>
                        <li>In the Rajiv Gandhi Shramik Yojna vocational training is offered to employees who were unemployed because of the closing of a factory.</li>
                      </ol>
                    </div>

                  </div>
                </div>
              </section>

            </div>

             <div id="process">

              <section class="btm_grd_banner py-4">
                <div class="container">
                  <div class="row text-center">
                    <div class="col-md-12 col-12">
                      <div class="py-2 text-white heading2">
                        <p><b>Notice: </b> After the incorporation, the ROC issues the Certificate of Incorporation that includes the address of the business like that found on the document of registration of the address. Make sure that the address on the NOC is the same as the address on the utilities Bill.</p>
                      <h2 class="py-2">Checklist to LLP Registration</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Step 1. ESIC COVERAGE</h5>
                            <br>
                            <p class="card-text">Any establishment that employs more than 10 employees or in the previous years hired more than 10 people; then the establishment is legally required to register and offer the benefits of ESIC for its employees.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-12 mt-5">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Step 2. WAGE LIMIT </h5>
                            <br>
                            <p class="card-text">Employees who earn a salary of more than Rs. 21,000/- are qualified for ESIC coverage. But, to determine the employees employed by the establishment, the entire workforce is covered.</p>
                          </div>
                        </div>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Step 3. CONTRIBUTION RATE </h5>
                            <br>
                            <p class="card-text">Employers are required to contribute 3.25 percent of the total wages paid to employees, while the contribution of employees is 0.75 percent of their total wage. The obligation to deduct the contribution of the employee lies with the employer.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-12 mt-5">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Step 4. ESIC PAYMENT AND RETURN</h5>
                            <br>
                            <p class="card-text">The company covered under ESIC must file a monthly ESIC Return by the 21st of the following month. The reporting period is six months, from April to September of the financial year.</p>
                          </div>
                        </div>
                    </div>

                  </div>

                </div>
              </section>

            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizIndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

   {% endblock %}