{% extends 'index.html' %}

{%block title%} Esic-registration {% endblock %}

{%block body %}
{% include 'common_pages/banner.html'%}

<section class="py-5 bg-light1">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-9 col-12affix-top bg-light" data-spy="affix" data-offset-top="597">
      <!-- Nav pills -->
      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="pill" href="#meaning">Meaning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#requirement">Minimum requirement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#benefit">Benefit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#required">Document required</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#process">Incorporation Process</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#compliance">Compliance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#closure">Closure </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#faq">FAQ</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <div id="meaning" class="container tab-pane content active"><br>
          <p>ESIC registration online in India</p>
          <p>Simple Process and Transparent Fee, All India Incorporation Service</p>
          <h2>ESIC registration online in India</h2>
        <p><b>Your business to the Employee State Insurance Corporation (ESIC) is required for all employers whose amount of staff is higher than 10 employees. The application must be transferred in a period of 30 days. Our experienced team will assist you register your business with ESIC. 
        </b></p>

        <h2>ESIC Register</h2>
        <p>The Employees' State Insurance Corporation, an insurance based on need scheme that was incorporated into the Employees" State Insurance Act to provide better medical care for employees, workers as well as their immediate family members.</p>
         <p class="b-style text-style">The scheme safeguards the interests of employees in the event of emergencies, including the occurrence of sickness, maternity, death from injury or injury permanent or temporary physical disability and anything that impacts the capacity to earn.</p>
         <p class="fs-6 fst-italic">The act also provides a broader scope of employers an exemption from their obligations or responsibilities as a result of the Workmen Compensation Act 1923 and Maternity Benefit Act, 1961.</p>
         <p class="b-style text-style">Since ESIC registration is required to avail the amazing benefits an employee can enjoy under the ESI Act and it is to be ensured to rely on experts to help you with this. Our expert experts will manage each step of registration for ESIC Registration and provide you instructions step-by-step.</p>
        <h2>Social Security Benefits of ESIC Registration</h2>
        <ol>
                    <li>Private sector: Central Govt. provides the employer contribution for three years</li>
                    <li>A person or their dependents that have performed last rites gets an amount of Rs . 10000or more</li>
                    <li>Physical rehabilitation is offered to employees injured or physical impairment</li>
                    <li>People who are permanently disabled or retired and their spouses may be eligible for a medical car that is of high quality.</li>
                    <li>Employees who are insured and their family members receive excellent medical care , but they do not have to spend much for the treatment.</li>
                    <li>In the Rajiv Gandhi Shramik Yojna vocational training is offered to employees who were unemployed because of the closing of a factory.</li>
                  </ol>
        </div>

        <div id="requirement" class="container tab-pane fade"><br>
          <div class="row">
            <div class="col-md-12 col-12">
             <h2>Requirement</h2>
              
            </div>

            </div>

            

        </div>

        <div id="benefit" class="container tab-pane fade"><br>
          <h2>Benefits</h2>

        </div>

        <div id="required" class="container tab-pane fade"><br>
          <div class="row">

              <div class="col-md-12 col-12 heading">
                <h2>Documents.</h2>
              </div>

            </div>
        </div>

        <div id="process" class="container tab-pane fade"><br>
          
            <h2>Proccess</h2>
        </div>

        <div id="compliance" class="container tab-pane fade"><br>
          <h2>Compliance</h2>
        </div>

        <div id="closure" class="container tab-pane fade"><br>
          <h2> closure </h2>
        </div>

        <div id="faq" class="container tab-pane fade"><br>
          <h2 class="fs-4">FAQ</h2>
          
        </div>

      </div>
    </div>
    {% include 'common_pages/pricing_sum_below.html' %}

  </div>
</div>
</section>

{% include 'common_pages/fssai.html'%}

<section class="checklist py-5">
<div class="container">
<div class="row py-4">
  <p><b>Notice: </b> After the incorporation, the ROC issues the Certificate of Incorporation that includes the address of the business like that found on the document of registration of the address. Make sure that the address on the NOC is the same as the address on the utilities Bill.</p>
  <h2>Checklist to LLP Registration</h2>

                <div class="col-md-12 col-12">
                  <div class="shadow p-4">
                    <h5 class="text-primary"> STEP 1- ESIC COVERAGE </h5>
                    <p>Any establishment that employs more than 10 employees or in the previous years hired more than 10 people; then the establishment is legally required to register and offer the benefits of ESIC for its employees.</p>
                  </div>
                </div>

                <div class="col-md-12 col-12">
                  <div class="shadow p-4">
                    <h5 class="text-primary"> STEP 2 - WAGE LIMIT</h5>
                    <p>Employees who earn a salary of more than Rs. 21,000/- are qualified for ESIC coverage. But, to determine the employees employed by the establishment, the entire workforce is covered.</p>
                  </div>
                </div>

                <div class="col-md-12 col-12">
                  <div class="shadow p-4">
                    <h5 class="text-primary"> STEP 3 - CONTRIBUTION RATE</h5>
                    <p> Employers are required to contribute 3.25 percent of the total wages paid to employees, while the contribution of employees is 0.75 percent of their total wage. The obligation to deduct the contribution of the employee lies with the employer. </p>
                  </div>
                </div>

                <div class="col-md-12 col-12">
                  <div class="shadow p-4">
                    <h5 class="text-primary"> STEP 4 – ESIC PAYMENT AND RETURN</h5>
                    <p>The company covered under ESIC must file a monthly ESIC Return by the 21st of the following month. The reporting period is six months, from April to September of the financial year.</p>
                  </div>
                </div>

              </div>
            </div>
          </section>
   {% endblock %}