{% extends 'index.html' %}

{%block title%} Tax and Payroll {% endblock %}

{%block body %}
{% include 'common_pages/banner.html'%}

<section class="py-5 bg-light1">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-9 col-12affix-top bg-light" data-spy="affix" data-offset-top="597">
      <!-- Nav pills -->
      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="pill" href="#meaning">Meaning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#requirement">Minimum requirement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#benefit">Benefit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#required">Document required</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#process">Incorporation Process</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#compliance">Compliance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#closure">Closure </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#faq">FAQ</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <div id="meaning" class="container tab-pane content active"><br>
          <h2>GST and Income Tax</h2>
        <p><b>Financial transactions are regular in any business. Recording them in chronological sequence (as it occurs) is called accounting. With a solid and thoughtful accounting system, compliance with tax regulations is always a simple procedure. Every business is required under law to collect tax from the final consumer of the products or services offered. GST is a tax that must be collected. Tax is required to be imposed at the appropriate rate. The GST must be paid before the due date with the government, and its periodic return must be submitted. Similar obligations exist in the income tax. Tax for the business. You must experience hands to handle tax obligations; otherwise, you could be required to pay penalties and interest for the time the tax obligation has expired. Our CAs, who are certified, are always available to assist you.GST &amp; TAX   
        </b></p>

        <h2>Income Tax Return Filing</h2>
        <p>According to Income Tax law, TDS must be taken out at the appropriate rate when making a payment to a third party. Not deducting TDS causes the disqualification of expenses, thereby increasing the ultimate income tax liability of the company. We manage everything related to TDS.</p>
        <h2>GST Registration</h2>
         <p class="b-style text-style">Any person who offers products or services is required to be registered under GST. Non-registered taxpayers will not be able to take GST payments or claim tax credits for input (ITC) for purchases made in the country of origin. GST Council has set a limit of 20 Lakhs of turnover as the threshold to be registered under GST.</p>
        <h2>GST Return and Compliance</h2>
        <p class="fst-italic">The new indirect tax system was designed on the principle of a seamless flow of GST Credit throughout the supply chain. Taxpayers must complete a monthly calculation of GST and return. But, for smaller taxpayer’s tax payers, the GST return must be filed quarterly. </p>
        </div>

        <div id="requirement" class="container tab-pane fade"><br>
          <div class="row">
            <div class="col-md-12 col-12">
             <h2>ITR Forming</h2>
              <p class="b-style text-style">The filing of the Income Tax Return is an annual process with a specific deadline for each taxpayer. The ITR must be filed by the due date, or there could be severe consequences that could result in massive interest and penalties. We take your ITR with utmost care and will assist you in filing it on the deadline.</p>
              
                 <h2>Tax Audit</h2>
                 <p>Based on a minimum turnover threshold, the tax code requires books to be reviewed by a practicing chartered accountant full-time. Tax audits are conducted in Income Tax and GST. The filing deadline for tax audits in income tax is 30th September. For GST, the deadline is 31st December. </p>
                 <h2>Accounting Service</h2>
                 <p>Accurate and precise accounting is the foundation of the success of your business because it not only helps you reach your financial goals, control, prudence and credit sprucing. But it can also help in many ways to comply with tax regulations. Our skilled accountants are certified to provide flawless financial statement that is tax efficient.</p>
            </div>

            </div>

            

        </div>

        <div id="benefit" class="container tab-pane fade"><br>
          <h2>Benefits</h2>

        </div>

        <div id="required" class="container tab-pane fade"><br>
          <div class="row">

              <div class="col-md-12 col-12 heading">
                <h2>Documents.</h2>
              </div>

            </div>

        </div>

        <div id="process" class="container tab-pane fade"><br>
          
            <h2>Proccess</h2>
        </div>

        <div id="compliance" class="container tab-pane fade"><br>
          <h2>Compliance</h2>
        </div>

        <div id="closure" class="container tab-pane fade"><br>
          <h2> closure </h2>
        </div>

        <div id="faq" class="container tab-pane fade"><br>
          <h2 class="fs-4">FAQ</h2>
          
        </div>

      </div>
    </div>

    {% include 'common_pages/pricing_sum_below.html' %}

  </div>
</div>
</section>

{% include 'common_pages/fssai.html'%}
{% endblock %}