{% extends 'index.html' %}

{%block title%}FSSAI State License {% endblock %}

{%block body %}
{% include 'common_pages/banner.html'%}

<section class="py-4 bg-light1">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-9 col-12 affix-top bg-light" data-spy="affix" data-offset-top="597">
        <!-- Nav pills -->
        <ul class="nav nav-pills" role="tablist">
          {% if meaning %}
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="pill" href="#meaning">Meaning</a>
          </li>
          {% endif %}
          {% if minimum %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#requirement">Minimum requirement</a>
          </li>
          {% endif %}
          {% if benefit %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#benefit">Benefit</a>
          </li>
          {% endif %}
          {% if document %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#required">Document required</a>
          </li>
          {% endif %}
          {% if incorporation %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#process">Incorporation Process</a>
          </li>
          {% endif %}
          {% if compliance %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#compliance">Compliance</a>
          </li>
          {% endif %}
          {% if closure %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#closure">Closure </a>
          </li>
          {% endif %}
          {% if faq %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#faq">FAQ</a>
          </li>
          {% endif %}
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div id="meaning" class="container tab-pane content active"><br>
            <h2>{{meaning.heading_text}}</h2>
            <p><b>{{meaning.heading_text2}}</b></p>
            <p>{{meaning.heading_text3}}</p>

            <h2>{{meaning.heading_text4}}</h2>
            <p>{{meaning.text}}</p>
            <h2>{{meaning.heading_text5}}</h2>
            <p class="b-style text-style">{{meaning.text2}}</p>
            <h2>{{meaning.heading_text6}}</h2>
            <p>{{meaning.text3}}</p>
            <div class="about-text-style">
              <ul>
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{meaning.list1}}</li>
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{meaning.list2}}</li>
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{meaning.list3}}</li>
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i>{{meaning.list4}}</li>
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{meaning.list5}}</li>{{meaning.list6}}<br>
                • {{meaning.list7}}<br>
                • {{meaning.list8}}<br>
                • {{meaning.list9}}
              </ul>
            </div>
          </div>

          <div id="requirement" class="container tab-pane fade"><br>
            <div class="row">
              <div class="col-md-12 col-12">
                <h2>{{minimum.heading_text}}</h2>
                <p class="b-style text-style"><b>{{minimum.heading_text2}} </b> {{minimum.text}}</p>
                <p><b>{{minimum.heading_text3}} </b>{{minimum.text2}}</p>
                <div class="about-text-style">
                  <ul>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{minimum.text3}}</li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{minimum.text4}}</li>
                  </ul>
                </div>
              </div>

            </div>



          </div>

          <div id="benefit" class="container tab-pane fade"><br>
            <h2>Benefits</h2>

          </div>

          <div id="required" class="container tab-pane fade"><br>
            <div class="row">

              <div class="col-md-12 col-12 heading">
                <h2>{{compliance.heading_text}}</h2>
                <p>{{compliance.text}}</p>
                <h2>{{compliance.heading_text2}}</h2>
                <p>{{compliance.heading_text3}}</p>
                <div class="about-text-style">
                  <ul>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list1}}</li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list2}}</li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list3}}</li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list4}}</li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list5}}</li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list6}}</li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list7}}</li>
                  </ul>

                  <ul>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list8}}</li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list9}}</li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list10}}</li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list11}} </li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list12}}</li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list13}}</li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{compliance.list14}}</li>
                  </ul>
                </div>
                <p><b>{{compliance.text2}} </b> {{compliance.text3}}</p>
              </div>

            </div>
          </div>

          <div id="process" class="container tab-pane fade"><br>

            <h2>Proccess</h2>
          </div>

          <div id="compliance" class="container tab-pane fade"><br>
            <h2>Compliance</h2>
          </div>

          <div id="closure" class="container tab-pane fade"><br>
            <h2> closure </h2>
          </div>

          <div id="faq" class="container tab-pane fade"><br>
            <h2 class="fs-4">FAQ</h2>

          </div>

        </div>
      </div>

      {% include 'common_pages/pricing_sum_below.html'%}

    </div>
  </div>
</section>

{% include 'common_pages/product.html'%}

<section class="checklist py-5">
  <div class="container">
    <div class="row py-4">
      <h2>{{document.heading_text}}</h2>
      <div class="about-text-style">
        <ul>
          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list1}}</li>
          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list2}}</li>
          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list3}}</li>
          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list4}}</li>
          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list5}} {{document.list6}}</li>
          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list7}}</li>

        </ul>
      </div>
      <h2><b>{{document.heading_text2}}</b></h2>
      <p>{{document.heading_text3}} </p>
      <p>{{document.text}}</p>
      <h6>{{document.heading_text4}}</h6>
      <div class="about-text-style">
        <ul>
          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list8}}</li>
          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list7}}</li>
        </ul>
      </div>
      <h3>{{document.list9}}</h3>
      <div class="about-text-style">
        <ul>
          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list10}}</li>
          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list11}}</li>
          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list12}}</li>
        </ul>
      </div>
      <p>{{document.text2}}</p>
      <h2>{{document.list13}}</h2>
      <div class="about-text-style">
        <ul>
          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list14}}</li>
          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list15}}</li>
          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list16}}</li>
          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list17}}</li>
          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list18}}</li>
          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list19}}</li>
        </ul>
      </div>
      <p>{{document.list20}}</p>
      <p>{{document.list21}}</p>
      <h5>{{document.list22}}</h5>
      <p>{{document.text3}}</p>
      <h2 class="py-4">{{step.heading_text}}</h2>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary">{{step.step1}}</h5>
          <p>{{step.answer1}}</p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary">{{step.step2}}</h5>
          <p>{{step.answer2}}</p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary">{{step.step3}}</h5>
          <p>{{step.answer3}}</p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary">{{step.step4}}</h5>
          <p>{{step.answer4}}</p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary">{{step.step5}}</h5>
          <p>{{step.answer5}}</p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary">{{step.step6}}</h5>
          <p>{{step.answer6}}</p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary">{{step.step7}}</h5>
          <p>{{step.answer7}}</p>
        </div>
      </div>
      <h2 class="py-4">{{document.list23}}</h2>
      <p>{{document.text4}}</p>
      <p>{{document.text5}}</p>
      <p>{{document.text6}}</p>
      <h3>{{step.list1}}</h3>
      <p>{{step.text}}</p>
      <p>{{step.list2}}</p>
      <p>{{step.text2}}</p>
      <p><b>{{step.list3}}</b></p>
      <div class="row table-responsive-sm">
        <p><b>{{step.list3}}</b></p>

        <div class="col-md-4 col-12 p-2">
          <table class="table">
            <tbody>
              <tr class="table-dark">
                <td>{{step.list4}}</td>
              </tr>
              <tr class="table-primary">
                <td>{{step.list5}}</td>
              </tr>

              <tr class="table-info">
                <td>{{step.list6}} </td>
              </tr>
              <tr class="table-warning">
                <td>{{step.list7}}.</td>
              </tr>

              <tr class="table-light">
                <td>{{step.list8}} </td>
              </tr>

              <tr class="table-warning">
                <td>{{step.list9}} </td>
              </tr>

              <tr class="table-light">
                <td>{{step.list10}}</td>
              </tr>

            </tbody>
          </table>
        </div>

        <div class="col-md-4 col-12 p-2">
          <table class="table">
            <tbody>
              <tr class="table-dark">
                <td>{{step.list11}}</td>
              </tr>
              <tr class="table-primary">
                <td>{{step.list12}}.</td>
              </tr>

              <tr class="table-info">
                <td>-</td>
              </tr>
              <tr class="table-warning">
                <td>{{step.list13}}</td>
              </tr>

              <tr class="table-light">
                <td>{{step.list14}}</td>
              </tr>

              <tr class="table-warning">
                <td>{{step.list15}} <br><br></td>
              </tr>

            </tbody>
          </table>
        </div>

        <div class="col-md-4 col-12 p-2">
          <table class="table">
            <tbody>
              <tr class="table-dark">
                <td>{{step.list11}}</td>
              </tr>
              <tr class="table-primary">
                <td>{{step.list16}}</td>
              </tr>

              <tr class="table-info">
                <td>- </td>
              </tr>
              <tr class="table-warning">
                <td>{{step.list17}}</td>
              </tr>

              <tr class="table-light">
                <td>{{step.list18}}</td>
              </tr>

              <tr class="table-warning">
                <td>{{step.list19}}</td>
              </tr>

              <tr class="table-light">
                <td>{{step.list20}}</td>
              </tr>

            </tbody>
          </table>
        </div>

        <p>{{step.list21}} {{step.list22}} {{step.list23}}</p>

      </div>

    </div>

    <div class="row">

      <div class="col-md-12 col-12">

        <div class="accordion pt-2" id="accordionExample">
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                {{step.step8}}
              </button>
            </h4>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body list-style">
                {{step.answer8}}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                {{step.step9}}
              </button>
            </h4>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {{step.answer9}}

              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                {{step.list24}}
              </button>
            </h4>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {{step.list25}} {{step.heading_text2}}

              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h4 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                {{step.step10}}
              </button>
            </h4>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
              data-bs-parent="#accordionExample">
              <div class="accordion-body list-style">
                {{step.answer10}}
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-md-12 col-12">
        <h2>{{faq.heading_text}}</h2>
        <div class="accordion pt-2" id="accordionExample">
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                {{faq.question1}}
              </button>
            </h4>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body list-style">
                {{faq.answer1}}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                {{faq.question2}}
              </button>
            </h4>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {{faq.answer2}}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                {{faq.question3}}
              </button>
            </h4>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {{faq.answer3}}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>
{% include 'common_pages/reviews.html' %}
    {% endblock %}