{% extends 'index.html' %}

{%block title%}FSSAI Central License {% endblock %}

{%block body %}
{% if non_packed_products %}
{% include 'common_pages/product_upper.html' %}
{% else %}
{% include 'common_pages/banner.html' %}
{% endif %}
<section class="py-4 bg-light1">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-9 col-12 affix-top bg-light" data-spy="affix" data-offset-top="597">
        <!-- Nav pills -->
        <ul class="nav nav-pills" role="tablist">
          {% if meaning %}
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="pill" href="#meaning">Overview</a>
          </li>
          {% endif %}
          {% if benefit %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#benefit">Timeline</a>
          </li>
          {% endif %}
          {% if document %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#required">Documents</a>
          </li>
          {% endif %}
          {% if step %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#step">Process</a>
          </li>
          {% endif %}
          {% if closure %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#closure">Validity </a>
          </li>
          {% endif %}
          {% if compliance %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#compliance">Renewal</a>
          </li>
          {% endif %}
          {% if minimum %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#requirement">Minimum requirement</a>
          </li>
          {% endif %}
          {% if faq %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#faq">Cost</a>
          </li>
          {% endif %}
          {% if incorporation %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#process"> Penalty</a>
          </li>
          {% endif %}
         
          
          
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">

          <div id="meaning" class="container tab-pane content active"><br>
            <h2>{{meaning.heading_text}}</h2>
            <p>{{meaning.text}}</p>
            <p>{{meaning.text2}}</p>
            <h3>{{meaning.heading_text2}}</h3>
            <p>{{meaning.text3}}</p>
            <h3>{{meaning.heading_text3}}</h3>
            <p>{{meaning.text4}}</p>
            <p><b>{{meaning.heading_text4}}</b>   {{meaning.text5}}</p>
            <p><strong>{{meaning.heading_text5}}</strong>   {{meaning.text6}}</p>
            <p><strong>{{meaning.heading_text6}}</strong>   {{meaning.text7}}</p>
           
            <h2>{{meaning.heading_text7}}</h2>
            <p>{{meaning.list1}}</p> <br>
            <p>{{meaning.list2}}</p> <br>
            <p>{{meaning.list3}}</p> <br>
            <p>{{meaning.text8}}</p> <br>
            <p>{{meaning.list4}}</p> <br>
            <p>{{meaning.list5}}</p> <br>
            <p>{{meaning.list6}}</p> <br>
            <p>{{meaning.list7}}</p> <br>

          </div>

          <div id="benefit" class="container tab-pane content fade"><br>
            <h2>{{benefit.heading_text}}</h2>
            <p> {{benefit.text}} </p>
            <p><b> {{benefit.heading_text2}} </b> {{benefit.text2}}</p>
            <p> {{benefit.text3}} </p>
            <p> {{benefit.text4}} </p>
            <p> <b> {{benefit.text5}}</b> </p>
          </div>

          <div id="required" class="container tab-pane content fade"><br>
            <div class="row">

              <div class="col-md-12 col-12 heading">
                <h2> {{document.heading_text}} </h2>
                <h3> {{document.heading_text2}} </h3>
                <p> {{document.text}} </p>
              </div>
              <div class="col-md-12 col-12">
                <h3> {{document.list1}} </h3>
                <h4> {{document.list2}} </h4>
                <div class="row table-responsive-sm">
                  <div class="col-md-4 col-12 p-2">
                    <table class="table">
                      <tbody>
                        <tr class="table-dark">
                          <td>{{document.list3}}</td>
                        </tr>
                        <tr class="table-primary">
                          <td>{{document.list4}}</td>
                        </tr>
    
                        <tr class="table-info">
                          <td> {{document.list5}}</td>
                        </tr>
                        <tr class="table-warning">
                          <td> {{document.list6}} </td>
                        </tr>
    
                        <tr class="table-light">
                          <td>{{document.list7}}</td>
                        </tr>
                        <tr class="table-primary">
                          <td>{{document.list8}}</td>
                        </tr>
    
                        <tr class="table-info">
                          <td> {{document.list9}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
    
                  <div class="col-md-4 col-12 p-2">
                    <table class="table">
                      <tbody>
                        <tr class="table-dark">
                          <td><b>{{document.list10}}</b></td>
                        </tr>
                        <tr class="table-primary">
                          <td>{{document.list11}}</td>
                        </tr>
    
                        <tr class="table-info">
                          <td>{{document.list12}}</td>
                        </tr>
                        <tr class="table-warning">
                          <td> {{document.list13}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-4 col-12 p-2">
                    <table class="table">
                      <tbody>
                        <tr class="table-dark text-center">
                          <td><b>{{document.list14}}</b></td>
                        </tr>
                        <tr class="table-primary">
                          <td>{{document.list15}}</td>
                        </tr>
    
                        <tr class="table-info">
                          <td>{{document.list16}}</td>
                        </tr>
                        <tr class="table-warning">
                          <td> {{document.list17}}</td>
                        </tr>
    
                        <tr class="table-light">
                          <td> {{document.list18}}</td>
                        </tr>
                        <tr class="table-primary">
                          <td>{{document.list19}}</td>
                        </tr>
    
                        <tr class="table-info">
                          <td>{{document.list20}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                
              </div>
              <div class="col-md-12 col-12">
                <h4> {{document.list21}} </h4>
                <p> {{document.list22}} </p>
                <p> {{document.text2}} </p>
              </div>
              <div class="col-md-12 col-12">
                <h2> {{document.heading_text3}} </h2>
                <p> <b> {{document.heading_text4}} </b> {{document.text3}} </p>
              </div>
              <div class="col-md-12 col-12">
                <h2> {{document.list23}} </h2>
                <p> {{document.list24}} </p>
                <p> {{document.list25}} </p>
              </div>
              <div class="col-md-12 col-12">
                <h2> {{document.list26}} </h2>
                <p> {{document.list27}} </p>
                <p> {{document.list28}} </p>
              </div>
              <div class="col-md-12 col-12">
                <h2> {{document.list29}} </h2>
                <p> <b> {{document.list30}}</b> {{document.text4}} </p>
                <p> {{document.list25}} </p>
              </div>
              <div class="col-md-12 col-12">
                <h2> {{document.list31}} </h2>
                <div class="about-text-style">
                  <ul>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list32}}</li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list33}}</li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list34}}</li>
                  </ul>
                </div>
                <p> {{document.list35}} </p>
                <p> {{document.list36}} </p>
                <p> <b> {{document.list37}} </b> {{document.list38}} </p>
                <h3> {{document.list39}} </h3> <br>
                <h3> {{document.list40}} </h3>
                <p> <b> {{document.list41}} </b> {{document.text5}} </p>
              </div>
            </div>

          </div>
          <div id="step" class="container tab-pane content fade"><br>
            <div class="row">
              <div class="col-md-12 col-12">
                <h2>{{step.heading_text}}</h2>
              </div>
              <div class="col-md-12 col-12">
                <div class="col-md-12 col-12">
                  <div class="shadow p-4">
                    <h5 class="text-primary"> {{step.step1}} </h5>
                    <p> {{step.answer1}} </p>
                  </div>
                </div>
                <div class="col-md-12 col-12">
                  <div class="shadow p-4">
                    <h5 class="text-primary"> {{step.step2}} </h5>
                    <p> {{step.answer2}} </p>
                  </div>
                </div>
               <div class="col-md-12 col-12">
                <div class="shadow p-4">
                  <h5 class="text-primary"> {{step.step3}} </h5>
                  <p> {{step.answer3}} </p>
                </div>
              </div>
              <div class="col-md-12 col-12">
                <div class="shadow p-4">
                  <h5 class="text-primary"> {{step.step4}} </h5>
                  <p> {{step.answer4}} </p>
                </div>
              </div>
              <div class="col-md-12 col-12">
                <div class="shadow p-4">
                  <h5 class="text-primary"> {{step.step5}} </h5>
                  <p> {{step.answer5}} </p>
                </div>
              </div>
              <div class="col-md-12 col-12">
                <div class="shadow p-4">
                  <h5 class="text-primary"> {{step.step6}} </h5>
                  <p> {{step.answer6}} </p>
                </div>
              </div>
            </div>
            </div>
            
          </div>
          <div id="process" class="container tab-pane content fade"><br>

            <h2>{{incorporation.heading_text}}</h2>
            <p> {{incorporation.text}} </p>
            <h2>{{incorporation.heading_text2}}</h2>
            <p> {{incorporation.text2}} </p>
            <p> {{incorporation.text3}} </p>
            <h2>{{incorporation.heading_text3}}</h2>
            <p> {{incorporation.text4}} </p>
            <p> {{incorporation.text5}} </p>
          </div>

          <div id="compliance" class="container tab-pane content fade"><br>
            <h2> {{compliance.heading_text}} </h2>
            <p> {{compliance.text}} </p>
            <p> {{compliance.text2}} </p>
            <p> {{compliance.text3}} </p>
          </div>

          <div id="closure" class="container tab-pane content fade"><br>
            <h2> {{closure.heading_text}} </h2>
            <p> {{document.text}} </p>
            <p> <b> {{document.text2}} </b> </p>
          </div>
          <div id="faq" class="container tab-pane content fade"><br>
            <h2> {{faq.heading_text}} </h2>
            <p> <b> {{faq.question1}} </b> {{faq.answer1}} </p>
            <p> <b> {{faq.question2}} </b> {{faq.answer2}} </p>
          </div>
        </div>
      </div>
      {% if non_packed_products %}
      {% include 'common_pages/product_lower.html' %}
      {% else %}
      {% include 'common_pages/pricing_sum_below.html' %}
      {% endif %}


    </div>
  </div>
</section>

{% include 'common_pages/product.html'%}
{% include 'common_pages/reviews.html' %}
   {% endblock %}