{% extends 'index.html' %}
{%block title%}Company Registration{% endblock %}
{% load static %}
{%load myfilters %}
{%block body %}


{% include 'common_pages/banner.html'%}

<section class="py-5 bg-light1">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-9 col-12affix-top bg-light" data-spy="affix" data-offset-top="597">
        <!-- Nav pills -->
        <ul class="nav nav-pills" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="pill" href="#meaning">Meaning</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#requirement">Minimum requirement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#benefit">Benefit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#required">Document required</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#process">Incorporation Process</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#compliance">Compliance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#closure">Closure </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#faq">FAQ</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div id="meaning" class="container tab-pane content active"><br>
            <h2>{{meaning.heading_text}}</h2>
            <p>{{meaning.text}}</p>
            <p>{{meaning.heading_text}}</p>

            <p>{{meaning.text2}}</p>
            <div class="text-center py-4"><img src="/media/{{ meaning.img }}" alt="logo-img" class="img-fluid"></div>

          </div>

          <div id="requirement" class="container tab-pane fade"><br>
            <div class="row">
              <div class="col-md-12 col-12">
                <h2>{{minimum.heading_text}}</h2>
                <p>{{minimum.text}}</p>
                <h4 class="b-style text-style">{{minimum.heading_text2}}</h4>
                <p class="b-style text-style">{{minimum.text2}} </p>
              </div>

            </div>

          </div>

          <div id="benefit" class="container tab-pane fade"><br>
            <div class="row">
              <div class="col-md-12 col-12">
                <h2 class="py-4 text-center"> {{benefit.heading_text}} </h2>

                <p><b>{{benefit.heading_text2}} </b> &nbsp; {{benefit.text}} </p>

                <p><b>{{benefit.heading_text3}} </b> &nbsp; {{benefit.text2}} </p>

                <p><b>{{benefit.heading_text4}}</b> &nbsp; {{benefit.text3}}</p>

                <p><b>{{benefit.text4}}</b> &nbsp; {{benefit.text5}} </p>

              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-12 heading">
                <h2 class="py-4">{{benefit.text6}} </h2>
                <div class="about-text-style">
                  <ul>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{benefit.list1}}
                    </li>

                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{benefit.list2}}</li>

                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{benefit.list3}}</li>

                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{benefit.list4}}</li>

                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{benefit.list5}}</li>
                  </ul>
                </div>
              </div>
            </div>

          </div>

          <div id="required" class="container tab-pane fade"><br>
            <div class="row">
              <div class="col-md-12 col-12 heading">
                <h2 class="py-4">{{document.heading_text}} </h2>
                <p>{{document.text}}</p>
              </div>
            </div>

            <div class="row table-responsive-sm">

              <div class="col-md-4 col-12 p-2">
                <table class="table">
                  <tbody>
                    <tr class="table-dark">
                      <td>{{document.list1}}</td>
                    </tr>
                    <tr class="table-primary">
                      <td>{{document.list2}}</td>
                    </tr>

                    <tr class="table-info">
                      <td>{{document.list3}}</td>
                    </tr>
                    <tr class="table-warning">
                      <td><b>{{document.list4}}</b></td>
                    </tr>

                    <tr class="table-light">
                      <td>T{{document.list5}} </td>
                    </tr>

                    <tr class="table-warning">
                      <td><b>{{document.list6}} </b></td>
                    </tr>

                    <tr class="table-light">
                      <td>{{document.list7}}</td>
                    </tr>

                  </tbody>
                </table>
              </div>

              <div class="col-md-4 col-12 p-2">
                <table class="table">
                  <tbody>
                    <tr class="table-dark">
                      <td>{{document.list8}}</td>
                    </tr>
                    <tr class="table-primary">
                      <td><b>{{document.list9}}</b> <br> </td>
                    </tr>

                    <tr class="table-info">
                      <td>{{document.list10}} <br><br> </td>
                    </tr>
                    <tr class="table-warning">
                      <td>{{document.list11}} <br><br> </td>
                    </tr>

                    <tr class="table-light">
                      <td>{{document.list12}} <br><br> </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="col-md-4 col-12 p-2">
                <table class="table">
                  <tbody>
                    <tr class="table-dark">
                      <td>{{document.list13}}</td>
                    </tr>
                    <tr class="table-primary">
                      <td>{{document.list14}}</td>
                    </tr>

                    <tr class="table-info">
                      <td>{{document.list15}}</td>
                    </tr>
                    <tr class="table-warning">
                      <td>{{document.list16}} <br> </td>
                    </tr>

                    <tr class="table-light">
                      <td>{{document.list17}} <br><br> </td>
                    </tr>

                  </tbody>
                </table>
              </div>

            </div>

          </div>

          <div id="process" class="container tab-pane fade"><br>

            <div class="row text-center btm_grd_banner">
              <div class="col-md-12 col-12">
                <div class="py-2 text-white heading2">
                  <h2 class="py-2"> {{incorporation.heading_text}} </h2>
                  <p class="fs-6 pt-2">{{incorporation.text}}</p>

                  <p class="fs-6 pt-2">{{incorporation.text2}}</p>

                </div>
              </div>
            </div>

            <div class="row table-responsive-sm">

              <div class="col-md-12 col-12 p-2">
                <table class="table">
                  <tbody>
                    <tr class="table-dark">
                      <td>{{incorporation.list5}} &nbsp; {{incorporation.list6}}</td>
                    </tr>
                    <tr class="table-primary">
                      <td>{{incorporation.colorcode1}} &nbsp; {{incorporation.list7}}</td>
                    </tr>

                    <tr class="table-info">
                      <td>{{incorporation.colorcode2}} &nbsp; {{incorporation.text3}}</td>
                    </tr>
                    <tr class="table-warning">
                      <td>{{incorporation.list1}} &nbsp;{{incorporation.text6}} </td>
                    </tr>

                    <tr class="table-light">
                      <td>{{incorporation.list2}} &nbsp; {{incorporation.list8}}</td>
                    </tr>

                    <tr class="table-info">
                      <td>{{incorporation.list3}} &nbsp; {{incorporation.text4}}</td>
                    </tr>
                    <tr class="table-warning">
                      <td>{{incorporation.list4}} &nbsp; {{incorporation.text5}}</td>
                    </tr>

                  </tbody>
                </table>
              </div>

            </div>
          </div>

          <div id="compliance" class="container tab-pane fade"><br>
            <div class="row">

              <div class="col-md-12 col-12 heading pt-2">
                <h2 class="fs-1 pt-4">{{compliance.heading_text}} <span class="text-primary">{{compliance.heading_text2}} </span> {{compliance.heading_text3}} </h2>
                <p>{{compliance.text}}</p>

                <table class="table border border-primary table-responsive-sm">
                  <thead>
                    <tr>
                      <th scope="col">{{compliance.list1}}</th>
                      <th scope="col">{{compliance.list2}}</th>
                      <th scope="col">{{compliance.list3}}</th>
                      <th scope="col">{{compliance.list4}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">{{compliance.list5}}</th>
                      <td> {{compliance.list6}} </td>
                      <td> {{compliance.list7}} </td>
                      <td> {{compliance.list8}}</td>
                    </tr>
                    <tr>
                      <th scope="row">{{compliance.list9}} </th>
                      <td> {{compliance.list10}} </td>
                      <td> {{compliance.list11}}</td>
                      <td> {{compliance.list12}}</td>
                    </tr>
                    <tr>
                      <th scope="row"> {{compliance.list13}}</th>
                      <td> {{compliance.list14}} </td>
                      <td> {{compliance.list15}}</td>
                      <td> {{compliance.list16}}</td>
                    </tr>
                    <tr>
                      <th scope="row">{{compliance.list17}} </th>
                      <td> {{compliance.list18}} </td>
                      <td> {{compliance.list19}} </td>
                      <td> {{compliance.list20}}</td>
                    </tr>
                    <tr>
                      <th scope="row"> {{compliance.list21}} </th>
                      <td> {{compliance.list22}} </td>
                      <td> {{compliance.list23}} </td>
                      <td> {{compliance.list24}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>

            <div class="row">
              <div class="col-md-10 col-12">
                <h2 class="py-4 text-center">{{compliance.text2}}</h2>

                <p>{{compliance.text3}} </p>

                <p>{{compliance.text4}}</p>

              </div>
            </div>
          </div>

          <div id="closure" class="container tab-pane fade"><br>
            <h2> closure </h2>
          </div>

          <div id="faq" class="container tab-pane fade"><br>
            <h2 class="fs-4">FAQ</h2>

          </div>

        </div>
      </div>

        {% include 'common_pages/pricing_sum_below.html' %}

    </div>
  </div>
</section>

{% include 'common_pages/fssai.html'%}

<section class="checklist py-5">
  <div class="container">
    <h2> {{step.heading_text}} </h2>
    <p class="py-2">{{step.text}}</p>
    <div class="row py-4">

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary"> {{step.step1}} </h5>
          <p> {{step.answer1}} </p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary"> {{step.step2}} </h5>
          <p> {{step.answer2}} </p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary"> {{step.step3}} </h5>
          <p> {{step.answer3}} </p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary"> {{step.step4}} </h5>
          <p> {{step.answer4}} </p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary"> {{step.step5}} </h5>
          <p> {{step.answer5}} </p>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-12 col-12">
        <h2>{{faq.heading_text}}</h2>
        <div class="accordion pt-2" id="accordionExample">
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                {{faq.question1}}
              </button>
            </h4>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {{faq.answer1}}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                {{faq.question2}}
              </button>
            </h4>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {{faq.answer2}}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                {{faq.question3}}
              </button>
            </h4>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {{faq.answer3}}
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h4 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                {{faq.question4}}
              </button>
            </h4>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
              data-bs-parent="#accordionExample">
              <div class="accordion-body list-style">
                {{faq.answer4}}
              </div>
            </div>
          </div>


          <div class="accordion-item">
            <h4 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                {{faq.question5}}
              </button>
            </h4>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
              data-bs-parent="#accordionExample">
              <div class="accordion-body list-style">
                {{faq.answer5}}
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
</section>


{% endblock %}