{% extends 'index.html' %}
{%block title%}Sole Proprietorship Registration{% endblock %}
{% load static %}
{%load myfilters %}
{%block body %}


{% if non_packed_products %}
{% include 'common_pages/product_upper.html' %}
{% else %}
{% include 'common_pages/banner.html' %}
{% endif %}

<section class="py-5 bg-light1">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-9 col-12 affix-top bg-light" data-spy="affix" data-offset-top="597">
        <!-- Nav pills -->
        <ul class="nav nav-pills" role="tablist">
          {% if meaning %}
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="pill" href="#meaning">Basic overview</a>
          </li>
          {% endif %}
          {% if minimum %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#requirement">Minimum requirement</a>
          </li>
          {% endif %}
          {% if benefit %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#benefit">Benefit</a>
          </li>
          {% endif %}
          {% if document %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#required">List of Documents</a>
          </li>
          {% endif %}
          {% if incorporation %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#process">Incorporation Process</a>
          </li>
          {% endif %}
          {% if compliance %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#compliance">Compliance</a>
          </li>
          {% endif %}
          {% if closure %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#closure">Closure </a>
          </li>
          {% endif %}
          {% if step %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#step">Registration Process </a>
          </li>
          {% endif %}
          {% if faq %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#faq">FAQ</a>
          </li>
          {% endif %}
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div id="meaning" class="container tab-pane content active"><br>
            {% if meaning.heading_text %}
            <h2>{{meaning.heading_text}}</h2>
            {% endif %}
            {% if meaning.text %}
            <p>{{ meaning.text }}
            </p>
            {% endif %}
            {% if meaning.heading_text2 %}
            <h4>{{meaning.heading_text2}}</h4>
            {% endif %}
            {% if meaning.text2 %}
            <p>{{ meaning.text2 }}
            </p>
            {% endif %}
            {% if meaning.text3 %}
            <p>{{ meaning.text3 }}
            </p>
            {% endif %}


            {% if meaning.heading_text3 %}
            <h4>{{meaning.heading_text3}}</h4>
            {% endif %}
            <div class="about-text-style">
              <ul>
                {% if meaning.list1 %}
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{meaning.list1}} </li>
                {% endif %}
                {% if meaning.list2 %}
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{meaning.list2}} </li>
                {% endif %}
                {% if meaning.list3 %}
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{meaning.list3}} </li>
                {% endif %}
                {% if meaning.list4 %}
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{meaning.list4}} </li>
                {% endif %}
                {% if meaning.list5 %}
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{meaning.list5}} </li>
                {% endif %}
                {% if meaning.list6 %}
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{meaning.list6}} </li>
                {% endif %}
                {% if meaning.list7 %}
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{meaning.list7}} </li>
                {% endif %}
                {% if meaning.list8 %}
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{meaning.list8}} </li>
                {% endif %}
              </ul>
            </div>
          </div>

          <div id="requirement" class="container tab-pane fade"><br>
            <div class="row">
              <div class="col-md-10 col-12">
                {% if minimum.heading_text %}
                <h2 class="py-4">{{minimum.heading_text}}</h2>
                {% endif %}
                {% if minimum.text %}
                <p>{{minimum.text}}</p>
                {% endif %}
              </div>
              <div class="about-text-style">
                <ul>
                  {% if minimum.list1 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{ minimum.list1 }} </li>
                  {% endif %}
                  {% if minimum.list2 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{ minimum.list2 }} </li>
                  {% endif %}
                  {% if minimum.list3 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{minimum.list3}} </li>
                  {% endif %}
                  {% if minimum.list4 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{minimum.list4}} </li>
                  {% endif %}
                  {% if minimum.list5 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{minimum.list5}} </li>
                  {% endif %}
                  {% if minimum.list6 %}
                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{minimum.list6}} </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>

          <div id="required" class="container tab-pane fade"><br>
            <div class="row">
              <div class="col-md-12 col-12 heading">
                {% if document.heading_text %}
                <h2 class="py-2">{{document.heading_text}}</h2>
                {% endif %}
                {% if document.text %}
                <p class="fs-6 pt-2">{{document.text}}</p>
                {% endif %}
              </div>
            </div>
            <div class="row table-responsive-sm">
              <div class="col-md-6 col-12 p-2">
                <table class="table">
                  <tbody>
                    {% if document.list1 %}
                    <tr class="table-dark">

                      <td>{{document.list1}}</td>
                    </tr>
                    {% endif %}
                    {% if document.list2 %}
                    <tr class="table-primary">
                      <td>{{document.list2 }}</td>
                    </tr>
                    {% endif %}
                    {% if document.list3 %}
                    <tr class="table-info">
                      <td>{{document.list3}}</td>
                    </tr>
                    {% endif %}
                    {% if document.list4 %}
                    <tr class="table-warning">
                      <td>{{document.list4}}</td>
                    </tr>
                    {% endif %}
                    {% if document.list5 %}
                    <tr class="table-light">
                      <td>{{document.list5}}</td>
                    </tr>
                    {% endif %}
                    {% if document.list6 %}
                    <tr class="table-primary">
                      <td>{{document.list6}}</td>
                    </tr>
                    {% endif %}
                    {% if document.list7 %}
                    <tr class="table-info">
                      <td>{{document.list7}}</td>
                    </tr>
                    {% endif %}
                  </tbody>
                </table>
              </div>

              <div class="col-md-6 col-12 p-2">
                <table class="table">
                  <tbody>
                    {% if document.list8 %}
                    <tr class="table-dark">

                      <td>{{document.list8}}</td>
                    </tr>
                    {% endif %}
                    {% if document.list9 %}
                    <tr class="table-primary">
                      <td>{{document.list9 }}</td>
                    </tr>
                    {% endif %}
                    {% if document.list10 %}
                    <tr class="table-info">
                      <td>{{document.list10}}</td>
                    </tr>
                    {% endif %}
                    {% if document.list11 %}
                    <tr class="table-warning">
                      <td>{{document.list11}}</td>
                    </tr>
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div id="step" class="container tab-pane content fade"><br>
            <h2> {{step.heading_text}} </h2>
            <div class="row py-4 checklist prs_in_steps">
              <div class="col-md-12 col-12">
                <div class="shadow p-4">
                  <h5 class="text-primary"> {{step.step1}} </h5>
                  <p> {{step.answer1}} </p>
                </div>
              </div>

              <div class="col-md-12 col-12">
                <div class="shadow p-4">
                  <h5 class="text-primary"> {{step.step2}} </h5>
                  <p> {{step.answer2}} </p>
                </div>
              </div>

              <div class="col-md-12 col-12">
                <div class="shadow p-4">
                  <h5 class="text-primary"> {{step.step3}}</h5>
                  <p> {{step.answer3}} </p>
                </div>
              </div>

              <div class="col-md-12 col-12">
                <div class="shadow p-4">
                  <h5 class="text-primary"> {{step.step4}} </h5>
                  <p> {{step.answer4}}</p>
                </div>
              </div>

              <div class="col-md-12 col-12">
                <div class="shadow p-4">
                  <h5 class="text-primary"> {{step.step5}} </h5>
                  <p>{{step.answer5}}</p>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

      {% if packed_products %}
      {% include 'common_pages/product_lower.html' %}
      {% else %}
      {% include 'common_pages/pricing_sum_below.html' %}
      {% endif %}
    </div>
  </div>
</section>

{% include 'common_pages/product.html'%}

{% include 'common_pages/reviews.html' %}
{% endblock %}