{% extends 'index.html' %}
{%block title%}Sole Proprietorship Registration{% endblock %}
{% load static %}
{%load myfilters %}
{%block body %}

<section class="top-bn1 bn-styles py-4 aos-init aos-animate" data-aos="fade-left">
  <div class="container py-4">
    <div class="row pt-4">

      <div class="col-md-4 col-12 space_top">
        <img src="/media/{{ banner.img }}" alt="logo-img" class="img-fluid">
      </div>

      <div class="col-md-4 col-12 space_top">
        <h4 class="fs-1"> {{ banner.heading_text }} </h4>
        <p><span class="bg-primary p-1 text-white"> {{ banner.review_rating }} </span> <a class="text-decoration-none" href="#"> &nbsp; {{banner.review}} </a> </p>
        <p class="fs-5"> {{ banner.text }} </p>
        <p class="fs-5"> <a href="#" class="text-decoration-none text-dark"> {{ banner.text2 }} </a> </p>
        <p> <a href="#"> Terms and conditions </a> </p>
      </div>

      <div class="col-md-1"></div>

      {% include 'common_pages/pricing_sum_above.html' %}


    </div>
  </div>
</section>

<section class="py-5 bg-light1">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-9 col-12affix-top bg-light" data-spy="affix" data-offset-top="597">
        <!-- Nav pills -->
        <ul class="nav nav-pills" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="pill" href="#meaning">Meaning</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#requirement">Minimum requirement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#benefit">Benefit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#required">Document required</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#process">Incorporation Process</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#compliance">Compliance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#closure">Closure </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#faq">FAQ</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div id="meaning" class="container tab-pane content active"><br>
            <h2>{{meaning.heading_text}}</h2>
            <p>{{ meaning.text }}
            </p>
            <h4> {{meaning.heading_text2}} </h4>
            <p> {{ meaning.text2 }}</p>

            <p class="b-style text-style"> {{ meaning.text3 }}</p>


            <h4 class="py-4 text-primary">{{meaning.heading_text3}} </h4>
            <div class="about-text-style">
              <ul>
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{meaning.list1}}  </li>
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{meaning.list2}} </li>
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{meaning.list3}} </li>
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{meaning.list4}} </li>
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{meaning.list5}} </li>
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{meaning.list6}} </li>
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{meaning.list7}}</li>
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{meaning.list8}}</li>
              </ul>
            </div>

          </div>

          <div id="requirement" class="container tab-pane fade"><br>
            <div class="row">
              <div class="col-md-10 col-12">
                <h2 class="py-4">{{minimum.heading_text}}</h2>
                <p>{{minimum.text}}</p>
              </div>

            </div>
          </div>

          <div id="benefit" class="container tab-pane fade"><br>
            <div class="about-text-style">
              <ul>
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{benefit.list1}} </li>
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{benefit.list2}} </li>
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{benefit.list3}} </li>
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{benefit.list4}} </li>
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{benefit.list5}}</li>
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{benefit.list6}}</li>
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{benefit.list7}}</li>
              </ul>
            </div>
          </div>

          <div id="process" class="container tab-pane fade"><br>
            <div class="row text-center btm_grd_banner">
              <div class="col-md-12 col-12">
                <div class="py-2 text-white heading2">
                  <h2 class="py-2">{{document.heading_text}}</h2>
                  <p class="fs-6 pt-2">{{document.text}}</p>
                </div>
              </div>
            </div>

          </div>

          <div id="required" class="container tab-pane fade"><br>
            <div class="row">
              <div class="col-md-12 col-12 heading">
                <h2 class="py-4">{{ incorporation.heading_text}}</h2>
                <p>{{ incorporation.text }}</p>
              </div>
            </div>
            <div class="row table-responsive-sm">
              <div class="col-md-6 col-12 p-2">
                <table class="table">
                  <tbody>
                    <tr class="table-dark">
                      <td>{{ incorporation.list1}}</td>
                    </tr>
                    <tr class="table-primary">
                      <td>{{ incorporation.list2}}</td>
                    </tr>

                    <tr class="table-info">
                      <td>{{ incorporation.list3}}</td>
                    </tr>
                    <tr class="table-warning">
                      <td>{{ incorporation.list4}}</td>
                    </tr>

                    <tr class="table-light">
                      <td> {{ incorporation.list5}} </td>
                    </tr>
                    <tr class="table-info">
                      <td> {{ incorporation.text2}} </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="col-md-6 col-12 p-2">
                <table class="table">
                  <tbody>
                    <tr class="table-dark">
                      <td>{{ incorporation.list6}}</td>
                    </tr>
                    <tr class="table-primary">
                      <td>{{ incorporation.list7}}</td>
                    </tr>

                    <tr class="table-info">
                      <td>{{ incorporation.list8}}</td>
                    </tr>
                    <tr class="table-warning">
                      <td>{{ incorporation.text3}}</td>
                    </tr>

                    <tr class="table-light">
                      <td>{{ incorporation.list9}}</td>
                    </tr>

                    <tr class="table-info">
                      <td>{{ incorporation.list10}}</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div id="compliance" class="container tab-pane fade"><br>
            <div class="row">

              <div class="col-md-10 col-12 mx-auto heading2">
                <h2 class="text-center">{{compliance.heading_text}} <span class="text-primary">{{compliance.heading_text2}}</span></h2>
                <p>{{compliance.text}}</p>
              </div>
            </div>
          </div>

          <div id="closure" class="container tab-pane fade"><br>
            <h2> closure </h2>
          </div>

          <div id="faq" class="container tab-pane fade"><br>
            <h2>Faq</h2>
          </div>

        </div>
      </div>

      {% include 'common_pages/pricing_sum_below.html' %}

    </div>
  </div>
</section>

<section class="Professional py-5">
  <div class="container">

    <div class="row">
      <div class="col-md-12 text-center text-white">
        <h2> Our Professional Fee For FSSAI Registration of License </h2>
      </div>
    </div>


    <div class="row pro-box">
      <div class="col-md-4 col-12">
        <div class="shadow bg-light p-5">
          <p class="text-end"><i class="fa fa-arrow-up" aria-hidden="true"></i></p>
          <div class="text-center">
            <h2> Fssai Registration </h2>
            <p class="pro-box-para"> Required if the turnover is less than 12 lac in a Financial Year & the business is
              within the state </p>
            <div class="pt-4"></div>
            <h1 class="py-2"> ₹ 2,999/- </h1>
            <p> Government Fee on Actual </p>
            <br />
            <div class="d-grid gap-2">
              <button class="btn btn-success py-3" type="button"><a href="{% url 'order' %}"> Get started </a></button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-12">
        <div class="shadow bg-light p-5">
          <p class="text-end"><i class="fa fa-arrow-up" aria-hidden="true"></i></p>
          <div class="text-center">
            <h2> Fssai State License </h2>
            <p class="pro-box-para"> When turnover is more than 12 Lac & upto 20 Crores for retailer/ 30 Crores for
              wholesalers </p>
            <div class="pt-4"></div>
            <h1 class="py-2"> ₹ 8,499/- </h1>
            <p> Government Fee on Actual </p>
            <br />
            <div class="d-grid gap-2">
              <button class="btn btn-outline-success py-3 text-dark" type="button"><a href="{% url 'order' %}"> Get
                  started </a></button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-12">
        <div class="shadow bg-light p-5">
          <p class="text-end"><i class="fa fa-arrow-up" aria-hidden="true"></i></p>
          <div class="text-center">
            <h2> Fssai Registration </h2>
            <p class="pro-box-para"> For all cases where turnover exceeds limits prescribed for state License or
              involved in export. </p>
            <div class="pt-4"></div>
            <h1 class="py-2"> ₹ 11,999/- </h1>
            <p> Government Fee on Actual </p>
            <br />
            <div class="d-grid gap-2">
              <button class="btn btn-outline-success py-3" type="button"><a href="{% url 'order' %}"> Get started
                </a></button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="checklist py-5">
  <div class="container">
    <h2> {{step.heading_text}} </h2>
    <div class="row py-4">

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary"> {{step.step1}} </h5>
          <p> {{step.answer1}} </p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary"> {{step.step2}} </h5>
          <p> {{step.answer2}} </p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary"> {{step.step3}}</h5>
          <p> {{step.answer3}} </p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary"> {{step.step4}} </h5>
          <p> {{step.answer4}}</p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary"> {{step.step5}} </h5>
          <p>{{step.answer5}}</p>
        </div>
      </div>

    </div>

  </div>
</section>
{% endblock %}