{% extends 'index.html' %}

{%block title%}Branch Office of Foreign Company{% endblock %}

{%block body %}

{% include 'common_pages/banner.html'%}

<section class="py-4 bg-light1">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-9 col-12 affix-top bg-light" data-spy="affix" data-offset-top="597">
        <!-- Nav pills -->
        <ul class="nav nav-pills" role="tablist">
          {% if meaning %}
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="pill" href="#meaning">Meaning</a>
          </li>
          {% endif %}
          {% if minimum %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#requirement">Minimum requirement</a>
          </li>
          {% endif %}
          {% if benefit %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#benefit">Benefit</a>
          </li>
          {% endif %}
          {% if document %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#required">Document required</a>
          </li>
          {% endif %}
          {% if incorporation %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#process">Incorporation Process</a>
          </li>
          {% endif %}
          {% if compliance %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#compliance">Compliance</a>
          </li>
          {% endif %}
          {% if closure %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#closure">Closure </a>
          </li>
          {% endif %}
          {% if faq %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#faq">FAQ</a>
          </li>
          {% endif %}
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div id="meaning" class="container tab-pane content active"><br>
            <h2>{{meaning.heading_text}}</h2>
            <div class="row table-responsive-sm">

              <div class="col-md-12 col-12 p-2">
                <table class="table">
                  <tbody>
                    <tr class="table-dark">
                      <td> <b> S.No </b> {{meaning.heading_text2}}</td>
                    </tr>
                    <tr class="table-primary">
                      <td> <b> 1. </b> {{meaning.heading_text3}}</td>
                    </tr>

                    <tr class="table-info">
                      <td> <b> 2. </b>{{meaning.heading_text4}} <br> </td>
                    </tr>
                    <tr class="table-warning">
                      <td> <b> 3. </b> {{meaning.text}} <br><br> </td>
                    </tr>

                    <tr class="table-light">
                      <td> <b> 4. </b> {{meaning.text2}}</td>
                    </tr>

                    <tr class="table-warning">
                      <td> <b> 5. </b> {{meaning.text3}}</td>
                    </tr>

                    <tr class="table-warning">
                      <td> <b> 6. </b> {{meaning.list1}} <br> <br></td>
                    </tr>

                    <tr class="table-warning">
                      <td> <b> 7. </b> {{meaning.list2}} <br> <br></td>
                    </tr>

                  </tbody>
                </table>
              </div>

              <div class="col-md-12 col-12 p-2">
                <table class="table">
                  <tbody>
                    <tr class="table-dark">
                      <td>{{meaning.list3}}</td>
                    </tr>
                    <tr class="table-primary">
                      <td>{{meaning.list4}}</td>
                    </tr>

                    <tr class="table-info">
                      <td>{{meaning.list5}}</td>
                    </tr>
                    <tr class="table-warning">
                      <td>{{meaning.list6}}</td>
                    </tr>

                    <tr class="table-light">
                      <td>{{meaning.list7}}</td>
                    </tr>

                    <tr class="table-warning">
                      <td>{{meaning.list8}}</td>
                    </tr>

                    <tr class="table-warning">
                      <td>{{meaning.list9}}</td>
                    </tr>

                    <tr class="table-light">
                      <td>{{meaning.list10}}</td>
                    </tr>

                  </tbody>
                </table>
              </div>

            </div>
          </div>

          <div id="requirement" class="container tab-pane fade"><br>
            <div class="row">
              <div class="col-md-12 col-12">
                <h2>{{minimum.heading_text}}</h2>
                <p class="b-style text-style">{{minimum.text}}</p>

                <div class="about-text-style">
                  <ul>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{minimum.list1}}</li>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i>{{minimum.list2}}</li>
                  </ul>
                </div>

                <p class="b-style text-style">{{minimum.list3}}</p>
                <p>{{minimum.text2}}</p>
                <p class="b-style text-style">{{minimum.text3}}</p>
              </div>

            </div>
          </div>

          <div id="benefit" class="container tab-pane fade"><br>
            <h2>Benefits</h2>

          </div>

          <div id="required" class="container tab-pane fade"><br>
            <h2>Required</h2>
          </div>

          <div id="process" class="container tab-pane fade"><br>

            <h2>Proccess</h2>
          </div>

          <div id="compliance" class="container tab-pane fade"><br>
            <h2>Compliance</h2>
          </div>

          <div id="closure" class="container tab-pane fade"><br>
            <h2> closure </h2>
          </div>

          <div id="faq" class="container tab-pane fade"><br>
            <h2 class="fs-4">FAQ</h2>

          </div>

        </div>
      </div>

      {% include 'common_pages/pricing_sum_below.html' %}


    </div>
  </div>
</section>


{% include 'common_pages/fssai.html'%}

<section class="checklist py-5">
  <div class="container">
    <div class="row py-4">
      <h2>{{step.heading_text}}</h2>
      <p><b>{{step.text}}</b></p>
      <p>{{step.list1}}</p>
      <p>{{step.list2}}</p>

      <h2>{{step.step1}}</h2>
      <p>{{step.answer1}}.</p>
      <h2>{{step.list3}}.</h2>
      <h5>{{step.list4}}</h5>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary"> {{step.list5}}</h5>
          <p>{{step.list6}}</p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary"> {{step.list7}}</h5>
          <p> {{step.list8}} </p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary"> {{step.list9}}</h5>
          <p>{{step.list10}} </p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary"> {{step.step2}}</h5>
          <p> {{step.answer2}}</p>
        </div>
      </div>

    </div>

    <div class="row table-responsive-sm">
      <h2>{{meaning.heading_text}}</h2>
      <div class="row table-responsive-sm">

        <div class="col-md-12 col-12 p-2">
          <table class="table">
            <tbody>
              <tr class="table-dark">
                <td> <b> S.No </b> {{meaning.heading_text2}}</td>
              </tr>
              <tr class="table-primary">
                <td> <b> 1. </b> {{meaning.heading_text3}}</td>
              </tr>

              <tr class="table-info">
                <td> <b> 2. </b>{{meaning.heading_text4}} <br> </td>
              </tr>
              <tr class="table-warning">
                <td> <b> 3. </b> {{meaning.text}} <br><br> </td>
              </tr>

              <tr class="table-light">
                <td> <b> 4. </b> {{meaning.text2}}</td>
              </tr>

              <tr class="table-warning">
                <td> <b> 5. </b> {{meaning.text3}}</td>
              </tr>

              <tr class="table-warning">
                <td> <b> 6. </b> {{meaning.list1}} <br> <br></td>
              </tr>

              <tr class="table-warning">
                <td> <b> 7. </b> {{meaning.list2}} <br> <br></td>
              </tr>

            </tbody>
          </table>
        </div>

        <div class="col-md-12 col-12 p-2">
          <table class="table">
            <tbody>
              <tr class="table-dark">
                <td>{{meaning.list3}}</td>
              </tr>
              <tr class="table-primary">
                <td>{{meaning.list4}}</td>
              </tr>

              <tr class="table-info">
                <td>{{meaning.list5}}</td>
              </tr>
              <tr class="table-warning">
                <td>{{meaning.list6}}</td>
              </tr>

              <tr class="table-light">
                <td>{{meaning.list7}}</td>
              </tr>

              <tr class="table-warning">
                <td>{{meaning.list8}}</td>
              </tr>

              <tr class="table-warning">
                <td>{{meaning.list9}}</td>
              </tr>

              <tr class="table-light">
                <td>{{meaning.list10}}</td>
              </tr>

            </tbody>
          </table>
        </div>

      </div>

      <div class="row">
        <h2>{{minimum.heading_text}}</h2>
        <p class="b-style text-style">{{minimum.text}}</p>

        <div class="about-text-style">
          <ul>
            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{minimum.list1}}</li>
            <li> <i class="fa fa-check-circle" aria-hidden="true"></i>{{minimum.list2}}</li>
          </ul>
        </div>

        <p class="b-style text-style">{{minimum.list3}}</p>
        <p>{{minimum.text2}}</p>
        <p class="b-style text-style">{{minimum.text3}}</p>

        <h2>{{step.step3}}</h2>
        <p>{{step.answer3}}</p>
        <p>{{step.step4}} </p>
        <p>{{step.answer4}}</p>
        <h2>{{step.step5}}</h2>
        <p>{{step.answer5}}</p>
        <h2>{{step.step6}}</h2>
        <p>{{step.answer6}}</p>
        <h2>{{step.step7}}</h2>
        <p>{{step.answer7}}</p>
        <h2>{{step.step8}}</h2>
        <p>{{step.answer8}}</p>
        <p>{{step.heading_text2}}</p>
        <p>{{step.answer9}}</p>
        <div class="col-md-6 col-12">
          <div class="shadow p-4">
            <h5 class="text-primary"> {{step.step9}} </h5>
            <p> {{step.text2}}</p>
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="shadow p-4">
            <h5 class="text-primary">{{step.step10}} </h5>
            <p> {{step.answer10}} </p>
          </div>
        </div>
      </div>

    </div>
</section>


{%endblock%}