{% extends 'index.html' %}

{%block title%}Liaison Office Registration {% endblock %}

{%block body %}

<section class="top-bn2 bn-styles aos-init aos-animate" data-aos="fade-left">
  <div class="container">
    <div class="row pt-4">
      <div class="col-md-8 col-12 pt-5 pt-5">
        <h2><b>Liaison Office <span class="text-white">Registration </span></b></h2>
        <p> <b>A Liaison Office (LO) is a place in India that represents a foreign firm. Its purpose is to explore and
            understand the business environment, conduct market research on the parent's products and seek out
            information from potential customers. It can be established to represent the parent/group company in India.
            To promote Indian trade and investment.
          </b></p>
        <p>The liaison office must not be used for commercial purposes. The parent company covers the expenses of the
          liaison officer. Foreign companies can have a liaison office. The Indian government taxes the profits when
          such entities carry out commercial activities through permanent establishments (PEs) at higher rates. The
          foreign company's profit is subject to a 40% tax, while the Indian corporation has a 22% tax rate.</p>
        <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
      </div>
    </div>
  </div>
</section>

<section class="py-5 side-navbg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
        <div>
          <ul class="sidebar nav-pills" id="sideMenu">
            <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b>
            </h5>
            <li> <a class="sidelink active" href="#overview">
                <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a>
            </li>
            <li> <a class="sidelink" href="#process">
                <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span> Step Wise Process</a> </li>

            <li> <a class="sidelink" href="#faq">
                <span class="icon-s"> <i class="fa fa-question-circle" aria-hidden="true"></i> </span> FAQ</a> </li>

          </ul>
        </div>

        <div class="content content-3s bg-light">
          <div id="overview">
            <section class="py-4">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 col-12 heading pt-5">
                    <h2 class="fs-1">Liaison Office <span class="text-primary">Registration</span></h2>
                    <p class="fs-6">Transparent Fee, </p>
                    <p class="fs-6">All India Tax Registration &amp; Returns,</p>

                    <p class="b-style text-style">Foreign Corporations / Companies can establish a representation or
                      liaison office in India. They must first obtain permission from the Reserve Bank of India. We can
                      offer smooth services in India because of our good relationships.</p>
                  </div>

                </div>
              </div>
            </section>

            <section class="py-4">
              <div class="container">
                <div class="row">
                  <div class="col-md-3 col-12">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">Step 1: Net worth Requirement</h5>
                        <br>
                        <p class="card-text">The foreign parent must have a successful track record of at least three
                          years consecutively, and the net worth must not exceed $ 50,000, as attested by their
                          auditors.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3 col-12 p-2">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">Step 2: No Income Generating Activity</h5>
                        <br>
                        <p class="card-text">The liaison office cannot make any income in India. It must be funded
                          entirely by the parent firm. The parent company must sign an undertaking.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3 col-12 pt-4">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">Step 3: Name &amp; New Office</h5>
                        <br>
                        <p class="card-text">The parent company's name must match that of the foreign parent company.
                          For each new liaison office, RBI must approve it with justification.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3 col-12 pt-5">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">Step 4: Indian Taxation</h5>
                        <br>
                        <p class="card-text">Indian tax authorities have the power to impose income taxes on Liaison
                          Offices if they determine that the transaction is a commercial operation via PE.</p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </section>

            <section class="py-4">
              <div class="container">
                <div class="row heading">
                  <h2>List of Documents required to <span class="text-primary"> register a Liaison Office.</span></h2>

                  <div class="col-md-12 col-12">
                    <div class="table-responsive-sm">
                      <div>
                        <table class="table">
                          <tbody>
                            <tr class="table-dark">
                              <td> <b> S.No. </b> A. Mother/Parent Company</td>
                            </tr>
                            <tr class="table-primary">
                              <td> <b> 1. &nbsp; </b> Certificate of Incorporation/Registration of Foreign Company</td>
                            </tr>

                            <tr class="table-info">
                              <td> <b> 2. &nbsp; </b> Memorandum of Association &amp; Articles of Association</td>
                            </tr>

                            <tr class="table-primary">
                              <td> <b> 3. &nbsp; </b> List of Details Regarding Directors/Key Executives</td>
                            </tr>

                            <tr class="table-info">
                              <td> <b> 4. &nbsp; </b> Information about shareholders of the applicant firm</td>
                            </tr>

                            <tr class="table-primary">
                              <td> <b> 5. &nbsp; </b> Certified Public Accountant has attested the net worth certificate
                              </td>
                            </tr>

                            <tr class="table-info">
                              <td> <b> 6. &nbsp; </b> Audited financial statements of the previous three years</td>
                            </tr>

                            <tr class="table-primary">
                              <td> <b> 7. &nbsp; </b> Banker's Report by the applicant's banker abroad</td>
                            </tr>

                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 col-12">
                    <div class="table-responsive-sm">
                      <div>
                        <table class="table">
                          <tbody>
                            <tr class="table-dark">
                              <td>B. B.</td>
                            </tr>
                            <tr class="table-primary">
                              <td> <b> 1. &nbsp; </b> Colour Photo – 5</td>
                            </tr>

                            <tr class="table-info">
                              <td> <b> 2. &nbsp; </b> Passport 5 copies</td>
                            </tr>

                            <tr class="table-primary">
                              <td> <b> 3. &nbsp; </b> Copy of Business Visa with Immigration Stamp</td>
                            </tr>

                            <tr class="table-info">
                              <td> <b> 4. &nbsp; </b> National Identity Card, 5 copies</td>
                            </tr>

                            <tr class="table-primary">
                              <td> <b> 5. &nbsp; </b> Latest Address Proof (Bank Certificate/ Electricity/Water Bill/
                                Phone Bill).</td>
                            </tr>

                            <tr class="table-info">
                              <td> <b> 6. &nbsp; </b> Board Resolution Naming the AR</td>
                            </tr>

                            <tr class="table-primary">
                              <td> <b> 7. &nbsp; </b> AR Authorized to Grant Power of Attorney</td>
                            </tr>

                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </section>


            <section class="py-4 s-img s-img1">
              <div class="container py-2">
                <div class="row">
                  <div class="col-md-2 col-12">
                  </div>
                  <div class="col-md-10 col-12">

                    <h2 class="py-4">Preparation and Documentation for the Registration of Liaison Officer</h2>
                    <p>Foreign Exchange Management (Establishment in India of a Branch office, liaison office, project
                      office, or another business place) Regulations 2016 govern establishing a place to business in
                      India by a foreign company/corporation. Here are the essential qualifications required to
                      establish a liaison bureau.</p>

                    <h2>You are prohibited from engaging in income-generating activities</h2>

                    <p> The networth of the head office in a foreign country must be greater than $ 50,000.
                      The applicant company must be profitable for three years.</p>

                    <p> Only four types of activities can be performed at the liaison office. For details, please see
                      Permitted Activity for Liaison Office.</p>
                  </div>
                </div>
              </div>
            </section>


            <section class="py-4 bg-light">
              <div class="container">
                <div class="row">

                  <div class="col-md-12 col-12 heading pt-2">
                    <p> Basic Documentation is essential for the smooth processing and establishment of the Vision
                      Office. Provides the list of documents that are required. You may download the Questionnaire to
                      send information to us.</p>

                    <p> <b> Document and Form Drafting: </b> Once we have all the necessary documents, we will begin to
                      draft the documents required for signing by the company applying and the signatory.</p>
                    <p> Board Resolution Approving the Opening of the India Liaison Office</p>

                    <div class="about-text-style">
                      <ul>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Declaration by the applicant
                          regarding FDI eligibility.</li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Declaration about the activity and
                          the proposed location.</li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Form FNC</li>
                      </ul>
                    </div>
                  </div>

                </div>
              </div>
            </section>

          </div>

          <div id="process">

            <section class="btm_grd_banner py-4">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 col-12">
                    <div class="py-2 text-white heading2">
                      <h2 class="py-2 fs-2 text-center">Letter of Comfort form held company</h2>
                      <p class="fs-6 pt-2">Legalization of Documents: All documents originating from a third country or
                        signed/executed by a third country must be legalized via the Indian Embassy or apostilled by the
                        Hague Convention.</p>

                      <p class="fs-6"> Procedure and timeline for India liaison office registration Digital Signature
                        Application of Authorized Signatory</p>

                      <p class="fs-6"> A digital signature, the same as a physical or printed signature under the
                        Information Technology Act, can be considered the equivalent of a physical signature. According
                        to this new process, all company registration applications must be filed in digital format. The
                        digital signature of any proposed shareholders or directors is required to authenticate the
                        application. The filing process begins with issuing a digital signature for all promoters. </p>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section class="py-4">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-12">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">Applying to RBI via AD Bank</h5>
                        <br>
                        <p class="card-text">FNC is the place to file a request for a registered Liaison officer of a
                          foreign corporation. It's done through AD Bank (Authorized Dealer). They play a vital role in
                          all communication with RBI. We have excellent relationships with many Indian banks, which can
                          help us to apply for the RBI and Follow Up.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 col-12 mt-4">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">Banker of Parent Company Verification of KYC</h5>
                        <br>
                        <p class="card-text">After filing the FNC Form with the AD Bank is complete, a request to verify
                          the documents is sent to the banker for the foreign company. This is also called quick-based
                          verification. After the confirmation of documents from the foreign banker, the application
                          will be submitted to RBI for approval. The RBI might request clarifications or any additional
                          documents.</p>
                      </div>
                    </div>
                  </div>

                </div>



                <div class="row pt-4">

                  <div class="col-md-4 col-12">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">Approval from RBI for Branch Office Registration in India
                        </h5>
                        <br>
                        <p class="card-text">There is a policy that the AD Banker must approve the setting up of a
                          liaison officer. Cases will be forwarded to the RBI for approval if the automatic route is
                          impossible. Approval is granted after quick verification. This takes approximately one week.
                        </p>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-4 col-12 mt-4">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">Registration of a Branch Office at the ROC</h5>
                        <br>
                        <p class="card-text">After company incorporation, the Bank A/c should be opened. Foreign direct
                          investments (FDI) must be received within 180 days of incorporation. The banker will need to
                          be notified in advance. It is important to note that the capital required for the startup of
                          any business activity cannot be received in India unless it has been received.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 col-12 mt-5">
                    <div class="mt-5"></div>
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">PAN Card - Tax Deduction Number &amp; Opening Bank Account
                        </h5>
                        <br>
                        <p class="card-text">Income Tax Department issues a unique 10 Digit Alphanumeric number to each
                          taxpayer as a permanent number. This is also known as a PAN Number. Every taxpayer must apply
                          for a Tax deduction account number to ensure compliance with TDS provisions. This
                          identification number is essential for compliance with the tax rules. After the Income Tax
                          Department receives Pan Number, the liaison bank account can be opened.</p>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-6 col-12 mt-4">
                    <div class="mt-5"></div>
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">Register with State Police</h5>
                        <br>
                        <p class="card-text">The liaison office should register the application with the state police
                          (In the bureau of the superintendent of Police). The application must include the RBI approval
                          and KYC for all authorized persons in India.</p>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-6 col-12 mt-5">
                    <div class="mt-5"></div>
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">GST Registration &amp; IEC</h5>
                        <br>
                        <p class="card-text">Once the Bank Account has been opened, the Liaison Office will receive the
                          chequebook and checkbook. For the application to GST Registration and Import Export code for
                          the Liaison Office of the foreign company, we would need a duplicate of the check.</p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </section>
          </div>


          <div id="faq">
            <section class="bg-light py-4">
              <div class="container">
                <div class="row">

                  <div class="col-md-12 col-12 mx-auto heading2">
                    <h2 class="text-center">Frequently Asked <span class="text-primary">Questions</span></h2>
                    <div class="accordion pt-2" id="accordionExample">
                      <div class="accordion-item">
                        <h4 class="accordion-header" id="headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            How does a liaison office work?
                          </button>
                        </h4>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body list-style">
                            An Indian company might want to research before entering the Indian market. Any individual,
                            including foreign companies, groups, and associations, can set up a liaison office for
                            India.
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h4 class="accordion-header" id="headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            The Income Tax rate for a Liaison Officer of a Foreign Company is
                          </button>
                        </h4>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            Indian law treats a liaison office of a foreign company as one entity. The Indian government
                            also taxes the profits of these entities at higher rates. The income tax on foreign
                            companies' profits is currently 40%. An Indian company would pay 30%.
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h4 class="accordion-header" id="headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Which conditions are necessary to open a liaison office in India?
                          </button>
                        </h4>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            A foreign company can open a representative or liaison office in India if it has a track
                            record of profit generation over the past 3 years. It must also be financially sound.
                            Financially sound is a reference to India's representative or liaison office. This refers
                            only to companies with a net worth greater than USD 50,000. The parent company must have its
                            financial statements attested by a statutory auditor.
                          </div>
                        </div>
                      </div>

                      <div class="accordion-item">
                        <h4 class="accordion-header" id="headingFour">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            What approvals are given to the creation of a liaison officer?
                          </button>
                        </h4>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body list-style">
                            The RBI is authorized to approve the establishment of a Liaison Office in India under a
                            master directive dated January 01st, 2016, to establish a place for a foreign corporation.
                          </div>
                        </div>
                      </div>


                      <div class="accordion-item">
                        <h4 class="accordion-header" id="headingFive">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Set up a Liaison Office in India.
                          </button>
                        </h4>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body list-style">
                            To establish a liaison bureau, verify that you are financially sound. The network must be at
                            least USD 50,000 in size. Call Dobizindia Business Solution Private Limited Representative
                            to discuss the documentation and step-by-step process. The rest is taken care of by the
                            CA/CS/Advocates.
                          </div>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          {%include 'product.html'%}
        </div>
      </div>
      <div class="col-md-3 col-12 pricing">
        <div class="s_fixed bg-light p-2 px-5 pricing-spc">
          <h5>Pricing Summary</h5>
          <div class="table-responsive">
            <table class="table border border-white">
              <tbody>
                <tr>
                  <th>Quantity</th>
                  <td>: 1 Year</td>
                </tr>
                <tr>
                  <th>Market Price</th>
                  <td>: ₹11899</td>
                </tr>
                <tr>
                  <th>DobizIndiaFilings</th>
                  <th class="text-danger">: ₹8389 excl. GST</th>
                </tr>
                <tr>
                  <th></th>
                  <td> &nbsp; ₹9899 incl. GST</td>
                </tr>
                <tr>
                  <th>GST Credit</th>
                  <td>: ₹1510</td>
                </tr>
                <tr>
                  <th>You Save</th>
                  <td>: ₹3510 (29%)</td>
                </tr>
              </tbody>
            </table>
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="button"><a href="{%url 'order'%}"> Order Now </a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{%endblock%}