{% extends 'index.html' %}

{%block title%}Project Office Registration {% endblock %}

{%block body %}

<section class="top-bn1 bn-styles aos-init aos-animate" data-aos="fade-left">
  <div class="container">
    <div class="row pt-4">
      <div class="col-md-8 col-12 pt-5 pt-5">
        <h2><b>Project Office <span class="text-white">registration in India </span></b></h2>
        <p class="pt-4"> <b>Simple Process and Transparent Fee, All India Tax Registration &amp; Returns
          </b></p>
        <p> <b> Project Office registration in India</b></p>
        <p> <b> The RBI granted general permission to a foreign corporation in India to set up a Project Office,
            provided an agreement was made between the company and the Indian government.</b></p>

        <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
      </div>
    </div>
  </div>
</section>

<section class="py-5 side-navbg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
        <div>
          <ul class="sidebar nav-pills" id="sideMenu">
            <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b>
            </h5>
            <li> <a class="sidelink active" href="#overview">
                <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a>
            </li>
            <li> <a class="sidelink" href="#process">
                <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span> Step Wise Process</a> </li>


          </ul>
        </div>

        <div class="content content-2s bg-light">
          <div id="overview">
            <section class="py-5">
              <div class="container">
                <div class="row">

                  <div class="col-md-12 col-12 heading pt-2">
                    <h2 class="fs-2">Project Office <span class="text-primary">Registry</span></h2>
                    <p class="fs-6">A foreign company can establish a permanent or temporary project office in India if
                      the Indian government has awarded it a project. Before it can begin operating, the Project Office
                      must be registered with RBI &amp; ROC. Before Project Office Registration is granted, there are
                      certain conditions.</p>
                    <p class="b-style text-style">The application to register a Project Office is made to the Category1
                      AD Bank. It includes the complete documents, including a copy and undertaking that outward
                      remittances will not fund the project. After approval by the RBI, the application for a project
                      office must be registered with ROC and local police within thirty days.</p>
                  </div>

                </div>
              </div>
            </section>

            <section class="py-4 s-img s-img1">
              <div class="container py-2">
                <div class="row">
                  <div class="col-md-2 col-12">
                  </div>
                  <div class="col-md-10 col-12">
                    <h2>India Project Office Registration: Minimum Requirements</h2>
                    <p><b>Step 1: Contact formal for the project</b></p>

                    <p> The unfamiliar element probably got an Undertaking in India. A formal and legally binding
                      agreement must also be signed for the same financial report.</p>
                    <p><b>Step 2: Clearance on Project</b></p>

                    <p> The project has been approved and cleared by the appropriate and respected ministry and, where
                      applicable, the environment ministry.</p>
                    <p><b>Step 3: Foreign Funding</b></p>

                    <p> The Inward remittances received from abroad must be used for funding the project.</p>
                    <p><b>Step 4: Indian Funding</b></p>

                    <p> If foreign funding is unavailable, the Indian Entity responsible for awarding the contract will
                      be able to borrow the term loan from a Public Financial Institution or Indian Bank.</p>

                  </div>
                </div>
              </div>
            </section>


            <section class="py-4 bg-light">
              <div class="container">
                <div class="row">

                  <div class="col-md-12 col-12 heading pt-2">
                    <h2 class="fs-4 pt-4">Documents required attestation / Appostile</h2>

                    <div class="about-text-style">
                      <ul>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Check out this List of Documents</li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> AR signed FNC Form </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Proof of Registered Office</li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Note on Location/Proposed Activity
                        </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> No Certification of Origin (NOC) from
                          the owner </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Certificate of Incorporation/MOA
                        </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Audited Financial, past 5 years </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Board resolution to open a Branch
                          Office </li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> KYC by the Authorized Signatory </li>
                      </ul>
                    </div>
                  </div>

                </div>
              </div>
            </section>

          </div>

          <div id="process">

            <section class="btm_grd_banner py-4">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 col-12">
                    <div class="py-2 text-white heading">
                      <h2 class="fs-4 py-2">Project Office Registration Process Attestation or Legalization of Documents
                      </h2>
                      <p class="fs-6"> All documents, including the certificate of incorporation, board decisions, moa
                        and articles of foreign companies that are required to file with RBI, must be legalized by the
                        Indian Embassy.</p>
                      <h2 class="fs-4 py-2">Applying to RBI through AD Bank</h2>
                      <p class="fs-6"> A foreign company can apply for the registration of a Project bank through AD
                        Bank (Authorized Dealer). They play a key role in all communications to the RBI. We have
                        excellent relationships with many Indian banks, which can help us to apply for the RBI and
                        Follow-up.</p>

                      <h2 class="fs-4 py-2">NIDHI company incorporation: Step by step </h2>
                      <p class="fs-6 pt-2">NIDHI Company formation requires that you first incorporate your business
                        into a public limited company. Next, you need to apply for the NIDHI Company license within a
                        prescribed time according to the NIDHI Rules, 2014. Below is the detailed step-by procedure for
                        Nidhi Company incorporation. </p>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section class="py-4">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-12">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">Banker of Parent Company Verification of KYC</h5>
                        <br>
                        <p class="card-text">After the FNC Formula has been filed with AD Bank, a request to verify
                          documents is sent to the banker of a foreign company. This is also known swift based
                          authentication. After the confirmation documents are received from the foreign banker, the RBI
                          will approve the application. The RBI might request clarification or add-on documents.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 col-12 mt-4">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">Approval from RBI for Project Office Registration in India
                        </h5>
                        <br>
                        <p class="card-text">After the incorporation of the company, the Bank A/c should be opened. The
                          unfamiliar direct venture should arrive within 180 Days of consolidation. The banker must
                          receive advance notice. The company is responsible for reporting all FDI received by the RBI
                          within 30 days of investment.</p>
                      </div>
                    </div>
                  </div>

                </div>



                <div class="row pt-4">

                  <div class="col-md-4 col-12">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">Registration of an Unfamiliar Organization's Venture Office
                          with the ROC</h5>
                        <br>
                        <p class="card-text">After receiving the RBI permission, the foreign company must request the
                          ROC to register the foreign corporation. For foreign companies with Indian directors, a DIN
                          Number is required. Also, the digital signature and signature of the authorized signatory are
                          required to file the ROC's statutory forms.</p>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-4 col-12 mt-4">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">PAN Card, Bank Opening, and Tax Deduction No.</h5>
                        <br>
                        <p class="card-text">Income Tax Department issues a unique 10 Digit Alphanumeric number to each
                          taxpayer as a permanent number. This is also known as a PAN Number. Every taxpayer must get a
                          Tax deduction account number to comply with TDS requirements. This number is necessary for tax
                          compliance. After the Income Tax Department has allotted Pan Number, the branch office's bank
                          account can be opened.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 col-12 mt-5">
                    <div class="mt-5"></div>
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">Other Licenses and Registrations</h5>
                        <br>
                        <p class="card-text">The Project office will be operational once all compliance requirements
                          have been met. These depend on the type of business and the state laws applicable to all
                          commercial activities. You can register under shops and establishments, Goods and Services Tax
                          (GST), Professional Tax Act and Provident Funds Act, Employee Insurance Act (ESIC), etc.</p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </section>
          </div>

          {%include 'product.html'%}
        </div>
      
      </div>
      <div class="col-md-3 col-12 pricing">
        <div class="s_fixed bg-light p-2 px-5 pricing-spc">
          <h5>Pricing Summary</h5>
          <div class="table-responsive">
            <table class="table border border-white">
              <tbody>
                <tr>
                  <th>Quantity</th>
                  <td>: 1 Year</td>
                </tr>
                <tr>
                  <th>Market Price</th>
                  <td>: ₹11899</td>
                </tr>
                <tr>
                  <th>DobizIndiaFilings</th>
                  <th class="text-danger">: ₹8389 excl. GST</th>
                </tr>
                <tr>
                  <th></th>
                  <td> &nbsp; ₹9899 incl. GST</td>
                </tr>
                <tr>
                  <th>GST Credit</th>
                  <td>: ₹1510</td>
                </tr>
                <tr>
                  <th>You Save</th>
                  <td>: ₹3510 (29%)</td>
                </tr>
              </tbody>
            </table>
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="button"><a href="{%url 'order'%}"> Order Now </a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{%endblock%}