{% extends 'index.html' %}

{%block title%}Project Office Registration {% endblock %}

{%block body %}

{% include 'common_pages/banner.html'%}

<section class="py-5 bg-light1">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-9 col-12affix-top bg-light" data-spy="affix" data-offset-top="597">
      <!-- Nav pills -->
      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="pill" href="#meaning">Meaning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#requirement">Minimum requirement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#benefit">Benefit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#required">Document required</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#process">Incorporation Process</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#compliance">Compliance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#closure">Closure </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#faq">FAQ</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <div id="meaning" class="container tab-pane content active"><br>
          <h2>{{meaning.heading_text}}</h2>
        <p><b>{{meaning.heading_text2}}</b></p>
        <p><b>{{meaning.heading_text3}}</b></p>
        <p><b>{{meaning.text4}}</b></p>
        <p><b>{{meaning.heading_text4}}</b></p>

        <h2>{{meaning.text}}</h2>
        <p>{{meaning.text2}}</p>
         <p class="b-style text-style">{{meaning.text3}}</p>
        </div>

        <div id="requirement" class="container tab-pane fade"><br>
          
          <h2>Required</h2>
        </div>

        <div id="benefit" class="container tab-pane fade"><br>
          <h2>Benefits</h2>

        </div>

        <div id="required" class="container tab-pane fade"><br>
          <div class="row">

              <div class="col-md-12 col-12 heading">
                <h2>{{document.heading_text}}</h2>
                <div class="about-text-style">
                    <ul>
                      <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list1}}</li>
                      <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list2}} </li> 
                      <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list3}}</li>
                      <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list4}} </li> 
                      <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{document.list5}}</li>
                      <li> <i class="fa fa-check-circle" aria-hidden="true"></i>{{document.list6}}</li> 
                      <li> <i class="fa fa-check-circle" aria-hidden="true"></i>{{document.list7}}</li> 
                      <li> <i class="fa fa-check-circle" aria-hidden="true"></i>{{document.list8}}</li>
                      <li> <i class="fa fa-check-circle" aria-hidden="true"></i>{{document.list9}}</li>
                    </ul>
                </div>
              </div>

            </div>
        </div>

        <div id="process" class="container tab-pane fade"><br>
          
            <h2>Proccess</h2>
        </div>

        <div id="compliance" class="container tab-pane fade"><br>
          <h2>Compliance</h2>
        </div>

        <div id="closure" class="container tab-pane fade"><br>
          <h2> closure </h2>
        </div>

        <div id="faq" class="container tab-pane fade"><br>
          <h2 class="fs-4">FAQ</h2>
          
        </div>

      </div>
    </div>

    {% include 'common_pages/pricing_sum_below.html' %}

  </div>
</div>
</section>

{% include 'common_pages/fssai.html'%}

<section class="checklist py-5">
<div class="container">
<div class="row py-4">
  <h2>{{step.heading_text}}</h2>

                <div class="col-md-12 col-12">
                  <div class="shadow p-4">
                    <h5 class="text-primary">{{step.list1}} </h5>
                    <p>{{step.list2}}</p>
                  </div>
                </div>

                <div class="col-md-12 col-12">
                  <div class="shadow p-4">
                    <h5 class="text-primary">{{step.list3}} </h5>
                    <p>{{step.list4}}</p>
                  </div>
                </div>

                <div class="col-md-12 col-12">
                  <div class="shadow p-4">
                    <h5 class="text-primary">{{step.list5}} </h5>
                    <p>{{step.list6}}</p>
                  </div>
                </div>

                <div class="col-md-12 col-12">
                  <div class="shadow p-4">
                    <h5 class="text-primary">{{step.list7}} </h5>
                    <p>{{step.list8}}</p>
                  </div>
                </div>

              </div>


              <div class="row py-4">
                <h2>{{step.heading_text2}}</h2>
                <p>{{step.text}}</p>
                <h2>{{step.step1}}</h2>
                <p>{{step.answer1}}</p>
                <h2>{{step.step2}}</h2>
                <p>{{step.answer2}}</p>

                <div class="col-md-12 col-12">
                  <div class="shadow p-4">
                    <h5 class="text-primary"> {{step.step3}} </h5>
                    <p>{{step.answer3}}</p>
                  </div>
                </div>

                <div class="col-md-12 col-12">
                  <div class="shadow p-4">
                    <h5 class="text-primary"> {{step.step4}} </h5>
                    <p>{{step.answer4}}</p>
                  </div>
                </div>

                <div class="col-md-12 col-12">
                  <div class="shadow p-4">
                    <h5 class="text-primary"> {{step.step5}} </h5>
                    <p>{{step.answer5}}</p>
                  </div>
                </div>

                <div class="col-md-12 col-12">
                  <div class="shadow p-4">
                    <h5 class="text-primary"> {{step.step6}} </h5>
                    <p>{{step.answer6}}</p>
                  </div>
                </div>

                <div class="col-md-12 col-12">
                  <div class="shadow p-4">
                    <h5 class="text-primary"> {{step.step7}} </h5>
                    <p>{{step.answer7}}</p>
                  </div>
                </div>

              </div>
            </div>
          </section>
{%endblock%}