{% extends 'index.html' %}

{%block title%} Change of Director  {% endblock %}

{%block body %}

     <section class="top-bn3 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <p>Change of Company Director </p>
            <p>Simple Process and Transparent Fee</p>
            <p>All India Incorporation Service</p>

            <h2><b>Company Director, <span class="text-white"> Change  </span></b></h2>
            <p class="pt-4"> <b>The day-to-day management of the Company and compliance with the statutory requirements is the responsibility of the Director (s). It is easy to change the composition and order of the board of directors by following the procedures. The Director's change is usually completed within one day of the 100% online process. 
            </b></p>
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            
            </ul>
          </div>

          <div class="content content-2s bg-light">
            <div id="overview">
              <section class="py-4">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 col-12 heading pt-2">
                        <h2 class="fs-2">Company  <span class="text-primary">Director, Change </span></h2>
                        <p class="fs-6">The Company may appoint or remove a director. The board of directors is generally authorized to appoint a director to fill casual vacancies caused by the resignation of an established director. But, shareholders must approve the appointment of a new Director by the Board of Directors in an Extra-Ordinary General meeting. </p>
                        <h2 class="fs-4">Changing Director/Designated partner </h2>
                        <p class="b-style text-style">For the management and supervision of a company, shareholders appoint Directors. Companies Law of 1956 stipulates that Private Limited Companies must have at most two Directors. Limited Companies require at least three Directors. A Limited Liability Partnership, or LLP, requires a minimum of two Designated Partners. Also, the Limited Liability Partnership Act, 2008. Mandates that every LLP has at least two Designated Partners. For various reasons, the appointment and removal of Directors or Designated partners may be required. Dobizindia Business Solution Private Limited can assist you with the filings necessary to add or remove a Director or Designated Partner from your LLP.</p>
                        <p class="fst-italic">Digital Signature must be obtained first for any Director or Designated Partners. Once the Digital Signature is received, the proposed Director can be added to the Company with consent from the shareholders. A Company or LLP must ensure that it has at least one Director and Designated Partner. In this case, you must file the resignation letter and the required form to affect the Director's departure. </p>
                      </div>

                      
                    </div>
                  </div>
                </section>

              <section class="py-4 s-img s-img1">
                    <div class="container py-2">
                      <div class="row">
                        <div class="col-md-2 col-12">
                        </div>
                      <div class="col-md-10 col-12">
                        <h2>Highlights of Changing Directors </h2>
                        <h2 class="fs-5">Director</h2>
                        <p>A company can be described as a legal entity and a juristic person. So a company can have a property and may also be liable for debts. The individuals (Investors/Overseers) of an organization have no obligation to the lenders of an organization for such obligations.</p>
                        <h2 class="fs-4">Minimum Requirements</h2>
                        <p>You must be 18 years old to become a Director to hold the Director Identification Number. Foreign nationals are also eligible to become directors of Indian companies. </p>
                        <h2 class="fs-4">Director Identification Number </h2>
                        <p>Director Identification Number or DIN (Director Identification Number) is a unique identification number the Ministry of Corporate Affairs gives. It is used to identify any individual who is or will be a Director of a Company. </p>
                        <h2 class="fs-4">Identity and Address Validation </h2>
                        <p>For all directors and shareholders to be incorporated, they will need proof of identity and address. PAN is mandatory in the case of Indian nationals. Foreign nationals must submit an apostilled/notarized copy of their passport. All documents must have legal validity. Documents such as bank statements, electricity bill or other proof of house must be less than 2 months old. </p>
                        
                      </div>
                      </div>
                    </div>
                  </section>

            <section class="py-4 bg-light">
                <div class="container">
                  <div class="row">

                    <div class="col-md-12 col-12 heading">
                      <h2 class="fs-4 pt-4">Certificate of Registration </h2>
                      <p>All Indian companies must have a registered office. An original copy of the electric bill, property tax receipt and water bill must be presented to prove access. The utility bill, rental agreement/sale deed, and a letter signed by the landlord consenting to the use of the office as a registered business office must all be submitted. </p>
                     <h2 class="fs-4">Follow the steps to make a change to a director. </h2>
                      <div class="about-text-style">
                          <ul>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Board Appoints Director</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Resignation of Director </li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Removal or Termination </li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> How to make DIN for an entirely new director</li>
                          </ul>
                      </div>
                    </div>

                    
                  </div>
                </div>
              </section>
            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}