{% extends 'index.html' %}

{%block title%} Changes in Main Object  {% endblock %}

{%block body %}
    <section class="top-bn3 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <p><b>Change the Main Object of the Company  </b></p>
            <p><b>Very Simple Process and Transparent Fee </b></p>

            <h2><b>All India Incorporation  <span class="text-white">Service Company  </span></b></h2>
            <p class="pt-4"> <b>Modifying the MOA is the primary object of the change. Organizing an EGM and getting the approvals of 75% of shareholders is easy. After that, you can file the Special Resolution in MGT-14 along with the amended MOA. You can make this process simple with the help of Dobizindia Business Solution private limited.   
            </b></p>
            <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
           
            </ul>
          </div>

          <div class="content content-2s bg-light">
            <div id="overview">
              <section class="py-4">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 col-12 heading pt-2">
                        <h2 class="fs-2">Main Object <span class="text-primary">of MOA</span></h2>
                        <p class="fs-6">The Memorandum of Association contains the main objects of the company. This document is the limitation or boundary of the activities that a company can do. A company can attempt to change its primary purpose by changing its priorities. The MOA is a key document that defines the purpose of a company. </p>
                        <h2 class="fs-4">The Most Important Points On the Main Object </h2>
                        <div class="about-text-style">
                            <ul>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Acts beyond The Main Object Is Ultra Viral</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> MOA should be regularly checked</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> 100% Online Service To Amend MOA</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Talk to us, and we'll guide you through the process </li>
                            </ul>
                          </div>
                      </div>

                    </div>
                  </div>
                </section>

              <section class="py-4 s-img s-img1">
                  <div class="container py-2">
                    <div class="row">
                      <div class="col-md-2 col-12">
                      </div>
                    <div class="col-md-10 col-12">
                      <h2>List des documents for modifying the MOA</h2>
                      <div class="table-responsive-sm">
                        <table class="table border table-info">
                          <thead>
                            <tr>
                              <th>S.No  </th>
                              <th>A. Documents of Directors/Shareholder</th> 
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1.</td>  
                              <td>Current Certificate Of Incorporation</td>
                            </tr>
                            <tr>
                              <td>2.</td>  
                              <td>MOA and AOA Word Format</td>
                            </tr>
                            <tr>
                              <td>3.</td>  
                              <td>List of Directors &amp; Shareholders</td>
                            </tr>

                            <tr>
                              <td>4.</td>  
                              <td>Proposed Main Object</td> 
                            </tr>

                            <tr>
                              <td>5.</td>
                              <td>Digital Signature of the Authorized Director</td>
                            </tr>

                            <tr>
                              <td>6.</td>
                              <td>Letterheads (approx 10) and rubber stamp of the director</td>
                            </tr>
                          </tbody>
                        </table>
                        </div>
                    </div>
                    </div>
                  </div>
                </section>

            </div>

             <div id="process">

              <section class="btm_grd_banner py-4">
                    <div class="container">
                      <div class="row text-center">
                        <div class="col-md-12 col-12">
                          <div class="py-2 text-white heading2">
                          <h2 class="py-2">Stepwise Procedure to Change the MOA of the Company's Object Clause </h2>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>

              <section class="py-4">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6 col-12">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">Get Board of Directors approval to change object </h5>
                              <br>
                              <p class="card-text">Directors must meet legally-convened board meetings to discuss the new object or amend the existing clause. The agenda must be included in the notice that is sent to directors. We recommend you include the proposed resolution for directors to help them prepare. We strongly recommend adhering to the ICSI SS-1 board meeting guidelines. </p>
                            </div>
                          </div>
                      </div>

                      <div class="col-md-6 col-12 mt-4">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">Convene an Extraordinary General Meeting (EGM), of Shareholders </h5>
                              <br>
                              <p class="card-text">Next is to ask for approval from shareholders. Only an extraordinary general meeting of validly authorized shareholders can take the decision. The directors must send a notice to shareholders 21 days before the EGM date to call for an EGM. The plan, draft and special resolution must be included in the notice of EGM. </p>
                            </div>
                          </div>
                      </div>

                      <div class="col-md-12 col-12 mt-5">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">Filing of Special Resolved to ROC in form- MGT-14 </h5>
                              <br>
                              <p class="card-text">The particular resolution is any decision taken by more than 75% of those voting rights. The ROC will approve the special resolution adopted in the EGM. The certified resolution copy must be filed in Form –MGT-14 with the prescribed fee within thirty days of its passing. Attach to the form the amended MOA as well as the copy of the minutes from the meeting at EGM where the particular decision was passed. The MGT-14 approved the company's new object.</p>
                            </div>
                          </div>
                      </div>

                    </div>
                  </div>
                </section>

            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}