{% extends 'index.html' %}

{%block title%} Company Name Change  {% endblock %}

{%block body %}
     <section class="top-bn4 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <p><b>Change of Pvt. Ltd. Company name </b></p>
            <p><b>All India Incorporation Service </b></p>

            <h2><b>Change of Pvt. Ltd. <span class="text-white">Company name  </span></b></h2>
            <p class="pt-4"> <b>Companies Act 2013 provides a clearly defined process for changing a company's Name. You can change your company's Name with the consent and approval of 75% or more of your shareholders.
            </b></p>
            <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            <li> <a class="sidelink" href="#document">
            <span class="icon-s"> <i class="fa fa-file-text" aria-hidden="true"></i> </span>  List of Documents</a> </li>
            <li> <a class="sidelink" href="#faq">
            <span class="icon-s"> <i class="fa fa-question-circle" aria-hidden="true"></i> </span>  FAQ</a> </li>
            
            </ul>
          </div>

          <div class="content content-3s bg-light">
            <div id="overview">
              <section class="py-5">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 col-12 heading pt-5">
                        <h2 class="fs-2">Preliminary note on the name  <span class="text-primary">change of the </span>company</h2>
                        <p class="fs-6">The company's name represents its unique identity as a private limited corporation. This first clause of MOA (also known under the Name Clause) is about the company's Name. If the management wants to change the company's Name, they must get the consent of their shareholders and get approval from the ROC. A change in the company's Name requires approval at four stages. Here are the requirements for prior approval to change the company name.</p>
                        <div class="about-text-style">
                            <ul>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Approval of the Board of Directors</li>

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Approval by more than 75% of shareholders </li>

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Approval for the ROC, MGT-14 </li>

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Approval for the Central Government </li>

                            </ul>
                          </div>
                        <p class="b-style text-style">Legal Provision. All companies, no matter how old or new, are allowed to file a request for a name change. Section 13 (2), Companies Act (Incorporation) Rules, 2014, does not allow for name changes if a company has not filed ROC Annual Report, Financial Statement, or any other report/documents with ROC on the due date.  </p>
                      </div>

                    </div>
                  </div>
                </section>

              <section class="py-4 s-img s-img1">
                  <div class="container py-2">
                    <div class="row">
                      <div class="col-md-2 col-12">
                      </div>
                    <div class="col-md-10 col-12">
                      <h2 class="fs-4">Common Reasons to Change Company Name </h2>
                        <p><b>Voluntary Name Change </b></p>
                        <p class="fst-italic">The company can, at its discretion, change the Name of the company. But, it must meet all other conditions.</p>
                        <p><b>Change in Business Activity</b></p>
             
                        <p>The company could decide to change the Name of its business to reflect these new or more business objects. The company might also alter its MOA to change the main object in this case. </p>
                         
                        <p><b>Rebranding/Marketing </b></p>
                         
                        <p>Sometimes, companies may change their name to market the company or position it better. </p>
                         
                        <p><b>Change of Ownership </b></p>
                         
                        <p>As a result, it is common for the company name to change after a change of Ownership or takeover. This happens to reflect the authority and branding of the new management. </p>
                         
                        <p><b>To Avoid IPR Issues </b></p>
                         
                        <p>Some companies change their names to strengthen their trademarks. A company name may be changed as well to avoid any IPR Conflict. </p>
                         
                        <p><b>Respecting the ROC Instruction </b></p>
                         
                        <p>The ROC has the power to make an order directing a company's change in Name following a complaint from any company claiming priority for the use of a Name or Trademark.</p> 
                    </div>
                    </div>
                  </div>
                </section>

                 <section class="py-4 bg-light">
                    <div class="container">
                      <div class="row">

                        <div class="col-md-12 col-12 heading pt-2">
                          <h2 class="fs-4 pt-4">Change of company name in a step-wise process</h2>
                          <h2 class="fs-2">Held Board meeting </h2>
                          <p>The board approves the proposed Name of the directors.</p>
               
               
                          <p><b>Fill out a RUN Application </b></p>
                           
                          <p>After the board of directors has determined its new Name and approved it, a request to reserve a new name is made under the RUN (Reserve Unique Names) facility at the ROC. Also included in the RUN Application is a copy of the Board Resolution and a NOC from the Trademark Owner (if applicable). The government fee for filing a RUN application is Rs. 1000/-. The ROC approves a name if it is distinctive and not identical to an existing company, LLP domain, or trademark. </p>
                           
                          <p><b>EGM </b></p>
                           
                          <p class="fst-italic">Once approval has been received from the office registrar companies for the Name, the next step is to ask the shareholders for their approval. A notice must be sent to each shareholder by the directors at least 21 days before the EGM. The notice must contain the draft of any proposed resolution and an explanatory statement. </p> 
                          <p><b>Filing MGT-14 - Registration of Special Resolution</b> </p>
               
                          <p class="fst-italic">The particular resolution refers to a decision by more than 75% of voting rights. The particular resolution is adopted in the EGM and filed with the required fee before the ROC.</p>
                        </div>

                      </div>
                    </div>
                  </section>

            </div>

             <div id="process">

              <section class="btm_grd_banner py-4">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 col-12">
                        <div class="py-2 text-white heading2">
                          <p class="fs-6"><b>Filing INC-24 (Seeking Central Government Approval) </b></p>
             
                          <p class="fs-6">With an amended copy of MOA &amp; AOA, a Copy of Notice EGM, and an application to change the company's Name, Form INC-24 is completed. The company's new Name is added to the Certificate of Incorporation. </p>
                           
                          <p class="fs-6"><b>Issue of a new Certificate of Incorporation issued by ROC </b></p>
                           
                          <p class="fs-6">MGT-14 and INC-24 approval, the ROC issues a brand new Certificate of Incorporation. The company is required to update the existing Name everywhere instead of the old Name Everywhere. </p>
                          <p class="fs-6"><b>Documents Required to Change Company Name </b></p>
                           
                          <p class="fs-6">You will need two sets of documents to file a request for the name change of an existing company. The company will have the first set of papers, while the second set includes the drafts necessary for the name changes. Once the documents have been signed, they are annexed to the relevant ROC Form, which can include MGT-14, RUN Form and INC-24.</p>

                        </div>
                      </div>
                    </div>
                  </div>
                </section>

              <section class="mb-5">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-11 col-12 mx-auto">
                      <div class="table-responsive-sm">
                        <table class="table border table-info">
                          <thead>
                            <tr>
                              <th>A. A. </th>
                              <th>B. B.</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>-</td>  
                              <td><b>RU Form</b></td>
                            </tr>
                            <tr>
                              <td>-</td>  
                              <td>Copy of Board Resolution</td>
                            </tr>
                            <tr>
                              <td>Current Certificate Of Incorporation</td>  
                              <td>Consent of the TM Owner, if applicable</td>
                            </tr>

                            <tr>
                              <td>MOA and AOA are in word format</td>
                              <td><b>MGT-14</b></td>  
                            </tr>

                            <tr>
                              <td>List of Directors &amp; Shareholders</td>  
                              <td>EGM Notice with Explanatory Statement</td>
                            </tr>

                            <tr>
                              <td>Proposed Name(s), sorted by preference</td> 
                              <td>Certified Copies EGM Resolution</td> 
                            </tr>

                            <tr>
                              <td>Digital Signature for the authorized director</td>  
                              <td>Altered MOA &amp; AOA</td>
                            </tr>

                            <tr>
                              <td>Letterheads and director rubber stamp</td> 
                              <td>Attendance sheet for EGM</td>
                            </tr>

                            <tr>
                              <td>-</td>
                              <td>Consent for shorter Notice (If applicable).</td>
                            </tr>

                            <tr>
                              <td>The sale deed/rent agreement</td>
                              <td>-</td>
                            </tr>

                            <tr>
                              <td>The minimum billing period for electricity is two months</td>
                              <td>-</td>
                            </tr>
                          </tbody>
                        </table>
                        </div>
                        </div>
                    </div>
                  </div>
                </section>

                <section class="py-4 bg-light">
                    <div class="container">
                      <div class="row">

                        <div class="col-md-12 col-12 heading">
                          <h2 class="fs-2 pt-4">Timeline &amp; Costs for Changing Company name</h2>
                           
                          <p><b>Timeline </b> The time it takes to change the name and approval of the Central Government as well the ROC is around 10 to 15 days.</p>
                           
                          <p><b>Professional Fee:</b> There are two parts to the overall cost. The professional fee billed by Dobizindia Business Solution Private Limited and the ROC Filing fees. The type and amount of capital determines the ROC fee.</p>

                          <p><b>Fee</b></p>
                          <p>RUN Form Rs. RUN Form: Rs.</p>
                          <p>MGT-14: Rs. 300 to Rs.600 Based on the company's capital (Refer below Table).</p>
                          <p>INC-24: Rs. 1,000/- to 20,000/ Depending on the Company Type and Capital (Refer Below Table).</p>
                        </div>

                        <div class="col-md-12 col-12">
                          <div class="table-responsive-sm">
                          <table class="table border table-info">
                            <thead>
                              <tr>
                                <th>For MGT-14 Filing, Fee Table</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th>S.No </th> 
                                <th>Authorized Capital</th>  
                                <th>ROC Fee payable</th>
                              </tr>
                              <tr>
                                <td>1. </td> 
                                <td>Not more than Rs. 1,00,000/-  </td>
                                <td>Rs. 200/-</td>
                              </tr>
                              <tr>
                                <td>2.</td>  
                                <td>Rs. Rs. </td>
                                <td>Rs. 300/-</td>
                              </tr>

                              <tr>
                                <td>3.  </td>
                                <td>Rs. Rs. </td>
                                <td>Rs. 400/-</td> 
                              </tr>

                              <tr>
                                <td>4.  </td>
                                <td>Rs. Rs.</td> 
                                <td>Rs. 500/- <br> <br></td>
                              </tr>

                              <tr>
                                <td>5.  </td>
                                <td>100,00,000.0 or More </td>
                                <td>Rs. 600/- <br> <br></td>
                              </tr>
                            </tbody>
                          </table>
                          </div>
                        </div>



                        <div class="col-md-12 col-12">
                          <div class="table-responsive-sm">
                          <table class="table border table-info">
                            <thead>
                              <tr>
                                <th>Filing INC-24 Fee Table</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th>S.No </th>
                                <th>Authorized Capital  </th>
                                <th>OPC &amp; Small Companies </th>
                                <th>Other than OPC &amp; Small Company </th>
                              </tr>
                              <tr>
                                <td>1. </td> 
                                <td>You can get up to Rs 25,00,000.</td> 
                                <td>Rs. 1,000/-</td> 
                                <td>Rs. 2,000/-</td>
                              </tr>
                              <tr>
                                <td>2.</td>
                                <td>Rs 25,00,000.01 to Rs 50,00,000.00/-  </td>
                                <td>Rs. 2,500/- </td>
                                <td>Rs. 5,000/-</td>
                              </tr>

                              <tr>
                                <td>3.  </td>
                                <td>Above Rs. 50 Lakh - 5 Crores </td> 
                                <td>- </td>
                                <td>Rs. 10,000/-</td>
                              </tr>

                              <tr>
                                <td>4.  </td>
                                <td>Above Rs. 5 Crores - 10 Crores  </td>
                                <td>- </td>
                                <td>Rs. 15,000/-</td>
                              </tr>

                              <tr>
                                <td>5.  </td>
                                <td>Above Rs 10 Crores </td> 
                                <td>- </td>
                                <td>Rs. 20,000/-</td>
                              </tr>
                            </tbody>
                          </table>
                          </div>
                        </div>

                      </div>
                    </div>
                  </section>

            </div>


            <div id="document">
              <section class="py-4 ab-banner text-white">
                  <div class="container">
                    <div class="row">
                    <div class="col-md-9 col-12 heading">
                      <h2 class="fs-4">Activities to Follow Up After Company Names Are Changed</h2>
                      <p>No rights or obligations are affected by changing the company's name. Legal proceedings will continue, if necessary, in the new address. After the new Certificate of Incorporation is issued, the company must make any changes to the following documents and registrations.</p>
                      <h2 class="fs-4">The Common Seal of Company (If applicable). </h2>

                      <div class="about-text-style">
                            <ul>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Official seal for directors, company and authorized signatories </li>

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Promissory bills, bills of exchange, and other documents </li>

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Change of name on the Bank Account </li>

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Tax authorities, PF &amp; ESI department, etc. </li>

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Change the name of your website or social media account.</li> 
                            </ul>

                            <ul>

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Amend company PAN and TAN </li>

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Use this logo on business cards, company letterheads, etc.</li> 

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Company Statutory Lists </li>

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Employment &amp; Business Contracts</li> 

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Update business licenses/permits</li>
                            </ul>
                        </div>
                    </div>
                    </div>
                  </div>
                </section>
            </div>


            <div id="faq">
             <section class="bg-light py-4">
                <div class="container">
                  <div class="row">

                    <div class="col-md-11 col-12 mx-auto heading2">
                      <h2 class="text-center">Frequently Asked  <span class="text-primary">Questions</span></h2>
                      <div class="accordion pt-2" id="accordionExample">
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              What is Changing the Company Name?
                            </button>
                          </h4>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                              The process of changing the company name is legal. Dobizindia business solution private limited can assist you with each stage. The Board of Directors must pass a resolution, and 3/4 of shareholders have to consent. A company must apply in RUN Formula to make a new name available and confirmed. After name approval, the ROC File takes place in Form MG-14 and INC 24, resulting in a new certificate of incorporation. 
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Is it possible to change the name of a company and create a new entity?  
                            </button>
                          </h4>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              No. While a name change does not make a company a different entity, the CIN of the company is the same. All rights and liabilities are the same. 
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            To amend the company name, which approvals must be obtained from ROC, the Central Government?
                            </button>
                          </h4>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                             The company name change needs four approvals. Board approval and shareholder approval in special resolution are required. The new name is subject to ROC approval. 3/4th then approved the particular resolution of the shareholders. Finally, the central government's consent is required for the issuance of the new certificate incorporating the new name. 
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                             Will my PAN Number change?  
                            </button>
                          </h4>
                          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             The PAN Number of the corporation will remain the same as before any changes to the company constitution. But, you are advised to apply for amendments to the company's PAN records and to receive a new Pan Card with the updated company name. 
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                             The company should inform its customers that it has a new name.
                            </button>
                          </h4>
                          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             Yes, we need to, mainly due to GST provisions. As all taxpayers need a proper record of customers and vendors, they must also keep one.
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}