{% extends 'index.html' %}

{%block title%} Company Name Change {% endblock %}

{%block body %}
{% include 'common_pages/banner.html' %}

<section class="py-5 bg-light1">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-9 col-12affix-top bg-light" data-spy="affix" data-offset-top="597">
        <!-- Nav pills -->
        <ul class="nav nav-pills" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="pill" href="#meaning">Meaning</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#requirement">Minimum requirement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#benefit">Benefit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#required">Document required</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#process">Incorporation Process</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#compliance">Compliance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#closure">Closure </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#faq">FAQ</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div id="meaning" class="container tab-pane content active"><br>
            <p><b>{{meaning.heading_text}} </b></p>
            <p><b>{{meaning.heading_text2}} </b></p>
            <h2>{{meaning.heading_text}}</h2>
            <p><b>{{meaning.text}}</b></p>
            <h2>{{meaning.heading_text3}}</h2>
            <p>{{meaning.text2}}</p>
            <div class="about-text-style">
              <ul>
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{meaning.list1}}</li>

                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{meaning.list2}}</li>

                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{meaning.list3}} </li>

                <li> <i class="fa fa-check-circle" aria-hidden="true"></i>{{meaning.list4}} </li>

              </ul>
            </div>
            <p class="b-style text-style">{{meaning.text3}}</p>
            <h2>{{meaning.heading_text4}}</h2>

          </div>

          <div id="requirement" class="container tab-pane fade"><br>
            <div class="row">
              <div class="col-md-12 col-12">
                <h2>{{minimum.heading_text}}</h2>
                <h5>{{minimum.heading_text2}}</h5>
                <p class="fst-italic">{{minimum.text}}</p>
                <h5>{{minimum.heading_text3}}</h5>
                <p class="b-style text-style">{{minimum.text2}}</p>
                <h5>{{minimum.heading_text4}}</h5>
                <p>{{minimum.text3}}</p>
                <h5>{{minimum.text4}}</h5>
                <p>{{minimum.text5}}</p>
                <h5>{{minimum.list1}}</h5>
                <p>{{minimum.list2}}</p>
                <h5>{{minimum.list3}}</h5>
                <p>{{minimum.list4}}</p>
              </div>

            </div>



          </div>

          <div id="benefit" class="container tab-pane fade"><br>
            <h2>Benefits</h2>

          </div>

          <div id="required" class="container tab-pane fade"><br>
            <div class="row">

              <div class="col-md-12 col-12 heading">
                <h2>Documents.</h2>
              </div>

            </div>
          </div>

          <div id="process" class="container tab-pane fade"><br>

            <h2>Proccess</h2>
          </div>

          <div id="compliance" class="container tab-pane fade"><br>
            <h2>Compliance</h2>
          </div>

          <div id="closure" class="container tab-pane fade"><br>
            <h2> closure </h2>
          </div>

          <div id="faq" class="container tab-pane fade"><br>
            <h2 class="fs-4">FAQ</h2>

          </div>

        </div>
      </div>

      {% include 'common_pages/pricing_sum_below.html' %}

    </div>
  </div>
</section>

{% include 'common_pages/fssai.html' %}

<section class="checklist py-5">
  <div class="container">
    <div class="row py-4">
      <h2>{{document.heading_text}}</h2>
      <h4>{{document.heading_text2}}</h4>
      <p>{{document.heading_text3}}</p>
      <h6>{{document.heading_text4}}</h6>
      <p>{{document.text}}</p>
      <h6>{{document.list}}</h6>
      <p class="fst-italic">{{document.text2}}</p>
      <h6>{{document.colorcode1}}</h6>
      <p class="fst-italic">{{document.colorcode2}}</p>
      <p class="fs-6"><b>{{document.list2}} </b></p>

      <p class="fs-6">{{document.list3}}</p>

      <p class="fs-6"><b>{{document.list4}} </b></p>

      <p class="fs-6">M{{document.list5}} </p>
      <p class="fs-6"><b>{{document.list6}} </b></p>

      <p class="fs-6">{{document.text3}}</p>
      <div class="col-md-12 col-12">
        <div class="table-responsive-sm">
          <table class="table border table-info">
            <thead>
              <tr>
                <th>{{document.list7}} </th>
                <th>{{document.list8}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>-</td>
                <td><b>{{document.list9}}</b></td>
              </tr>
              <tr>
                <td>-</td>
                <td>{{document.list10}}</td>
              </tr>
              <tr>
                <td>{{document.list11}}</td>
                <td>{{document.list12}}</td>
              </tr>

              <tr>
                <td>{{document.list13}}</td>
                <td><b>{{document.list14}}</b></td>
              </tr>

              <tr>
                <td>{{document.list15}}</td>
                <td>{{document.list16}}</td>
              </tr>

              <tr>
                <td>{{document.list17}}</td>
                <td>{{document.list18}}</td>
              </tr>

              <tr>
                <td>{{document.list19}}</td>
                <td>{{document.list20}}</td>
              </tr>

              <tr>
                <td>{{document.list21}}</td>
                <td>{{document.list22}}</td>
              </tr>

              <tr>
                <td>-</td>
                <td>{{document.list23}}</td>
              </tr>

              <tr>
                <td>{{document.list24}}</td>
                <td>-</td>
              </tr>

              <tr>
                <td>{{document.list25}}</td>
                <td>-</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <h2>{{document.list26}}</h2>
      <p><b>{{document.list27}} </b> {{document.list28}}</p>

      <p><b>{{document.list29}}</b> {{document.text4}}</p>

      <p><b>{{document.list30}}</b></p>
      <p>{{document.list31}}</p>
      <p>{{document.list32}}</p>
      <p>{{document.list33}}</p>

      <div class="col-md-12 col-12">
        <div class="table-responsive-sm">
          <table class="table border table-info">
            <thead>
              <tr>
                <th>{{document.list34}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>{{document.list35}} </th>
                <th>{{document.list36}}</th>
                <th>{{document.list37}}</th>
              </tr>
              <tr>
                <td>1. </td>
                <td>{{document.list38}} </td>
                <td>{{document.list39}}</td>
              </tr>
              <tr>
                <td>2.</td>
                <td>{{document.list40}} </td>
                <td>{{document.list41}}-</td>
              </tr>

              <tr>
                <td>3. </td>
                <td>{{document.list40}} </td>
                <td>{{document.list42}}</td>
              </tr>

              <tr>
                <td>4. </td>
                <td>{{document.list40}}</td>
                <td>{{document.list43}} <br> <br></td>
              </tr>

              <tr>
                <td>5. </td>
                <td>{{document.list44}} </td>
                <td>{{document.list45}} <br> <br></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="table-responsive-sm">
          <table class="table border table-info">
            <thead>
              <tr>
                <th>{{step.heading_text}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>{{step.list1}} </th>
                <th>{{step.list2}} </th>
                <th>{{step.list3}} </th>
                <th>{{step.list4}} </th>
              </tr>
              <tr>
                <td>1. </td>
                <td>{{step.list5}}</td>
                <td>{{step.list6}}</td>
                <td>{{step.list7}}</td>
              </tr>
              <tr>
                <td>2.</td>
                <td>{{step.list8}} </td>
                <td>{{step.list9}} </td>
                <td>{{step.list10}}</td>
              </tr>

              <tr>
                <td>3. </td>
                <td>{{step.list11}} </td>
                <td>- </td>
                <td>{{step.list12}}</td>
              </tr>

              <tr>
                <td>4. </td>
                <td>{{step.list13}} </td>
                <td>- </td>
                <td>{{step.list14}}</td>
              </tr>

              <tr>
                <td>5. </td>
                <td>{{step.list15}} </td>
                <td>- </td>
                <td>{{step.list16}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <h2>{{step.step1}}</h2>
      <p>{{step.answer1}}</p>
      <h2>{{step.step2}}</h2>
      <div class="about-text-style">
        <ul>
          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list17}}</li>

          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list18}}</li>

          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list19}} </li>

          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list20}}</li>

          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list21}}</li>
        </ul>

        <ul>

          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list22}} </li>

          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list23}}</li>

          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.list24}} </li>

          <li> <i class="fa fa-check-circle" aria-hidden="true"></i>{{step.list25}}</li>

          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{step.step3}}</li>
        </ul>
      </div>

    </div>

    <div class="row">

      <div class="col-md-12 col-12">
        <h2>{{faq.heading_text}}</h2>
        <div class="accordion pt-2" id="accordionExample">
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                {{faq.question1}}
              </button>
            </h4>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body list-style">
                {{faq.answer1}}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                {{faq.question2}}
              </button>
            </h4>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {{faq.answer2}}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                {{faq.question3}}
              </button>
            </h4>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {{faq.answer3}}
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h4 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                {{faq.question4}}
              </button>
            </h4>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
              data-bs-parent="#accordionExample">
              <div class="accordion-body list-style">
                {{faq.answer4}}
              </div>
            </div>
          </div>


          <div class="accordion-item">
            <h4 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                {{faq.question5}}
              </button>
            </h4>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
              data-bs-parent="#accordionExample">
              <div class="accordion-body list-style">
                {{faq.answer5}}
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
</section>


{% endblock %}