{% extends 'index.html' %}

{%block title%} Increase Authorised Capital  {% endblock %}

{%block body %}
     <section class="top-bn1 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <p>An increase in Authorised Capital</p>
            <p>Simple Process &amp; Transparent Fee</p>
            <p>All India Incorporation Service</p>

            <h2><b>The increase in  <span class="text-white">Authorised Capital </span></b></h2>
            <p class="pt-4"> <b>The authorized Capital of a business is the maximum amount to which it can issue shares. The procedure to increase the authorized Capital is entirely online. It involves the consent of shareholders at an EGM and the payment of a charge for that ROC along with Stamp duty.  
            </b></p>
            <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#benefits">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Benefits</a> </li>
            
            <li> <a class="sidelink" href="#faq">
            <span class="icon-s"> <i class="fa fa-question-circle" aria-hidden="true"></i> </span>  FAQ</a> </li>
            
            </ul>
          </div>

          <div class="content content-3s bg-light">
            <div id="overview">
              <section class="py-4">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 col-12 heading">
                        <h2 class="fs-2">Increase the Authorised  <span class="text-primary">Capital of </span>India</h2>
                        <p class="fs-6">It is crucial to determine whether you are sure that the Authorized Capitalization of the company is enough to allow for the increase in the share capital paid up by the business. To comprehend the meaning and the difference between these terms, click here. We at Dobizindia business solution private limited make your experience of growing your Authorized Capital for your company uncomplicated, quick and entirely online. Small-sized businesses (Between 50 and 50 Lakh) and start-ups We offer solutions to increase the Authorized Capital at just 5999 or Rs. 5999/-. The taxes and fees of the government in actual amount.</p>
                        <h2 class="fs-5">Important Information on the Increasing in Authorized Capital</h2>
                        <div class="about-text-style">
                          <ul>
                             <li> <i class="fa fa-check-circle" aria-hidden="true"></i> This requires modification of MOA.</li>

                             <li> <i class="fa fa-check-circle" aria-hidden="true"></i> AOA could also need to be changed</li>

                             <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Check the ROC Fee on MCA Portal</li>

                             <li> <i class="fa fa-check-circle" aria-hidden="true"></i> The Board meeting and EGM Mandatory</li>

                             <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Procedure to Increase The Authorised Capital of the Company</li>

                          </ul>
                        </div>
                        <h2 class="fs-5">Request the Board of Director's Approval for the Increase of Capital of the Company</h2>
                        <p class="fst-italic">To decide on the proposed maximum amount of the Capital authorized or alteration of that capital clause in the MOA, directors must meet in legally-convened board meetings. The notice that directors receive should contain the agenda for the meeting. We recommend that the proposed resolution ensure directors are prepared. We strongly suggest adhering to the guidelines in the ICSI within SS-1 to conduct a board meeting.</p>
                      </div>

                    </div>
                  </div>
                </section>

              <section class="py-4 s-img s-img1">
                  <div class="container py-2">
                    <div class="row">
                      <div class="col-md-2 col-12">
                      </div>
                    <div class="col-md-10 col-12">
                      <h2 class="fs-4">Organize the Extraordinary General Meeting (EGM) of Shareholders</h2>
                      <p>The next step is to get approval from the corporation's shareholders. The shareholder's decision is only taken at a valid extraordinary general meeting. To call an EGM, directors must notify every corporation shareholder at least 21 days before the date for the EGM. This notice for EGM should include the agenda and draft of the resolution proposed to be adopted as a special resolution.</p>
                      <h2 class="fs-4">Filing of Special Resolutions to Roc using Form -MGT-14</h2>
                      <p>A special resolution is a decision voted on by more than 75 percent of the voting rights. The particular resolution that is adopted at the EGM is then submitted to the ROC to be approved by them. A certified copy must be filed on Form MGT-14 and is accompanied by the fee prescribed within 30 days of the resolution's approval. The modified MOA, as well as the Minutes of the meeting of the EGM in which the special resolution was passed, must be added to the form.</p>
                      
                    </div>
                    </div>
                  </div>
                </section>

            <section class="py-4 bg-light">
                  <div class="container">
                    <div class="row">

                      <div class="col-md-12 col-12 heading pt-2">
                        <h2 class="fs-5">Submission of an application for an increase in the Authorized Capital in SH-7</h2>
                        <p>When the consent of the shareholders is secured through the adoption of the Special Resolution at the EGM, The director who has been authorized will file an application on Form SH-7 along with the relevant ROC and attachments, such as the copy of the amended MOA and AOA, Special Resolution, etc. . Following the approval of SH-7, the Capital authorized of the business will be raised.</p>
                       <h2 class="fs-4">Documents needed for capital share</h2>
                       <p>The documents must be submitted to the MCA after 30 calendar days of getting the shareholder's approval for the increase in share capital. The typical resolution for private companies is simply SH-7. MGT-14 does not have to be filed.</p>
                        <div class="about-text-style">
                            <ul>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Certificate of digital signature: A copy of DSC from any authorized director of the company. DSC from any authorized director of the business</li>

                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Memorandum of Association An exact copy most recent or modified edition of the MoA</li>

                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Articles of Agreement The amended or most recent edition of the AoA</li>

                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Certificate of Incorporation The certificate of incorporation for the company.</li>

                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> PAN card The company's PAN card.</li>
                            </ul>
                        </div>
                      </div>

                      
                    </div>
                  </div>
                </section>

            </div>

             <div id="benefits">

              <section class="btm_grd_banner py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-12">
                      <div class="py-2 text-white heading">
                      <h2 class="py-2">Benefits</h2>
                      <h2 class="fs-4">Increases Share Capital</h2>
                      <p class="fs-6 pt-2">A company can raise any authorized capital they want, which will be included in the MoA and revised. Thus, raising authorized Capital will have an increasing impact on the company's share capital.</p>
                      <h2 class="fs-4">Increases Capacity for Borrowing</h2>
                      <p class="fs-6">As the share capital increases, the company's total net worth also rises. This increases the ability to borrow for the business.</p>

                      <p class="fs-6">This could lead to investments since they can be handled with enough approved Capital.</p>

                      </div>
                    </div>
                  </div>
                </div>
              </section>

            </div>


            <div id="faq">
             <section class="bg-light py-4">
                <div class="container">
                  <div class="row">

                    <div class="col-md-11 col-12 mx-auto heading2">
                      <h2 class="text-center">Frequently Asked  <span class="text-primary">Questions</span></h2>
                      <div class="accordion pt-2" id="accordionExample">
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              What exactly is authorized Capital?
                            </button>
                          </h4>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                              Authorized Capital refers to the highest amount of part of a corporation that can be divided among shareholders in the business.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              What are the reasons to increase the Capital authorized of a business?
                            </button>
                          </h4>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              Authorized Capital refers to the upper limit to the point at which a business can get funds from the general public. To get funds from the general public, raising your business's authorized share capital is necessary.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            How can the articles of association be modified? 
                            </button>
                          </h4>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                             Clause 4 in the article of association must be changed. If the business cannot change the AOA, it must be amended through a different resolution. On each AOA, an original copy of the decision approving this change is required to be submitted to the registrar within a time frame that is 15 calendar days.
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                             What are the requirements for increasing the Capital authorized?
                            </button>
                          </h4>
                          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             To increase the Capital authorized of the company, the clause governing the increase in Capital authorized is required to be included in the documents of association and the prior approval of the corporation's members.
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

     {% endblock %}