{% extends 'index.html' %}

{%block title%} Registered Office Change  {% endblock %}

{%block body %}
     <section class="top-bn2 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <p>Company Changes in Registered Office</p>
            <p>Simple Process and Transparent Fee </p>
            <p>All India Incorporation Service</p>

            <h2><b>Change of registered <span class="text-white">office in the company </span></b></h2>
            <p class="pt-4"> <b>Section 12 of The Companies Act states that every company must maintain a registered business office. All changes to the registered office should be reported within 30 days to a ROC. Except for city changes, prior approval must be obtained from ROC/RD.  
            </b></p>
            <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            
            <li> <a class="sidelink" href="#faq">
            <span class="icon-s"> <i class="fa fa-question-circle" aria-hidden="true"></i> </span>  FAQ</a> </li>
            
            </ul>
          </div>

          <div class="content content-2s bg-light">
            <div id="overview">
              <section class="py-4">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 col-12 heading pt-2">
                        <div class="about-text-style">
                            <ul>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Diverse Options Available for Foreign Corporations </li>

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Change Registered Office Local Limits City </li>

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Approval of the Board of directors is the only requirement. The process is straightforward. We will deliver it on the same day. </li>

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> From One City into Another within Same ROC </li>

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> The shareholder and director must agree to be approved. MGT-14 must be filed, and INC-22 must also be filed with ROC. </li>

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> From a ROC in One Jurisdiction to Another </li>

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> A requirement for this process is a newspaper publication and RD approval. </li>

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> From One State to Another </li>

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> The law prescribes a process for shifting a registered office from one state to another.</li>

                            </ul>
                          </div>
                        <h2 class="fs-1">Registered Office  <span class="text-primary">- Company</span></h2>
                        <p class="b-style text-style">If the Companies Act and Rules clarify, you can transfer the registered office to another location. The nature of any change can affect the process and documentation. There are four options for changing the company's registered address. But, it is easier to change the company's registered address within the same area. </p>
                      </div>

                    </div>
                  </div>
                </section>

              <section class="py-4 s-img s-img1">
                      <div class="container py-2">
                        <div class="row">
                          <div class="col-md-2 col-12">
                          </div>
                        <div class="col-md-10 col-12">
                          <h2>Four Scenarios Are as under </h2>
                          <div class="about-text-style">
                                <ul>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Within the local limits of the city, change. </li>

                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> One City, Another within the Same ROC </li>

                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> From One ROC Jurisdiction to Another </li>

                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> From One State to Another </li>
                                </ul>
                            </div>

                            <div class="table-responsive-sm">
                            <table class="table border table-info">
                              <thead>
                                <tr>
                                  <th>S.No  </th>
                                  <th>A. A.</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1. </td> 
                                  <td>New Address for the Registered Address</td>
                                </tr>
                                <tr>
                                  <td>2.</td>  
                                  <td>If the new address is owned and controlled by the company, title document</td>
                                </tr>

                                <tr>
                                  <td>3.  </td>
                                  <td>Rent Agreement + Rent Receipt - New address</td>
                                </tr>

                                <tr>
                                  <td>4.  </td>
                                  <td>Utility Bill of Presence &amp; NOC from the owner of the new address</td> 
                                </tr>

                                <tr>
                                  <td>5.  </td>
                                  <td>For submission to ROC, Copy of the Board Resolutions</td>
                                </tr>

                                <tr>
                                  <td>6.</td>
                                  <td>Certification by professionals (CA/CS/CMA).</td>
                                </tr>

                                <tr>
                                  <td>7.</td>
                                  <td>Filing the Form INC-22 for MCA Govt Fee</td>
                                </tr>
                              </tbody>
                            </table>
                            </div>

                            <p><b>Procedure for the Change in Registered Office Address </b></p>

                        </div>
                        </div>
                      </div>
                    </section>

                   <section class="py-4">
                      <div class="container">
                        <div class="row">

                          <div class="col-md-12 col-12 heading pt-2">
                            <h2 class="fs-4 pt-4">New Address to be Identified</h2>
                            <p>In compliance with Local Land Rules, the process involves the identification of a new registered address for the company.</p> 
                 
                            <p>The company should only occupy new premises after executing the appropriate document, such as a sale deed or rent agreement.</p> 
                             
                            <p>Ask for a Notification of Compliance from the Owner</p>
                             
                            <p>A NOC must be obtained from the property owner if the new address isn't yet owned. Board Meeting to Pass Resolutions</p>
                             
                            <p>At a properly convened meeting of directors, adopt a Board resolution for change of registered address with a simple majority. </p>
                             
                            <h2 class="fs-4">Filing INC-22 to Get Intimate ROC </h2>
                             
                            <p>Notify the registrar of any change within 30 days of effective change. You can do this by filing Form INC-22. 
                             
                            </p><p>Change All Stationary &amp; Sign Board </p>
                             
                            <p>After changing the registered address, the company will need to make the necessary changes to all signs and marketing materials. </p>
                          </div>

                        </div>
                      </div>
                    </section>
            </div>


            <div id="faq">
             <section class="bg-light py-4">
                <div class="container">
                  <div class="row">

                    <div class="col-md-11 col-12 mx-auto heading2">
                      <h2 class="text-center">Frequently Asked  <span class="text-primary">Questions</span></h2>
                      <div class="accordion pt-2" id="accordionExample">
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Who is The Registered Office Of The Company?
                            </button>
                          </h4>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                              The address of a company that is registered in the register maintained by the registrar of Companies (ROC) is called the registered office. According to section 12 of the Companies Act, the company must maintain its registered address. It should be a physical address that can receive official communication from government departments.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                             What can I do to change my Registered Office? 
                            </button>
                          </h4>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                              Yes. Any Indian company can move its registered office. But, each case's process, documentation, and method will vary. Four possible cases can be used to shift the registered address. You can find more information on each topic below: 
                              <ul>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Change of Registered office within the Same City</li>

                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Shifting of registered office within the same ROC/State</li>

                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Moving to the Enrolled Workplaces, starting with one spot and then onto the next inside a solitary ROC</li> 

                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Shifting of Registered office from one state to another </li>

                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Inquire about a change to your registered office with the ROC. 
                            </button>
                          </h4>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                             The registrar of Companies must be notified by filing INC-22. Attached is a supporting document (in the form of the ownership papers/Rent arrangement and NOC of the power). A practicing Chartered accountant, Company Secretary, Cost and Management Accounting or Cost and Auditor must attest to the form INC-22.
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}