{% extends 'index.html' %}

{%block title%} Share Transfer in Company {% endblock %}

{%block body %}

{% include 'common_pages/banner.html' %}

<section class="py-4 bg-light1">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-9 col-12 affix-top bg-light" data-spy="affix" data-offset-top="597">
        <!-- Nav pills -->
        <ul class="nav nav-pills" role="tablist">
          {% if meaning %}
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="pill" href="#meaning">Meaning</a>
          </li>
          {% endif %}
          {% if minimum %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#requirement">Minimum requirement</a>
          </li>
          {% endif %}
          {% if benefit %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#benefit">Benefit</a>
          </li>
          {% endif %}
          {% if document %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#required">Document required</a>
          </li>
          {% endif %}
          {% if incorporation %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#process">Incorporation Process</a>
          </li>
          {% endif %}
          {% if compliance %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#compliance">Compliance</a>
          </li>
          {% endif %}
          {% if closure %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#closure">Closure </a>
          </li>
          {% endif %}
          {% if faq %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#faq">FAQ</a>
          </li>
          {% endif %}
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div id="meaning" class="container tab-pane content active"><br>
            <p><b>{{meaning.heading_text}}</b></p>
            <p><b>{{meaning.heading_text2}} </b></p>
            <p><b>{{meaning.heading_text3}} </b></p>

            <h2>{{meaning.heading_text2}}</h2>
            <p><b>{{meaning.text}}</b></p>
            <h2>{{meaning.heading_text3}}</h2>
            <p class="b-style text-style">{{meaning.text2}}</p>
            <h2>{{meaning.heading_text4}}</h2>
            <div class="about-text-style">
              <ul>
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{meaning.list1}}</li>

                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{meaning.list2}}</li>
                <li> <i class="fa fa-check-circle" aria-hidden="true"></i>{{meaning.list3}}</li>

                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{meaning.list4}}</li>

                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{meaning.list5}}</li>

              </ul>
            </div>
          </div>

          <div id="requirement" class="container tab-pane fade"><br>
            <div class="row">
              <div class="col-md-12 col-12">
                <h2>Requirement</h2>

              </div>

            </div>



          </div>

          <div id="benefit" class="container tab-pane fade"><br>
            <h2>Benefits</h2>

          </div>

          <div id="required" class="container tab-pane fade"><br>
            <div class="row">

              <div class="col-md-12 col-12 heading">
                <h2>{{document.heading_text}}</h2>
                <p>{{document.text}}</p>
                <div class="table-responsive-sm">
                  <table class="table border table-info">
                    <thead>
                      <tr>
                        <th>{{document.list1}}</th>
                        <th>{{document.list2}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1.</td>
                        <td>{{document.list3}}</td>
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td>{{document.list4}}</td>
                      </tr>
                      <tr>
                        <td>3.</td>
                        <td>{{document.list5}}</td>
                      </tr>

                      <tr>
                        <td>4.</td>
                        <td>{{document.list6}}</td>
                      </tr>

                      <tr>
                        <td>5.</td>
                        <td>{{document.list7}}</td>
                      </tr>

                      <tr>
                        <td>6.</td>
                        <td>{{document.list8}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <h4>{{document.heading_text2}}</h4>
                <p>{{document.text2}}</p>
                <h2>{{document.heading_text3}}</h2>
                <p class="b-style text-style">{{document.text3}}</p>
              </div>

            </div>

          </div>

          <div id="process" class="container tab-pane fade"><br>

            <h2>Proccess</h2>
          </div>

          <div id="compliance" class="container tab-pane fade"><br>
            <h2>Compliance</h2>
          </div>

          <div id="closure" class="container tab-pane fade"><br>
            <h2> closure </h2>
          </div>

          <div id="faq" class="container tab-pane fade"><br>
            <h2 class="fs-4">FAQ</h2>

          </div>

        </div>
      </div>

      {% include 'common_pages/pricing_sum_below.html' %}

    </div>
  </div>
</section>

{% include 'common_pages/product.html' %}

<section class="checklist py-4">
  <div class="container">
    <div class="row py-4">
      <h2>{{faq.question1}}</h2>
      <p>{{faq.answer1}}</p>
      <h2>{{faq.question2}}y</h2>
      <p class="fst-italic">{{faq.answer2}}</p>

    </div>
  </div>
</section>
{% include 'common_pages/reviews.html' %}

{% endblock %}