{% extends 'index.html' %}
{%block title%} Cloud-accounting {% endblock %}

{%block body %}
     <section class="top-bn4 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <p><b>Online Invoicing and GST Ready  </b></p>
            <p><b>Free Migration to India's finest cloud-based accounting software </b></p>
            <p><b>All India Incorporation Service </b></p>

            <h2><b>Online Invoicing and <span class="text-white">GST Ready  </span></b></h2>
            <p>We assist you in implementing and customizing India's most well-known cloud-based accounting software. Zoho Books is cloud-ready, mobile-friendly and compatible with GSTN and several banks. The Government of India also recognizes Zoho Books as the best app for Business in the category. </p>
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            <li> <a class="sidelink" href="#document">
            <span class="icon-s"> <i class="fa fa-file-text" aria-hidden="true"></i> </span>  List of Documents</a> </li>
            
            </ul>
          </div>

          <div class="content content-3s bg-light">
            <div id="overview">
              <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-12 heading pt-2">
                      <h2 class="fs-2">Change to Digital<span class="text-primary"> Accounting </span></h2>
                      <p class="fs-6">In these uncertain times in uncertain times, having your Business online and having access online to your Business has taken on important importance. Our cloud accounting specialists can assist you in building an accounting program from the ground up or assist you with the migration of your accounting information into Zoho Books. We provide the following cloud enablement solutions across India.</p>
                      <h2 class="fs-4">Customization </h2>
                      <p class="b-style text-style">We assist you in changing the way you do accounting. Cloud computing offers advantages as well as makes it straightforward. You don't have to be a B. Com or accountant to manage your Business with Zoho Books. Zoho Books. It's the ideal solution for expanding your company. </p>
                      <h2 class="fs-4">Migration</h2>
                      <p class="fs-6 fst-italic">We have experience in transferring data from one program to another. Our most requested service is migration from Tally into Zoho books. We also allow migrations from platforms such as QuickBooks, Busy or Marg accounting software.</p>
                    </div>

                  </div>
                </div>
              </section>

              <section class="py-4 s-img s-img1">
                  <div class="container py-2">
                    <div class="row">
                      <div class="col-md-2 col-12">
                      </div>
                    <div class="col-md-10 col-12">
                      <h2 class="fs-2">Training </h2>
                      <p>We train accountants to use cloud-based accounting software and provide ongoing support. The course covers a broad knowledge of Zoho Books and Payroll and Inventory Invoicing software, as well as we help accountants customize it to meet the requirements of their company. </p>
                      <h2 class="fs-2">Outsource Your Accounting Task for Dobizindia Business Solution Private Limited </h2>
                      <p>Accounting is the art of recording transactions of a financial nature every day on a calendar basis. Every Business should keep up-to-date books of accounts. This is required by law and an essential rule to adhere to tax laws. It doesn't matter how big the company is not a factor, and the legal obligations apply to everyone. The company's accounting determines the tax payment for advance taxes, TDS, and GST. Our accounting outsourcing services are unique and specifically designed for you to have more time to concentrate on your Business, not manage the accounting of your Business. Our accountants have been educated and are supervised by a highly skilled and experienced team to ensure that we can provide accurate and tax-efficient financials for your Business.</p>
                      <div class="about-text-style">
                            <ul>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> We do Accounting </li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Approve MIS Reports </li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Taxes to be paid on time</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Make GST/TDS returns. </li>
                            </ul>
                        </div>
                    </div>
                    </div>
                  </div>
                </section>

               <section class="py-4 bg-light">
                  <div class="container">
                    <div class="row">

                      <div class="col-md-12 col-12 heading pt-2">
                        <h2 class="fs-4">The most important legal point of Accounting for Your Business</h2>
                        <p>In these uncertain times, having your Business on the cloud and having internet access to your company has gained important importance. Our cloud accounting specialists will assist you in creating the accounting system from scratch or assist you with the migration of your accounting information onto Zoho Books. We provide the following cloud-based cloud services across India. </p>
                        <h2 class="fs-4">Legal Provision </h2>
                        <p class="b-style text-style">Section 128 under the Companies Act 2013 requires that every Business keep and keep its books of accounts, other relevant books, and financial statements every fiscal year, providing a complete and honest overview of the Business's affairs. Similar provisions are included in section 34 of the LLP Act (2008), which deals with LLP. ?</p>
                        <h2 class="fs-4">Books are to be kept for 8 years. </h2>
                        <p class="fst-italic">A company or LLP must keep records of its accounts, such as proper documents vouchers, as well as other records of accounting like bank statements, invoices and registers, etc., for eight years. In the event of any legal action involving taxes or accounts, the records must be maintained until the conclusion of the proceedings. ?</p>
                      </div>

                    </div>
                  </div>
                </section>

            </div>

             <div id="process">

              <section class="btm_grd_banner py-4">
                <div class="container">
                  <div class="row text-center">
                    <div class="col-md-12 col-12">
                      <div class="py-2 text-white heading2">
                      <h2 class="py-2">Retribution for Non-compliance </h2>
                      <p class="fs-6 pt-2">In the event of a violation of Section 128 of the Companies Act, There is a penalty of imprisonment for a time that may last for a year and a fine that is not less than one hundred thousand rupees. 50000/-, but it could be as high as Rs.5 lakh or both. If it is LLP and designated partners, the penalty for violation of section 34 is one hundred rupees. 25000 to 5 lacs due to LLP or a named partner is 10 thousand to 1 lac. 10000 to 1 lac. </p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

            <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">The place to maintain the account </h5>
                            <br>
                            <p class="card-text">The Book of Account is to be kept in the company's Registered Office or LLP. The Board of Directors can decide to maintain and keep the books of accounts at any other location in India. But, any such decision should be communicated by the ROC in Form No. AOC 5 within 7 days. If it is an LLP, the books have to be kept in the office registered to the LLP. </p>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-12 mt-4">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Responsible Person </h5>
                            <br>
                            <p class="card-text">The primary responsibility of keeping the accounts books is at the discretion of the company's Board of Directors or the LLP's designated partners. But, in the event of non-compliance with laws, the Managing Director, an all-time director responsible for finance and CFO of the company and LLP, and the designated partners are accountable. </p>
                          </div>
                        </div>
                    </div>


                    <div class="col-md-8 col-12 mt-5 mx-auto">
                      <div class="card border-none">
                          <div class="card-body shadow border-round">
                            <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                            <h5 class="card-title card-header">Finalization of Accounts and Audit </h5>
                            <br>
                            <p class="card-text">After the conclusion of the fiscal year, the accounts for the year's end must be completed. Which results on the loss and profit account and the balance report for the financial year? The books of accounts need to be signed by two directors or partners designated by the company. For businesses, the books need to be reviewed by the auditors appointed by the statutory audit of the Business, and in the event of an LLP audit, it is required. LLP audits are mandatory when the turnover is greater than 40 lacs. </p>
                          </div>
                        </div>
                    </div>

                  </div>

                </div>
              </section>

            </div>


            <div id="document">
              <section class="py-4 ab-banner text-white">
                <div class="container">
                  <div class="row">
                  <div class="col-md-12 col-12 heading">
                    <h2 class="py-4">Documents required to ensure Accounting &amp; Tax Compliance. </h2>
                    <p>The following is an indicative list of documents needed to keep an accounting of a business and ensure compliance with tax regulations. The GST Act prescribes several records to be kept by the company. Refer to the Act for more information.</p>
                  </div>
                  </div>



                  <div class="row table-responsive-sm">

                      <div class="col-md-12 col-12 p-2">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td> <b>1.</b> Bills/Invoices that were paid during the month.</td>
                          </tr>     
                          <tr class="table-primary">
                            <td> <b>2.</b> Purchase bills or invoices of services provided.</td>
                          </tr>

                          <tr class="table-info">
                            <td> <b>3.</b> Returns on Purchases or Sales.</td>
                          </tr>
                          <tr class="table-warning">
                            <td> <b>4.</b> Credit and debit notes.</td>
                          </tr>
                          
                          <tr class="table-light">
                            <td> <b>5.</b> A detailed statement of the Bank Accounts of all.</td>
                          </tr>

                          <tr class="table-warning">
                            <td> <b>6.</b> Cash Book with vouchers as well as proof.</td>
                          </tr>
                          
                          <tr class="table-light">
                            <td> <b>7.</b> Other financial information of a similar nature</td>
                          </tr>

                        </tbody>
                      </table>
                    </div>

                  </div>
                </div>
              </section>
            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizIndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

     {% endblock %}