{% extends 'index.html' %}
{%block title%}GST Registration in India{% endblock %}

{%block body %}
     <section class="top-bn3 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <p>Dobizindia business solution private limited provides the highest quality services in GST registration. Our dedicated team will assist you at each step of GST registration. </p>
            <h2><b>GST Register  <span class="text-white">in India  </span></b></h2>
            <p class="pt-4"> <b>GST is an indirect tax levied on all types and sales of Indian goods and services. GST is an indirect tax levied on selling goods and services in India. Businesses that generate revenues must register to be GST registered. Dobizindia business solution is a private limited that specializes in GST registration. Our experienced and skilled team of CS, CS and paralegal experts provide services to you. They believe in providing the highest quality and professional GST registration in India.  
            </b></p>
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            <li> <a class="sidelink" href="#document">
            <span class="icon-s"> <i class="fa fa-file-text" aria-hidden="true"></i> </span>  List of Documents</a> </li>
            <li> <a class="sidelink" href="#faq">
            <span class="icon-s"> <i class="fa fa-question-circle" aria-hidden="true"></i> </span>  FAQ</a> </li>
            
            </ul>
          </div>

          <div class="content content-3s bg-light">
            <div id="overview">
              <section class="py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-12 heading pt-2">
                      <h2 class="fs-1">Significance of <span class="text-primary"> the GST</span></h2>
                      <p class="fs-6">GST (Goods and Services Tax) was introduced by the GST Act (2016) to implement the concept of "One country, one tax" in India. It is collected and levied on the sale and buying of goods and services throughout India. It covers intra-state and international trade of goods or services. It can also be categorized as Central GST, Inter-state GST, or State GST. The tax collected by the Central Government is divided among the State Governments at a predetermined rate. GST is an umbrella tax introduced in India to improve the tax collection system. It aims to reduce double taxation, tax evasion, transparency in payment and collection, and avoiding double taxation. </p>
                      <h2>GST Registration in India </h2>
                      <p class="b-style text-style">The registration process under any tax system is vital for two primary reasons: first, it allows taxpayers to establish a financial identity, and second, it ensures regular tax compliance. For registration under the Act, taxpaying entities can apply for it to get a unique number known as GST Identification Number, or GSTIN, from the appropriate tax authorities. This way, they can pay taxes and get Input credit for any taxes paid for inward supplies. GST registration is required to pay GST and claim the input tax credit. A registration certificate is also issued once the taxpayer has been registered under GST. </p>
                    </div>

                  </div>
                </div>
              </section>

              <section class="py-4 s-img s-img1">
                  <div class="container py-2">
                    <div class="row">
                      <div class="col-md-4 col-12">
                      </div>
                    <div class="col-md-8 col-12">
                      <h2>GST Registration for Taxpayers: The Key Benefits </h2>
                      <div class="about-text-style">
                            <ul>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Recognized as a supplier/supplier of goods/services</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> GST payable by law</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> ITC is a legal right</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Transparency is enhanced in tax payments.</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Double taxation is avoided.</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Reduced compliance with tax</li>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Checklist for GST Registration in India</li>
                            </ul>
                        </div>
                      <p>You must get GST registration if your annual turnover as a supplier of goods or services exceeds that prescribed by the GST Act 2016. But, the GST Act also lists certain suppliers who must have GST registration regardless of their turnover. Below is a comprehensive list of taxpayers that are eligible for GST registration.</p>
                    </div>
                    </div>
                  </div>
                </section>

            <section class="py-4 bg-light">
                <div class="container">
                  <div class="row">

                    <div class="col-md-12 col-12 heading pt-2">
                      <h2 class="fs-4 pt-4">GST Registration Checklist </h2>
                      <p> Average Annual Turnover exceeds Rs. For merchandise business, 40 Lakhs  </p>
                      <p> The total annual turnover for service providers inside and outside the state exceeds Rs.20 crores.  </p>
                      <p> Average Annual Turnover exceeds Rs. All North Eastern and Hilly State businesses must generate 10 lakhs annually.</p> 
                      <div class="about-text-style">
                          <ul>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> E-commerce aggregators - Businesses selling on the ecommerce platform</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Casual Taxpayers, NRI, Importers &amp; Exporters</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Taxpayers under GST Reverse Charge Mechanism</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Input service distributors</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Taxpayers who have been taxpaying under the previous tax regime</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Interstate supplies are a business activity for merchandising businesses.</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Service Providers that offer information &amp; databases online</li> 
                          </ul>
                      </div>
                    </div>

                  </div>
                </div>
              </section>

            </div>

             <div id="process">

              <section class="btm_grd_banner py-4">
                  <div class="container">
                    <div class="row text-center">
                      <div class="col-md-12 col-12">
                        <div class="py-2 text-white heading2">
                        <h2 class="py-2">Stepwise Procedure for GST Registration in India </h2>
                        <p class="fs-6 pt-2">Online registration under the GST Act is possible by submitting the prescribed form on the GST Portal. PAN-based or Aadhar basis applications are available. The applicant's identity is confirmed in these cases by providing the PAN and Aadhar documents. Once the application for GST Registration has been received, the authorities involved will verify and process it. If the application for GST registration is successful, the Indian Government issues a Certificate of GST Registration. It will also issue a GSTIN (GST Identification Number) to the applicant. </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

              <section class="py-4">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6 col-12">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">STEP 2 - Documentation</h5>
                              <br>
                              <p class="card-text">The required documentation must be included in the application for GST registration. The documentation required for GST registration is determined by the type of business entity applying for registration and the nature of the business activity. Must that all documents needed to apply are organized in advance. This will ensure that applicants do not forget any information while filing their applications. The entire application may be rejected if all required documents are not submitted correctly. </p>
                            </div>
                          </div>
                      </div>

                      <div class="col-md-6 col-12 mt-4">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">STEP 2. - Registration on the GST portal </h5>
                              <br>
                              <p class="card-text">To be eligible for GST registration, an applicant must submit the GST REG-01 form available on the GST portal. The application can be divided into two parts. The first section requests basic details such as name, contact information, location, PAN (if the application was PAN-based), or an Aadhar Number (if the Aadhar-based application). </p>
                            </div>
                          </div>
                      </div>

                    </div>



                    <div class="row pt-4">

                      <div class="col-md-4 col-12">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">STEP 3. - OTP-based Verification </h5>
                              <br>
                              <p class="card-text">After the first step is completed, an OTP-based authentication is done to confirm identity. An OTP is sent to any PAN-based application. You will be allowed to continue with the application after you provide the correct OTP. Aadhar application-based applications will receive an OTP via email to the contact number and email address. To access the Aadhar Number, you will be asked for the Aadhar number. A second OTP, which will be sent to the same email address as the Aadhar document, will be sent to the mobile number and email address. Once both OTPs have been successfully submitted, you can continue with the application. </p>
                            </div>
                          </div>
                      </div>


                      <div class="col-md-4 col-12 mt-4">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">STEP 4. - Generation TRN </h5>
                              <br>
                              <p class="card-text">After identity verification is completed, a Temporary reference number or TRN is sent out to the applicant's email address. From there, the applicant can proceed to part two of the application. You should note that the TRN will be valid for 15 calendar days from its date. Please fill out the second part of this application and submit it within the specified time. </p>
                            </div>
                          </div>
                      </div>

                      <div class="col-md-4 col-12 mt-5">
                        <div class="mt-5"></div>
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">STEP 5. - Fill in the application for GST registration </h5>
                              <br>
                              <p class="card-text">The TRN is used to log in again to the GST portal, where the applicant can complete the second part of the application. The applicant must fill out the second part of the application. This includes details about the business and its promoters. For timely compliance under GST, you will also need the taxpayer's bank details and account information. After submitting the application, the applicant must sign the document using a Digital Signature Certificate. </p>
                            </div>
                          </div>
                      </div>


                      <div class="col-md-9 col-12 mt-5 mx-auto">
                        <div class="mt-5"></div>
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">STEP 6 Issuance of GSTIN Certificate </h5>
                              <br>
                              <p class="card-text">After filling in both parts of the application, it is submitted on the GST portal. It takes 10-15 days for the authorities to process the request. If they are satisfied with the submitted documents and details, they will successfully register the taxpaying organization and issue a Certificate proving the same. A GST Identification Number is also issued for the unique identification of taxpaying entities. </p>
                            </div>
                          </div>
                      </div>

                    </div>

                  </div>
                </section>

            </div>


            <div id="document">
              <section class="py-4 ab-banner text-white">
                <div class="container">
                  <div class="row">
                  <div class="col-md-12 col-12 heading">
                    <h2 class="py-4">List do Documents Required for GST Registration </h2>
                    <p>Business entities may require different documents to register GST in India. The table below contains a list of all documents required for GST Registration of Partnership Firms, LLPs, Private Limited Companies and Proprietorship Firms. All these documents are required to register for GST. If you fail to supply any of them, your application might be rejected.</p>
                  </div>
                  </div>

                  <div class="row table-responsive-sm">

                      <div class="col-md-12 col-12">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>Private Limited </td>
                          </tr>     
                          <tr class="table-primary">
                            <td>Certificate of incorporation</td>
                          </tr>

                          <tr class="table-info">
                            <td>Provenance of company address</td>
                          </tr>
                          <tr class="table-warning">
                            <td>NOC from Owner, PAN Card of Company</td>
                          </tr>
                          
                          <tr class="table-light">
                            <td>Articles, Memorandum of Association</td>
                          </tr>

                          <tr class="table-warning">
                            <td>Board Resolution, Address and Director ID proof</td>
                          </tr>
                          
                          <tr class="table-light">
                            <td>Digital Signature of Director</td>
                          </tr>

                        </tbody>
                      </table>
                    </div>

                    <div class="col-md-6 col-12">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>LLP</td>
                          </tr>     
                          <tr class="table-primary">
                            <td>Certificate of incorporation</td>
                          </tr>
                          
                          <tr class="table-info">
                            <td>LLP Address Proof, NOC from the owner</td>
                          </tr>
                          <tr class="table-warning">
                            <td>PAN Card of LLP, LLP Agreement</td>
                          </tr>
                          
                          <tr class="table-light">
                            <td>Partners Id proof, Evidence of partner address</td>
                          </tr>

                          <tr class="table-warning">
                            <td>Digital Signature of DP</td>
                          </tr>

                        </tbody>
                      </table>
                    </div>

                    <div class="col-md-6 col-12">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>Proprietorship</td>
                          </tr>     
                          <tr class="table-primary">
                            <td>PAN card from the Proprietor, Aadhar Card</td>
                          </tr>
                          
                          <tr class="table-info">
                            <td>Ask for proof of proprietorship</td>
                          </tr>
                          <tr class="table-warning">
                            <td>Voter ID, Passport, Driving License, Aadhar</td>
                          </tr>
                          
                          <tr class="table-light">
                            <td>Cancelled cheque, Photographs of Proprietor</td>
                          </tr>
                          
                        </tbody>
                      </table>
                    </div>
                    <p><b>Note</b> on Proof Of Registered Address We require Electricity Bill / Tax Receipt/ Sales Deed along With Rent Agreement for Commercial Purpose. Additionally, a NOC must be obtained from the owner of the premises. </p>

                  </div>
                </div>
              </section>
            </div>


            <div id="faq">
             <section class="bg-light py-4">
                <div class="container">
                  <div class="row">

                    <div class="col-md-11 col-12 mx-auto heading2">
                      <h2 class="text-center">Frequently Asked  <span class="text-primary">Questions</span></h2>
                      <div class="accordion pt-2" id="accordionExample">
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Why is the Composite Scheme of GST so important? 
                            </button>
                          </h4>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                              The Composite Scheme was introduced for GST tax compliance on February 1, 2019. This scheme applies to manufacturing or trading businesses with a yearly turnover of more than Rs. 1.5 crores and service-based companies with an average annual turnover of at least Rs. 50 lakhs. The scheme's benefits for small businesses include its lower requirements for compliances and relatively lower tax rates compared to the regular GST Scheme. The composite scheme calculates taxes based on a fixed tax rate and the company's total annual turnover. You can get tax rates as low as 1%, 22%, 44%, or 6%. To receive the benefits, you must opt in by signing up for the scheme.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              In which tax category must I gets GST registration? 
                            </button>
                          </h4>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                              GST registration will usually be required depending on the amount of annual turnover and the business activities of the taxpaying entity. According to Section 24 of the GST Act 2016, certain types of businesses must register GST, regardless of their turnovers. Below is a listing of all such businesses. 
                              <ul>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Inter-state suppliers </li>

                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Casual taxpayers </li>

                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Taxpayers under GST reverse charge mechanism </li>

                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> NRI businesses </li>

                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> E-commerce entrepreneurs </li>

                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Agent of the supplier </li>

                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> TDS Deduct or</li>

                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Input Service Distributor
                            </button>
                          </h4>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                             OIDAR businesses are Online Information Database Access (Online Information Database Access).
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                             Is there a GST registration fee?
                            </button>
                          </h4>
                          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             GST registration applications can be filed entirely free of charge. The professional fee will be charged if the GST registration has been outsourced to a third party.  
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                             What is GSTIN? 
                            </button>
                          </h4>
                          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             After GST registration, the Government assigns a 15-digit GST identification number to the GSTIN. The GSTIN contains the State code in the first two digits, followed by the next 10 digits, which are the PAN for the legal entity. 
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                             GST Reverse Charge: What Is It?   
                            </button>
                          </h4>
                          <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             A reverse charge mechanism for GST has been established according to Sections 9 (3) &amp; (4) CGST Act SGST Act and Sections 5, (3) &amp; (4) IGST Act. The reverse charge mechanism of GST means that the buyer or the seller of goods or services is liable to pay the GST. This is only applicable in some instances. The buyer may be charged GST if the seller is not registered as a GST Act buyer. 
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                             How can your application for GST registration be denied? 
                            </button>
                          </h4>
                          <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             The application to register for GST can be rejected if:
                             <ul>
                               <li> <i class="fa fa-check-circle" aria-hidden="true"></i> False or inadequate details were provided</li>
                               <li> <i class="fa fa-check-circle" aria-hidden="true"></i> If the documentation provided is incorrect or incomplete.</li>
                               <li> <i class="fa fa-check-circle" aria-hidden="true"></i> If the DSC signature (signature) is falsified or invalid</li>

                             </ul>
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizIndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}