{% extends 'index.html' %}
{%block title%}import-export-code-iec{% endblock %}

{%block body %}

      <section class="top-bn4 bn-styles aos-init aos-animate" data-aos="fade-left">
            <div class="container">
              <div class="row pt-4">
                <div class="col-md-8 col-12 pt-5 pt-5">
                  <h2><b>Import Export Code  <span class="text-white">Registration </span></b></h2>
                  <p class="pt-4"> <b>Import Export Cod, or IEC, is mandatory for traders and businesses engaged in Indian export and import operations. Dobizindia business Solution provides services for IEC registration throughout India. Our all-inclusive package of Import Export Code registration is very affordable. We guarantee that our services will be of high quality, reliability, and credibility for our clients. We also offer 100% online registration of IEC codes in India. This makes it easy to get our services. Our services are available for you to use at the most affordable prices. 
                  </b></p>
                  <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
                </div>
              </div>
            </div>
          </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            <li> <a class="sidelink" href="#document">
            <span class="icon-s"> <i class="fa fa-file-text" aria-hidden="true"></i> </span>  List of Documents</a> </li>
            <li> <a class="sidelink" href="#faq">
            <span class="icon-s"> <i class="fa fa-question-circle" aria-hidden="true"></i> </span>  FAQ</a> </li>
            
            </ul>
          </div>

          <div class="content content-3s bg-light">
            <div id="overview">
              
              <section class="py-5">
                <div class="container">
                  <div class="row">

                    <div class="col-md-12 col-12 heading pt-2">
                      <h2 class="fs-2">Introduction to <span class="text-primary">Import</span>  Export Code </h2>
                      <p class="fs-6">Import Export Cod (IEC) is a 10-digit code alphanumeric that is given to businesses to import or export products or services. Without the Import and Export Code, no business can import or export. The Regional Office of the Director General of Foreign Trade can issue the IEC. It's used to uniquely identify Indian import and export companies by tax authorities such as Customs and DGFT officers in India. The DGFT can also use the IEC code to regulate Indian businesses importing and exporting activities and to ensure the financial health and sustainability of Indian economies. </p>
                      <p class="b-style text-style">You can receive your IEC certificate within one day! You can subscribe to our IEC registration bundle at very affordable prices. Dobizindia business Solution offers a business solution to assist companies in obtaining IEC certification and IEC code online. This is an easy, hassle-free, and quick process.</p>
                       <h2 class="fs-4">Benefits of Import-Export Code Registration </h2>
                      <p class="fs-6 fst-italic">Foreign trade businesses must register for the import-export code. The Indian government has made IEC mandatory to help export businesses grow and prosper. Here are some benefits of IEC registration to export-import businesses.</p>
                      <h2 class="fs-5">IEC registration in India offers many benefits </h2>
                      <div class="about-text-style">
                          <ul>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Get government benefits like low customs, export subsidies and import subsidies.</li>

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Explore the global consumers in the international markets</li> 

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Legalization of trade in foreign countries </li>

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> No renewal is required. Registration valid for life </li>

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Online registration is simple and easy using the PAN-based application. </li>
                          </ul>
                      </div>
                    </div>

                  </div>
                </div>
              </section>

            </div>

             <div id="process">
            <section class="py-5 text-center s-img s-img1">
                <div class="container py-2">
                  <div class="row">
                    <div class="col-md-2 col-12">
                    </div>
                  <div class="col-md-10 col-12">
                    <h2 class="py-4">How to apply for Import Export Code </h2>
                    <p>The registration process for IEC registration is simple and easy. It can also be done 100% online. Visit the official website at DGFT to register your business entity. After registering on the website successfully, you can complete the application for IEC Registration. You must attach all necessary documents, pay the prescribed application fees, and then submit the application form. A registration certificate will be sent along with an allotment IEC after your business has been registered for IEC. You can then use this certificate to conduct foreign trade activities. </p>
                  </div>
                  </div>
                </div>
              </section>

            <section class="py-4">
              <div class="container">
                <div class="row">
                  <div class="col-md-4 col-12">
                    <div class="card border-none">
                        <div class="card-body shadow border-round">
                          <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                          <h5 class="card-title card-header">STEP 1- Documentation </h5>
                          <br>
                          <p class="card-text">Before beginning the registration for an IEC code, it is essential to organize all necessary documents. Below is a list containing all the documents required to be submitted with your application. Your entire application might be rejected if you fail to provide any of these required documents or file false documents. You should arrange all documents in advance to avoid any confusion or delay in the application.</p>
                        </div>
                      </div>
                  </div>

                  <div class="col-md-4 col-12 mt-4">
                    <div class="card border-none">
                        <div class="card-body shadow border-round">
                          <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                          <h5 class="card-title card-header">STEP 2 – Go to the DGFT website </h5>
                          <br>
                          <p class="card-text">To register for an IEC, visit the official website of the Director General for Foreign Trade (DGFT). To access the homepage, click on the "Services" tab. Next, select the "IEC profile management" option from the dropdown. After clicking on this option, you will be directed to registration.</p>
                        </div>
                      </div>
                  </div>

                  <div class="col-md-4 col-12 mt-5">
                    <div class="card border-none">
                        <div class="card-body shadow border-round">
                          <div class="icon-bg mb-4"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></div>
                          <h5 class="card-title card-header">STEP 3 – Register for the DGFT site </h5>
                          <br>
                          <p class="card-text">To register, go to the new page and click on the option "Apply for IEC." After that, click on the option "Register." The registration form will be open on the screen. You should finish up fundamental subtleties such as name, organization, contact numbers, messages, and precise location. </p>
                        </div>
                      </div>
                  </div>

                </div>



                <div class="row pt-4">

                  <div class="col-md-4 col-12">
                    <div class="card border-none">
                        <div class="card-body shadow border-round">
                          <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                          <h5 class="card-title card-header">STEP 4 – Conduct OTP-based validation </h5>
                          <br>
                          <p class="card-text">After you have completed the registration form, you will be asked to generate an OTP to confirm your contact details. The OTP will come to your email ID or mobile number. Once they have been validated, you will receive a temporary password that you can use to log in and fill in the detailed application for online import/export registration. </p>
                        </div>
                      </div>
                  </div>

                  <div class="col-md-4 col-12 mt-5">
                    <div class="mt-5"></div>
                    <div class="card border-none">
                        <div class="card-body shadow border-round">
                          <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                          <h5 class="card-title card-header">STEP 5 Login and complete an application form </h5>
                          <br>
                          <p class="card-text">You will use your temporary password to log in to the DGFT site and complete the application. Attach or upload the required documents and pay the applicable application fees. Once your application has been completed, you can click "submit" and wait until your application is processed. You will need to fill out the ANF 2A application.</p>
                        </div>
                      </div>
                  </div>


                  <div class="col-md-4 col-12 mt-5">
                    <div class="mt-5"></div>
                    <div class="card border-none">
                        <div class="card-body shadow border-round">
                          <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                          <h5 class="card-title card-header">STEP 6 – Issuance of IEC Code and IEC Certificate of Registration </h5>
                          <br>
                          <p class="card-text">After the IEC registration application is processed successfully, the DGFT issues an Import Export Code to each applicant. The registration certificate serves as proof that the applicant has registered IEC. Only after receiving the IEC Code and the registration Certificate can the applicant import and export and conduct legal foreign trade.</p>
                        </div>
                      </div>
                  </div>

                </div>

              </div>
            </section>

            </div>


            <div id="document">
              <section class="btm_grd_banner py-4">
                <div class="container">
                  <div class="row text-center">
                    <div class="col-md-12 col-12">
                      <div class="py-2 text-white heading2">
                      <h2 class="py-2">Documents required for Import Export Code registration </h2>
                      <p class="fs-6 pt-2">Documentation is an integral part of the registration process for IEC. The approval or decline of an application could be due to it. The type and content of the IEC application will dictate the documents required. The table below lists all the documents required to register for IEC. It is organized by type of entity.</p>
                      </div>
                    </div>
                  </div>

                  <div class="row table-responsive-sm">

                      <div class="col-md-4 col-12 p-2">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>Individual</td>
                          </tr>     
                          <tr class="table-primary">
                            <td>PAN card of an individual</td>
                          </tr>

                          <tr class="table-info">
                            <td>With any bank that handles foreign exchange, you can open a Current or Savings account.</td>
                          </tr>
                          <tr class="table-warning">
                            <td>Sales deed/ Rent Agreement/ new electricity bill/ telephone bill as address proof </td>
                          </tr>
                          
                          <tr class="table-light">
                            <td>If the applicant are NRIs, an RBI clearance letters</td>
                          </tr>

                          <tr class="table-warning">
                            <td>Passport size color photograph of the applicant</td>
                          </tr>

                          <tr class="table-dark">
                            <td>LLP/ Company</td>
                          </tr> 


                          <tr class="table-primary">
                            <td>PAN card of the company / LLP</td>
                          </tr>

                          <tr class="table-info">
                            <td>Voter ID/ Driving permit / Aadhar cards / passports as the ID proof for the managing partner/ signatory director</td>
                          </tr>
                          <tr class="table-warning">
                            <td>Sales deed/rent agreement / most recent electricity bill / most recent telephone bill as proof that the premises are address proof</td>
                          </tr>
                          
                          <tr class="table-light">
                            <td>Cancelled cheque - account number and company name / LLP</td>
                          </tr>

                          <tr class="table-warning">
                            <td>Passport size photograph of the applicant</td>
                          </tr>

                          <tr class="table-light">
                            <td>Certificate of Incorporation / MoA &amp; AoA / LLP Decree</td>
                          </tr>

                        </tbody>
                      </table>
                    </div>

                    <div class="col-md-4 col-12 p-2">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>Proprietorship</td>
                          </tr>     
                          <tr class="table-primary">
                            <td>PAN card issued by the proprietor</td>
                          </tr>

                          <tr class="table-info">
                            <td>Voter ID / Driving permit / Aadhar cards / passport to be used as ID proof</td>
                          </tr>
                          <tr class="table-warning">
                            <td>Sales deed / Rent agreement / Latest electricity bill / Latest telephone bill as proof that the premises are address proof</td>
                          </tr>
                          
                          <tr class="table-light">
                            <td>With the account number of the proprietor and the name of the proprietor, cancel a cheque</td>
                          </tr>

                          <tr class="table-warning">
                            <td>Passport size color photograph of the applicant</td>
                          </tr>

                          <tr class="table-dark">
                            <td>Trust / Society</td>
                          </tr> 


                          <tr class="table-primary">
                            <td>PAN card from the Trust</td>
                          </tr>

                          <tr class="table-info">
                            <td>Voter ID/ Driving license/ Aadhar card/ passport as ID proof for the managing trustee/ chief Executive/ secretary</td>
                          </tr>
                          <tr class="table-warning">
                            <td>Sales deed / Rent agreement / Latest electricity bill / Latest telephone bill as the proof of the address</td>
                          </tr>
                          
                          <tr class="table-light">
                            <td>Cancelled cheque with the account # and name of trust</td>
                          </tr>

                          <tr class="table-warning">
                            <td>Passport size color photograph of the applicant</td>
                          </tr>

                          <tr class="table-light">
                            <td>Registration Certificate of Society/Trust Deed</td>
                          </tr>

                        </tbody>
                      </table>
                    </div>

                    <div class="col-md-4 col-12 p-2">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>Partnership Firm</td>
                          </tr>     
                          <tr class="table-primary">
                            <td>PAN card</td>
                          </tr>

                          <tr class="table-info">
                            <td>Voter ID/ Driving license/ Aadhar card/ Passport to be used as ID proof by the managing partner</td>
                          </tr>
                          <tr class="table-warning">
                            <td>Sales deed / Rent agreement / Latest electricity bill / Latest telephone bill as the proof of the premises</td>
                          </tr>
                          
                          <tr class="table-light">
                            <td>With the account number of the firm and the name of the firm, cancel a cheque</td>
                          </tr>

                          <tr class="table-warning">
                            <td>Passport-sized colour photo of the applicant</td>
                          </tr>

                          <tr class="table-light">
                            <td>Partnership deed</td>
                          </tr> 

                          <tr class="table-dark">
                            <td>HUF</td>
                          </tr> 


                          <tr class="table-primary">
                            <td>Karta Pan Card</td>
                          </tr>

                          <tr class="table-info">
                            <td>Voter ID/ Driving license/ Aadhar card/ passport to be used as an ID proof for Karta</td>
                          </tr>
                          <tr class="table-warning">
                            <td>Sales deed/rent agreement/ultimate electricity bill/telephone bill as proof of address</td>
                          </tr>
                          
                          <tr class="table-light">
                            <td>Canceled cheque with the account # and Karta</td>
                          </tr>

                          <tr class="table-warning">
                            <td>A passport-size coloured photo of the Karta</td>
                          </tr>

                          <tr class="table-light">
                            <td>Trust deed / Registration certificate of society</td>
                          </tr>

                        </tbody>
                      </table>
                    </div>

                  </div>

                </div>
              </section>
            </div>


            <div id="faq">
            <section class="bg-light py-5">
              <div class="container">
                <div class="row">

                  <div class="col-md-8 col-12 mx-auto heading2">
                    <h2 class="text-center">Frequently Asked  <span class="text-primary">Questions</span></h2>
                    <div class="accordion pt-2" id="accordionExample">
                      <div class="accordion-item">
                        <h4 class="accordion-header" id="headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            What does the IEC mean? 
                          </button>
                        </h4>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            IEC is a unique 10-digit number assigned to individuals who plan to export or import goods.
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h4 class="accordion-header" id="headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            IEC registration is possible for those who are 
                          </button>
                        </h4>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                          <div class="accordion-body list-style">
                            <strong>The following entities may apply to IEC registration: </strong>
                            <ul>
                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Individual traders </li>

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Sole Proprietorship </li>

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Partnership Firm </li>

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Limited License Partnership </li>

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Private Restricted Company </li>

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Public Limited Company </li>

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Government undertaking </li>

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Section 8 Company </li>

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Registered Society </li>

                              <li> <i class="fa fa-check-circle" aria-hidden="true"></i> HUF</li>

                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h4 class="accordion-header" id="headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                           Why is there a government fee to get IEC? 
                          </button>
                        </h4>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                           Rs. 500 is the government fee required to apply to DGFT for IEC to be allotted. 500 are required to pay online for the IE Code application. 
                          </div>
                        </div>
                      </div>

                      <div class="accordion-item">
                        <h4 class="accordion-header" id="headingFour">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                           How extended is an IEC registration Certificate valid? 
                          </button>
                        </h4>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                          <div class="accordion-body list-style">
                           The IEC registration certificate is valid for a lifetime and can be renewed anytime. The certificate must remain valid until the IEC registration of an entity is canceled or surrendered voluntarily. 
                          </div>
                        </div>
                      </div>


                      <div class="accordion-item">
                        <h4 class="accordion-header" id="headingFive">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                           Is a penalty imposed for failing to get the IEC Registration? 
                          </button>
                        </h4>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                          <div class="accordion-body list-style">
                           IEC registration is free of charge. If you do not have the IEC Registration, you cannot trade with foreign countries by importing and exporting goods and services.
                          </div>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </section>
            </div>

          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizIndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}