{% extends 'index.html' %}
{%block title%}Cart custom{% endblock %}

{%block body %}
<section class="py-5" style="margin-top: 130px;">
    <h4 class="bg_sty spc_left">Order Cart</h4>
      <div class="container">
          <div class="row">

              <div class="col-md-9 col-12">

                <div class="cart1 pt-4 p-2 bg_sty">
                  <div class="col-md-3 col-4">
                     <img src="images/common_img.png" alt="logo-img" class="img-fluid">
                      </div>
                      <div class="col-md-1 col-12"></div>
                      <div class="col-md-8 col-12">
                      <div class="table-responsive">
                       <table class="table">
                          
                          <tbody>
                            <tr>
                              <th colspan="3">Private Limited Company</th>
                            </tr>
                            <tr>
                              <td colspan="2">Company registration including Government Fee & Stamp Duty*. Incorporation kit with share certificates.</td>
                              <td>Price</td>
                            </tr>
                            <tr class="text-danger">
                              <td>Qty 1</td>
                              <td>dobizindia</td>
                              <td>32000.00</td>
                            </tr>
                            
                          </tbody>
                        </table>
                      </div>
                   </div>
             </div>

                  <div class="cart1 pt-4 p-2 bg_sty">
                  <div class="col-md-3 col-4">
                     <img src="images/common_img.png" alt="logo-img" class="img-fluid">
                      </div>
                      <div class="col-md-1 col-12"></div>
                      <div class="col-md-8 col-12">
                      <div class="table-responsive">
                       <table class="table">
                          
                          <tbody>
                            <tr>
                              <th colspan="3">Private Limited Company</th>
                            </tr>
                            <tr>
                              <td colspan="2">Company registration including Government Fee & Stamp Duty*. Incorporation kit with share certificates.</td>
                              <td>Price</td>
                            </tr>
                            <tr class="text-danger">
                              <td>Qty 1</td>
                              <td>dobizindia</td>
                              <td>32000.00</td>
                            </tr>
                            
                          </tbody>
                        </table>
                      </div>
                   </div>
             </div>
             <div class="bg_sty p-4">
             <p class="text-end"><b>Sub total (2 Items) : 32.990.00</b></p>
             <p class="text-end"><b>You Save : 11990(29%)</b></p>
             </div>
         </div>


            <div class="col-md-3 col-12 bg_sty">
              <div class="p-2">
              <p>Company registration including Government Fee & Stamp Duty</p>
              <p>Company registration including </p>
              <br /><br />
              <h5>Subtotal (2 items): &nbsp; 32,990.00</h5>
              <h5 class="text-end">Including GST</h5>
              <b class="btn-flex pb-2">
            <button class="mx-1 hire glow px-4 py-2 my-1"> <a href="hire.html"> Review </a> </button>
            <button class="mx-1 hire2 px-4 py-2 my-1"> <a href="sign_in.html"> Login </a> </button>
            </b>
            <p>congratulations you Extra save </p>
            <p class="text-end">Rs. 2000 (12%)</p>
              <div class="d-grid gap-2">
              <button type="button" class="btn-lg py-2 px-4 btn_sty"> Process to buy </button>
            </div>
          </div>

            </div>
          </div>


      </div>
  </section>

  {% endblock %}