{% extends 'index.html' %}
{%block title%}Cart custom{% endblock %}
{% load static %}
{% load social_share %}
{%block body %}
<style>
  #copy-btn {
    margin-left: 5px;
    padding: 12px !important;
    border-radius: 55px;
  }
</style>
<section class="py-5" style="margin-top: 130px;">
  <div class="container ">
    <div class="row">
      <h3 class="bg_sty spc_left header"><b> Order Cart </b></h3>
    </div>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-md-9 col-12">
        {% for i in items %}
        <div class="cart1 pt-4 p-2 bg_sty">
          <div class="col-md-3 col-12">
            <a href="{% url 'viewproduct' i.product.id %}">
              <img src="/media/{{ i.product.img1 }}" alt="logo-img" class="img-fluid">
          </a>
          
          </div>
          <div class="col-md-1 col-12"></div>
          <div class="col-md-8 col-12">
            <div class="table-responsive">
              <table class="table">

                <tbody>
                  <tr>
                    <th colspan="4">Description</th>
                  </tr>
                  <tr>
                    <th colspan="3">{{i.product.product_name}}</th>
                    <th>Price</th>
                  </tr>
                  <tr>
                    <td colspan="3">{{i.product.desc | slice:"0:200"}}</td>
                    {% if i.final_price %}
                    <td>{{ i.final_price }}</td>
                    {% else %}
                    <td>{{i.product.price}}</td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td>
                      <form action="{% url 'delete_item' i.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                      </form>
                    </td>
                    <td>Save for later </td>
                    
                    <td>
                      <button type="button" class="btn btn-primary1" data-bs-toggle="modal" data-bs-target="#exampleModal">
                          Share
                      </button>
                  </td>

                  </tr>

                </tbody>
              </table>
            </div>
          </div>

        </div>
        {% endfor %}

        <div class="bg_sty p-2">
          <h5 class="text-end">Subtotal ({{ items.count }}): Rs.{{ final_price }}</h5>
        </div>

      </div>



      <div class="col-md-3 col-12 bg_sty">
        <div class="p-2">
          <!-- <td>
            <form method="POST">{% csrf_token %}
              <input class="uppercase py-1" placeholder="APPLY COUPAN" name="coupan" required> -->
              <!-- <input type="hidden" class="uppercase" value="{{i.product.id}}" name="id"> -->
              <!-- <button id="applyBtn" type="submit" class="b-main-color pointer btn_sty py-2 px-2">Apply</button>
            </form>
          </td> -->
          <h5>Subtotal ({{ items.count }}): Rs.{{final_price }}</h5>
          <h5 class="text-end">Including GST</h5>
          <div class="d-grid gap-2">
            {% if items.exists %}
                {% with first_item=items.first %}
                    <button type="button" class="btn-lg mt-4 py-2 px-4 btn_sty">
                        <a href="/checkout?id={{first_item.product.id}}&order_id={{first_item.id}}">Buy Now</a>
                    </button>
                {% endwith %}
            {% endif %}
        </div>
        
        </div>

      </div>
    </div>


    <div class="row pt-5">
      <div class="col-md-12 col-12 bg_sty">
        <p class="p-2 border-bottom">Similar Products</p>
        {% if similar_products %}
        <p><span> {{similar_products.category}}</span></p>
        
        {% for s in similar_products %}
        <div class="cart1 pt-4">
          <div class="col-md-3 col-12">
            <a href="{% url 'viewproduct' s.id %}">
            <img src="/media/{{ s.img1 }}" alt="logo-img" class="img-fluid">
          </a>
          </div>
          <div class="col-md-1 col-12"></div>
          <div class="col-md-8 col-12">
            <div class="table-responsive">
              <table class="table">

                <tbody>
                  <tr>
                    <th colspan="2">Description</th>
                  </tr>
                  <tr>
                    <th>{{s.product_name}}</th>
                    <td>{{s.price}}</td>
                  </tr>
                  <tr>
                    <td>{{s.desc}}</td>
                    <td>  <button id="pr{{s.id}}" class="btn btn-primary btn-sm add-to-cart" data-product-id="{{s.id}}" style="white-space: nowrap;">Add To Cart</button> </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>

        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>

  </div>
</section>
<script>
  $(document).ready(function(){
  $('.add-to-cart').click(function(){
    var id = $(this).data('product-id');
    $.ajax({
      type: 'POST',
      url: "{% url 'addToCart' %}",
      data: {
        "id": id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (response) {
        if (response.Success == 1) {
          window.location.href = "{% url 'card' %}";
        }
      }
    });
  });
});

  $(document).ready(function() {
    $('.share-button').click(function() {
      var shareOptions = $(this).siblings('.share-options');
      if (shareOptions.is(':hidden')) {
        shareOptions.slideDown();
      } else {
        shareOptions.slideUp();
      }
    });
  });
  $(document).ready(function() {
  const copyBtn = $('#copy-btn');
  copyBtn.click(function() {
    // console.log('click')
    const url = copyBtn.attr('data-url')
    // console.log(url)
    navigator.clipboard.writeText(url)
    copyBtn.text('Copied')
  });
});
</script>

 <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Share</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% if product_url %}
        <div class="model-icon">
            {% post_to_facebook product_url %}
            {% post_to_twitter product_url %}
            {% post_to_whatsapp product_url %}
            {% post_to_linkedin product_url %}
            <button id="copy-btn" class="btn btn-primary" data-url="{{ product_url }}">Copy</button>
        </div>
        {% endif %}
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
<!-- // model---->
{% endblock %}