{% extends 'index.html' %}

{%block title%}Company By Foreign Individuals {% endblock %}

{%block body %}

<section class="top-bn3 bn-styles aos-init aos-animate" data-aos="fade-left">
  <div class="container">
    <div class="row pt-4">
      <div class="col-md-7 col-12 pt-5 pt-5">
        <h2><b>FDI Company <span class="text-white">Registration Online </span></b></h2>
        <p class="pt-4"> <b>India is a market that is liberalized in which the majority of sectors are accessible to
            foreign Investment. We have extensive experience of more than 18 years of providing tax and regulatory
            services for international investors from India. All CA Services is Under One Roof with a dedicated Startup
            Specialist.
          </b></p>
        <p>FDI Company Registration Online </p>
        <p>Free Consultation on Registration,All India GST Registration and Returns </p>
        <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
      </div>
    </div>
  </div>
</section>

<section class="py-5 side-navbg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
        <div>
          <ul class="sidebar nav-pills" id="sideMenu">
            <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b>
            </h5>
            <li> <a class="sidelink active" href="#overview">
                <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a>
            </li>
            <li> <a class="sidelink" href="#process">
                <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span> Step Wise Process</a> </li>
            <li> <a class="sidelink" href="#document">
                <span class="icon-s"> <i class="fa fa-file-text" aria-hidden="true"></i> </span> List of Documents</a>
            </li>
            <li> <a class="sidelink" href="#faq">
                <span class="icon-s"> <i class="fa fa-question-circle" aria-hidden="true"></i> </span> FAQ</a> </li>

          </ul>
        </div>

        <div class="content content-3s bg-light">
          <div id="overview">
            <section class="py-5">
              <div class="container">
                <div class="row">

                  <div class="col-md-12 col-12 heading pt-2">
                    <h2 class="fs-1">Indian registration of <span class="text-primary">foreign companies </span></h2>
                    <p class="fs-6">Registration of foreign companies in India is subject to specific rules and
                      guidelines set in The Companies Act, 2013, RBI guidelines etc. </p>
                    <h2 class="fs-4">Section 2. (42) In the Companies <span class="text-primary">Act 2013 defines a
                        foreign company as: </span></h2>
                    <p class="b-style text-style">A Foreign Dobizindia business solution private limited alludes to any
                      business or company body consolidated beyond India.</p>
                    <p class="fs-6"> <b> A) </b> Is a location where business is conducted in India either by the agent
                      or by itself physically or in electronic technology; and</p>
                    <p class="fs-6"> <b> B) </b> Takes part in any business movement inside India or differently. </p>

                  </div>

                </div>
              </div>
            </section>

            <section class="py-5 s-img s-img1">
              <div class="container py-2">
                <div class="row">
                  <div class="col-md-2 col-12">
                  </div>
                  <div class="col-md-10 col-12">
                    <h2 class="fs-3">Foreign Dobizindia business solution private limited</h2>
                    <p>India is one of the countries with open and transparent policies of FDI in emerging economies. An
                      FDI of up to 100% is permitted under nearly every activity except for a few. Press Notification
                      7.7 (2008 Series) further states that the following industries are not permitted for FDI: </p>
                    <p>The Existing policy is not allowing FDI within the following circumstances: </p>
                    <div class="about-text-style">
                      <ul>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Lottery Business, including
                          government or private lottery, lotteries online and more.</li>

                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Gambling and Betting, including
                          casinos etc.</li>

                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Chit fund </li>

                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Nidhi Company </li>

                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Trading with Transferable Development
                          Rights (TDRs) </li>

                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Realty Estate Business or
                          Construction of Farm Houses </li>

                      </ul>
                    </div>
                    <p>Industries and activities are not accessible to Investment from the private sector, e.g., (I)
                      Energy from nuclear sources and (II) railway operations (other than the permitted activities
                      listed in Annexe B). </p>
                  </div>
                </div>
              </div>
            </section>

            <section class="py-5 bg-light">
              <div class="container">
                <div class="row">

                  <div class="col-md-12 col-12 heading pt-2">
                    <p>General authorization from the Reserve Bank of India (RBI) is granted to Indian companies to
                      issue rights or bonus shares with specific conditions. Share rights are not automatically
                      available to investors who are allocated shares in the form of Overseas Company Bodies (OCBs).
                      OCBs were declassified as a category of investors on 16 September 2003. These companies will need
                      specific approval from RBI, Foreign Exchange Department, Foreign Investment Division, Central
                      Office, and Mumbai for the issue of shares on the correct basis to former OCBs. But bonus shares
                      could be given to OCBs who were not yet active. </p>

                    <p class="b-style text-style">Suppose a plan of merger or amalgamation of more than one foreign
                      Company Incorporation in India is approved by the court in India. The transferee corporation may
                      issue shares to shareholders of the transferor that are resident outside India with the condition
                      that the shareholding of people. Those who are not residents of India of the new company or new
                      company are not greater than the percentage stated in the approval from The Central Government or
                      the RBI. </p>

                  </div>

                </div>
              </div>
            </section>

          </div>

          <div id="process">

            <section class="btm_grd_banner py-4">
              <div class="container">
                <div class="row text-center">
                  <div class="col-md-12 col-12">
                    <div class="py-2 text-white heading2">
                      <p class=" fs-6 b-style text-style">A resident of India can buy equity shares from an
                        international company through their ESOP scheme if they are an employee or director at an Indian
                        office branch, subsidiary or branch of a foreign company.</p>

                      <p class="fs-6 pt-2">In the software sector, the resident can buy shares in a Joint Venture
                        Company or Wholly owned subsidiary (JV/WOS) when they are a director or an employee for the
                        Indian Promoter Company where the shares purchased don't exceed five percent of the pay-up
                        capital of the JV/WOS outside of India.</p>

                      <h2>Options for entry options to foreign investors</h2>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section class="py-4">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-12">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">When incorporating a business under the Companies Act 1956
                          through:</h5>
                        <br>
                        <p class="card-text"> <b> • Joint ventures </b> <br>
                          <b> • A wholly-owned subsidiary </b><br><br>
                          Equity in foreign companies of these Indian companies could be as high as 100%, depending on
                          the investor's needs by any equity limits set within the FDI policy. <br><br>
                          <b> • Liaison office/representative office </b> <br>

                          <b> • Office for Projects </b> <br>

                          <b> • Branch Office </b> <br>

                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 col-12 mt-4">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                        <br>
                        <p class="card-text">They can also carry out the actions permitted by Regulations on Foreign
                          Exchange Management (Establishment in India of Branch Office or other business locations)
                          Regulations 2000. <br>

                        </p>
                        <div class="b-style text-style">Establishments within Special Economic Zones, Free Trade Zone,
                          Software Technology Parks or Export Oriented Units are legally entitled to many tax
                          advantages. Be aware that the benefits extended to these establishments will cease in 2010
                          except for Special Economic Zones that don't have a sunset Clause.</div> <br>
                        <b>• Foreign Company incorporation in India </b> <br>
                        <b>• Non-resident registration of corporations: </b>
                        <p></p>
                      </div>
                    </div>
                  </div>

                </div>



                <div class="row pt-4">

                  <div class="col-md-6 col-12">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></div>
                        <p class="card-text">A foreign corporation, which is an entity company that is incompanyd
                          outside India but with an address in India (Companies Act, sec. 591), must, within 30 calendar
                          days after the opening of a place where it can conduct business in India, provide to the
                          Registrar of Companies for registration, a copy of the certificate of the company's charter,
                          statutes, memorandum articles, etc. of the business, the complete address of the principal or
                          registered office of the business as well as the names of those located in India that are
                          authorized to receive service of process for the company and the exact location of its office
                          in India.<br> </p>
                        <p class="card-text">The Registrar, for foreign companies, is the Registrar with jurisdiction in
                          New Delhi. The documents mentioned must also be sent to the Registrar of the state where the
                          central business location for the company is located. </p>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-6 col-12 mt-5">
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                        <h5 class="card-title card-header">We are setting up a legal print in India. </h5>
                        <br>
                        <p class="card-text">Alongside an all-owned subsidiary or joint venture in India, a foreign
                          business could establish a presence in India by establishing the following: </p>
                        <p><b>• Office of Liaison </b></p>
                        <p><b>• Branch Office </b></p>
                        <p><b>• Branch Office </b></p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 col-12">
                    <div class="mt-5"></div>
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                        <br>
                        <p class="card-text">Setting up a liaison office, branch, or project office requires prior
                          approval by the Reserve Bank of India ("RBI"). A liaison office is established in India.</p>

                        <p class="card-text">A liaison office implies a position of business to go about as a channel of
                          correspondence between the chief business environment or administrative center and the
                          substance in India but which embraces no business/exchanging/modern movement and keeps up with
                          itself out of inward remittances received from abroad. A liaison office can be allowed to
                          conduct the following functions:
                        </p>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-6 col-12 mt-5">
                    <div class="mt-5"></div>
                    <div class="card border-none">
                      <div class="card-body shadow border-round">
                        <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                        <br>
                        <p class="card-text"><b>• In India, the parent company or group companies </b></p>
                        <p class="card-text"><b>• Promotion of exports and imports from and to India. </b></p>
                        <p class="card-text"><b>• Facilitating financial and technical collaboration between
                            parent/group companies as well as businesses in India. </b></p>
                        <p class="card-text"><b>• As a communication channel between parent companies and Indian
                            companies. </b></p>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </section>

          </div>


          <div id="document">
            <section class="py-4 ab-banner text-white">
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-12 heading">
                    <h2 class="py-4">Branch office located in India </h2>
                    <p>A foreign-owned company or person who is resident outside India could be granted permission by
                      RBI to carry out the following actions: </p>
                  </div>
                </div>
                <ul>
                  <li> Import/export of products </li>
                  <li> Providing consultancy or professional services </li>

                  <li> Conducting research where parents of the company are involved.</li>

                  <li> Facilitating financial or technical cooperation among Indian companies and the parent or foreign
                    group companies. </li>

                  <li> Representing the parent on behalf of the parent company in India while also acting as a
                    buyer/seller agent for India. </li>

                  <li> Services rendered in information technology and the development of applications in India. </li>

                </ul>
              </div>
            </section>
          </div>


          <div id="faq">
            <section class="bg-light py-5">
              <div class="container">
                <div class="row">

                  <div class="col-md-8 col-12 mx-auto heading2">
                    <h2 class="text-center">Technical support for <span class="text-primary">products provided by
                        parent/group </span>companies and foreign airlines/shipping companies.</h2>

                  </div>
                </div>
              </div>
            </section>
          </div>
          {% include 'product.html' %}
        </div>
      </div>
      <div class="col-md-3 col-12 pricing">
        <div class="s_fixed bg-light p-2 px-5 pricing-spc">
          <h5>Pricing Summary</h5>
          <div class="table-responsive">
            <table class="table border border-white">
              <tbody>
                <tr>
                  <th>Quantity</th>
                  <td>: 1 Year</td>
                </tr>
                <tr>
                  <th>Market Price</th>
                  <td>: ₹11899</td>
                </tr>
                <tr>
                  <th>DobizIndiaFilings</th>
                  <th class="text-danger">: ₹8389 excl. GST</th>
                </tr>
                <tr>
                  <th></th>
                  <td> &nbsp; ₹9899 incl. GST</td>
                </tr>
                <tr>
                  <th>GST Credit</th>
                  <td>: ₹1510</td>
                </tr>
                <tr>
                  <th>You Save</th>
                  <td>: ₹3510 (29%)</td>
                </tr>
              </tbody>
            </table>
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="button"><a href="{%url 'order'%}"> Order Now </a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}