{% extends 'index.html' %}

{%block title%}Company By Foreign Individuals {% endblock %}

{%block body %}


{% include 'common_pages/banner.html'%}

<section class="py-5 bg-light1">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-9 col-12affix-top bg-light" data-spy="affix" data-offset-top="597">
        <!-- Nav pills -->
        <ul class="nav nav-pills" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="pill" href="#meaning">Meaning</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#requirement">Minimum requirement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#benefit">Benefit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#required">Document required</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#process">Incorporation Process</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#compliance">Compliance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#closure">Closure </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#faq">FAQ</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div id="meaning" class="container tab-pane content active"><br>
            <h2>{{meaning.heading_text}}</h2>
            <p>{{meaning.text}}</p>
            <p>{{meaning.list1}}</p>
            <p>{{meaning.list2}}</p>

            <h2>{{meaning.heading_text2}}</h2>
            <p>{{meaning.text2}}</p>
            <h2>{{meaning.heading_text3}}</h2>
            <p class="b-style text-style">{{meaning.text3}}</p>
            <p><b>A)</b> {{meaning.list3}}</p>
            <p><b>B)</b> {{meaning.list4}}</p>
            {% include 'product.html' %}
          </div>

          <div id="requirement" class="container tab-pane fade"><br>
            <div class="row">
              <div class="col-md-12 col-12">
                <h2>{{minimum.heading_text}}</h2>
                <p class="b-style text-style">{{minimum.text}}</p>

                <h2>{{minimum.heading_text2}}</h2>
                <div class="about-text-style">
                  <ul>
                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{minimum.list1}}</li>

                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i>{{minimum.list2}}</li>

                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{minimum.list3}} </li>

                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i>{{minimum.list4}}</li>

                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i>{{minimum.list5}}</li>

                    <li> <i class="fa fa-check-circle" aria-hidden="true"></i>{{minimum.list6}}</li>

                  </ul>
                </div>
                <p>{{minimum.text2}}</p>
                <p>{{minimum.text3}}</p>
              </div>

            </div>



          </div>

          <div id="benefit" class="container tab-pane fade"><br>
            <p class="b-style text-style">{{benefit.text}} </p>
            <p>{{benefit.text2}}</p>
            <p>{{benefit.text3}}</p>

          </div>

          <div id="required" class="container tab-pane fade"><br>
            <div class="row">

              <div class="col-md-12 col-12 heading">
                <h2>{{document.heading_text}}</h2>
                <p><b>{{document.text}}</b></p>
                <ul>
                  <li> {{document.list1}}</li>
                  <li>{{document.list2}}</li>

                  <li>{{document.list3}}</li>

                  <li>{{document.list4}}</li>

                  <li>{{document.list5}}</li>

                  <li> {{document.list6}}</li>

                </ul>
              </div>

            </div>



          </div>

          <div id="process" class="container tab-pane fade"><br>

            <h2>{{incorporation.heading_text}}</h2>
          </div>

          <div id="compliance" class="container tab-pane fade"><br>
            <h2>Compliance</h2>
          </div>

          <div id="closure" class="container tab-pane fade"><br>
            <h2> closure </h2>
          </div>

          <div id="faq" class="container tab-pane fade"><br>
            <h2 class="fs-4">FAQ</h2>

          </div>

        </div>
      </div>

      {% include 'common_pages/pricing_sum_below.html' %}

    </div>
  </div>
</section>

{% include 'common_pages/fssai.html'%}

<section class="checklist py-5">
  <div class="container">
    <div class="row py-4">
      <h2>{{step.heading_text}}</h2>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary">{{step.step1}}</h5>
          <p> <b> {{step.list1}} </b> <br>
            <b>  {{step.list2}} </b><br><br>
            {{step.answer1}} </b> <br>

            <b>  {{step.list3}} </b> <br>
            <b>  {{step.list4}} </b> <br>

          </p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary"> </h5>
          <p>{{step.answer2}} </p>
          <div class="b-style text-style">{{step.answer3}}</div>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary"> </h5>
          <p> {{step.answer4}}</p>
          <p>{{step.answer5}}</p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary"> {{step.step6}}</h5>
          <p>{{step.answer6}}</p>
          <p><b>{{step.list5}} </b></p>
          <p><b>{{step.list6}}</b></p>
          <p><b>{{step.list7}}</b></p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary"></h5>
          <p>Setting up a liaison office, branch, or project office requires prior approval by the Reserve Bank of
            India ("RBI"). A liaison office is established in India.</p>
          <p>{{step.answer7}}</p>
          <p>{{step.text}}</p>
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="shadow p-4">
          <h5 class="text-primary"></h5>
          <p><b>{{step.list8}} </b></p>
          <p><b>{{step.list9}}</b></p>
          <p><b>{{step.list10}}</b></p>
          <p><b>{{step.heading_text2}}</b></p>
        </div>
      </div>

    </div>

  </div>
</section>
{% endblock %}