{% extends 'index.html' %}

{%block title%}Doing Business In India (FDI){% endblock %}

{%block body %}

    <section class="top-bn4 bn-styles aos-init aos-animate" data-aos="fade-left">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-8 col-12 pt-5 pt-5">
            <h2><b>FDI company  <span class="text-white">Registration registration online</span></b></h2>
            <p class="pt-4"> <b>India is a highly liberalized economy. Most sectors are open to Foreign Investment. Over 18+ Years of rich experience in providing regulatory services and tax advice to foreign investors in India. All CA Services Under One Roof. Dedicated Startup Specialist.  
            </b></p>
            <p>Online registration of FDI companies</p>
              <p>Free consultation upon registration</p>
              <p>All India GST Registration &amp; Returned</p>

            <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 side-navbg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
          <div>
            <ul class="sidebar nav-pills" id="sideMenu">
              <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b></h5>
            <li> <a class="sidelink active" href="#overview"> 
            <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a> </li>
            <li> <a class="sidelink" href="#process">
            <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span>  Step Wise Process</a> </li>
            <li> <a class="sidelink" href="#document">
            <span class="icon-s"> <i class="fa fa-file-text" aria-hidden="true"></i> </span>  List of Documents</a> </li>
            <li> <a class="sidelink" href="#faq">
            <span class="icon-s"> <i class="fa fa-question-circle" aria-hidden="true"></i> </span>  FAQ</a> </li>
            
            </ul>
          </div>

          <div class="content content-3s bg-light">
            <div id="overview">
              <section class="py-5">
                <div class="container">
                  <div class="row">

                    <div class="col-md-12 col-12 heading pt-2">
                      <h2 class="fs-2">Packages FDI Company  <span class="text-primary">registration includes the following</span></h2>
                      <p class="fs-6">Register Your 100% Private Limited Company (or Subsidiary Company) anywhere in India. India does not have a specific law for registering a business. Company Registration is a Centralised Process under the Central Government. These are the contents of all our packages.</p>

                      <div class="about-text-style">
                          <ul>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> DIN for 2 Directors</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> DSC 2 Directors</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Approval for Company Name</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> AOA and MOA Drafting</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Filing of Spice Plus</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Incorporation Certificate</li>
                          </ul>

                          <ul>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Company ePAN Cards</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Number of the company TAN/TDS</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Support for Opening Bank Accounts</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> CA/CS Assistance  </li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Relationship manager</li>
                            <li> <i class="fa fa-check-circle" aria-hidden="true"></i> 100% Online Process</li>
                          </ul>
                      </div>
                      
                    </div>

                  </div>
                </div>
              </section>

              <section class="py-4 s-img s-img1">
                <div class="container py-2">
                  <div class="row">
                    <div class="col-md-2 col-12">
                    </div>
                  <div class="col-md-10 col-12">
                    <h2>Private Limited Company in India</h2>
                    <p>Whether the Indian entity being proposed is an individual company or a wholly-owned subsidiary, the incorporation process will be the same. Verify the FDI Limits for your Sector. Also, check the minimum requirements to register as a company. Foreign direct investments in India are generally open to all sectors and countries. However, the automatic route does not allow investments from countries sharing land borders with India (e.g., Pakistan and Bangladesh. Bhutan, Nepal. China. Because of the following, India is the best country to do business.</p>

                  </div>
                  </div>
                </div>
              </section>

            <section class="py-4 bg-light">
              <div class="container">
                <div class="row">

                  <div class="col-md-12 col-12 heading pt-2">
                    <h2 class="fs-4 pt-4">Only 15% Income Tax is World's best tax rate</h2>
                   
                    <div class="about-text-style">
                        <ul>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Skilled Labour is Easily Available</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> New Central Govt Creates Manufacturing Hub</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Excellent Urban &amp; Industrial Infrastructure</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> One of the Fastest Economies Worldwide</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> India is the World's Largest Democracy</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Checklist and Minimum Eligibility for Starting an Indian Company</li>
                        </ul>
                    </div>
                  </div>

                </div>
              </div>
            </section>

            <section class="py-4 aos-init aos-animate" data-aos="fade-down">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6 col-12">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">Step 1 Check FDI Limit</h5>
                              <br>
                              <p class="card-text">Most sectors are eligible for foreign direct investments in India via the automatic route. This means that there is no need to obtain approval before incorporation. Please refer to the RBI Notification or the Press Note.</p>
                            </div>
                          </div>
                      </div>

                      <div class="col-md-6 col-12 mt-4">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">Step 2 One Resident Director</h5>
                              <br>
                              <p class="card-text">Indian Resident director must be at least one member of the company's board. A person is considered a resident if they are in India for at most 120 days during the preceding financial year. It is possible to stay in many different trenches.</p>
                            </div>
                          </div>
                      </div>

                    </div>



                    <div class="row pt-4">

                      <div class="col-md-6 col-12">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">Step 3 Business VISA</h5>
                              <br>
                              <p class="card-text">A foreign signatory who arrives in India with a business visa can have his documents attested quickly in India. However, if the document is not Indian, it will need to be legalized by the Indian consulate or the Apostille.</p>
                            </div>
                          </div>
                      </div>


                      <div class="col-md-6 col-12 mt-4">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">Step 4 Attestation / Apostille</h5>
                              <br>
                              <p class="card-text">All documents of foreign origin, as well those executed in another country, must be legalized either by Indian high commission attestation or by Apostille under the Hague Convention.</p>
                            </div>
                          </div>
                      </div>

                    </div>

                  </div>
                </section>

            </div>

             <div id="process">

              <section class="btm_grd_banner py-4">
                <div class="container">
                  <div class="row text-center">
                    <div class="col-md-12 col-12">
                      <div class="py-2 text-white heading2">
                      <h2 class="py-2 fs-2">Step-by-step process of FDI Company RegisterDocumentation required for incorporation.</h2>
                      <p class="fs-6 pt-2">Correct documentation and legalization are the most critical aspect of setting up a company based on overseas shareholding. After receiving the documents, we will prepare declarations under the companies to act 2013, Memorandum of Association and Articles of Association (AOA), and any other required documents.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <section class="py-4">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6 col-12">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">Legalisation and Attestation</h5>
                              <br>
                              <p class="card-text">Legalization is required for documents that originated from a different country or were signed/executed in another country. The Indian Embassy can certify the documents or be apostilled according to the Hague Convention. In India, however, it is possible to attestation if the person arrives with original documents from a Business Visa.</p>
                            </div>
                          </div>
                      </div>

                      <div class="col-md-6 col-12 mt-4">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">Digital Signature of Shareholders/Directors</h5>
                              <br>
                              <p class="card-text">Digital Signatures (DSC) is the equivalent of physical or paper signatures under the information tech act. According to the new process, all applications for the Registrar of Companies (ROC) must be filed in digital format. They will need to be authenticated using the digital signature of the shareholders and directors. The digital signatures of all promoters are issued as part of the filing process.</p>
                            </div>
                          </div>
                      </div>

                    </div>



                    <div class="row pt-4">

                      <div class="col-md-4 col-12">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">Name Reservation of Company</h5>
                              <br>
                              <p class="card-text">Names for the proposed Company must be unique. They cannot be compared to any existing business, LLP, Trademark, or other entity. A foreign Company can name a subsidiary.</p>
                            </div>
                          </div>
                      </div>


                      <div class="col-md-4 col-12 mt-4">
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">Company Incorporation through the ROC</h5>
                              <br>
                              <p class="card-text">After the Name Approval, the application is filed for incorporation with the MOA. AOA. ID &amp; Address Proof of Promoters. Proof of registered addresses with NOC from the property owner is also required. After approval, the application is processed at the Central Processing Centre in Manesar (near Our Delhi Office). The Certificate of Incorporation is issued. This is conclusive proof that the Company is registered.</p>
                            </div>
                          </div>
                      </div>

                      <div class="col-md-4 col-12 mt-5">
                        <div class="mt-5"></div>
                        <div class="card border-none">
                            <div class="card-body shadow border-round">
                              <div class="icon-bg mb-4"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                              <h5 class="card-title card-header">The banker is required to open an account.</h5>
                              <br>
                              <p class="card-text">After incorporation of the Company, the Bank A/c should be opened. Foreign direct investments must be received within 180 days from incorporation. The banker must receive advance notification. It is important to note that the capital received in India must be received before the new Company can begin any business activities.</p>
                            </div>
                          </div>
                      </div>

                    </div>

                  </div>
                </section>

            </div>


            <div id="document">
              <section class="py-4 ab-banner text-white">
                <div class="container">
                  <div class="row">
                  <div class="col-md-12 col-12 heading">
                    <h2 class="py-4">Checklist, Minimum Eligibility to Launch an Indian Company</h2>
                    <p>The registration of a company is easier when there is good documentation. Here's a list of directors' documents to register the company's address for incorporation. If you have clear and valid documents, please submit them to us.</p>
                  </div>
                  </div>

                  <div class="row table-responsive-sm">

                      <div class="col-md-6 col-12 p-2">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>A. Documents of Directors/Shareholder</td>
                          </tr>     
                          <tr class="table-primary">
                            <td>Photograph of the Passport Size Colour</td>
                          </tr>

                          <tr class="table-info">
                            <td>Self attested Pan Card</td>
                          </tr>
                          <tr class="table-warning">
                            <td><b>Self attested Aadhar Card</b></td>
                          </tr>
                          
                          <tr class="table-light">
                            <td><b>Address proof: </b>(anyone single document)</td>
                          </tr>

                          <tr class="table-warning">
                            <td>Telephone Bill, Gas Bill, Electricity Bill, Statement of Bank </td>
                          </tr>
                          
                          <tr class="table-light">
                            <td><b>Identity:</b> (anyone single document)</td>
                          </tr>

                          <tr class="table-warning">
                            <td>Passport, Voter ID, Driving License </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>

                    <div class="col-md-6 col-12 p-2">
                      <table class="table">
                        <tbody>
                          <tr class="table-dark">
                            <td>B. Documents for Registered Address</td>
                          </tr>     
                          <tr class="table-primary">
                            <td><b>-</b></td>
                          </tr>
                          
                          <tr class="table-info">
                            <td>-</td>
                          </tr>
                          <tr class="table-warning">
                            <td>-</td>
                          </tr>
                          
                          <tr class="table-light">
                            <td>Premises Proof:</td>
                          </tr>

                          <tr class="table-warning">
                            <td>Telephone, Electricity, Water Bill </td>
                          </tr>

                          <tr class="table-light">
                            <td>No Objection Certificate, (NOC) from the Owner</td>
                          </tr>

                          <tr class="table-light">
                            <td>Download NOC</td>
                          </tr>

                        </tbody>
                      </table>
                    </div>

                  </div>

                  <p><b>Notice: After incorporation, ROC issues a Certificate of Incorporation. This certificate contains the Company's address. A similar document can be found on the proof submitted to verify the registered address. Please ensure that your address on the NOC matches the address on the utility Bill.</b></p>

                </div>
              </section>
            </div>


            <div id="faq">
             <section class="bg-light py-4">
                <div class="container">
                  <div class="row">

                    <div class="col-md-11 col-12 mx-auto heading2">
                      <h2 class="text-center">Frequently Asked  <span class="text-primary">Questions</span></h2>
                      <div class="accordion pt-2" id="accordionExample">
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              What is the best way to register a company in foreign countries/foreign corporations as a shareholder?
                            </button>
                          </h4>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                              A company with foreign shares has its process and documentation. A separate team handles Foreign Direct Investment (FDI). For more information on FDI and to see how a foreign corporation can open an India office/ company, you may click the link.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Where is FDI banned in India?
                            </button>
                          </h4>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                              A foreign investor can generally invest in most sectors for Starting a Business, but the following sectors are forbidden for them:
                              <ul>
                                 <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Lottery business, including government/private lottery, internet lotteries, etc.</li>
                                 <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Gambling, betting and other forms of gambling (e.g., casinos)</li>
                                 <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Chit fund/ Nidhi Company,</li>
                                 <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Transferable Development Rights (TDRs) can be traded</li>
                                 <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Real Estate Business or Construction of Farmhouses</li>
                                 <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Production of cigarettes, cheroots or cigarettes made from tobacco or tobacco replacements.</li>
                                 <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Sectors that aren't open to private investment, e.g., Atomic Energy, Railway; etc.,</li>
                                 <li> <i class="fa fa-check-circle" aria-hidden="true"></i> India allows anyone to invest, but not everyone. </li>

                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            What are the characteristics of an investor entity?
                            </button>
                          </h4>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             Following kinds of foreign entities may invest in India without restriction, provided the sector's open for investment either under an approval route or automatically.
                             <ul>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Foreign Company,</li>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> India: Incorporation of Body Corporates</li>
                                <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Non-Resident India/Person of Indian Origin (NRI).</li>

                             </ul>
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                             How does a foreign investor transfer funds to an Indian company?
                            </button>
                          </h4>
                          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                             Foreign investors should transfer their capital to India via foreign banking channels. However, funds can be remitted through NRO accounts which are foreign exchange.
                            </div>
                          </div>
                        </div>


                        <div class="accordion-item">
                          <h4 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                             What forms can an Indian company do business in India?
                            </button>
                          </h4>
                          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body list-style">
                                <ul>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> A foreign citizen can own a business in India, but only in these ways</li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Establishing a company or an LLP according to the prevailing policy on FDI</li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> A foreign company can register a Branch Office and Liaison Office</li>
                                  <li> <i class="fa fa-check-circle" aria-hidden="true"></i> You may register a "project office" to help execute your project.</li>

                                </ul>
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            {% include 'product.html' %}
          </div>
          </div>
          <div class="col-md-3 col-12 pricing">
            <div class="s_fixed bg-light p-2 px-5 pricing-spc">
            <h5>Pricing Summary</h5>
              <div class="table-responsive">
                <table class="table border border-white">
                  <tbody>
                    <tr>
                      <th>Quantity</th>
                      <td>: 1 Year</td>
                    </tr>
                    <tr>
                      <th>Market Price</th>
                      <td>: ₹11899</td>
                    </tr>
                    <tr>
                      <th>DobizIndiaFilings</th>
                      <th class="text-danger">: ₹8389 excl. GST</th>
                    </tr>
                    <tr>
                      <th></th>
                      <td> &nbsp; ₹9899 incl. GST</td>
                    </tr>
                    <tr>
                      <th>GST Credit</th>
                      <td>: ₹1510</td>
                    </tr>
                    <tr>
                      <th>You Save</th>
                      <td>: ₹3510 (29%)</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button"><a href="{%url 'order'%}">  Order Now </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

     {% endblock %}