{% extends 'index.html' %}

{%block title%}Subsidiary Company Vs Branch Office{% endblock %}

{%block body %}
<section class="top-bn4 bn-styles aos-init aos-animate" data-aos="fade-left">
  <div class="container">
    <div class="row pt-4">
      <div class="col-md-8 col-12 pt-5 pt-5">
        <p> <b> Wholly Owned Subsidiary Branch Office </b></p>
        <p> <b> We assist foreign companies in thriving in India. </b></p>
        <p> <b> All India Tax Registration &amp; Returns </b></p>
        <p> <b> Wholly Owned Subsidiary Branch Office </b></p>

        <p>When a foreign company plans to establish an Indian business, it is easy to confuse a Wholly Owned Subsidiary
          or WOS and a Branch Office. This page describes the differences between a Branch company and a Subsidiary
          Company. A foreign company created it.</p>
        <!-- <button type="button" class="btn btn-primary mt-4 rounded-pill py-2 px-4">Book Free Consultation</button> -->
      </div>
    </div>
  </div>
</section>

<section class="py-5 side-navbg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9 col-12 bg-side-color" data-spy="affix" data-offset-top="597">
        <div>
          <ul class="sidebar nav-pills" id="sideMenu">
            <h5><b>Table Of Content &nbsp; &nbsp; <i class="fa fa-hand-o-up" style="font-size:28px;color:blue"></i> </b>
            </h5>
            <li> <a class="sidelink active" href="#overview">
                <span class="icon-s"> <i class="fa fa-database" aria-hidden="true"></i> </span> Basic Overview </a>
            </li>
            <li> <a class="sidelink" href="#process">
                <span class="icon-s"> <i class="fa fa-tasks" aria-hidden="true"></i> </span> Step Wise Process</a> </li>
            <li> <a class="sidelink" href="#document">
                <span class="icon-s"> <i class="fa fa-file-text" aria-hidden="true"></i> </span> List of Documents</a>
            </li>


          </ul>
        </div>

        <div class="content content-3s bg-light">
          <div id="overview">
            <section class="py-4">
              <div class="container">
                <div class="row">

                  <div class="col-md-12 col-12 heading pt-2">
                    <h2 class="fs-2">Diverse Options Available for <span class="text-primary">Foreign
                        Corporations</span> </h2>
                    <p class="fs-6"><b>Subsidiary Wholly Owned </b>Ideal for operations of large-scale and long-term
                      presence in India. It is comparable to any Indian Company. Ideal and Only Choice in the case of
                      manufacturing activity with low taxes</p>
                    <p class="b-style text-style"><b>Branch Office </b>To establish Brand India. It is a foreign entity
                      subject to a 40% greater tax rate. A branch office can't do manufacturing activities and is
                      tightly regulated.</p>

                    <p class="fs-6"><b>Liaison Office </b>A LO cannot generate income in India unless they have explored
                      the market and created Brand Awareness. The parent must finance all expenses for LO.</p>

                    <p class="b-style text-style"><b>Branch Office </b>To complete one or several projects granted to
                      foreign corporate by the Indian Private Sector or government. The income of the PO can be taxable
                      at 40%, plus Cess &amp; Surcharge.</p>
                    <h2 class="fs-4">Project Office</h2>
                    <p>India is an attractive destination for expanding foreign businesses for obvious reasons. India is
                      a tax-friendly place to do business. There are a sizeable middle class and young population. These
                      are two of the most popular options for foreign companies. The following sections discuss the
                      differences between a Wholly Owned Subsidiary (and Branch Office).</p>
                  </div>

                </div>
              </div>
            </section>

            <section class="py-4 s-img s-img1">
              <div class="container py-2">
                <div class="row">
                  <div class="col-md-2 col-12">
                  </div>
                  <div class="col-md-10 col-12">
                    <p><b>The wholly-owned subsidiary: </b>A Company registered in India under the 2013 Companies Act is
                      a company whose equity shares comprise 100%. This foreign corporation must meet the sectoral cap.
                      WOS can be considered a distinct legal entity independent of the existence of foreign companies.
                      It is treated as an Indian company in all law and tax aspects.</p>
                    <p><b>Branch Office: </b>Companies established outside India are allowed to set up Branch Offices
                      subject to approval by the RBI. A Branch office, also known as a Foreign Entity, is subject to a
                      higher tariff (40%), more effective regulations and more control by Indian authorities. The RBI
                      and Registrar of Companies are the regulators for the Branch offices.</p>
                  </div>
                </div>
              </div>
            </section>

            <section class="py-4 bg-light">
              <div class="container">
                <div class="row">

                  <div class="col-md-12 col-12 heading pt-2">
                    <p><b>Note: </b>Although a wholly owned subsidiary can carry out any business activity, a Branch
                      Office cannot directly or indirectly perform manufacturing or processing operations in India.</p>

                    <div class="row table-responsive-sm">

                      <div class="col-md-6 col-12 p-2">
                        <table class="table">
                          <tbody>
                            <tr class="table-dark">
                              <td>Subsidiary Company</td>
                            </tr>
                            <tr class="table-primary">
                              <td>-</td>
                            </tr>

                            <tr class="table-info">
                              <td>-</td>
                            </tr>
                            <tr class="table-warning">
                              <td>The Companies Act, 2013, which regulates how a company can be incorporated in India.
                              </td>
                            </tr>

                            <tr class="table-light">
                              <td>The Rules of the above Act.</td>
                            </tr>

                            <tr class="table-warning">
                              <td>-</td>
                            </tr>

                            <tr class="table-warning">
                              <td>-</td>
                            </tr>

                            <tr class="table-warning">
                              <td>-</td>
                            </tr>

                          </tbody>
                        </table>
                      </div>

                      <div class="col-md-6 col-12 p-2">
                        <table class="table">
                          <tbody>
                            <tr class="table-dark">
                              <td>Branch Office</td>
                            </tr>
                            <tr class="table-primary">
                              <td>The Companies Act, 2013, which prescribes the process for incorporation of an Indian
                                company.</td>
                            </tr>

                            <tr class="table-info">
                              <td>The Rules Framed Under the Companies Act.</td>
                            </tr>
                            <tr class="table-warning">
                              <td>2000. Foreign Exchange Management (Establishment of an Office or Branch in India)
                                Regulations.</td>
                            </tr>

                            <tr class="table-light">
                              <td>Foreign Exchange Management Act</td>
                            </tr>

                            <tr class="table-warning">
                              <td>RBI issues Circulars, Notifications</td>
                            </tr>

                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </section>

          </div>

          <div id="process">

            <section class="btm_grd_banner py-4">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 col-12">
                    <div class="py-2 text-white heading2">
                      <p class="fs-6 pt-2"><b>Wholly Owned Subsidiary: </b>Since it is an Indian company, it can engage
                        in all business activities within the Indian FDI sectoral boundaries. However, it must comply
                        with the MOA's main object.</p>
                      <p class="fs-6 pt-2">Permitted Activities of Branch Office: A Branch Office for a foreign
                        corporation can typically perform the activity in the same way as its parent company. It can't
                        engage in manufacturing or other processing activities in India directly or indirectly. The
                        following are permitted activities.</p>

                      <div class="about-text-style">
                        <ul>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Export and import of goods</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Consulting or professional services
                            rendered.</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Research in the fields of interest
                            to the parent company.</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> We are promoting technical and
                            financial collaborations among Indian companies and a parent or foreign group company.</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Represent parent company in India.
                            Act as Indian buyer/seller agent.</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> India, Information Technology and
                            Software Development Services.</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> We are supporting the products of
                            parent/group companies by providing technical assistance.</li>
                          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> Company those ships to/from foreign
                            countries</li>
                        </ul>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section class="py-4 bg-light">
              <div class="container">
                <div class="row">

                  <div class="col-md-12 col-12 heading">

                    <div class="row table-responsive-sm">

                      <div class="col-md-6 col-12 p-2">
                        <table class="table">
                          <tbody>
                            <tr class="table-dark">
                              <td>Subsidiary Company</td>
                            </tr>
                            <tr class="table-primary">
                              <td>The minimum number of subscribers and directors required to register a Private Limited
                                Company shall be two. At least one director must reside in India.</td>
                            </tr>

                            <tr class="table-info">
                              <td>Resident refers to a stay lasting 182 days or longer in the preceding financial
                                calendar.</td>
                            </tr>
                            <tr class="table-warning">
                              <td>There are no minimum and maximum requirements for capital induction.</td>
                            </tr>

                            <tr class="table-light">
                              <td>It does not matter if the parent company has a good track record.</td>
                            </tr>

                          </tbody>
                        </table>
                      </div>

                      <div class="col-md-6 col-12 p-2">
                        <table class="table">
                          <tbody>
                            <tr class="table-dark">
                              <td> Branch Office</td>
                            </tr>
                            <tr class="table-primary">
                              <td>The Companies Act, 2013, which prescribes the process for incorporation of an Indian
                                company.</td>
                            </tr>

                            <tr class="table-info">
                              <td>-</td>
                            </tr>
                            <tr class="table-warning">
                              <td> Parent Company shall be able to demonstrate a profitable track record during the five
                                prior financial years in their home country.</td>
                            </tr>

                            <tr class="table-light">
                              <td> The net worth of the Parent Company cannot be less than USD 100,000.</td>
                            </tr>

                            <tr class="table-warning">
                              <td>-</td>
                            </tr>

                          </tbody>
                        </table>
                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </section>

          </div>


          <div id="document">
            <section class="py-4 s-img s-img1">
              <div class="container py-2">
                <div class="row">
                  <div class="col-md-2 col-12">
                  </div>
                  <div class="col-md-10 col-12">
                    <p> Affiliate Company: Companies are governed by the provisions and rules of the companies act. The
                      MOA and AOA, which are internal documents, define and limit both the authority of a board and the
                      company's powers. A private limited company must maintain at least two directors, while a public
                      limited requires three.</p>
                    <p> The number of investors in a confidential, restricted organization can't surpass 200. Private
                      limited companies must always have at least two shareholders. The private limited company cannot
                      invite the public for shares or debentures. It is also forbidden to accept deposits from any other
                      than its directors, members or relatives. Until the company closes its doors, the company is still
                      in existence.</p>
                    <p> Branch Office Approval for a Branch Office is valid for three years after approval. Extensions
                      are possible; terms of approval are as below.</p>
                  </div>
                </div>
              </div>
            </section>

            <section class="py-4 bg-light">
              <div class="container">
                <div class="row">

                  <div class="col-md-12 col-12 heading">

                    <div class="row table-responsive-sm">

                      <div>
                        <table class="table">
                          <tbody>
                            <tr class="table-dark">
                              <td> <b> S.No. &nbsp; </b> Terms of Approval</td>
                            </tr>
                            <tr class="table-primary">
                              <td> <b> 1 &nbsp; </b> RBI expressly prohibits the expansion of its activities or any new
                                commercial, industrial, or trading activity.</td>
                            </tr>

                            <tr class="table-info">
                              <td> <b> 2 &nbsp; </b> The Branch Office expenses for India will be covered by funds
                                received through normal banking channels from the head offices or income generated in
                                India.</td>
                            </tr>
                            <tr class="table-warning">
                              <td> <b> 3 &nbsp; </b> The Branch Office does not accept deposits from India.</td>
                            </tr>

                            <tr class="table-light">
                              <td> <b> 4 &nbsp; </b> The Branch Office's commission from overseas parties to any agency
                                business will be repatriated through the normal banking channels to India.</td>
                            </tr>

                            <tr class="table-info">
                              <td> <b> 5 &nbsp; </b> It is forbidden to engage in retail trade.</td>
                            </tr>
                            <tr class="table-warning">
                              <td> <b> 6 &nbsp; </b> A branch office is not permitted to directly or in part, performs
                                manufacturing or other processing activities in India.</td>
                            </tr>

                          </tbody>
                        </table>
                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </section>

            <section class="py-4 ab-banner text-white">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 col-12 heading">
                    <h2>Various Labour Law Registers</h2>
                    <p>A foreign firm's WOS or Branch office must comply with the same set o tax and labour laws. This
                      table lists the registrations that can be used in both cases.</p>
                  </div>
                </div>


                <div class="row table-responsive-sm">

                  <div class="col-md-4 col-12 p-2">
                    <table class="table">
                      <tbody>
                        <tr class="table-dark">
                          <td>Subsidiary Company</td>
                        </tr>
                        <tr class="table-primary">
                          <td>Indian Company Registration</td>
                        </tr>

                        <tr class="table-info">
                          <td>PAN / TAN information for the Company</td>
                        </tr>
                        <tr class="table-warning">
                          <td>Registration of Shops and Establishment Act</td>
                        </tr>

                        <tr class="table-light">
                          <td>Professional Tax Registration</td>
                        </tr>

                        <tr class="table-warning">
                          <td>Import Export Code</td>
                        </tr>

                        <tr class="table-light">
                          <td>GST</td>
                        </tr>

                        <tr class="table-primary">
                          <td>Trade License, or Factory License</td>
                        </tr>

                      </tbody>
                    </table>
                  </div>

                  <div class="col-md-4 col-12 p-2">
                    <table class="table">
                      <tbody>
                        <tr class="table-dark">
                          <td>Branch Office</td>
                        </tr>
                        <tr class="table-primary">
                          <td>Approval from RBI</td>
                        </tr>

                        <tr class="table-info">
                          <td>Indian Company Registration</td>
                        </tr>
                        <tr class="table-warning">
                          <td>Register with the Local Police</td>
                        </tr>

                        <tr class="table-light">
                          <td>PAN / TAN information for the Company</td>
                        </tr>

                        <tr class="table-warning">
                          <td>Registering Shops and Establishment Act</td>
                        </tr>

                        <tr class="table-light">
                          <td>Professional Tax Registration, Import Export Code</td>
                        </tr>

                        <tr class="table-primary">
                          <td>GST, Trade License, or Factory License</td>
                        </tr>

                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </section>

            <section class="py-4 bg-light">
              <div class="container">
                <div class="row table-responsive-sm">

                  <div class="col-md-12 col-12 heading">

                    <h2>Various Labour Law and Tax Registrations</h2>
                    <p>The branch office and the subsidiary business are subject to the same indirect taxes (GST) for
                      the supply of goods and services and withholding tax provisions. The Branch Office's income tax
                      rates, however, are higher. The following table summarizes all relevant tax provisions.</p>

                    <table class="table border">
                      <thead>
                        <tr>
                          <th scope="col">Particulars</th>
                          <th scope="col">Subsidiary Company</th>
                          <th scope="col">Branch Office</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Rate of income tax</th>
                          <td>For manufacturing companies, the tax on income is 15%. It is 22% for all other categories.
                            A nominal cess, and surcharge are applied to the tax amount.</td>
                          <td>Foreign corporations are subject to a 40% income tax. A surcharge and the cess are also
                            applicable.</td>
                        </tr>
                        <tr>
                          <th scope="row">Tax on Dividend</th>
                          <td>Dividend Distribution tax- NIL Royalty/technical fees- As per DTAA</td>
                          <td>Profits can be freely returned to the Parent Company, but the Parent Company must pay
                            applicable taxes according to the Indian Income tax Act.</td>
                        </tr>
                        <tr>
                          <th scope="row">GST</th>
                          <td colspan="2">GST Rates range from 1% - 28% GST paid for inputs is possible to be claimed
                          </td>
                          <td>-</td>
                        </tr>
                      </tbody>
                    </table>

                  </div>

                </div>
              </div>
            </section>

            <section class="py-5 bg-light">
              <div class="container">
                <div class="row">

                  <div class="col-md-12 col-12 heading">

                    <div class="row table-responsive-sm">

                      <div>
                        <table class="table">
                          <tbody>
                            <tr class="table-dark">
                              <td> <b> S.No. &nbsp; </b> Terms of Approval</td>
                            </tr>
                            <tr class="table-primary">
                              <td> <b> 1 &nbsp; </b> RBI expressly prohibits the expansion of its activities or any new
                                commercial, industrial, or trading activity.</td>
                            </tr>

                            <tr class="table-info">
                              <td> <b> 2 &nbsp; </b> The Branch Office expenses for India will be covered by funds
                                received through normal banking channels from the head offices or income generated in
                                India.</td>
                            </tr>
                            <tr class="table-warning">
                              <td> <b> 3 &nbsp; </b> The Branch Office does not accept deposits from India.</td>
                            </tr>

                            <tr class="table-light">
                              <td> <b> 4 &nbsp; </b> The Branch Office's commission from overseas parties to any agency
                                business will be repatriated through the normal banking channels to India.</td>
                            </tr>

                            <tr class="table-info">
                              <td> <b> 5 &nbsp; </b> It is forbidden to engage in retail trade.</td>
                            </tr>
                            <tr class="table-warning">
                              <td> <b> 6 &nbsp; </b> A branch office is not permitted to directly or in part, performs
                                manufacturing or other processing activities in India.</td>
                            </tr>

                          </tbody>
                        </table>
                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </section>


            <section class="py-4">
              <div class="container">
                <div class="row heading">
                  <h2>Various Labour Law<span class="text-primary"> and Tax Registrations</span></h2>
                  <p>The branch office and the subsidiary business are subject to the same indirect taxes (GST) for the
                    supply of goods and services and withholding tax provisions. The Branch Office's income tax rates,
                    however, are higher. The following table summarizes all relevant tax provisions.</p>

                  <div class="col-md-6 col-12">
                    <div class="table-responsive-sm">
                      <div>
                        <table class="table">
                          <tbody>
                            <tr class="table-dark">
                              <td>Subsidiary Company</td>
                            </tr>
                            <tr class="table-primary">
                              <td> <b> 1, &nbsp; </b> Reporting Foreign Direct Investment to RBI (FC–GPR).</td>
                            </tr>

                            <tr class="table-info">
                              <td> <b> 2. &nbsp; </b> Annual Return on Foreign Liabilities &amp; Assets (FLA).</td>
                            </tr>

                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 col-12">
                    <div class="table-responsive-sm">
                      <div>
                        <table class="table">
                          <tbody>
                            <tr class="table-dark">
                              <td>Branch Office</td>
                            </tr>
                            <tr class="table-primary">
                              <td> <b> 1. &nbsp; </b> ROC Yearly Reports from BO and World Accounts</td>
                            </tr>

                            <tr class="table-info">
                              <td> <b> 2. &nbsp; </b> Annual Activity Reporting to RBI Through AD</td>
                            </tr>

                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </section>


            <section class="py-4 bg-light">
              <div class="container">
                <div class="row table-responsive-sm">

                  <div class="col-md-12 col-12 heading">

                    <table class="table border shadow" style="background: #fff;">
                      <thead>
                        <tr>
                          <th scope="col">S.NO.</th>
                          <th scope="col">Type of Compliance</th>
                          <th scope="col">What to do when?</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>GST Payment (Return on GSTR-3B).</td>
                          <td>Monthly</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>GST Return </td>
                          <td>Monthly, Quarterly or Annual</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td colspan="2">TDS Payment </td>
                          <td>7th of the next month</td>
                        </tr>

                        <tr>
                          <th>4 </th>
                          <td>TDS Return </td>
                          <td>Quarterly</td>
                        </tr>

                        <tr>
                          <th>5</th>
                          <td>PF and ESIC payment &amp; return </td>
                          <td>Monthly</td>
                        </tr>

                        <tr>
                          <th> 6 </th>
                          <td> Professional Tax Payments &amp; Returns </td>
                          <td> Monthly</td>
                        </tr>

                        <tr>
                          <th> 7 </th>
                          <td> Statutory Audit </td>
                          <td> Annual</td>
                        </tr>

                        <tr>
                          <th> 8 </th>
                          <td> Annual Income Tax Return </td>
                          <td> Annual</td>
                        </tr>

                        <tr>
                          <th> 9 </th>
                          <td> Annual Return to ROC </td>
                          <td> Annual</td>
                        </tr>

                        <tr>
                          <th> Particulars </th>
                          <td> Subsidiary Company </td>
                          <td> Branch Office</td>
                        </tr>

                        <tr>
                          <th> Management </th>
                          <td> They are managed by the board. A minimum of two directors are required to be on the
                            board. The Indian Resident Person should be the first, and any other director can be of
                            foreign origin. </td>
                          <td> BO is managed and administered by an Authorized Representative, residing in India
                            (Country manager).</td>
                        </tr>

                        <tr>
                          <th> Audit </th>
                          <td> Financials will be subject to Statutory Audition by Chartered Accountants. Subject to
                            some conditions, Internal audit as well as Tax audit is also available.</td>
                          <td> Financials could be subject to Statutory audit by Chartered Accountants. Tax audits may
                            also apply, but they are subject to certain terms.</td>
                        </tr>

                        <tr>
                          <th> Remittances of profits to parent company </th>

                          <td> Dividends - There is no tax on dividend distribution
                            Royalty/ fees to pay for technical services
                            Management Fees
                            Transfer pricing Regulations govern transactions between related parties </td>

                          <td> Profits can be free repatriated back to the Parent Company provided they pay applicable
                            taxes and remit funds to India within the guidelines of FEMA.</td>

                        </tr>

                        <tr>
                          <th> Borrowing </th>

                          <td> Local borrowings can be authorized subject to the 2013 Companies Act guidelines
                            The RBI will issue guidelines to guide external commercial borrowings. </td>

                          <td> The Branch Office cannot borrow locally without prior approval by RBI</td>
                        </tr>

                        <tr>
                          <th> Permitted Incomes </th>
                          <td> All income earned from its business activities. </td>
                          <td> All expenses of the BO India will be covered either by funds received from Head Office
                            via normal banking channels, or through income that it generates in India.</td>
                        </tr>

                        <tr>
                          <th> Liabilities Of Parent Company/Head Office </th>
                          <td> The liability of the Parent Company is limited to the amount of its WOS shares. The
                            attachments do not affect the assets of the foreign firm </td>
                          <td> The liability for the Branch is uncapped. If the liabilities exceed the assets, the
                            parent company's assets could be subject to attachment</td>
                        </tr>

                      </tbody>
                    </table>

                  </div>

                </div>
              </div>
            </section>
          </div>
          {% include 'product.html' %}
        </div>
      </div>
      <div class="col-md-3 col-12 pricing">
        <div class="s_fixed bg-light p-2 px-5 pricing-spc">
          <h5>Pricing Summary</h5>
          <div class="table-responsive">
            <table class="table border border-white">
              <tbody>
                <tr>
                  <th>Quantity</th>
                  <td>: 1 Year</td>
                </tr>
                <tr>
                  <th>Market Price</th>
                  <td>: ₹11899</td>
                </tr>
                <tr>
                  <th>DobizIndiaFilings</th>
                  <th class="text-danger">: ₹8389 excl. GST</th>
                </tr>
                <tr>
                  <th></th>
                  <td> &nbsp; ₹9899 incl. GST</td>
                </tr>
                <tr>
                  <th>GST Credit</th>
                  <td>: ₹1510</td>
                </tr>
                <tr>
                  <th>You Save</th>
                  <td>: ₹3510 (29%)</td>
                </tr>
              </tbody>
            </table>
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="button"><a href="{%url 'order'%}"> Order Now </a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}