{% extends 'index.html' %}

{%block title%}Subsidiary Company Vs Branch Office{% endblock %}

{%block body %}

{% include 'common_pages/banner.html'%}

<section class="py-4 bg-light1">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-9 col-12 affix-top bg-light" data-spy="affix" data-offset-top="597">
        <!-- Nav pills -->
        <ul class="nav nav-pills" role="tablist">
          {% if meaning %}
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="pill" href="#meaning">Meaning</a>
          </li>
          {% endif %}
          {% if minimum %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#requirement">Minimum requirement</a>
          </li>
          {% endif %}
          {% if benefit %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#benefit">Benefit</a>
          </li>
          {% endif %}
          {% if document %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#required">Document required</a>
          </li>
          {% endif %}
          {% if incorporation %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#process">Incorporation Process</a>
          </li>
          {% endif %}
          {% if compliance %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#compliance">Compliance</a>
          </li>
          {% endif %}
          {% if closure %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#closure">Closure </a>
          </li>
          {% endif %}
          {% if faq %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#faq">FAQ</a>
          </li>
          {% endif %}
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div id="meaning" class="container tab-pane content active"><br>
            <p> <b> {{meaning.list1}} </b></p>
            <p> <b> {{meaning.list2}} </b></p>
            <p> <b> {{meaning.list3}} </b></p>
            <p> <b> {{meaning.list4}}</b></p>
            <p>{{meaning.text}}</p>

            <h2>{{meaning.heading_text}}/h2>
            <p>{{meaning.text2}}</p>
            <p class="b-style text-style">{{meaning.text3}}</p>
            <p><b>{{meaning.heading_text2}}</b> {{meaning.text4}}</p>
            <p class="b-style text-style"><b>{{meaning.heading_text3}} </b>{{meaning.text5}}</p>
            <p class="b-style text-style"><b>{{meaning.heading_text3}}</b>{{meaning.text6}}</p>
          </div>

          <div id="requirement" class="container tab-pane fade"><br>
            <div class="row">
              <div class="col-md-12 col-12">
                <h2>{{minimum.heading_text}}</h2>
                <p class="b-style text-style">{{minimum.text}}</p>
                <p><b>{{minimum.heading_text2}}</b> {{minimum.text2}}</p>
                <p><b>{{minimum.heading_text3}}</b> {{minimum.text3}}</p>
                <p><b>{{minimum.heading_text4}}</b> {{minimum.text4}}</p>
              </div>
            </div>

            <div class="row table-responsive-sm">

              <div class="col-md-6 col-12 p-2">
                <table class="table">
                  <tbody>
                    <tr class="table-dark">
                      <td>{{minimum.list1}}</td>
                    </tr>
                    <tr class="table-primary">
                      <td>-</td>
                    </tr>

                    <tr class="table-info">
                      <td>-</td>
                    </tr>
                    <tr class="table-warning">
                      <td>{{minimum.list2}}</td>
                    </tr>

                    <tr class="table-light">
                      <td>{{minimum.list3}}</td>
                    </tr>

                    <tr class="table-warning">
                      <td>-</td>
                    </tr>

                    <tr class="table-warning">
                      <td>-</td>
                    </tr>

                    <tr class="table-warning">
                      <td>-</td>
                    </tr>

                  </tbody>
                </table>
              </div>

              <div class="col-md-6 col-12 p-2">
                <table class="table">
                  <tbody>
                    <tr class="table-dark">
                      <td>{{minimum.list4}}</td>
                    </tr>
                    <tr class="table-primary">
                      <td>{{minimum.list5}}</td>
                    </tr>

                    <tr class="table-info">
                      <td>{{minimum.list6}}</td>
                    </tr>
                    <tr class="table-warning">
                      <td>{{minimum.list7}}</td>
                    </tr>

                    <tr class="table-light">
                      <td>{{minimum.list8}}</td>
                    </tr>

                    <tr class="table-warning">
                      <td>{{minimum.list9}}</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>

          </div>

          <div id="benefit" class="container tab-pane fade"><br>
            <h2>Benefits</h2>

          </div>

          <div id="required" class="container tab-pane fade"><br>
            <div class="row">
              <h2>Required</h2>
            </div>
          </div>

          <div id="process" class="container tab-pane fade"><br>

            <h2>Proccess</h2>
          </div>

          <div id="compliance" class="container tab-pane fade"><br>
            <h2>Compliance</h2>
          </div>

          <div id="closure" class="container tab-pane fade"><br>
            <h2> closure </h2>
          </div>

          <div id="faq" class="container tab-pane fade"><br>
            <h2 class="fs-4">FAQ</h2>

          </div>

        </div>
      </div>

      {% include 'common_pages/pricing_sum_below.html' %}

    </div>
  </div>
</section>


{% include 'common_pages/fssai.html'%}

<section class="checklist py-5">
  <div class="container">
    <div class="row py-4">
      <p><b>{{faq.question1}}</b> {{faq.answer1}}</p>
      <p> {{faq.answer2}}</p>

      <div class="about-text-style">
        <ul>
          <li> <i class="fa fa-check-circle" aria-hidden="true"></i>  {{faq.list1}}</li>
          <li> <i class="fa fa-check-circle" aria-hidden="true"></i>{{faq.list2}}</li>
          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{faq.list3}}</li>
          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{faq.list4}}</li>
          <li> <i class="fa fa-check-circle" aria-hidden="true"></i>{{faq.list5}}</li>
          <li> <i class="fa fa-check-circle" aria-hidden="true"></i>{{faq.list6}}</li>
          <li> <i class="fa fa-check-circle" aria-hidden="true"></i>{{faq.list7}}</li>
          <li> <i class="fa fa-check-circle" aria-hidden="true"></i> {{faq.list8}}</li>
        </ul>
      </div>

    </div>

    <div class="row table-responsive-sm">

      <div class="col-md-6 col-12 p-2">
        <table class="table">
          <tbody>
            <tr class="table-dark">
              <td>{{faq.list9}}</td>
            </tr>
            <tr class="table-primary">
              <td>{{faq.list10}}</td>
            </tr>

            <tr class="table-info">
              <td>{{faq.list11}}</td>
            </tr>
            <tr class="table-warning">
              <td>{{faq.list12}}</td>
            </tr>

            <tr class="table-light">
              <td>{{faq.list13}}</td>
            </tr>

          </tbody>
        </table>
      </div>

      <div class="col-md-6 col-12 p-2">
        <table class="table">
          <tbody>
            <tr class="table-dark">
              <td> {{faq.list14}}</td>
            </tr>
            <tr class="table-primary">
              <td>{{faq.list15}}</td>
            </tr>

            <tr class="table-info">
              <td>-</td>
            </tr>
            <tr class="table-warning">
              <td> {{faq.list16}}</td>
            </tr>

            <tr class="table-light">
              <td> {{faq.list17}}</td>
            </tr>

            <tr class="table-warning">
              <td>-</td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>
    <div class="row">
      <p>{{faq.answer3}}</p>
      <p>{{faq.answer4}}</p>
      <p>{{faq.question5}}</p>
    </div>

    <div class="row table-responsive-sm">

      <div>
        <table class="table">
          <tbody>
            <tr class="table-dark">
              <td> <b> S.No. &nbsp; </b> {{faq.list18}}</td>
            </tr>
            <tr class="table-primary">
              <td> <b> 1 &nbsp; </b> {{faq.list19}}</td>
            </tr>

            <tr class="table-info">
              <td> <b> 2 &nbsp; </b> {{faq.list20}}</td>
            </tr>
            <tr class="table-warning">
              <td> <b> 3 &nbsp; </b> {{faq.list21}}</td>
            </tr>

            <tr class="table-light">
              <td> <b> 4 &nbsp; </b> {{faq.list22}}</td>
            </tr>

            <tr class="table-info">
              <td> <b> 5 &nbsp; </b> {{faq.list23}}</td>
            </tr>
            <tr class="table-warning">
              <td> <b> 6 &nbsp; </b> {{faq.list24}}</td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>

    <div class="row">
      <h2>{{faq.question6}}</h2>
      <p>{{faq.answer6}}</p>
    </div>

    <div class="row table-responsive-sm">

      <div class="col-md-6 col-12 p-2">
        <table class="table">
          <tbody>
            <tr class="table-dark">
              <td>{{faq.list25}}</td>
            </tr>
            <tr class="table-primary">
              <td>{{faq.list26}}</td>
            </tr>

            <tr class="table-info">
              <td>{{faq.list27}}</td>
            </tr>
            <tr class="table-warning">
              <td>{{faq.list28}}</td>
            </tr>

            <tr class="table-light">
              <td>{{faq.list29}}</td>
            </tr>

            <tr class="table-warning">
              <td>{{faq.list30}}</td>
            </tr>

            <tr class="table-light">
              <td>{{faq.list31}}</td>
            </tr>

            <tr class="table-primary">
              <td>{{faq.list32}}</td>
            </tr>

          </tbody>
        </table>
      </div>

      <div class="col-md-6 col-12 p-2">
        <table class="table">
          <tbody>
            <tr class="table-dark">
              <td>{{faq.list33}}</td>
            </tr>
            <tr class="table-primary">
              <td>{{faq.list34}}</td>
            </tr>

            <tr class="table-info">
              <td>{{faq.list35}}</td>
            </tr>
            <tr class="table-warning">
              <td>{{faq.list36}}</td>
            </tr>

            <tr class="table-light">
              <td>{{faq.list37}}</td>
            </tr>

            <tr class="table-warning">
              <td>{{faq.list38}}</td>
            </tr>

            <tr class="table-light">
              <td>{{faq.list39}}</td>
            </tr>

            <tr class="table-primary">
              <td>{{faq.list40}}</td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>

    <div class="row table-responsive-sm">

      <div class="col-md-12 col-12 heading">

        <h2>{{faq.question7}}</h2>
      <p>{{faq.answer7}}</p>

        <table class="table border">
          <thead>
            <tr>
              <th scope="col">{{faq.list41}}</th>
              <th scope="col">{{faq.list42}}</th>
              <th scope="col">{{faq.list43}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{faq.list44}}</th>
              <td>{{faq.list45}}</td>
              <td>{{faq.list46}}</td>
            </tr>
            <tr>
              <th scope="row">{{faq.list47}}</th>
              <td>{{faq.list48}}</td>
              <td>{{faq.list49}}</td>
            </tr>
            <tr>
              <th scope="row">{{faq.list50}}</th>
              <td colspan="2">{{faq.list51}}</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>

    <div class="row table-responsive-sm">

      <div>
        <table class="table">
          <tbody>
            <tr class="table-dark">
              <td> <b> S.No. &nbsp; </b> {{faq.list52}}</td>
            </tr>
            <tr class="table-primary">
              <td> <b> 1 &nbsp; </b> {{faq.list53}}</td>
            </tr>

            <tr class="table-info">
              <td> <b> 2 &nbsp; </b> {{faq.list54}}</td>
            </tr>
            <tr class="table-warning">
              <td> <b> 3 &nbsp; </b> {{faq.list55}}.</td>
            </tr>

            <tr class="table-light">
              <td> <b> 4 &nbsp; </b> {{faq.list56}}</td>
            </tr>

            <tr class="table-info">
              <td> <b> 5 &nbsp; </b> {{faq.list57}}</td>
            </tr>
            <tr class="table-warning">
              <td> <b> 6 &nbsp; </b> {{faq.list58}}</td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>

    <div class="row heading">
      <h2>{{document.heading_text}}<span class="text-primary">{{document.heading_text2}}</span></h2>
      <p>{{document.text}}</p>

      <div class="col-md-6 col-12">
        <div class="table-responsive-sm">
          <div>
            <table class="table">
              <tbody>
                <tr class="table-dark">
                  <td>{{document.colorcode1}}</td>
                </tr>
                <tr class="table-primary">
                  <td> <b> 1, &nbsp; </b> {{document.colorcode2}}</td>
                </tr>

                <tr class="table-info">
                  <td> <b> 2. &nbsp; </b> {{document.list1}}</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-12">
        <div class="table-responsive-sm">
          <div>
            <table class="table">
              <tbody>
                <tr class="table-dark">
                  <td>{{document.list2}}</td>
                </tr>
                <tr class="table-primary">
                  <td> <b> 1. &nbsp; </b> {{document.list3}}</td>
                </tr>

                <tr class="table-info">
                  <td> <b> 2. &nbsp; </b>{{document.list4}}</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>

    <div class="row table-responsive-sm">

      <div class="col-md-12 col-12 heading">

        <table class="table border shadow" style="background: #fff;">
          <thead>
            <tr>
              <th scope="col">{{document.list5}}</th>
              <th scope="col">{{document.list6}}</th>
              <th scope="col">{{document.list7}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>{{document.list8}}</td>
              <td>{{document.list9}}</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>{{document.list10}} </td>
              <td>{{document.list11}}</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">{{document.list12}} </td>
              <td>{{document.list13}}h</td>
            </tr>

            <tr>
              <th>4 </th>
              <td>{{document.list14}}</td>
              <td>{{document.list15}}</td>
            </tr>

            <tr>
              <th>5</th>
              <td>{{document.list16}} </td>
              <td>{{document.list9}}</td>
            </tr>

            <tr>
              <th> 6 </th>
              <td> {{document.list17}} </td>
              <td> {{document.list9}}</td>
            </tr>

            <tr>
              <th> 7 </th>
              <td> {{document.list18}} </td>
              <td> {{document.list19}}</td>
            </tr>

            <tr>
              <th> 8 </th>
              <td> {{document.list20}} </td>
              <td> {{document.list19}}</td>
            </tr>

            <tr>
              <th> 9 </th>
              <td> {{document.list21}} </td>
              <td> {{document.list19}}</td>
            </tr>

            <tr>
              <th> {{document.list22}} </th>
              <td> {{document.list23}} </td>
              <td> {{document.list24}}</td>
            </tr>

            <tr>
              <th> {{document.list25}} </th>
              <td> {{document.list26}}</td>
              <td> {{document.list27}}</td>
            </tr>

            <tr>
              <th> {{document.list28}} </th>
              <td> {{document.list29}}</td>
              <td> {{document.list30}}</td>
            </tr>

            <tr>
              <th> {{document.list31}} </th>

              <td> {{document.list32}} </td>

              <td> {{document.list33}}</td>

            </tr>

            <tr>
              <th> {{document.list34}} </th>

              <td> {{document.list35}} </td>

              <td> {{document.list36}}</td>
            </tr>

            <tr>
              <th> {{document.list37}} </th>

              <td> {{document.list38}} </td>

              <td> {{document.list39}}</td>
            </tr>

            <tr>
              <th> {{document.list40}} </th>

              <td> {{document.list41}} </td>

              <td> {{document.list42}}</td>

          </tbody>
        </table>

      </div>

    </div>

  </div>
</section>

{% include 'common_pages/reviews.html' %}
{% endblock %}