{% load social_share %}
{% load myfilters %}
<section class="top-bn1 bn-styles py-4 aos-init aos-animate" data-aos="fade-left">
    <div class="container pt-4">
        <div class="row">

            <div class="col-md-4 col-12 space_top">
                <img src="/media/{{ banner.img }}" alt="logo-img" class="img-fluid">
            </div>

            <div class="col-md-4 col-12 space_top">
                <h4 class="fs-2"> {{ banner.heading_text }} </h4>
                <p><span class="bg-primary p-1 text-white"> {{ banner.review_rating }} </span> <a
                        class="text-decoration-none" href="#"> &nbsp; {{banner.review}} </a> </p>
                <p class="fs-5"> {{ banner.text }} </p>
                <p class="fs-5"> <a href="#" class="text-decoration-none text-dark"> {{ banner.text2 }} </a> </p>
                <p> <a href="#"> Terms and conditions </a> </p>
            </div>

            <div class="col-md-1"></div>

            <div class="col-md-3 col-12 pricing shadow">

                <div class="bg-light p-2">
                    <form method="POST" id="contact-form1"> {% csrf_token %}
                        <div class="mb-2">
                            {{ form.name.errors }}
                            {{ form.name|addclass:'form-control border'|addplaceholder:'Name'}}
                        </div>

                        <div class="mb-2">
                            {{ form.email.errors }}
                            {{ form.email|addclass:'form-control border'|addplaceholder:'Email Address'}}
                        </div>

                        <div class="mb-2">
                            {{ form.phone.errors }}
                            {{ form.phone|addclass:'form-control border'|addplaceholder:'Phone Number'}}
                        </div>

                        <div class="d-grid gap-2">
                            <button class="btn btn-primary py-1" type="submit">Talk To Adviser
                            </button>
                        </div>
                    </form>
                </div>

                <div class="bg-light p-2 border-top">
                    <p class="text-end paraicon"><i class="fa fa-share" aria-hidden="true"></i></p>
                    <h5>{{price.heading_text}}</h5>
                    <div class="table-responsive">
                        <table class="table border border-white">
                            <tbody>
                                <tr>
                                    <td>{{price.quantity}}</td>
                                    <td>{{price.quantity_value}}</td>
                                </tr>
                                <tr>
                                    <td>{{price.mark_pric}}</td>
                                    <td class="text-decoration-line-through">{{price.mark_pric_value}}</td>
                                </tr>
                                <tr>
                                    <td>{{price.dobiz}}</td>
                                    <th class="text-danger">: {{price.dobiz_value1}}</th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td> &nbsp; {{price.dobiz_value2}}</td>
                                </tr>
                                <tr>
                                    <td>{{price.gst}}</td>
                                    <th>{{price.gst_value}}</th>
                                </tr>
                                <tr>
                                    <td>{{price.yoursave}}</td>
                                    <th>{{price.yoursave_value}}</th>
                                </tr>
                                <tr>
                                    <td>{{price.govt}}</td>
                                    <th>{{price.govt_value}}</th>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-center">
                            <button class="btn btn-primary py-1" type="button"><a href="{% url 'checkout' %}"> Buy Now </a></button>
                            <button class="btn btn-primary py-1" type="button"><a href="{% url 'card' %}"> Order now </a></button>
                          </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>
<script>
    const contactForm = document.getElementById('contact-form1');
    contactForm.addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent the form from submitting normally

        // Submit the form using AJAX
        const formData = new FormData(contactForm);
        fetch(contactForm.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': contactForm.querySelector('input[name="csrfmiddlewaretoken"]').value
            }
        })
            .then(response => {
                if (response.ok) {
                    // Replace the form with the message
                    const messageDiv = document.createElement('div');
                    messageDiv.innerText = 'Thank you for contacting us! Our adviser will connect with you shortly.';
                    contactForm.parentNode.replaceChild(messageDiv, contactForm);
                } else {
                    console.error('Failed to submit the form:', response.statusText);
                }
            })
            .catch(error => {
                console.error('Failed to submit the form:', error);
            });
    });

</script>