{% load static %}


  <section class="py-5 text-white bg-black bg-dark footer-h">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-12">
          <img src="{% static '/images/dobizlogo.jpeg'%}" alt="brands" class="ft-logo img-fluid">

          <p> We are an organised team of CA, CS & Lawyers duly supported by trained accountants & paralegals. Startups avail of our Online Company Registration, GST, Compliance, Payroll, Trademark, Copyright & Patent Services all Over India. </p>

          <div class="social-icon">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-youtube-play" aria-hidden="true"></i>
          </div>

        </div>

        <div class="col-md-1"></div>

        <div class="col-md-2 col-12">
          <h5><b>Quick Links</b></h5>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="{% url 'contact'%}">Contact Us</a></li>
            <li><a href="{% url 'privacy-policy' %}">Privacy Policy</a></li>
            <li><a href="{% url 'terms-and-conditions' %}">Terms & Conditions</a></li>
            <li><a href="{% url 'cancellation-policy' %}">Cancellation Policy</a></li>
            <li><a href="{% url 'refund-policy' %}">Refund Policy</a></li>
            <li><a href="{% url 'dobizhire:hire'%}">Career</a></li>
          </ul>
        </div>

        <div class="col-md-3 col-12">
          <h5><b>Useful Links</b></h5>
          <ul>
            <li><a href="#">Ministry of Corporate Affairs</a></li>
            <li><a href="#">Income Tax Department</a></li>
            <li><a href="#">TDS/Income Tax Payment</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Goods & Service Tax</a></li>
            <li><a href="#">GST Rate Finder</a></li>
            <li><a href="#">HSN/SAC Code Finder</a></li>
          </ul>
        </div>

        <div class="col-md-2 col-12">
          <h5><b>Support</b></h5>
           <ul>
            <li><a href="#">Online Payment</a></li>
            <li><a href="#">Our Services</a></li>
            <li><a href="#">Learning Center</a></li>
            <li><a href="#">Client/Vendor Billing</a></li>
            <li><a href="#">Support Portal</a></li>
            <li><a href="#">Request Call Back</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="pt-3 bg-dark text-white text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-12">
          <p> © 2022 DOBIZINDIA BUSINESS SOLUTION PRIVATE LIMITED – All Rights Reserved | CIN U74140BR2022PTC057939 | </p>
        </div>
        <div class="col-md-5 col-12">
          <img src="{% static 'images/payment.png' %}" alt="logo-img" class="img-fluid">
        </div>
      </div>
    </div>
  </section>