<section class="Professional py-5">
    <div class="container">
  
      <div class="row">
        <div class="col-md-12 text-center text-white">
          <h2> Our Professional Fee For FSSAI Registration of License </h2>
        </div>
      </div>
  
  
      <div class="row pro-box">
        <div class="col-md-4 col-12">
          <div class="shadow bg-light p-5">
            <p class="text-end"><i class="fa fa-arrow-up" aria-hidden="true"></i></p>
            <div class="text-center">
              <h2> Fssai Registration </h2>
              <p class="pro-box-para"> Required if the turnover is less than 12 lac in a Financial Year & the business is
                within the state </p>
              <div class="pt-4"></div>
              <h1 class="py-2"> ₹ 2,999/- </h1>
              <p> Government Fee on Actual </p>
              <br />
              <div class="d-grid gap-2">
                <button class="btn btn-success py-3" type="button"><a href="{% url 'order' %}"> Get started </a></button>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 col-12">
          <div class="shadow bg-light p-5">
            <p class="text-end"><i class="fa fa-arrow-up" aria-hidden="true"></i></p>
            <div class="text-center">
              <h2> Fssai State License </h2>
              <p class="pro-box-para"> When turnover is more than 12 Lac & upto 20 Crores for retailer/ 30 Crores for
                wholesalers </p>
              <div class="pt-4"></div>
              <h1 class="py-2"> ₹ 8,499/- </h1>
              <p> Government Fee on Actual </p>
              <br />
              <div class="d-grid gap-2">
                <button class="btn btn-outline-success py-3 text-dark" type="button"><a href="{% url 'order' %}"> Get started
                  </a></button>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 col-12">
          <div class="shadow bg-light p-5">
            <p class="text-end"><i class="fa fa-arrow-up" aria-hidden="true"></i></p>
            <div class="text-center">
              <h2> Fssai Registration </h2>
              <p class="pro-box-para"> For all cases where turnover exceeds limits prescribed for state License or
                involved in export. </p>
              <div class="pt-4"></div>
              <h1 class="py-2"> ₹ 11,999/- </h1>
              <p> Government Fee on Actual </p>
              <br />
              <div class="d-grid gap-2">
                <button class="btn btn-outline-success py-3" type="button"><a href="{% url 'order' %}"> Get started </a></button>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </section>