{% load static %}
{% load social_share %}
<section class="Professional py-5" style="padding-bottom: 50px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center text-white">
        <h2> Our Professional Fee For FSSAI Registration of License </h2>
      </div>
    </div>
    <div class="row pro-box">
      {% for i in products %}
      <div class="col-md-4 col-12">
        <div class="shadow bg-light p-5">
          <p class="text-end">
            <button type="button" class="btn btn-primary1" data-bs-toggle="modal" data-bs-target="#exampleModal">
           <i class="fa fa-share" aria-hidden="true"></i>
          </button>
          </p>
          <div class="text-center"style="height:400px">
            <h2 id="namepr{{i.id}}"> {{i.product_name}} </h2>
            <p class="pro-box-para"> {{i.desc| slice:"0:60"}} </p>
            <div class="pt-4"></div>
            <h1 class="py-2" id="pricepr{{i.id}}">{{i.market_price}} </h1>
            <p> Government Fee on Actual </p>
            <br />
            <div class="d-grid gap-2">
             <button id="pr{{i.id}}" class="btn btn-primary btn-sm add-to-cart" data-product-id="{{i.id}}">Add To Cart</button>
              <a  href="{% url 'viewproduct' id=i.id %}"><button id="qv{{i.id}}" class="btn btn-primary btn-sm">View Product</button></a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<script>
  $(document).ready(function(){
    $('.add-to-cart').click(function(){
      var id = $(this).data('product-id');
      $.ajax({
        type: 'POST',
        url: "{% url 'addToCart' %}",
        data: {
          "id": id,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function (response) {
          if (response.Success == 1) {
            if (confirm("Do you want to visit Cart page?")) {
              window.location.href = "{% url 'card' %}";
            }
          }
        }
      });
    });
  });
  $(document).ready(function() {
    $('.share-button').click(function() {
      var shareOptions = $(this).siblings('.share-options');
      if (shareOptions.is(':hidden')) {
        shareOptions.slideDown();
      } else {
        shareOptions.slideUp();
      }
    });
  });
</script>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Share</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="model-icon">
            {% post_to_facebook object_or_url %}
            {% post_to_twitter object_or_url %}
            {% post_to_whatsapp object_or_url %}
            {% post_to_linkedin object_or_url %}
           
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>
  <!-- // model---->