{% load social_share %}
{% load myfilters %}
{% if non_packed_products %}
<div class="col-md-3 col-12 pricing shadow">
    <div class="bg-light p-2">
        <form method="POST" id="contact-form"> {% csrf_token %}
            <div class="mb-2">
              {{ form.name.errors }}
              {{ form.name|addclass:'form-control border'|addplaceholder:'Name'}}
            </div>
      
            <div class="mb-2">
              {{ form.email.errors }}
              {{ form.email|addclass:'form-control border'|addplaceholder:'Email Address'}}
            </div>
      
            <div class="mb-2">
              {{ form.phone.errors }}
              {{ form.phone|addclass:'form-control border'|addplaceholder:'Phone Number'}}
            </div>
      
            <div class="d-grid gap-2">
              <button class="btn btn-primary py-1" type="submit">Talk To Adviser
              </button>
            </div>
          </form>
    </div>

    {% for p in non_packed_products %}
    <div class="bg-light p-2 border-top">
        <h5>Pricing Summary</h5>
        <div class="table-responsive">
            <table class="table border border-white">
                <tbody>
                    <tr>
                        <td>Product Name</td>
                        <td>{{p.product_name}}</td>
                    </tr>
                    <tr>
                        <td>Market Price</td>
                        <td class="text-decoration-line-through">:Rs. {{p.market_price}}</td>
                    </tr>
                    <tr>
                        <td>Dobiz India</td>
                        <th class="text-danger">:Rs.{{p.Dobiz_India_Filings}}</th>
                    </tr>
                    <tr>
                        <td> GST</td>
                        <td>:Rs.{{p.gst}}</td>
                    </tr>
                    <tr>
                        <td>Other Cost</td>
                        <td>:Rs.{{p.other_cost}}</td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <th>:Rs.{{p.price}} incl. GST</th>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <button class="btn btn-primary py-1 add-to-cart2" type="button" id="pr{{p.id}}"
                    data-product-id="{{p.id}}"> Add to Cart</button>
                <a href="{% url 'viewproduct' id=p.id %}"><button class="btn btn-primary py-1" type="button"
                        id="qv{{p.id}}">View Product</button></a>
            </div>
        </div>
    </div>
    {% endfor %}

  </div>
{% endif %}
  <script>
      $(document).ready(function () {
        $('.add-to-cart2').click(function () {
            var id = $(this).data('product-id');
            $.ajax({
                type: 'POST',
                url: "{% url 'addToCart' %}",
                data: {
                    "id": id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (response) {
                    if (response.Success == 1) {
                        if (confirm("Do you want to visit Cart page?")) {
                            window.location.href = "{% url 'card' %}";
                        }
                    }
                }
            });
        });
    });
    const form_second = document.getElementById('contact-form');
  form_second.addEventListener('submit', function (event) {
    event.preventDefault(); // Prevent the form from submitting normally
  
    // Submit the form using AJAX
    const formData = new FormData(form_second);
    fetch(form_second.action, {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': form_second.querySelector('input[name="csrfmiddlewaretoken"]').value
      }
    })
      .then(response => {
        if (response.ok) {
          // Replace the form with the message
          const messageDiv = document.createElement('div');
          messageDiv.innerText = 'Thank you for contacting us! Our adviser will connect with you shortly.';
          form_second.parentNode.replaceChild(messageDiv, form_second);
        } else {
          console.error('Failed to submit the form:', response.statusText);
        }
      })
      .catch(error => {
        console.error('Failed to submit the form:', error);
      });
  });
  
  </script>
  