{% load static %}
<section class="text-center py-5 customer-say review" data-aos="fade-down">
    <div class="container">
      <div class="row">
        <h3 class="py-4 text-center text-primary"> What customer say </h3>
        
        <div class="col-md-12 col-12">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <h4>Meera Sharma</h4>
          <p>Applied for startup recognition certificate, work done in scheduled time with good coordination of teamThank u</p>
          <p class="d-flex"> <img src="{% static '/images/user.png' %}" alt="brands" class="img-fluid img-owl-customer rounded-circle"> 
            <b class="pt-4"> &nbsp; Cameron Williamson </b> </p>
            </div>
            <div class="item">
                <h4>Meera Sharma</h4>
          <p>Applied for startup recognition certificate, work done in scheduled time with good coordination of teamThank u</p>
          <p class="d-flex"> <img src="{% static '/images/user.png' %}" alt="brands" class="img-fluid img-owl-customer rounded-circle"> 
            <b class="pt-4"> &nbsp; Cameron Williamson </b> </p>
            </div>
            <div class="item">
                <h4>Meera Sharma</h4>
          <p>Applied for startup recognition certificate, work done in scheduled time with good coordination of teamThank u</p>
          <p class="d-flex"> <img src="{% static '/images/user.png' %}" alt="brands" class="img-fluid img-owl-customer rounded-circle"> 
            <b class="pt-4"> &nbsp; Cameron Williamson </b> </p>
            </div>
            <div class="item">
                <h4>Meera Sharma</h4>
          <p>Applied for startup recognition certificate, work done in scheduled time with good coordination of teamThank u</p>
          <p class="d-flex"> <img src="{% static '/images/user.png' %}" alt="brands" class="img-fluid img-owl-customer rounded-circle"> 
            <b class="pt-4"> &nbsp; Cameron Williamson </b> </p>
            </div>
            <div class="item">
                <h4>Meera Sharma</h4>
          <p>Applied for startup recognition certificate, work done in scheduled time with good coordination of teamThank u</p>
          <p class="d-flex"> <img src="{% static '/images/user.png' %}" alt="brands" class="img-fluid img-owl-customer rounded-circle"> 
            <b class="pt-4"> &nbsp; Cameron Williamson </b> </p>
            </div>
            <div class="item">
                <h4>Meera Sharma</h4>
          <p>Applied for startup recognition certificate, work done in scheduled time with good coordination of teamThank u</p>
          <p class="d-flex"> <img src="{% static '/images/user.png' %}" alt="brands" class="img-fluid img-owl-customer rounded-circle"> 
            <b class="pt-4"> &nbsp; Cameron Williamson </b> </p>
            </div>
            <div class="item">
                <h4>Meera Sharma</h4>
          <p>Applied for startup recognition certificate, work done in scheduled time with good coordination of teamThank u</p>
          <p class="d-flex"> <img src="{% static '/images/user.png' %}" alt="brands" class="img-fluid img-owl-customer rounded-circle"> 
            <b class="pt-4"> &nbsp; Cameron Williamson </b> </p>
            </div>
            <div class="item">
                <h4>Meera Sharma</h4>
          <p>Applied for startup recognition certificate, work done in scheduled time with good coordination of teamThank u</p>
          <p class="d-flex"> <img src="{% static '/images/user.png' %}" alt="brands" class="img-fluid img-owl-customer rounded-circle"> 
            <b class="pt-4"> &nbsp; Cameron Williamson </b> </p>
            </div>
            <div class="item">
                <h4>Meera Sharma</h4>
          <p>Applied for startup recognition certificate, work done in scheduled time with good coordination of teamThank u</p>
          <p class="d-flex"> <img src="{% static '/images/user.png' %}" alt="brands" class="img-fluid img-owl-customer rounded-circle"> 
            <b class="pt-4"> &nbsp; Cameron Williamson </b> </p>
            </div>
            <div class="item">
                <h4>Meera Sharma</h4>
          <p>Applied for startup recognition certificate, work done in scheduled time with good coordination of teamThank u</p>
          <p class="d-flex"> <img src="{% static '/images/user.png' %}" alt="brands" class="img-fluid img-owl-customer rounded-circle"> 
            <b class="pt-4"> &nbsp; Cameron Williamson </b> </p>
            </div>
            <div class="item">
                <h4>Meera Sharma</h4>
          <p>Applied for startup recognition certificate, work done in scheduled time with good coordination of teamThank u</p>
          <p class="d-flex"> <img src="{% static '/images/user.png' %}" alt="brands" class="img-fluid img-owl-customer rounded-circle"> 
            <b class="pt-4"> &nbsp; Cameron Williamson </b> </p>
            </div>
            <div class="item">
                <h4>Meera Sharma</h4>
          <p>Applied for startup recognition certificate, work done in scheduled time with good coordination of teamThank u</p>
          <p class="d-flex"> <img src="{% static '/images/user.png' %}" alt="brands" class="img-fluid img-owl-customer rounded-circle"> 
            <b class="pt-4"> &nbsp; Cameron Williamson </b> </p>
            </div>
        </div>
        </div>

      </div>
    </div>
  </section>