{% extends 'index.html' %}
{%block title%}Cancellation Policy{% endblock %}
{% load static %}
{%block body %}

    <section class="checklist py-4" style='margin-top:130px'>
      <div class="container">
        <h2> Cancellation Policy Following Items </h2>
        <div class="row py-2">

          <div class="col-md-12 col-12">
            <div class="p-2">
              <p> The policy of cancellation of Dobizindia Business Solution Private Limited concerns with the cancellation of orders that have been subscribed by the clients. We have thoroughly discussed the circumstances and conditions under which our clients are entitled to request order cancellation and the manner in which such cancellation may be requested. After you place a cancellation request, we shall examine it closely, and if it is substantial, we shall give execute the cancellation of your order. Additionally, we shall also charge a cancellation fee, against the damages that a cancellation request might lay on us, the detailed policy for which we have mentioned below. </p>
            </div>
          </div>

          <div class="col-md-12 col-12">
            <div class="p-2">
              <p> In the event of an order for service which you may have placed with us in any format and that you have not availed any advisory or consulting from our specialists, directors, employees, associates or agents, then in that specific case, you are eligible to seek cancelling of the service order and consequently may be further eligible for refund subject to you being qualified as such to seek refund based on our refund policy. </p>
            </div>
          </div>

          <div class="col-md-12 col-12">
            <div class="p-2">
              <p> Occurrence of cancelling any paid consultation services for which payment has been successfully made and a confirmation number or email has been generated, and the consultation has not been concluded due to any avertable/ inevitable reason(s) we must be notified of the same in writing- by an email <b>dobizindia.bspl@gmail.com</b> </p>
            </div>
          </div>

          <div class="col-md-12 col-12">
            <div class="p-2">
              <p> Charges of cancelling orders will be effective from the date we receive your email on dobizindia.bspl@gmail.com Cancellation can be requested no later than 24 hours before the final delivery time of work, compliances of the document, completion of filing. </p>
            </div>
          </div>

          <div class="col-md-12 col-12">
            <div class="p-2">
              <p> Our Client Support Service team will contact you within 7 working business days regarding the cause of cancelling of orders, confirmation and deduction on cancellation of service. We will return your money within 15 to 30 business days from the request for the cancellation was received and thereafter approved from our end. </p>
            </div>
          </div>

          <div class="col-md-12 col-12">
            <div class="p-2">
              <p> Please note that there will be deduction(s) as per our refund policy. The refund will be processed directly in your Bank/ Credit Card account used to make the payment, or if a specific request for refund by way of the cheque is received, the Dobizindia Business Solution Private Limited shall be taking the final decision whether to accept such request. </p>
            </div>
          </div>

          <div class="col-md-12 col-12">
            <div class="p-2">
              <p> In addition, the client will bear the full cost or expenses incurred by us for departmental visits, cancellation of the document, preparation of documents, stamp duties, notarization of the document. In all the cases, GST charged/levied with the consultation/professional fee will not be refunded to the client as the GST goes to a third party, i.e. tax authorities. </p>
            </div>
          </div>

          <div class="col-md-12 col-12">
            <div class="p-2">
              <p> <b>If we decide to change our Cancellation Policy, we will post those changes on this page</b> </p>
            </div>
          </div>

        </div>

      </div>
    </section>
  {% endblock %}