{% extends 'index.html' %}
{%block title%}Refund Policy{% endblock %}
{% load static %}
{%block body %}


    <section class="checklist py-2" style='margin-top:130px'>
      <div class="container">
        <h2> Refund Policy Of Dobizindia </h2>
        <div class="row py-2">

          <div class="col-md-12 col-12">
            <div class="p-2">
              <p> Refund Policy of Dobizindia Business Solution Pvt Ltd is concerned with the refund of payment to the clients at the cancellation of paid orders. Our policy of refund provides for the conditions on which we shall consider your cancellation and refund request, the time duration within which we shall process your refund request and the deductions from the refund amount that might be made. You can go through the following points and get a comprehensive understanding of our policy of refund. </p>
            </div>
          </div>

          <div class="col-md-12 col-12">
            <div class="p-2">
              <p> In the occurrence of your consultation request being accepted but post-payment due to unanticipated and mitigating circumstances, your consultation request is rejected or cancelled. In such cases, you will be given a choice for another consultation request or will be offered a complete refund if you so desire. A cancellation acknowledgement will be sent to the client within 7 working days, and a refund will be credited to your account within 15 to 30 working days. </p>
            </div>
          </div>

          <div class="col-md-12 col-12">
            <div class="p-2">
              <p> In case your credit card/debit card/payment account has been overcharged, please notify dobizindia.bspl@gmail.com of the same at the earliest. www.dobizindia.in will refund the outstanding amount to your Payment Account within 15 working days. In the reverse situation, if the transaction amount during payment of the fee happens to be less than the actual fee amount, Www.dobizindia.in will debit the outstanding amount from your payment and notify you of the same. </p>
            </div>
          </div>

          <div class="col-md-12 col-12">
            <div class="p-2">
              <p> In most cases, there is no other situation under which Www.dobizindia.in will provide a refund, except for the condition specifically mentioned under Refund Policy. </p>
            </div>
          </div>

          <div class="col-md-12 col-12">
            <div class="p-2">
              <p> In exceptional circumstances, the Www.dobizindia.in team will work with you to reach a mutually acceptable solution. Www.dobizindia.in intends to be objective, fair and rational in resolving such situations to maintain a positive and harmonious relationship with clients. The maximum refund claimable from Www.dobizindia.in cannot exceed the amount paid by the user at Www.dobizindia.in for availing the services of Lawyer’s/Company Secretary/Chartered  </p>
            </div>
          </div>

          <div class="col-md-12 col-12">
            <div class="p-2">
              <p> Accountant/Accountant/ Relationship Executives or panel consultants of Dobizindia. </p>
            </div>
          </div>

          <div class="col-md-12 col-12">
            <div class="p-2">
              <p> Please note that no refund will be processed if the team Dobizindia has done their part to provide the service in cases where the client has not furnished requisite documents, information or clarification for delivery of the services. </p>
            </div>
          </div>

          <div class="col-md-12 col-12">
            <div class="p-2">
              <p> Please note that no refund will be processed if the team Dobizindia has done their part to provide the service in cases where the client has not furnished requisite documents, information or clarification for delivery of the services. </p>
            </div>
          </div>

          <div class="col-md-12 col-12">
            <div class="p-2">
              <p> No application for the refund is acceptable after 36 hours of placing the order with us; further, even if the refund is requested within 36 hours, but the team at Dobizindia has already started processing the order, the refund is not applicable in that case. </p>
            </div>
          </div>

          <div class="col-md-12 col-12">
            <div class="p-2">
              <p> In all the cases except as per the discretion of the management of www.dobizindia.in, there will be a nominal deduction (15%) in the amount refunded, payable towards online payment processing. The refund will be processed directly in your Bank/ Credit Card account that was used to make the payment. </p>
            </div>
          </div>

          <div class="col-md-12 col-12">
            <div class="p-2">
              <p> <b>If we decide to change our Refund Policy, we will post those changes on this page.</b> </p>
            </div>
          </div>

        </div>

      </div>
    </section>

   {% endblock %}